[2017-07-28 18:14] lhaycock opened #1 "Question about /images folder"
Philip,
Would it be best practice for us to always use the `{{ site.baseurl }}/assets/images/ `
folder naming convention instead of the `{{ site.baseurl }}/images/` naming convention? Joe thinks you only need assets folders when in site is hosted inside the `docs` folder, but it seems like it might just be easiest to always use the `assets/images` folder regardless if site is in `docs` folder or i

[2017-07-28 18:18] philipbaileynar commented on #1
@lhaycock you should use the `{{ site.baseurl }}/assets/images/` approach in case there are other types of assets that you want to ship with the site later (JavaScript, CSS etc).

I think the Jekyll technology that builds the site just copies everything in the `assets` folder, so technically I don't think you need the images folder. But as I said above... best to nest in an images folder for futur

[2017-08-05 00:57] joewheaton commented on #1
Thanks Pip.

[2017-08-05 00:57] #1 closed

[2017-08-05 01:07] joewheaton opened #2 "Need to move BRAT source code over."
@jtgilbert, We need to move the BRAT source code over here.  Maybe what you could do is start by uploading the Matlab version 1 code up from the old [bitbucket repo](https://bitbucket.org/etal_brat/brat_matlab.git)? Then use the 'release feature' and publish that as version 1.0.  Maybe ask @philipbaileynar  about best practice here. We could then either start a new branch or move the old stuff int

[2017-08-05 01:08] joewheaton commented on #2
Or maybe we just leave the old https://bitbucket.org/etal_brat/brat_matlab reopo alone? And only put python version here? Not sure?

[2017-08-05 06:00] joewheaton opened #3 "favicon.ico"
Hey @philipbaileynar  or @MattReimer . An annoying one for you.  I've tried all sorts of tricks to get the  [`favicon.ico`](https://github.com/Riverscapes/BRAT/blob/master/docs/favicon.ico) to properly display. These were semi-useful:
- https://stackoverflow.com/questions/30551501/unable-to-set-favicon-using-jekyll-and-github-pages
- https://stackoverflow.com/questions/35037482/favicon-with-github

[2017-08-05 16:49] joewheaton opened #4 "Best Practice for Making Releases of Software to Users (NOT PROGRAMMERS)"
@MattReimer  and @philipbaileynar ,  We need your professional guidance here.  GIT seems great at keeping track of all our changes to code and documenting that transparently to serve programmers and developers that may use the code.  I've noticed the concept of a 'release', which I asked about in #2.  My question is, what is the best way to package up just the file(s) that constitute a 'download'

[2017-08-05 19:54] philipbaileynar commented on #3
@joewheaton, stare into my eyes and repeat after me... "conteeeeeeeeeeent".... "cooooooooonteeeeeeent".

We can figure this out later. Might be possible with page layouts. This is such a lower priority than coordinating the content of 20 or so sites to get migrated over.

[2017-08-05 20:00] joewheaton commented on #3
@philipbaileynar, I'm staring in your eyes ;), and I'm not seeing an answer? I thought you geeky types liked annoying things like this. Don't worry... we've got an army gearing up to work on content. As I work through pushing things over and getting things set up for folks here to, there are lots of stupid little things like this I come across. I obviously don't need an answer now on this stuff (l

[2017-08-05 20:01] philipbaileynar commented on #2
If BRAT currently exists as separate repos for Python and MatLab then keep it as such:

* Move both repos to the Riverscapes organization on GH.
* Ensure both repos clearly state the flavor/type that they refer to: "BRAT - Python" and "BRAT - MatLab"
* Invest most effort into the current Python repo and site.
* For the MatLab repo simply have a README.md file in the root that states that the code

[2017-08-05 20:14] joewheaton commented on #2
Thanks @philipbaileynar. Okay, that makes sense. @lhaycock  and @jtgilbert, let's rename current repo to [pyBRAT](https://github.com/Riverscapes/pyBRAT) and do just as Philip suggests. I'll make [matBRAT](https://github.com/Riverscapes/matBRAT) for the Matlab code.

@lhaycock Lets make sure we:

-[ ] Move the [help documentation from version one](http://brat.joewheaton.org/home/documentation/manua

[2017-08-05 21:04] philipbaileynar commented on #4
I wasn't aware of the ability to upload binaries for GH releases. That's potentially very useful!

Unfortunately, the answer is different depending on the technology...

## Interpreted Code (Python, R, MatLab, JavaScript, HTML, Node.js)

Most interpreted code simply gets downloaded and run. It does not get packaged. These types of products should simply be "tagged" with a version number at each re

[2017-08-05 22:25] joewheaton commented on #2
Okay. Philip showed me how to push over a repo from BitBucket to Github. Kind of a mess so I recorded a [video](https://youtu.be/X9Xq4yaz9d4) in case we ever need to watch it again ([https://youtu.be/X9Xq4yaz9d4](https://youtu.be/X9Xq4yaz9d4)). In a nutshell:
1. Clone BitBucket Repo Locally
2. Create a new `remote` pointing at your GitHub Repo that will receive this (call it `gh`)
3. Use Git Comma

[2017-08-05 23:47] joewheaton commented on #2
Source code all moved over for both now...

[2017-08-05 23:47] #2 closed

[2017-08-05 23:51] joewheaton commented on #4
Okay @philipbaileynar. I made a [release of our old version 2 Matlab stuff](https://github.com/Riverscapes/matBRAT/releases/tag/v2.03) over in that repo.  Its pretty handy. It allows you to upload a zip file or binaries, package it up and flag it as whatever version it is. Pretty nice. It also allows you to identify the 'Latest Release' and make 'Beta Releases'.

[2017-08-06 00:25] joewheaton commented on #3
Okay... turns out that the: `<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">` being placed in the `index.md` file does the trick. I used [http://www.favicon-generator.org/](http://www.favicon-generator.org/) to generate my icons or downloaded existing one from my Google Sites. The trick is to be patient. This just takes a little while (few hours) for it to show up.

[2017-08-06 00:25] #3 closed

[2017-08-06 00:43] joewheaton opened #5 "Add releases"
Hey @jtgilbert
Can you make at least on release of the latest functional version of pyBRAT (v3.x?)? If there are other good benchmark v 3.x releases, make multiple releases and just make the latest, the latest. See #4 for background on this, as well as [this Trello card](https://trello.com/c/KSqymUA8) for suggestions. You'll need to package up the necessary files into a zip file for the ArcPy Tool

[2017-08-06 00:44] joewheaton commented on #4
This question is answered. Assigning @jtgilbert #5 and closing this thread.

[2017-08-06 00:44] #4 closed

[2017-08-07 16:33] lhaycock opened #6 "Access"
@philipbaileynar @joewheaton can you give me permission to access the pyBRAT repository?

[2017-08-07 20:01] #6 closed

[2017-08-07 20:56] lhaycock opened #7 "BRAT Home link"
I am trying to create a picture link to the BRAT homepage http://brat.riverscapes.xyz from the 'http://brat.riverscapes.xyz/Documentation/summary' page

Shouldn't this work:
'[![BRAT_Banner_Web]({{ site.baseurl }}/assets/Images/BRAT_Banner_Web.png)]({{ site.baseurl }})'

It is sending me to 'http://brat.riverscapes.xyz/Documentation/summary' instead.

I know I could use 'http://brat.riverscapes.xy

[2017-08-08 01:41] joewheaton commented on #7
Interesting. It seems like `[![BRAT_Banner_Web]({{ site.baseurl }}/assets/Images/BRAT_Banner_Web.png)]({{ site.baseurl }})` should take you to the root, but it seems like what its doing is just taking you to the current page. I guess you could just use http://brat.riverscapes.xyz instead, but maybe @MattReimer or @philipbaileynar  can explain what is going on?

PS - Also, note that `  `is differen

[2017-08-08 16:15] philipbaileynar commented on #7
1. Here's [some explanation on the Jekyll URL components](https://byparker.com/blog/2014/clearing-up-confusion-around-baseurl/). I suspect that `site.baseurl` requires a page appended. So try `site.url` instead.
1. Also, don't forget that in a pinch you can always use plain old HTML. This is not advisable, but sometimes it just gets you over the hump: `<a href=""><img src=""></a>`

[2017-08-08 16:44] lhaycock commented on #7
I tested the link using `{{ site.url }}` instead of `{{ site.baseurl }}` and am getting the same result.  When you say HTML is not advisable would you recommend using `brat.rivercapes.xyz` instead?

[2017-08-08 16:45] philipbaileynar commented on #7
Let me do some experimentation myself @lhaycock ... will report back ASAP

[2017-08-08 16:47] lhaycock commented on #7
@philipbaileynar It is ok, I just realized I had changed the picture link to the `site.url` instead of the actual link.  It is working now. Sorry for the confusion.

[2017-08-08 17:09] #7 closed

[2017-08-10 21:40] lhaycock opened #8 "Title problem"
@philipbaileynar I tried adding
`---
Title
---`
To each of the .md pages in the pyBRAT repo that I have created. See the last 3 commits:

2a9089c795e96a28bae0c6822c96b929c2cff8a4
4954570f108efedc09b2cdabaa37ef1ad5b6ba4c
f19ff026c741faf06e759a714505bbb18fe9776f

It looks like on the last one I did, something else major happened because it says I changed 100 files with over 14,000 additions, and I a

[2017-08-11 04:36] philipbaileynar commented on #8
The syntax is precisely as follows and it is case sensitive:

[code]

[2017-08-11 13:59] lhaycock commented on #8
@philipbaileynar I am getting the following email from github everytime I try to Push:

"The page build failed for the `master` branch with the following error:

Page build failed. For more information, see https://help.github.com/articles/troubleshooting-github-pages-builds/.

For information on troubleshooting Jekyll see:

  https://help.github.com/articles/troubleshooting-jekyll-builds

If you

[2017-08-11 14:04] lhaycock commented on #8
@philipbaileynar also could you please clarify on the title information- when you say add "Your Title" after the ":" do you mean literally "Your Title" or custom text for each website?  for example on this pyBRAT repo would if be:
`---
title: Beaver Restoration Assessment Tool- BRAT
---`

For some reason the above is not showing title and the hyphens on new lines as I have entered them here

[2017-08-11 17:28] philipbaileynar commented on #8
1. The page build failure typically occurs when you have a syntax error in your front matter. Go look at your commits and markdown files and ensure your front matter is correct. Remember, it's **case sensitive**.
1. I've fixed the page build error you were experiencing. You had a bunch of git merge artifacts in your files from when you incorrectly merged my changes with your local files.
1. You sh

[2017-08-18 07:00] joewheaton opened #9 "Is there a way we can have parent pages in navigation sidebar tree?"
@philipbaileynar
It is really nice that the Page menu automatically populates simply based on file structure. I also really like that it builds the labels it uses based on that `title: SOME PAGE NAME` header in each file.  Some really annoying things are:
* You can't have a parent page (only a parent folder). This makes it really difficult to implement the concept of child pages from a page and me

[2017-08-18 16:29] philipbaileynar commented on #9
1. I don't like the `parentof` concept because it will become hard to maintain (after deleting pages etc). Or it would require complicated logic to handle exceptions. I'll talk to @MattReimer about other approaches. My idea would be and `indent` front matter tag that allows you to force increase indent levels to mimic parent child relationships. This is essentially how the Google Sites ToC used to

[2017-08-20 04:43] joewheaton commented on #9
@philipbaileynar thanks! Re 2., that's great. I didn't realize there was a `weight:` tag. That works perfectly. I just tried it out on [WATS5340-5350](https://restoration-usu.github.io/WATS-5340-5350) and it's exactly what I needed. @lhaycock please use this to fix sort order of pages in menus on pyBRAT and matBRAT.

Re 1. I'm fine with an `indent` concept instead of a `parentof`, but it will make

[2017-08-23 17:21] MattReimer commented on #3
Ok, @joewheaton don't put link tags into the `index.md`. The proper way to do favicons is as follows:

1. Find a nice sized copy of your logo that is square.
2. Go to a service like http://www.favicon-generator.org/ and upload it. It will give you the following files in a zip: `android-icon-144x144.png`, `apple-icon-114x114.png`, `apple-icon-60x60.png`, `favicon-16x16.png`, `ms-icon-150x150.png`,

[2017-08-29 13:39] lhaycock opened #10 "weighted contents/folders"
@philipbaileynar I am trying to add weights to the some of the contents in this pyBRAT repo.  I have given Vision weight one and it is at the top of the summary on the side.  If I understood our conversation yesterday I needed to change the title of my "summary.md" page in the Documentation folder to "index.md" and it should make the folder also a link like the example ThingsA in the Template Docs

[2017-08-29 13:57] lhaycock opened #11 "adding hyperlinks to other sites in subfolders"
@philipbaileynar How can I add a link to [Escalante Pilot Project](http://etal.joewheaton.org/projects/past-projects/gct-pilot-study-testing-the-beaver-restoration-assessment-tool-brat) in the Documentation subfolder?  ( Or any other links that are *not* pages in the pyBRAT repo?)

[2017-08-29 17:25] philipbaileynar commented on #10
The theme updates that we reviewed yesterday have not been applied to the pyBRAT repo yet. I will do this later today (and use this process to write the documentation so that you can reproduce the new theme features on other sites).

[2017-08-30 21:23] philipbaileynar commented on #10
I've just updated the theme on this repo to reflect the changes that we discussed on Monday. Please reload this site to see the changes. I will now switch gears and document how to implement this theme on other sites.

[2017-08-30 21:26] philipbaileynar commented on #11
Do you mean in markdown? Simply use the full, absolute HTML ref, that starts with HTTP, like this:

[code]

Make sense? Am I missing something?

[2017-09-01 18:00] lhaycock commented on #10
Thanks @philipbaileynar  looks like it just needed a day to refresh.  Adding the weight to the index page in each sub-folder did the trick

[2017-09-01 18:00] #10 closed

[2017-09-01 18:03] lhaycock commented on #11
@philipbaileynar what shows up in the sidebar of the webpages is basically the structure of what is in folders/sub-folders.  So files that are saved in sub-folders will show up in the side bar.  How would I add a link to another page not within the repo as in the example I listed above?

[2017-09-01 18:09] philipbaileynar commented on #11
That is not possible. Options:

1) add the link in the "useful links" section that can be turned on and
appears below the site table of contents. See the Jekyll documentation for
instructions.

2) create a page for the external link with the front matter title that
will appear in the site table of contents. The page should just have a
sentence or two about the project, perhaps a thumbnail, then th

[2017-09-01 18:24] #11 closed

[2018-02-23 19:04] banderson1618 opened #13 "BRAT Table tool crashes when running Euclidean Distance on road crossings"
The tool crashed when it was running the Euclidean Distance tool on the road crossings shape file. I have re-run the Project Builder and the BRAT table tool, which did not change the error message. I also restarted ArcGIS, which did not change the error message. The error message is pasted below. I'm currently looking into what went wrong, and will update when I know more.

Traceback (most recent

[2018-02-26 19:22] #13 closed

[2018-03-13 18:42] joewheaton opened #14 "Add or Modify Tool to add Existing Dams to BRAT Table"
We need to add a tool to BRAT to ingest in the dam census data. We already have a couple fields to populate in the `e_DamCt`, `eDamDens` and `eDAMPcC` [attributes](http://brat.riverscapes.xyz/Documentation/10-WorkingWithBRATOutputs.html#attribute-field-descriptions). We need a tool that:
-  Asks user to load:
   - Specify BRAT Project
   - Choose BRAT Realization/Ouput Table to Add to'
   - Load f

[2018-03-19 20:00] #5 closed

[2018-03-20 19:55] joewheaton opened #15 "Implement a new Dam Placement Algorithm"
We discussed moving from just a dam density algorithm output of the FIS, we could use modifications to [Konrad's dam placement algorithm](https://github.com/khafen74/beaver-dam-location-generator) turned on its head to:
1. place a primary dam  (starting similarly in rank-order based on vegetation)...
2. Then, sample off an empirical distribution of dam heights (preferably from low gradient systems

[2018-03-20 20:47] joewheaton opened #16 "Some ideas for changes to Conflict Model"
**Background**
I would like to see our management model improved. Currently, we use the following lines of evidence:
- Distance to bridges/culverts
- Distance to roads (in valley bottom)
- Distance to railroads (in valley bottom)
- Proximity to developed or agricultural land use

We use the above to calculate a probability of conflict based on notion that the closer you are the higher the potentia

[2018-03-20 20:56] joewheaton opened #17 "Management Model Improvements and Ideas"
@bangen please post what your ideas and such are for improvements and refinements to the Management model here.

Discussion Points:

- I would like to see the management model expanded to break out 'restoration/conservation' zones into separate restoration and conservation zones, based on the `eDAMPcC` [attributes](http://brat.riverscapes.xyz/Documentation/10-WorkingWithBRATOutputs.html#attribute-

[2018-03-20 21:09] joewheaton opened #18 "What is Capacity?"
Are we over predpredicting capacity?

[2018-03-30 21:16] MatthewMeier opened #19 "Existing Drainage area for Large rivers"
When you have a large river that passes through your watershed that Drainage area for upstream of where that river enters you watershed will appear as zero based on the relative window your looking at. A good way to solve this is to select the mainstem of that river that goes through your watershed and apply a DA value that you can find on Streamstats and then add it to the whole mainstem in your

[2018-03-30 21:20] MatthewMeier opened #20 "Railroad issue for Conflict Potential"
I am seeing a very low value "0", for the conflict potential that is ran for the stream network. Railroad seems to be the issue.
![image](https://user-images.githubusercontent.com/30604787/38154125-a0a313ee-342d-11e8-96da-239b3838db4b.png)

[2018-03-30 22:29] bangen commented on #20
This issue was due to not correctly defining the distance from railroad (iPC_RR) attribute field type.  It was been fixed in release 3.0.6.

In resolving the issue, I also found that several segments in the network were duplicated.  I traced this back to the original NHD flowlines shapefile, which contained duplicate polylines.  Duplicate polylines in the network can raise issues in BRAT where onl

[2018-03-30 22:29] #20 closed

[2018-04-02 20:25] MatthewMeier opened #21 "Mainstem attribute missing error"
It seems to me that the Mainstem attribute field is not being created anymore since the last 3.0.6 release. I get the following error when I run Braiden's Braid Handler tool.
![image](https://user-images.githubusercontent.com/30604787/38214412-c4f8b7a2-3681-11e8-92fb-e804a0266393.png)
notice no "is mainstem" field was created...
![image](https://user-images.githubusercontent.com/30604787/38214648-

[2018-04-04 21:51] bangen commented on #21
Fixed with release version 3.0.7.  Tested and the 'IsMainstem' field is now being created and populated with default '1' value.

[2018-04-04 21:51] #21 closed

[2018-04-04 22:04] MatthewMeier opened #22 "Conflict Potential Railroad"
I am still having issues with the BRAT conflict layer and I am seeing issues with this still occuring the following video describes my issue https://youtu.be/jH101pomnlo

[2018-04-11 17:40] bangen commented on #22
This issue was due to:
1. **The zonal statistics tool in Arc does not calculate statistics for overlapping features** (in this case the BRAT buffers).  The way the zonal statistics tool handles overlapping features is inconsistent.  For example, in the case of 2 overlapping buffers (buffer A, buffer B), in one instance of running the tool statistics are correctly populated for buffer A while buffe

[2018-04-11 17:40] #22 closed

[2018-04-16 20:12] MatthewMeier opened #23 "Issue with segments"
Didn't know exactly where to report this Sara but there are some issues that I have been seeing with the network building for idaho and the ones you have uploaded recently that need to be addressed. I am seeing that not including the artificial segments indeed saves time with canals but enters in the possibility of discontinuity due to small segments missing in the network. These are difficult to

[2018-04-18 17:45] MatthewMeier opened #24 "Braid handler issue"
Cluster id issues and drainage areas that is discussed further in the following video...
https://youtu.be/4Pr0fbpfN-U

[2018-04-18 18:10] banderson1618 commented on #24
Thanks for making the video, I think this is good feedback.

I should be able to implement your first solution fairly easily. I can put in a checkbox called "Find Clusters" in the BRAT Table tool, and then have the Braid Handler handle it differently based on whether or not the stream network already has a ClusterID attribute. It'll be a bit tricky to find the Drainage Area values, but I should be

[2018-04-25 19:53] lhaycock opened #25 "Navigation buttons"
@banderson1618
I noticed you made a new page under the documentation for the braid handler- unfortunately now there are a couple navigation buttons that are not working.  I took one last look at the [dead link checker](https://www.deadlinkchecker.com/) and noticed the last two buttons are not working (see below).  Let me know if you need more info about how to fix them.
![image](https://user-image

[2018-04-26 22:02] banderson1618 commented on #25
Well, this is a bit embarrassing. I had a typo in the link to the next page, and copied and pasted the same typo. Should be fixed now, thanks for catching this!

[2018-04-26 22:02] #25 closed

[2018-04-30 20:25] joewheaton commented on #14
@bangen had a good idea that we may not want the output put in the main BRAT table. It may make more sense to output these to their own shapefiles and/or realizations.

[2018-04-30 23:00] MatthewMeier opened #26 "Additional fields in the BRAT output"
Purpose: Documentation for relating beaver dam censuses collected in the field or google earth to a recent run of BRAT.
Creator: Matthew Meier
Date: 4/30/2018
Steps to creating new fields:
1.	The dams as point shapefiles need to be snapped to the edges of the BRAT table. User needs to define the search radius
2.	Through the spatial join tool to get the counts for the amount of dams that are on eac

[2018-05-01 17:59] banderson1618 commented on #26
Hey @MatthewMeier,

Is this related to the statistics on BRAT runs that we talked about in the meeting on Monday, or is this something else?

[2018-05-01 18:00] #24 closed

[2018-05-01 18:10] MatthewMeier commented on #26
Yes this is. The word document that I sent to you is the same information and better than this. So refer to that word document for information.

[2018-05-01 18:12] banderson1618 commented on #26
Sounds good, I'll get on it then.

[2018-05-02 17:35] banderson1618 commented on #26
@MatthewMeier, I've implemented the non-dam related statistics. Here's an example of the output, run on the Lemhi (because it's what I have on hand right now). Let me know if it looks OK to you.

[SummaryReportOutput.zip](https://github.com/Riverscapes/pyBRAT/files/1968317/SummaryReportOutput.zip)

If you can get me an existing dam dataset, I'll be able to start on that section of the program.

Ch

[2018-05-04 15:51] MatthewMeier commented on #26
Sent them over to you via email

[2018-05-04 17:56] banderson1618 commented on #26
@MatthewMeier, I implemented the dam statistics. I've attached the output of the Lower Yakima, using unsnapped dams and all. It looks like it works to me, but I don't have your critical eye. Let me know if it looks good when you get a chance.

[SummaryReportWithDams.zip](https://github.com/Riverscapes/pyBRAT/files/1975406/SummaryReportWithDams.zip)

Just a thought: should we implement a limit some

[2018-05-07 22:20] MatthewMeier opened #27 "UnboundlocalError"
Do you have any idea of what could be causing this error. I am running ArcGIS10.6 and it works for other datasets so I redownloaded and cleaned up some things but I am getting this error
![image](https://user-images.githubusercontent.com/30604787/39728076-80ea4984-5212-11e8-870f-42698e3b2be0.png)
I sent the project folder to Sara in an email

[2018-05-08 15:35] MatthewMeier opened #28 "Issues with euclidean distance"
For documentation purposes I had been working with ArcGIS10.5 and there is an issue with the version of Arc that messes up the euclidean distance for railroads in my case. Falsely stating that the distance from RR crossing was 0 when it nowhere near a railroad. Anyway I installed ArcGIS10.6 and it fixed this issue but unfortunately ArcGIS10.6 has an issue that is earlier on in the process of gathe

[2018-05-08 17:43] #26 closed

[2018-05-08 17:50] bangen commented on #27
Fixed issue in the latest release (v 3.0.9).  I ran the input data you sent and it runs fine in the new version.  I'm using Arc 10.5 so let me know if you still run into any issues in 10.6.

[2018-05-08 17:50] #27 closed

[2018-05-08 18:00] bangen commented on #28
**Distance from Railroads**
Can you please send me some example data.  In the dataset you sent yesterday (*Et_Al_1707010113_BRAT*) the railroads weren't included.

**Landire Attribute Table**
I'm running ArcGIS 10.5, so I'm not sure if this will work in 10.6 or not, but I've seen similar issues on my end.  First, when clipping the Landfire raster make sure the output raster type is 16 Bit signed i

[2018-05-09 15:50] joewheaton commented on #28
@MatthewMeier nice job on finding some workarounds. Also please remember we have a bunch of [virtual machines](http://etal.joewheaton.org/virtual-computing.html) and we can make new ones easily. You could make any version of Windows, any amount of RAM, and any version of ArcGIS. As a lab, we should make use of those VM machines (or AWS EC2) for testing or just running as analysts if we need a spec

[2018-05-09 15:54] joewheaton commented on #23
Chiming in late here. At this point, 'connectivity' is less of an issue as we don't *yet* do anything with topology. However, I see us using topology soon. I'm still unsure about why we use the Network Prep tool at all. The old logic was 'Trim down NHD network to smallest chunk of network and only run tool on that. ' However, I thought we now pretty much run it on everything (after segmenting) and

[2018-05-09 16:00] joewheaton commented on #19
Thanks @MatthewMeier for raising this issue that came up on Yakima. The issue is that we do not calculate a flow accumulation grid correctly unless the entire watershed is included as an input. When we break HUCs into their own processing units and we're dealing with a 'Middle' or a 'Lower', by definition a mainstem enters in at its boundary, and brings with it an upstream drainage area of the 'Up

[2018-05-09 16:03] joewheaton commented on #14
@banderson1618 I thought you were working on this one? Can you please provide an update and also tie your commit history on these to this by mentioning #14 in your commit title.  If you use the `Fix #14` in your commit, that both ties it to this issue and closes it (don't do that until we've tested).

[2018-05-09 16:04] joewheaton commented on #16
@bangen and Scott Shahveridan I know have done a lot on this. Sara tie your commit histories to this issue please and provide update.

[2018-05-09 16:11] joewheaton commented on #15
@banderson1618 and @bangen can you please provide some updates as to discussion or any progress on this issue?

[2018-05-09 16:20] banderson1618 commented on #14
@joewheaton, I worked on Issue #26, which seemed similar to what you were asking for here. I've written documentation on what I wrote for it (the Summary Report tool) on the website (link [here](http://brat.riverscapes.xyz/Documentation/9-SummaryReport.html)). Let me know if that fulfills what you wanted to come out of this issue, or if there's something else we should add to it.

[2018-05-09 21:24] joewheaton opened #29 "Conversation about where Field App Can go"
From @webernick79:

Some more ideas for validation workflow. These are just concept what could work and are not meant to be finished products

This example shows how Arc Explorer and Survey123 work together to allow offline data collection:
![2018-05-09_152408](https://user-images.githubusercontent.com/9723905/39840569-146f76a8-539d-11e8-84b7-43bcdec30593.png)
https://www.youtube.com/watch?v=26rqp

[2018-05-10 20:02] wally-mac commented on #28
@banderson1618 please move our VM server to the FHC and work on loading any and all versions of ArcGIS. @joewheaton may have further directions.

[2018-05-10 20:08] wally-mac commented on #23
To bring everyone up to speed Joe is correct that **now** we pretty much run BRAT on everything (after segmenting) and then break out the perennial and main focal areas (or maybe those intermittents above some threshold capacity), to be our 'primary' output layer, but still have the 'rest' (i.e. intermittents and ephemerals, and canals) calculated everywhere.  **The issues that Matt Meier was faci

[2018-05-10 20:10] #23 closed

[2018-05-10 20:12] wally-mac commented on #18
What is this question referring to, specifically? What run of BRAT, etc.

[2018-05-10 20:39] wally-mac commented on #17
Scott Shahverdian spent some time messing around with the BRAT management model (conceptually, not the code), and he thinks it makes sense, but now **h**e's ready for us to tell him what's wrong with it.****

He decided to really start from the beginning, in order to question some things that might prove to open a few doors that were previously closed. The biggest change is that he's basing everyt

[2018-05-10 20:43] wally-mac commented on #17
I believe that @bangen has this new logic coded in PyBRAT and that for the upcoming TNC BRAT Workshop (May 24-25) that we'll be able to interrogate the outputs for the priority watersheds.  Is this the case?

[2018-05-10 21:01] MatthewMeier opened #30 "Landfire VEG_CODE and CODE Key"
The following is an excel sheet that describes the VEG_CODE and CODE used for different Landfire codes. Let me know what you think. Specifically if the developed needs to be lowered. I was on the premise that even though it was developed that like you said beavers are not discriminatory of who owns the land but that the CODE would take care of the conflicts that would arise from land ownership and

[2018-05-10 21:43] wally-mac commented on #30
@MatthewMeier here is my feedback as a short video: https://youtu.be/1_CWyZZrX-I in brief I suggest that we need one master veg code spreadsheet with consistent and agreed upon coding and specifically we need to get on the same page regarding developed classes and the classes that Josh adjusted. Thoughts @bangen ?

[2018-05-10 21:45] wally-mac commented on #30
Here is the document that Josh used to help him make some of the Veg Code adjustments:
[LF-GAPMapUnitDescriptions.pdf](https://github.com/Riverscapes/pyBRAT/files/1993319/LF-GAPMapUnitDescriptions.pdf)

[2018-05-10 22:29] webernick79 commented on #29
@joewheaton Let's try to get some feedback on final workflow early next week.

[2018-05-10 22:37] wally-mac commented on #29
@joewheaton and I talked today (5/10/18) and attempted to determine what the BRAT app should allow the user to do. We agreed that the main thing the app should do is address the same questions that the BRAT capacity model assesses:
1.	 Is the stream segment a reliable water source for dam-building beaver?
2.	What is the forage and building material value (0-4) within 30 meters of the stream (strea

[2018-05-10 22:38] webernick79 commented on #29
This is good feedback. I'm available tomorrow, just let me know the time.

[2018-05-10 22:39] bangen commented on #29
Wally and I have a meeting from 10 to 11 am PST tomorrow morning.  I'm available after that.

[2018-05-10 22:46] wally-mac commented on #29
Joe and I have a meeting that will probably last until 2:30 MST so how about 3:00 MST?

[2018-05-10 22:52] bangen commented on #30
@MatthewMeier  Based on Wally's feedback moving forward we should classify the developed vegetated classes as:

- Developed, Deciduous: 2
- Developed, Conifer: 1
- Developed, Herbaceous: 0

@wally-mac I agree that it would be good to put together a 'master list' of landfire veg classes and suitability codes.  This can easily be transferred into a data dictionary that lives in a supporting tools sc

[2018-05-10 22:59] wally-mac commented on #29
@webernick79 I ask Kristen Wilson (our TNC contact) for locations data and where we should test the app and she provided a kmz file (below as a zipfile). She identified 250-600 m reaches of stream that are within walking distance of the field station where we are staying. She put notes in the location names to indicate why these reaches might work well.
[BRAT model validation locations Sagehen.zip

[2018-05-10 23:01] wally-mac commented on #30
Yes, I agree.  Well stated!

[2018-05-10 23:06] webernick79 commented on #29
This seems very doable.

[2018-05-10 23:52] joewheaton opened #31 "Data Capture Distinctions"
@wally-mac  and I were discussing some of @webernick79 work on the Arc Survey123 and ArcExplorer web apps (see also #29).  We think the following are important distinctions and have tried to genericize this from a  specific 'Validation' exercise or 'field app' to something more generic aimed at capturing additional data to serve different needs, but be captured in a Riverscapes Project (something

[2018-05-11 00:01] wally-mac opened #32 "Beaver Dam Data Capture"
Based on the suggest of @webernick79  @joewheaton and I on 5/10/18 decided that a BRAT data collector webmap app would be a useful investment. As initially conceived, the app will allow users to collect dam location data in a web version of arcgis online. The app will have a drop down form that would allow the user to collect:

active dams
inactive dams
stock ponds (as training data for AI)
lodges

[2018-05-11 00:04] webernick79 commented on #32
All, I'm just going through the editing capabilities for Arc Web Apps, unfortunately they are much more limited than I anticipated. I will follow up soon

[2018-05-11 00:07] MatthewMeier opened #33 "Error creating zonalstatistics"
I am getting an error message when trying to run the ipc part of the BRAT tool. I have supplied the project files to Sara and Braden for investigation. Here is an image of the error.
![image](https://user-images.githubusercontent.com/30604787/39900118-e89d95e2-547c-11e8-9351-5acb55c712c9.png)
@wally-mac @bangen @joewheaton @banderson1618

[2018-05-11 00:13] wally-mac commented on #29
@joewheaton and I talked today (5/10/18) and Joe stated that for the TNC BRAT project TNC staff, forest service personnel and citizen scientists will only be responsible for **data capture** and this data capture can occur as **field, desktop or a combination between field and desktop** interpretations. We (the ETAL lab) is responsible for model **calibration, verification and validation** based o

[2018-05-11 00:25] wally-mac commented on #33
@MatthewMeier where are you working (what watershed) what version of ArcGIS are you running.  @banderson1618 is working on the virtual machines so we can eliminate version errors.

[2018-05-11 00:37] wally-mac commented on #31
One specific form of data capture that @joewheaton  and I discussed was  calibration of land fire existing veg data. So the idea here is we could take a sample of say 30 of each of the say approximately 30 land cover classes  (n= 900) within our hundred meter buffer and do an assessment in regards to how the zero to four categories appear in the field versus how the landfire classification categor

[2018-05-11 00:46] wally-mac opened #34 "Running BRAT with Amazon S3 Bucket"
@joewheaton  and I talked about having @banderson1618 connecting with @philipbaileynar and @MattReimer to learn how towork with Amazon S3 buckets to run BRAT for entire states at the HUC 8 level. The rational is utilize many machines and just crank through it. This would need to be coordinated with @bangen

[2018-05-11 00:47] joewheaton opened #35 "BRAT-cIS (Capacity Inference System)"
This is from #29

-NW: Yup, should be OK

## What it is:
I think we need to build out what we'll call the BRAT-cIS (capacity inference system) and distinguish that from the 'model' of BRAT-cFIS (capacity fuzzy inference system). This is nothing more than the combination of the two inference systems that comprise the capacity model of BRAT from the Macfarlane et al. ([2015](https://www.researchgate

[2018-05-11 01:00] wally-mac opened #36 "BRAT Manuscript Ideas"
@joewheaton and I discussed the need to outline the manuscripts that could come from our various BRAT work.  @bangen and @joewheaton lets get your ideals here.

- Case studies: highlight all the various work we are doing (compare and contrast)
- Ground Verified outputs vs. Non verified and what gains you get with additional data capture
- Conflict and Management Model
- BRAT  Castor comparison?

H

[2018-05-11 01:15] wally-mac commented on #32
@joewheaton and I discussed how @webernick79  app would be a more appropriate way for the Idaho Fish and Game biologists to identify the items that I outlined in an email to Corey Mosby. In the email I ask him to provide : Dam locations, beaver activity, BDA locations, Translocation areas and high conflict areas. I ask for GIS layer of some sort (KMZ, shapefile, or GPS data) and if such GIS data i

[2018-05-11 01:31] wally-mac commented on #14
@banderson1618, yes this is a similar issue for sure but let's make sure that what you have done with the "Summary Report tool" fulfills all that @joewheaton is requesting here.  For example, we'll like these outputs to be a separate shapefile that would show actual dam density based on the date of the imagery or date of the field collection. @bangen may have some input on the topic.

[2018-05-11 01:48] joewheaton commented on #36
I like this @wally-mac. Lets get together and flushout the funded Projects, labels and milestones, and then we can break these out into outlines and manuscripts.

[2018-05-11 02:04] joewheaton commented on #34
Yes... @banderson1618, just to clarify, please:
1. First, move our VM Server Box to lab and learn how to set it up with help from Wes.
2. Make images ISO of Windows10 64 bit machines, w/ 8 GB of RAM and different versions of ArcGIS: 10.0, 10.1, 10.2, 10.3, 10.4, 10.5, 10.6.
3.  Write documentation on internal FHC help pages for analysts to use these VMs to run specific versions of tools that have

[2018-05-11 04:51] joewheaton commented on #18
this was just a demo issue from an old meeting. it is garbage...

[2018-05-11 04:52] #18 closed

[2018-05-11 15:03] wally-mac opened #37 "Data Request: Unedited BRAT Valley Bottoms"
Chris Murphy, Wetland/Riparian Ecologist with Idaho Department of Fish and Game wants to use the unedited valley bottoms, feeding the BRAT tool.  We will revisit this when we complete valley bottoms. @bangen I'm making you aware of this because it does suggest that people are going to want to use the valley bottoms we produce so the better we can make the with minimal edit the better.

[2018-05-11 15:18] banderson1618 commented on #33
From the email chain, it looks like this was ArcGIS being unstable, not a problem with the tool specifically. I'm closing the issue for now, unless someone believes differently.

[2018-05-11 15:18] #33 closed

[2018-05-11 15:31] banderson1618 commented on #14
From what I can see, the only requirement stipulated here that isn't fulfilled by the SummaryReport tool is that it doesn't save when the actual dam value was collected, and that we haven't prepared a layer with symbology for it.

I'm not sure what the best way is to save the date, unfortunately. I'm assuming that there's some metadata field that we'd want to use in the shapefile output, but I'm n

[2018-05-11 16:13] joewheaton commented on #26
@banderson1618 thanks for this. Please in the future reference the issue by `#26` mention in your commit title or if you're confident that the issue has been fully addressed by `Fix #26` in your commit history. I am going to open a new ticket to combine this and #14. I've changed my mind not on the functionality of what this does, but on where we should save that.

[2018-05-11 16:53] MattReimer commented on #34
Well, I have limited experience with VM Server Box so I'm not going to be that much help there. I have no idea how you would queue up jobs that way.

On CHaMP we used [AWS SQS queuing](https://aws.amazon.com/sqs/) with the job work being done by [AWS Lambda](https://aws.amazon.com/lambda) and the "WORK" work using [ECS spot-priced](https://aws.amazon.com/ecs/) with [auto-scaling instances](https:/

[2018-05-11 17:38] bangen commented on #36
@wally-mac @joewheaton IMO we should take an evening at the upcoming TNC BRAT meeting to whiteboard manuscripts in person

[2018-05-11 18:10] joewheaton opened #38 "Lets make BRAT data capture snapshot of dam activity for Sagehen"
There is a ton of data in this [Beier and Barrett (1989)](https://usu.app.box.com/file/292351698344) from Kristen for Sagehen. We should turn this into an opportunity to test the concept of a 'desktop' data capture event (#31) to translate these data into point-base feature classes from which we can run subsequent analyses.

Lets use this information too from Kristen

Also attached are some refere

[2018-05-11 19:37] banderson1618 commented on #34
Thanks for the input, @MattReimer. I think the plan right now is to move the server to the lab and work on setting it up on Monday, so any questions will probably wait until then.

[2018-05-11 20:15] banderson1618 opened #39 "pyBRAT could use a development branch"
We've been talking creating a development branch for pyBRAT for at least a month now, so it seems fair to make it an issue. I propose that @bangen should be the one who makes the branch, primarily because she would be the main person using it, but also so that she can gain experience and familiarity with using branches. I'm willing to do it myself, but I believe that the experience would be better

[2018-05-11 20:52] wally-mac opened #40 "Take USFS Field Data & Perform Calibration"
Explain what this is...

[2018-05-11 22:34] joewheaton commented on #35
Do we want to ask whether or not this is an assessment of 'existing capacity' or 'potential capacity'?

[2018-05-12 16:09] wally-mac commented on #39
I think this is a great idea.

[2018-05-13 17:08] wally-mac commented on #38
We could also try to incorporate these beaver presence data from American Rivers Score Card data
[(https://usu.app.box.com/folder/49401259386)] Note this is NOT dam location data so it might be challenges to use these data.

[2018-05-14 15:58] joewheaton opened #41 "Paper form Associated with #32"
We need to have a paper form version of both the 'simple' and 'advanced' forms for Beaver Dam Data Capture in #32.

I have this as a start:
https://usu.box.com/s/nilr7t50uqtc4pjy9q8bgpi4pqgy7fwf

And of course Reid's filemaker App:
https://extension.usu.edu/utahwaterwatch/citizenscience/beavermonitoringapp/

[2018-05-14 16:02] joewheaton commented on #32
As per our Friday call, this and #35 are top priority for @webernick79  this   week as our TNC workshop is next week and we want to use Survey123 and test it out there.

I need to focus on paper form versions of both. I will take the lead on that (#41 and ).

## Spatial Resolution...
For now, one key think we didn't discuss Friday @webernick79 was having two versions of this in terms of spatial re

[2018-05-14 16:04] joewheaton opened #42 "Paper form for BRAT-cIS"
Related to #35, we need a paper form for BRAT.

[2018-05-14 16:24] joewheaton opened #43 "Structured Data Capture Navigation - An Arc Explorer Mobile App for Truckee"
@bangen  wrote to @webernick79:

Zip file:
https://drive.google.com/open?id=1TZGn9Zw5T4Qemw-GbXpMdVatSrqEOLmT

[2018-05-14 16:32] joewheaton commented on #43
Thanks @bangen  for this. This is all good. @webernick79, this is a lower priority than #35 and #32, but this is good. Just to clarify:
1. Lets make a specific Arc Explorer WebApp for a structured data collection in the field (#29) similar to what you already did in https://www.youtube.com/watch?v=26rqpWeay-o , but with this data that @bangen provided.
2. This will be for offline use as `<mode>Fie

[2018-05-14 16:38] joewheaton commented on #38
@wally-mac, once @webernick79 finishes #32, in Survey123, lets have you and a technician do this together to make it something we have populated. Then work with @bangen and @banderson1618 to ingest this into the Riverscapes project structure... e.g. `...\Inputs\DataCapture\Dams\Dam_001` and think about the raw input (i.e. just a shapefile with what fields)? and the downstream outputs (e.g. populat

[2018-05-14 17:12] webernick79 commented on #32
Can you try opening a survey on your phones. Can you collect data and send it? What type of Arc Online account are you using?

(I'm going to email this as well, open on your phones and let me know)

https://survey123.arcgis.com/share/79d032f492874340ba42e6ab45e68b1e?open=menu

[2018-05-14 17:58] joewheaton commented on #41
Okay @webernick79, for #32

Here we have it in order of priority:
1. [Beaver Dam Complex Form - Basic](https://usu.box.com/v/BeaverDamComplex-BasicForm)
2. [Beaver Dam Form - Basic](https://usu.box.com/v/BeaverDam-BasicForm)
3. [Beaver Dam Form - Advanced](https://usu.box.com/v/BeaverDam-AdvForm)
4. [Beaver Dam Complex Form - Advanced(https://usu.box.com/v/BeaverDamComplex-AdvForm)
5. [Beaver Acti

[2018-05-14 17:58] #41 closed

[2018-05-14 17:59] joewheaton commented on #32
Okay, Weber, here's what you need for form specs in order of priority (lets do one first and go back and forth).
1. [Beaver Dam Complex Form - Basic](https://usu.box.com/v/BeaverDamComplex-BasicForm)
2. [Beaver Dam Form - Basic](https://usu.box.com/v/BeaverDam-BasicForm)
3. [Beaver Dam Form - Advanced](https://usu.box.com/v/BeaverDam-AdvForm)
4. [Beaver Dam Complex Form - Advanced(https://usu.box.

[2018-05-14 19:18] joewheaton commented on #42
Okay here they are:
[BRAT_cIS Asessment Form_Advanced.docx](https://github.com/Riverscapes/pyBRAT/files/2002218/BRAT_cIS.Asessment.Form_Advanced.docx)
[BRAT_cIS Asessment Form_Basic.docx](https://github.com/Riverscapes/pyBRAT/files/2002219/BRAT_cIS.Asessment.Form_Basic.docx)

[2018-05-14 19:18] #42 closed

[2018-05-14 19:19] joewheaton commented on #35
Okay... Weber, check out #42 for forms (one basic, one advanced)

[2018-05-14 21:25] webernick79 commented on #42
Yo @joewheaton  Huge if statements, amazed it actually works in Survey123

if(${StreamsideVegetation}='Unsuitable' and ${RiparianVegetation}='Unsuitable','None',if(${StreamsideVegetation}='BarelySuitable' and ${RiparianVegetation}='Unsuitable','Rare',if(${StreamsideVegetation}='ModeratelySuitable' and ${RiparianVegetation}='Unsuitable','Occassional',if(${StreamsideVegetation}='Suitable' and ${Ripa

[2018-05-14 22:34] webernick79 commented on #42
@joewheaton and @wally-mac [here's a first cut at a BRAT app](https://survey123.arcgis.com/surveys/44f9c3e1c8744ff9a07d2e0c9f7f5173/data). This will get cleaned up a bit, but feel free to offer feedback here:

https://survey123.arcgis.com/surveys/44f9c3e1c8744ff9a07d2e0c9f7f5173/data

[2018-05-14 23:04] MatthewMeier opened #44 "New field for summary report idea"
Hi Wally and Joe,

Further investigation of the dam points for the rock creek area is given below in a [Layer Package](https://usu.box.com/s/qq4vk60mpelwh71skxs3xyde5p3c0t1m) to better illustrate the under predictions of the BRAT model in this area. Here are some statistics

Of the total _34_ stream segments with validation dam counts only _28_ exceeded the capacity estimates indicating that the m

[2018-05-15 09:33] wally-mac commented on #44
@MatthewMeier , looking at your graph of the preliminary run I see that of the total 34 stream segments with validation dam counts 28 exceeded the capacity estimates indicating that the model only segregated the factors controlling beaver dam occurrence and density 18% of the time. Showing that this preliminary run is grossly underestimating capacity if in fact the dam census data that we used is

[2018-05-15 09:45] wally-mac commented on #42
<img width="563" alt="can_not" src="https://user-images.githubusercontent.com/21991506/40049582-65d014cc-57f2-11e8-94be-e06069800454.PNG">

[2018-05-15 09:55] wally-mac commented on #42
@webernick79  if I Log off from my USU account I'm able to access the form.

[2018-05-15 15:02] webernick79 commented on #32
Wally, yes, that's find, just wanted to test permissions.

[2018-05-15 17:05] webernick79 commented on #42
@wally-mac This looks like now veg is a single question? In @joewheaton Joe's FORM it is posed as two questions? Suitability and type? To me this is one questions so I'm going to simplify

[2018-05-15 17:16] webernick79 commented on #42
Ya'll have a better BRAT image file as well? This one is tiny

![beaver_ecosystemengineer](https://user-images.githubusercontent.com/34071692/40072541-09cac866-5829-11e8-8092-bf532f39467c.png)

[2018-05-15 19:16] MatthewMeier commented on #44
Looking further into the issue it was found that while the year was not clarified by the metadata contained in the following excel file the activity of the dam was. Out of the points that contributed to the 34 validation reaches narrowed it down to 17 instead. And from 112 dam points to 36 active dams, 64 inactive dams, and 12 were just lodge locations. ALWAYS LOOK INTO THE DATA AND METADATA
The n

[2018-05-15 19:29] MatthewMeier commented on #44
![image](https://user-images.githubusercontent.com/30604787/40079099-f7d2c512-5843-11e8-9e27-abbae5d2d751.png)

[2018-05-15 21:31] banderson1618 opened #45 "Project Structure Revision"
Mic and I have been been assigned with figuring out what the folder structure of pyBRAT should look like, including showing intermediary data.

My rough draft for folder structure is laid out below, with bullet points.

- Inputs
  - Conflict Layers
    - Valley Bottom
    - Roads
    - Railroads
    - Canals
    - Land Use Raster
  - Network
    - Stream Network
  - Vegetation
    - Existing Veget

[2018-05-15 21:37] wally-mac commented on #42
@webernick79 I just gave the app a test drive and it works great for me.  @joewheaton and @bangen what do you both think?  Nice work Nick!

[2018-05-15 22:08] Albonicomt commented on #45
I am here on Github.
I like this general structure. I think it hits every step in the BRAT tool. Although, in my opinion, I think the slope, Flow accumulation, and hillshade work nicely in the Inputs under the Topography layer. I think it makes sense for the user to find those layers in the Topography layer. Thoughts for that?

Another thing we need to look at is creating a standard symbology for

[2018-05-15 22:37] Albonicomt commented on #45
Nice! I am all for simplicity. Any other thoughts on other standards for the symbologies in the Package?

[2018-05-15 22:45] MatthewMeier commented on #45
Braden in this [layer package](https://usu.box.com/s/qq4vk60mpelwh71skxs3xyde5p3c0t1m) at least holds the symbology for the Summary Report data "e_DamDens" it is basically the same symbology for the oCC_EX and oCC_PT layers

[2018-05-15 22:47] banderson1618 commented on #45
Another thought on the Topology intermediates is that we put them in both places. It would be space inefficient, but it makes sure that the user can find them, no matter where they think to look.

[2018-05-15 22:50] MatthewMeier commented on #45
I think if you have the symbology in one location it makes it less confusing to the user because if it is in two places it is easy to think that duplicated symbologies are different from one another and which one to use becomes a question

[2018-05-16 02:16] wally-mac commented on #45
Some additional intermediates included the segmented drainage network, the 30 meter network buffer, and the 100 meter network buffer.  These are important because these make up the minimal mapping units of the tool and the associated outputs @banderson1618 @Albonicomt

[2018-05-16 02:19] wally-mac commented on #44
Thanks @MatthewMeier. This looks much better to me. @bangen @banderson1618 @joewheaton what do you all think of this improvement?

[2018-05-16 16:00] banderson1618 commented on #45
The "segmented drainage network" is the same thing as the stream network, right? Would you prefer to put the stream network in the intermediates folder, or keep it in the inputs folder, @wally-mac?

[2018-05-16 16:02] wally-mac commented on #45
I was thinking there was a segmented version and a unsegmented version but
maybe we don't need the unsegmented version.

On Wed, May 16, 2018 at 10:00 AM, Braden Anderson <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-05-16 16:11] MatthewMeier commented on #45
There is only a segmented drainage network. This is an input for the BRAT tool. Something to consider though with this is that now that we are running a complete network through the tool and then subsetting it later it might be beneficial to think about how we want to organize this for future projects.
While the subset is all that I feel like we will be making in these layer packages this is somet

[2018-05-16 16:14] banderson1618 commented on #45
Sounds good. I've updated my original post to have buffers in the intermediates folder

[2018-05-16 17:53] banderson1618 commented on #45
Something new to consider: how should "Output_#" work in this new system?

It seems to me that there are three possibilities:

We could put Output above Intermediate and Analyses folder, like below:
- Project Folder
  - Inputs
    - *input folders*
  - Output_1
    - Intermediates
      - Buffers
        - 30 m Buffer
        - 100 m Buffer
      - BRAT Table output
      - BRAT Braid Handler outp

[2018-05-16 18:01] Albonicomt commented on #45
I like the first and third options the best. Although, I do see your point if we end up having several outputs.

[2018-05-16 18:14] webernick79 commented on #32
OK @joewheaton and @wally-mac here's a individual beaver dam form:

https://survey123.arcgis.com/share/12727492ed0e4bf5b3192b54d9190efc?open=menu

Couple things to note:

The form had a single attribute STATUS with choice: _active, abandoned, historic_.

To me, this is really two pieces of information?
What is the functional **CONDITION** of the dam:
 **- Intact** - _actively ponding flow_
 **- Br

[2018-05-16 18:14] wally-mac commented on #45
I think the first solution is best.

On Wed, May 16, 2018 at 12:01 PM, Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-05-16 19:06] banderson1618 commented on #45
Unless someone speaks up, I'm going to go forward with implementing the first solution.

[2018-05-16 19:53] MatthewMeier opened #46 "BRAT Summary Report"
Looking into the output for the BRAT Summary Report tool the attribute table fields that are with the dam point shapefile are being added to the output from this tool. Due to multiple dams being snapped to some segments these point shapefile fields being carried over are not applicable and should not be included in the output. @banderson1618 @wally-mac

[2018-05-16 19:58] banderson1618 commented on #46
What are the names of the fields that need to be deleted? That should be a pretty easy fix.

[2018-05-16 20:05] MatthewMeier commented on #46
it is whatever extra fields are in the point shapefile so it changes with every file. If this is not an easy fix if they are all different we can do it manually?

[2018-05-16 20:09] banderson1618 commented on #46
No, I can fix that. I'll just delete any fields that aren't in the input and aren't created by the tool.

[2018-05-16 20:35] wally-mac commented on #45
Go for it.

On Wed, May 16, 2018 at 1:06 PM, Braden Anderson <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-05-16 20:55] wally-mac commented on #32
[](https://survey123.arcgis.com/share/12727492ed0e4bf5b3192b54d9190efc?)

[2018-05-16 22:27] banderson1618 commented on #45
Here is a picture of the tool's output, and the folder structure that is automatically created. The first one has some of the input folders collapsed, the other one has everything fully expanded.

Right now, the Braid Handler, iHyd, and Vegetation Dam Capacity all just add on attributes to the BRAT Table output, and so they don't show up as their own thing in the intermediate folder. We can copy t

[2018-05-16 22:52] wally-mac commented on #45
Please add @bangen to the conversation.

On Wed, May 16, 2018 at 4:27 PM, Braden Anderson <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-05-16 23:29] webernick79 commented on #32
@joewheaton , @wally-mac , @bangen

All, at this point I have only cooked up two forms:
[BRAT INFERENCE](https://survey123.arcgis.com/share/44f9c3e1c8744ff9a07d2e0c9f7f5173?open=menu)

and

[INDIVIDUAL DAM - BASIC](https://survey123.arcgis.com/share/44f9c3e1c8744ff9a07d2e0c9f7f5173?open=menu)

Offer any feedback on these surveys?

@joewheaton , you have 4 other forms above? are these needed for th

[2018-05-16 23:39] wally-mac commented on #32
Nick, yes we are still working on pulling together the validation data sets
and I plan on providing these to you ASAP.  We’re shooting to get these to
you by close of business tomorrow. Does that work with your schedule? Sorry
to be so last minute but we have a lot of balls in the air right now. Thank
you

On Wed, May 16, 2018 at 5:29 PM Nick Weber <notifications@github.com> wrote:

--
Sent from G

[2018-05-17 00:48] wally-mac commented on #42
One addition thing I think that we should add to the form is the question:
Is the stream too large for a beaver to build a dam?  In the pyBRAT code we
deal with this question by applying an upstream drainage area  threshold
value because we found that sometimes the Q2 stream power wasn’t enough to
catch these large Streams that have no capacity for beaver dams.

On Tue, May 15, 2018 at 2:55 PM Nic

[2018-05-17 01:27] wally-mac commented on #32
@webernick79,  this is really coming together nicely. I’m interested to see what @joewheaton thinks.

[2018-05-17 16:07] banderson1618 opened #47 "The tool should automatically generate properly symbolized layers"
We want to automatically generate layer files that have the proper symbology. This would speed up our technicians workflow, by automating a significant part of their work.

[2018-05-17 18:49] banderson1618 commented on #47
The tool now creates a layer with symbology for the files that I could think of that needed it.

To be more specific:
- The BRAT Project Builder now applies symbology to the DEM that it is given.
- The BRAT Table now creates a Land Use Intensity layer, which is symbolized based on the iPC_LU field.
- The BRAT Combined Dam Capacity Model now creates two layers. One is symbolized off of the oCC_PT f

[2018-05-17 19:27] Albonicomt commented on #45
You know another thing that would make creating these LPks much quicker (now that I think about it) would be to somehow automatically fill in a description into each layer. To create an LPK you have to fill in a description for every single Layer and group Layer you create. This process is pretty tedious, @banderson1618, do you think this would be easy to automate? We can talk about it later, but

[2018-05-17 19:30] wally-mac commented on #45
Excellent idea!  Please look into it.

On Thu, May 17, 2018 at 1:27 PM, Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-05-17 19:53] banderson1618 commented on #45
@Albonicomt, I'll look into it. I remember trying to a while ago, and not having much luck, but I'll see what I can do.

[2018-05-17 20:17] banderson1618 commented on #45
@Albonicomt, I looked into it, and I made it work in testing. What should their description be? Something like "This is a layer file that is symbolized to show _____"?

[2018-05-18 20:09] joewheaton commented on #35
Note.... progress was tracked on #42

@webernick79

Please post link to finished BRAT_cIS Basic & BRAT_cIS Advanced when done here.

[2018-05-18 20:09] joewheaton commented on #42
Duplicate with #35....

[2018-05-18 20:19] bangen commented on #16
@joewheaton @wally-mac I made some edits to Scott's slides.  They're attached below.

Scott did an awesome job reworking the management model.  IMO, it's a huge improvement over the previous version and should be our starting point moving forward.

From the runs for the 5 basins in the Sierra Nevada I found there are some gaps/missing categories for:

- Instances where existing capacity is greater

[2018-05-18 20:26] joewheaton opened #48 "Issue with Survey123 Not loading from link for BRAT cIS Basic"
Some users have noticed from phone that when you load survey123 link you get an error message of 'Form not found'. We experienced it here:
https://survey123.arcgis.com/share/44f9c3e1c8744ff9a07d2e0c9f7f5173?open=menu

[2018-05-18 20:27] joewheaton commented on #48
The workaround @webernick79 and others found was to simply shut down Survey123 App on phone, reopen, and it will be there ready to load.

[2018-05-18 20:27] #48 closed

[2018-05-18 20:31] joewheaton commented on #32
@webernick79 can we set the default reach length to 300 m please on the
 INDIVIDUAL DAM - BASIC
 <https://survey123.arcgis.com/share/44f9c3e1c8744ff9a07d2e0c9f7f5173?open=menu>

[2018-05-18 20:34] joewheaton opened #49 "Please add default reach length of 300 m to BRAT cIS forms"
RElated to #35 and #42

[2018-05-18 20:35] joewheaton commented on #35
Read me

[2018-05-18 20:38] webernick79 commented on #32
This should be dam basic: https://survey123.arcgis.com/share/12727492ed0e4bf5b3192b54d9190efc

[2018-05-18 20:41] joewheaton opened #50 "Basic Dam Survey Form won't let submit from browser"
When trying to submit [this survey form](https://survey123.arcgis.com/share/12727492ed0e4bf5b3192b54d9190efc) we get this message:
`You cannot submit record to the survey since you are not field worker or the survey owner.`

[2018-05-18 20:46] joewheaton commented on #50
Same issue when logged in as @chadFHC or myself.... Works fine on my phone from browser or Survey123. Just does not work in desktop mode in Chrome....

[2018-05-18 20:47] joewheaton commented on #50
@webernick79 is finding that Survey123 forms keep resetting themselves from 'public' permissions to 'private'. Might be problem.

[2018-05-18 20:52] bangen commented on #14
@banderson1618 If it's easy enough we should just assign the user-defined date to the shapefile metadata.  The only instance where I see this approach being an issue is if the user has a composite dataset that's based off points from imagery and field data.  Thoughts @wally-mac?

[2018-05-18 20:53] joewheaton opened #51 "Basic Dam Survey Form missing location"
Form seems to be working well.... just was missing the location acquisition on the form. Related to #32

[2018-05-18 20:54] bangen commented on #14
@banderson1618 did you ever hear back from anyone regarding symbology layer files?  For density you can just use the existing capacity layer file.  If you don't have a layer file for the eDamPcC field I can create one if you send me some example data.

[2018-05-18 20:58] joewheaton opened #52 "Survey123 App for 'Beaver Dam Complex - Basic'"
This is probably going to be the most used and popular beaver dam monitoring form:
https://usu.app.box.com/file/292685180394

[2018-05-18 21:45] wally-mac commented on #14
@banderson1618 I like your idea of user-defined date.  I think if its a composite they might just enter the data as two separate projects.

[2018-05-18 22:27] wally-mac commented on #16
@bangen Scott is now on Gihub @sshahverdian

[2018-05-19 17:41] webernick79 commented on #51
Location field added

[2018-05-19 17:41] #51 closed

[2018-05-19 19:32] webernick79 commented on #49
Yup, you can also partially fill out a form, say with "Stream Name" and "Observer Name" and mark them as favorite answers so they carry over to subsequent observations

[2018-05-19 19:32] #49 closed

[2018-05-19 22:00] webernick79 commented on #35
@joewheaton and @wally-mac and @bangen

OK, I think this is where I'm supposed to be posting related to BRAT field inference forms.

Here is a link to the [BRAT Field Assessment Form - Advanced](https://survey123.arcgis.com/share/f1c37b80ba3f482fbadb38251c5d7a7f?open=menu)

If I understand this correctly, this is also the form that Wally and Sara will be using for validation during their Truckee f

[2018-05-19 22:02] webernick79 commented on #43
@joewheaton and @wally-mac and @bangen

Here is a link to the [BRAT Field Assessment Form - Advanced](https://survey123.arcgis.com/share/f1c37b80ba3f482fbadb38251c5d7a7f?open=menu)

If I understand this correctly, this is also the form that Wally and Sara will be using for validation during their Truckee field visits.

At this point I don't think it's worth developing additional ESRI mobile functi

[2018-05-19 23:10] joewheaton commented on #35
Thanks a ton @webernick79 for this!

I've tested the form on both a browser (desktop) and Survey123 (Android). Everything looks great. I think we should run with this for now and hold-off on tweaks until after we've used it in a real setting. Really nice job.  Very useful.

I'm closing this as I think its done. Any new feature requests or tweaks can refer back to this, but should just be there own

[2018-05-19 23:10] #35 closed

[2018-05-19 23:14] joewheaton commented on #43
Agreed... Lets hold off @webernick79  on making this ArcExplorer App. For now @wally-mac and @bangen can do what they need to with just the forms. I'm moving the milestone on this.

[2018-05-19 23:17] joewheaton commented on #31
Good points Wally made in:

I think this discussion has run its course and I'm going to put your Data Capture request for LANDFIRE data in a new ticket. Note that the new BRAT cIS #35 gets us a good part of the way towards this in a BRAT context.

[2018-05-19 23:17] #31 closed

[2018-05-19 23:18] joewheaton commented on #29
This conversation has run its course....

[2018-05-19 23:18] #29 closed

[2018-05-19 23:23] joewheaton opened #53 "Landfire/Vegetation Survey123 App"
To validate both BRAT and RCAT vegetation inputs, it would be helpful to have a Survey 123 app (similar to #35 BRAT cIS) for recording this information in field.

As @wally-mac wrote in #29,

In due course (not immediate), @wally-mac we should provide elaboration of exactly what you want here by:

1. Providing a paper form version of what we want (decide if we need an Advanced and Basic, or if jus

[2018-05-19 23:26] wally-mac commented on #35
Thanks @webernick79 for this!

I've tested the form on both a browser (desktop) and Survey123 (iPhone). Everything looks and works great.

Excellent job!

[2018-05-19 23:28] webernick79 commented on #53
Sounds good...Happy to offer advice on getting others up to speed with the ESRI tools like Survey123, but my guess is it won't take much and everybody will be up and running with this stuff soon.

[2018-05-19 23:45] wally-mac commented on #53
@banderson1618  can you please take the lead on this?  Please reach out to @joewheaton and I for more of the background and @webernick79 for technical support.

[2018-05-19 23:47] joewheaton commented on #53
@wally-mac lets you and I make the paper form first together, and then assign it to @banderson1618 and find a milestone that makes sense. This is not a rush.

[2018-05-19 23:48] wally-mac commented on #53
Sounds good.

On Sat, May 19, 2018 at 5:47 PM, Joe Wheaton <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-05-20 01:39] joewheaton commented on #16
I'm just now digesting some of @sshahverdian and @bangen work on this for first time. Really, really cool.

[2018-05-20 01:43] joewheaton commented on #52
@webernick79 are you planning or able to get this one done for @wally-mac by Monday? If not, they can use the #32 for single dams... but this would be super useful.

[2018-05-20 01:44] joewheaton commented on #51
TEsted... and works. Still have #50 issue on browser, but works in Survey123 or when logged in. Nice one @webernick79

[2018-05-20 01:48] joewheaton commented on #16
I am  realizing that the changes you made are both to the 'conflict' model, but more focused on the 'management model'. This is a good discussion. @bangen lets break this out into remaining specific enhancement tasks. Its really hard to know what changes you made through what commits to address this one (you can go back and edit your commits to add reference to #16 here)...

[2018-05-20 02:02] joewheaton commented on #32
These have been broken out into separate issues.... Closing.

[2018-05-20 02:50] webernick79 commented on #52
@joewheaton , yes, I will kick this out Sunday morning. Won't take a minute.

[2018-05-20 02:58] joewheaton opened #54 "Those Preliminary Priority Basins for TNC BRAT"
Original priority basins from Kristen for Workshop for preliminary BRAT runs:
- [x] Lake Tahoe
- [x] Truckee
- [x] Upper Carson
- [x] Easter Walker
- [x] West Walker
@bangen and Mic did this.

[2018-05-20 03:01] joewheaton commented on #54
They got it done.

Ready to rock and roll.

[2018-05-20 03:01] #54 closed

[2018-05-20 19:50] bangen commented on #15
@joewheaton @wally-mac  I'm not aware of any progress on this front.  IMO, this is more of a priority for the Milwaukee BRAT project than for the TNC or Idaho BRAT projects.  What's the current status of that project?

[2018-05-20 20:08] webernick79 commented on #52
Shit, I made the advanced form: anyway, here that is anyway:

https://survey123.arcgis.com/share/1253dc28982f418d8cfc62b445066efb?open=menu

I can also kick out the Basic version of the form

[2018-05-20 20:18] bangen commented on #16
Just realized I posted this to the incorrect issue.  Should have been to issue #17.  I'll copy it there.

[2018-05-20 20:18] bangen commented on #17
@joewheaton @wally-mac I made some edits to Scott's slides.  They're attached below.

Scott did an awesome job reworking the management model.  IMO, it's a huge improvement over the previous version and should be our starting point moving forward.

From the runs for the 5 basins in the Sierra Nevada I found there are some gaps/missing categories for:

- Instances where existing capacity is greater

[2018-05-20 20:31] bangen commented on #39
I'll get this set-up post TNC BRAT workshop.

[2018-05-20 21:13] bangen commented on #19
We don't run into a lot of basins where this occurs, but we had to address this issue in the Truckee watershed (which drains Lake Tahoe).  In the case of the Truckee there was a gage on the Truckee River at the outlet of Lake Tahoe.  I was able to use stream stats to get the upstream drainage area at the gage and then add the DA values to the Truckee River polylines.

In cases where a major river

[2018-05-20 23:06] bangen commented on #37
@joewheaton I've shared this with previously with Wally but want to bring you in on the discussion.  I played around with implementing a different approach to deriving valley bottoms.  My main motivation was to develop an approach that would require less manually editing.

Here's a [video](https://youtu.be/RbBvu7FA3XM) I put together for Wally.  I attached some kmz files of the output.

In a nutsh

[2018-05-21 14:50] webernick79 commented on #52
OK, Good to go, here is the Dam Complex - Basic Survey

https://survey123.arcgis.com/share/8c8660b01b234e639691aed53a9278ce?open=menu

[2018-05-22 21:03] #47 closed

[2018-05-24 14:04] joewheaton opened #55 "Add Ownership Layer"
When interrogating the new layer packages (#47) and riverscapes projects (#45) in the field (both really cool BTW). It would be really helpful to have a land ownership layer. At a minimum, this would just be a private vs. public layer and could be included in the context layers. It might also be nice to use it as an input for conflict models. Whether or not we break out ownership moreso (e.g. by a

[2018-05-25 15:50] banderson1618 commented on #55
@joewheaton, I'm not entirely certain on how to make a land ownership layer. Is this a symbology that's applied to an existing input or intermediate? If you can give me a layer file with the right symbology and tell me what file to apply it to, I can make that happen pretty quickly, I think.

[2018-05-25 15:55] banderson1618 commented on #45
I've attached a picture of the folder structure that the tool currently produces. @wally-mac, @joewheaton, @MatthewMeier, @bangen, @Albonicomt, let me know what you think, and if we need to change anything. Otherwise, I'd like to close this issue.

![folderstructure](https://user-images.githubusercontent.com/21353496/40553990-9c274b28-6001-11e8-887b-7b31f9ca0a41.png)

[2018-05-25 16:59] joewheaton opened #56 "For Willow Fly Catcher Sampling get UC Davis Meadow Layer"
Clip the BRAT analysis down to UC Davis Meadow Layer and get the to produce layers. Start looking at BRAT and maybe get refined outputs for just meadows to partners.

Existing dam density - Need to produce layers for analysis on data capture events. Get dam observations...

[2018-05-25 17:56] Albonicomt commented on #45
@banderson1618 Nice job man! That is sweet!

A few things I see offhand that would be quick to fix, is the new Conservation_Restoration_Model_V2 that Sara created. She has posted the symbology on Github, but I can send that to you if you need that Layer file.

 Also, in the Vegetation folder (you might have these symbologies, but the folder isn't expanded in the screenshot, so if it is no worries)

[2018-05-25 20:41] banderson1618 opened #57 "Does pyBRAT Have Too Many Steps?"
# Does pyBRAT Have Too Many Steps?
Right now, BRAT has nine steps, but many of them simply modify the output of the step before them, and do not take much time to run. It seems to me that some of them could be run together, so that the tool is less arcane to run for first time users. I will lay out some of the tools that I think could be consolidated below.

## The Project Builder could be impleme

[2018-05-26 20:58] joewheaton opened #58 "Identify Pilot Locations in CA & NV"
In the runup to the May 24-25 meeting Kristen worked with the NFWF grant team to come up with the following priorities:

These are summarized in this [Google sheet](https://docs.google.com/spreadsheets/d/1yrGR4DNWIrMuSd-4fiKc4lBiRx4K5UWy4cmHfkMAVQM/edit#gid=706422300)

In the run-up to the workshop Kristen wrote:

# | HUC8
-- | --
1 | Truckee
2 | North Fork Feather
3 | East Branch North Fork Feath

[2018-05-26 21:08] joewheaton commented on #58
Update... after Sagehen
@wally-mac and @bangen we should start to get some example summary reports with BRAT outputs for these and maybe even some Adaptive Beaver Management Plans, Restoration Plans, Restoration Designs. I remember discussing:
- Child's Meadow (Kristen TNC site up near Lassen)
- Sagehen Creek (Just because we were there)
- Scott River
- 1- 3 Sites in Terminal Lakes (might as well

[2018-05-26 21:19] joewheaton opened #59 "TNC Sagehen Workshop"
We need to invite the participants from the Sagehen workshop to GitHub that expressed interest in:
- Participating in development
- Participating in Data Capture (both BRAT & Beaver Dams)

As a reminder here are the participants:
![image002](https://user-images.githubusercontent.com/9723905/40580187-f1a963ce-60f6-11e8-8fbe-1d434c844761.png)

[2018-05-26 21:26] joewheaton commented on #57
@banderson1618 I really like how you're thinking critically about how the tool is working. Your timing is good as @bangen and @wally-mac are just discussing this. Ironically, I think that we actually want to go the opposite direction to what you're suggesting (i.e. add more steps instead of less). Your suggestion of streamlining steps makes sense if we stick with and assume there is a wizard like,

[2018-05-26 21:32] joewheaton opened #60 "'Alpha' Survey 123 Apps for Testing: Used at Sagehen"
- [BRAT - BASIC](https://survey123.arcgis.com/share/44f9c3e1c8744ff9a07d2e0c9f7f5173?open=menu)
- [BRAT - ADVANCED](https://survey123.arcgis.com/share/f1c37b80ba3f482fbadb38251c5d7a7f?open=menu)
- [Dam Complex - BASIC](https://survey123.arcgis.com/share/8c8660b01b234e639691aed53a9278ce?open=menu)
- [Dam Complex - ADVANCED](https://survey123.arcgis.com/share/1253dc28982f418d8cfc62b445066efb?open=me

[2018-05-26 21:32] #60 closed

[2018-05-26 21:35] #52 closed

[2018-05-26 21:48] joewheaton commented on #55
This would be a shapefile of type polygon. The question is whether we just use broad designations (e.g. Public, Private), more detailed (e.g. Public - USFS, Public - BLM, Tribes, Public - State, Private), or really detailed (e.g. every parcel).

Either way, the tasks are:
1. Figure out the source of data we will bring in.
2. Figure out where to house this in the pyBRAT Riverscapes Project (e.g. is

[2018-05-26 21:56] joewheaton opened #61 "Add Streamflow direction output layer for checking"
While in the field, @bangen noticed that the preliminary BRAT output (#54) was producing a bad over-prediction (by suggesting a flat slope of 0) in a reach that had a waterfall (i.e. [Eagle Falls](https://goo.gl/maps/ewTAih2HxHS2)). @bangen dug into this and found out that it was because the NHD  network had the flow direction wrong and reversed for that segment (i.e. flowing upstream) and the BRA

[2018-05-26 21:58] joewheaton opened #62 "Add error checking for streamflow direction..."
Related to #61, @bangen wants to tweak the code so that we anticipate and correct for streamflow directions in the network that are going the wrong way.

@bangen should update the code to look for this problem and change the logic.

[2018-05-26 22:03] joewheaton opened #63 "Network Typology Needed"
We really need to add some network typology to BRAT. We've run into problems with slope #61 and flow accumulation. We should really figure out what @MattReimer was doing with his [Network Profiler Tool](https://riverscapes.github.io/NetworkProfiler/) and use that. This is a rainy day project for @banderson1618, but should be something that @bangen is involved in.

[2018-05-26 22:09] joewheaton opened #64 "Should we calculate iVeg for River Right & River Left separately?"
So right now we use the 30 m and 100 m buffers and calculate the average for all the `iVeg` (e.g. `iVeg_VT30_ex` and `iVeg_VT100_ex`) from the classified veg raster.  It is very common that the river left and river right are very different.  We could rather easily add a `iVeg_VT30_ex_RR` for river right and `iVeg_VT30_ex_RL` for river left and then calculate the values for each, and then take the

[2018-05-26 22:10] joewheaton commented on #64
@bangen or @banderson1618 could you 'scope' this in the pyBRAT Development for how much time you think this would take. Also comment on whether you think it is a waste or necessary.

[2018-05-26 22:15] joewheaton opened #65 "Vegetation Calibration of DTL high Sierra"
During our field work in Upper Carson, we found the vegetation classification to be generally performing pretty well, but a few classes were problematic. It seemed that on the ground:
1. What was actually dwarf willow may be picked up as something else like grass (need to interrogate) and our `VEG_CODE` was under scoring this (it should be higher and is used).
2. Also, up high there was a lot of s

[2018-05-26 22:22] joewheaton opened #66 "Segment network by Roads"
While in the field in Sierras, we noticed we were doing Data Capture for verification very often from bridges and road crossings. We found ourselves doing separate validations for upstream and downstream. Therefore, we discussed it would be nice to add an  optional tool to workflow for further segmenting the network input to BRAT based on the input of a polyline road network layer. This would:
1.

[2018-05-26 22:27] joewheaton opened #67 "Add to Data Capture Apps a 'Reach Position' attribute"
For 'Advanced' Survey123 Apps, ... we realized in the field that we were constantly taking measurements from the side of a road, or a bridge (#66 ) . This brought up the issue that when getting a point, what reach were we looking at.  Can we please add to the Advanced forms a simple 'Position of Reach (relative to survey point)' field with the following options:
- Within Reach
- Upstream of Point

[2018-05-26 22:35] joewheaton commented on #60
@webernick79 - Just wanted you to know that the first version of the Apps worked great. We have a bunch of nit-picky changes we want to make. We will start cataloging those in this '[Data Capture Apps](https://github.com/Riverscapes/pyBRAT/projects/1)' project. Please don't work on these until you and @wally-mac and I chat and prioritize things. We'd like to build up a queue of issues first.

[2018-05-26 22:40] joewheaton commented on #56
It looks like this meadows layer is available [here](https://meadows.ucdavis.edu/meadows/map). It doesn't look like that inclues the Hydo-Geomorphic Meadows classification of [Wiexelmann etal](https://meadows.ucdavis.edu/resources/18026). We need to work with Tina Mark (USFS) and get this layer.

[2018-05-26 22:48] joewheaton opened #68 "Re-Thinking Labels and Symbology"
In the Sagehen Workshop #59, we discussed some sensitivities to some of the naming and labels and symbology. For example, Kate Lundquist was not a fan of the 'Conflict Potential' name. Rodd Kelsey (TNC) has a bunch of experience in packaging these types of outputs and workiing on the naming semantics and cartography. @wally-mac and I will work with him on this.

In meantime, @bangen can you please

[2018-05-26 22:58] joewheaton opened #69 "Re-thinking Conflict as a primary Output"
In response to #59 and #68, @bangen and @wally-mac and I discussed:
1. Ditching the probability of human-beaver conflict as a primary output
2. Getting rid of probability concept and calculation altogether
3. Burying this information as specific 'Intermediate' outputs
4. Changing 'Conflict' label of folder in inputs to 'Infrastructure' or something like that
5. Getting rid of idea of a combined 'c

[2018-05-26 23:00] joewheaton commented on #16
See also #69

[2018-05-28 16:31] banderson1618 commented on #64
ArcGIS doesn't have a great way to automate splitting a polygon by a polyline, to my knowledge. The closest that it has is the [Feature to Polygon](http://pro.arcgis.com/en/pro-app/tool-reference/data-management/feature-to-polygon.htm) tool, but I think that the overlapping buffers would create a new polygon where they overlap at the end of each line. Obviously, that isn't what we want for the too

[2018-05-28 16:40] banderson1618 commented on #66
That should be pretty quick to do. I'd say I can do it in a day, maybe up to two if there's unexpected problems.

I can split the stream network by a given polyline input, and I can create points for intersections (I think, based on some quick research I did just now), but I don't know a good way to identify a value for `CrossingType`. Maybe we allow the user to give a default value for `CrossingT

[2018-05-28 16:52] banderson1618 commented on #61
I've never worked with a flow direction symbology. I can probably figure it out eventually, but it'd be helpful if either @joewheaton or @bangen gave me a base layer package. If I can get that, it should be trivial to add.

[2018-05-29 16:33] webernick79 opened #70 "Survey123 App Development File Storage/Sharing"
@joewheaton and @wally-mac , I can make all of the input files used to develop the Survey123 apps available to others. This would allow folks in your lab to import them into Survey123 Connect Desktop, edit them, and use them on other projects. Where would be the place for sharing these? Git? Box?

[2018-05-29 20:14] joewheaton commented on #56
Just an update from Tina Mark:

So end of the week @bangen

[2018-05-30 02:05] joewheaton opened #71 "What Dan Presented"
Dan presented what he saw as some ideas for using beaver as an example of something that could help Google meet its water sustainability and conservation goals through stewardship. While the sustainability goals were more aligned with the Operations side of Google, he was keen in using beaver as a conservation/restoration example that could also dovetail with some of what Google can do on the prod

[2018-05-30 15:51] joewheaton commented on #58
Also.... [Kate](https://oaec.org/about-us/staff/kate-lundquist/) @[OAEC](https://oaec.org/) and I discussed maybe even doing a pilot in and around Sonoma/Marin area as they have a bunch of monitoring data there and ongoing projects.... Kate?

[2018-05-30 16:02] joewheaton commented on #70
This sounds really good. Can you do a little demo of this with the data we just collected? I think we either want to house these on Box (with either a public or password access) or maybe even on our USU ArcGIS Online stuff. We don't want to do this on GIT (not a place for data). What is the process and how laborious? Maybe record a little tutorial?

[2018-05-30 16:04] joewheaton commented on #55
@bangen, can you please help @banderson1618 with getting him some data on this to play with and even doing a manual workflow first to show it works?

[2018-05-30 20:05] wally-mac opened #72 "Gross Summary Table: Existing and Historic Capacity"
@joewheaton, I'm having some troubles recreating the Gross Summary tables for existing and historic capacity estimates.  My questions are in video format found [here](https://youtu.be/hylMkzIOws0).  This is time sensitive.  Thanks!

[2018-05-30 21:13] bangen commented on #55
@joewheaton, in regards to the above tasks you laid out:

1.  @wally-mac What sources have you typically used for capturing ownership?  One of of your slides from the Sagehen meeting had an ownership map.  Since we want to be consistent across projects, if there's an ownership source used for another model (e.g., RCAT) let's go with that.

2. In my opinion, if we're using something to create a fie

[2018-05-30 22:07] wally-mac commented on #55
@bangen, we use BLM Land Status layers for ownership.  As for segment length I think we try not to have too short of segments but if it happens it happens and then if a dam falls on a short segment we are going to have to state the overinflation of observed dam densities.  For now let's just see how things end up segmenting out and then decide if and how to deal with it down the road.

[2018-05-30 22:27] webernick79 commented on #70
@joewheaton It's no trouble at all. I'll do this tomorrow if you have a place for this stuff to live - I can also do a short video tutorial on import the forms (although it's really easy)

@wally-mac and @bangen Looks like you all got around doing BRAT assessments in CA. Data looks good, we need to discuss where this stuff goes, and we will can use the output to better refine our data collection f

[2018-05-30 22:44] wally-mac commented on #70
@webernick79, yes we did get around. Thanks to your awesome form!  @bangen is the queen of data  organization so Sara can you please make a home for this on Box and coordinate with Nick?  Thanks!

[2018-05-30 22:56] webernick79 commented on #70
@joewheaton , @wally-mac , and @bangen here is a link to a web map created from your survey: https://arcg.is/1CXnX4

I think it's public, so you should be able to export, edit, etc...(I think)

Also, from looking at the attribute data there is obviously a lot of room for refinement. I'm more than happy to edit, but I'm also pretty slammed -it may make more sense for us to get somebody else in your

[2018-05-31 14:41] chadFHC commented on #70
Okay

[2018-05-31 18:23] joewheaton commented on #32
Just illustratintg

[2018-05-31 18:23] joewheaton commented on #32
Closing back up.

[2018-05-31 18:23] #32 closed

[2018-05-31 19:56] wally-mac commented on #72
I figured this out.  The field to use is mCC_Ex_Ct (a product of oCC_EX and segment length (dam counts.

[2018-05-31 19:56] #72 closed

[2018-05-31 21:27] wally-mac opened #73 "Development of short video tutorials for existing Survey123 forms"
@webernick79, can you please make time to develop some short YouTube video tutorials on how to use the Survey123 forms that you generated?

Shana Gross a USFS manager on the Lake Tahoe Basin Management Unit, says she’ll ask the stream biologists to conduct the BRAT basic form. Also, Kristen Wilson found a couple of other people, one on the Modoc Plateau and one on Tahoe National Forest willing to

[2018-05-31 21:30] webernick79 commented on #73
@wally-mac I can do this tomorrow. Hit me up tomorrow with any immediate changes in the forms or data you would like to see. Also, I'll give the attribute tables a good look and make sure the data coming in looks reasonable for analysis, etc......

[2018-05-31 21:31] wally-mac commented on #70
@webernick79, it is so awesome to see all these data up on a map.  I shared this in our staff meeting today and people were very impressed.  Way-to-go!

[2018-05-31 21:32] webernick79 commented on #70
Yeah @wally-mac the real beauty in this stuff is that when you get home to your desktop a map is just there waiting!

[2018-05-31 21:33] wally-mac commented on #73
Okay, sounds good @bangen and I will put our heads together tomorrow and come up with a short list of changes. Thanks.

[2018-05-31 22:06] wally-mac opened #74 "Beaver Dam Censusing - Desktop Web App"
@webernick79 this is a request to develop a form that will allow users to collect dam location data in ESRI Web App. This is very similar to the #32 but is focused on ESRI Web App in the context of having an internet connection. The idea here is that it would provide an alternative to Google Earth. If you don't have time to do this @chadFHC and @banderson1618 can help out. Similar to the other awe

[2018-05-31 22:20] webernick79 commented on #74
@wally-mac and @bangen, OK. Arc Explorer is the mobile app. I think we are talking an ESRI Web App, used on the desktop. For sure...I think this could be really sweet, and like you said, totally blow away the use of google earth. Data will flow straight into standard Arc formats.

I'll try putting together a prototype this weekend, and totally look into options for recording the imagery source and

[2018-05-31 22:35] wally-mac commented on #74
@webernick79 you are correct. I'll edit the ticket.  And thank you for your willingness to jump on it!

[2018-06-01 14:31] chadFHC commented on #74
This would save so much time.

[2018-06-01 16:33] bangen commented on #70
@webernick79 here's [a folder on Box](https://usu.box.com/s/vic0j634brytquyehmzj6u6cutyntkfv) to dump the data into.  I'll separate it out into specific basins on an as needed basis.  Holler if you don't have access.

[2018-06-01 16:37] bangen commented on #74
That all sounds good to me.

As far as the 4 additional data pieces Wally suggested (known conflict areas, BDA locations, beaver translocation areas, sensitive infrastructure) from an analyses standpoint these should be separate feature classes.  Thoughts?

[2018-06-01 17:44] bangen commented on #55
Based on what @wally-mac has used for previous projects I grabbed the [BLM National Surface Mangement Agency](https://catalog.data.gov/dataset/blm-national-surface-management-agency-area-polygons) layer which we will use as our Ownership shapefile.  **NOTE:** This layer does not have individual parcels.  So while we'll be able to identify breaks in ownership type (e.g., USFS vs private) we will no

[2018-06-01 18:08] bangen commented on #56
I still need to run the intersect analysis, but the meadows dataset is up on Box [here](https://usu.box.com/s/h2zxbhplxvn1t4nedg0om3imfi05iz4v).

[2018-06-01 18:26] #45 closed

[2018-06-01 18:41] wally-mac commented on #74
I think so.

[2018-06-02 04:34] wally-mac commented on #23
I like the more thorough approach.

[2018-06-02 16:11] wally-mac commented on #55
Nice wok Sara and yes I think we should have Braden turn this code back on.

[2018-06-04 00:28] webernick79 commented on #74
Hey @wally-mac and @bangen

Put some time into this effort here and there this weekend. Bottom line is yes, we should be able to set up a web app that has the functionality we are looking for:

 - Add new features to separate feature layers
 - easy drop down data entry and editing for attributes
 -  choose your web-service provider for basemap imagery i.e. we can specify and record what imagery is

[2018-06-04 16:30] bangen commented on #55
I'm re-opening the issue until we have this coded up and working.

@banderson1618 I wasn't envisioning the script to have hard-coded parameters.  It should be written in a way that can be run in batch mode.  Whether that's just a standalone *.py script or a toolbox is up to you.  For now, let's not produce a 'SupportingTools' toolbox to house all of the supporting tools scripts.  That's something

[2018-06-04 17:57] wally-mac commented on #74
Thanks for the update. Continue to keep us posted.

On Sun, Jun 3, 2018 at 6:28 PM Nick Weber <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-06-04 18:06] webernick79 commented on #74
For sure,

@wally-mac , here's a census web app. Pretty simple

http://nick-weber.maps.arcgis.com/apps/View/index.html?appid=70645e6a29fe458b9d8fa6a5e030b48f

[2018-06-04 18:17] Albonicomt opened #75 "Rock Creek in Big Wood Vegetation Classification: Under predicting Capacity"
As it was brought up in our staff meeting on May 31, 2018. The preliminary BRAT run in Big Wood was under predicting Capacity in Rock Creek. @sshahverdian, do you have any further input or instruction on this issue?

**Possible issues/solutions as suggested by Joe :** (@joewheaton and/or @wally-mac, Please correct if I am wrong)
- LANDFIRE recovery Classifications were off
-  Need to bump up VegCo

[2018-06-04 18:23] bangen commented on #75
When you say 'under predicting capacity', was that dam capacity from the 'vegFIS' model or the 'combFIS' model?  If it's an issue with 'vegFIS' model output it points to the Landfire veg code being off.  If it's an issue with the 'combFIS' model it points to an issue with the rules.

[2018-06-04 18:38] Albonicomt commented on #75
@bangen, I am not completely sure, but that is a great clarifying question. Unfortunately, I did not have more detail in my notes from the meeting.

[2018-06-04 19:00] wally-mac commented on #75
It was the vegFIS that was causing the under predictions (LANDFIRE
classification).

On Mon, Jun 4, 2018 at 12:23 PM bangen <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-06-04 20:40] wally-mac commented on #75
Joe mentioned in the meeting that he thought it was a “developed class”
that was under predicting capacity.

On Mon, Jun 4, 2018 at 12:45 PM Wally Macfarlane <wally.macfarlane@gmail.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-06-04 20:49] bangen opened #76 "Combined FIS Model Rules"
@wally-mac When we were in the field we noticed that some of the rules in the combined FIS were't behaving the way we had anticipated.  I did some digging into the rules and there are several I think we should change.  At present, the main issue is inconsistency in the model logic between rules where vegetation dam density is 'frequent' vs 'pervasive'.  I put together a Google spreadsheet that I'l

[2018-06-04 21:04] webernick79 commented on #74
Hey @wally-mac  @bangen and @joewheaton  here is a short video with some examples for using the web app to do a beaver feature census. https://youtu.be/I2bbafb8kxE

Sorry, the video is so long.

Also, here is the web app you can give a try: http://nick-weber.maps.arcgis.com/apps/View/index.html?appid=70645e6a29fe458b9d8fa6a5e030b48f

If this looks like it would work better than your current workfl

[2018-06-04 21:19] wally-mac commented on #74
@chadFHC please take this for a "test drive" and provide @webernick79 your feedback.  Thank you

[2018-06-04 21:21] wally-mac commented on #74
@chadFHC also please use the video tutorial that is provided.

[2018-06-04 21:22] chadFHC commented on #74
Will do.

[2018-06-05 14:39] chadFHC commented on #74
@webernick79 @wally-mac
This format looks like it would save a ton of time. I like the option of using ArcGIS Online directly and being able to symbolize the different features. I think this would be a great alternative to the way we are currently counting dams.

[2018-06-05 15:36] Albonicomt commented on #75
@bangen, these are the regression equations used for Bigwood.

![bigwood_regression_q2](https://user-images.githubusercontent.com/39168968/40986486-8c88a55e-68a3-11e8-9254-033387b76871.png)
![bigwood_regression_qlow](https://user-images.githubusercontent.com/39168968/40986487-8cef372e-68a3-11e8-9def-8ce0da7620a5.png)

[2018-06-05 15:40] webernick79 commented on #74
Sounds good @chadFHC and @wally-mac 👍

Chad, I think this is totally something you can cook up yourself and get your people rolling with. Key components would be:

- Create a web map in Arc GIS online, this might be a separate web map for each watershed being censused?

- Add a "Layer from the Web" as a basemap, this can be any imagery hosted as a web service. This allows imagery used for the cens

[2018-06-05 15:54] chadFHC commented on #74
@webernick79 @wally-mac
Thanks, Nick. I will start working on some of those this afternoon to see if I can figure it out. If I need any extra help I'll let ya know!

[2018-06-05 17:11] bangen commented on #75
@Albonicomt can you please send the parameter values?  Thanks!

[2018-06-05 17:24] Albonicomt commented on #75
@bangen I believe Matt Meier had run BRAT on Big Wood, So I will contact him and get those Parameter values for you. Stand by...

[2018-06-05 17:32] bangen commented on #61
@banderson1618 I just added the flow direction symbology layer file to the 'BRATSymbology' folder (commit 90ed8c1)

[2018-06-05 17:52] bangen commented on #69
@wally-mac @joewheaton I really like this idea.  Just to clarify, you're suggesting getting rid of everything related to the conflict model but still calculating the the distance from the layers listed in point 7 above, correct?

I think this is a good move considering we're no longer using conflict in the management model, several partners are concerned with the terminology, and it allows us to b

[2018-06-06 16:06] chadFHC commented on #74
@webernick79
This is really slick. I was wondering if you could just walk me through how to add the basemap using the "Layer from the Web" as the source. I've never done that before, but I'm sure it's pretty simple. Thanks!

[2018-06-06 16:49] chadFHC commented on #74
@webernick79
Hey Nick, I don't mean to keep bothering you, but I am somewhat new to ArcGIS Online. Could you briefly go over just adding the survey to a map and then creating the actual webapp?

[2018-06-06 16:54] webernick79 commented on #74
For sure @chadFHC , believe me, this stuff is super frustrating. Wanna do a GoTo. I think if I made a video it would end up being too long and too many gb.

How's 11:30 sound for a goto meeting and I'll walk you through a bunch?

meeting link:
https://global.gotomeeting.com/join/325743797

[2018-06-06 16:56] chadFHC commented on #74
@webernick79 Sounds good.

[2018-06-06 23:04] sshahverdian commented on #75
@Albonicomt @wally-mac What @joewheaton mentioned was that there is a particular Landfire EVT value that lists as 'developed' that shouldn't be. The pixel value is 3923, classname is Western Cool Temperate Developed Ruderal Shrubland, EVT_SBCLS is Mixed evergreen-deciduous shrubland. It is currently given a VEG_CODE of 1, and I think he was thinking that the fact that it was developed meant that t

[2018-06-06 23:53] bangen opened #77 "Smooth DA Values"
Due to horizontal alignment issues between the NHD flowlines and NED 10 m DEM, the drainage area (DA) values attributed to each BRAT reach can be erroneous.  This is particularly glaring in instances where the DA value dramatically decreases in the DS direction.

As example of this is shown in the figure below for Steamboat Creek where the flow direction is from bottom left to top right.

![captur

[2018-06-07 00:02] bangen commented on #76
@joewheaton Wally and I feel confident about implementing the potential changes I flagged.  I'm going to go ahead and close this issue and get in touch with Weber about updating the logic in Surve123.

[2018-06-07 00:02] #76 closed

[2018-06-07 00:18] bangen opened #78 "BRAT- cIS (Capacity Inference System) Rule Changes"
@webernick79 When @wally-mac, @joewheaton and I were out in the field we realized some of the rules weren't behaving as intended.  We did some digging and found that some of the rules were missing from the paper form (and likely the Survey123 app).  We also made some tweaks to the capacity output category for several of the rules in the combined capacity model.

Long story short, these changes nee

[2018-06-07 16:30] Albonicomt opened #79 "BRAT Run for Middle Bear Step 6 issue"
I have been running BRAT for the Middle Bear watershed in Idaho and I keep getting this error message for Step 6 in the BRAT tool:
![brat_step6_error](https://user-images.githubusercontent.com/39168968/41112951-9da9a464-6a3d-11e8-97a0-1ecb7e4b6020.png)
@bangen @MatthewMeier @banderson1618 , do either of you guys have any suggestions?

[2018-06-07 16:54] MatthewMeier commented on #79
Sounds to me like you might be having an issue with the xml not being updated. I would try closing arc and rerunning it again. If that doesn't work something that you can look at is if your inputs for the tool specifically the veg code or code fields do not have correct values in it or if it is missing any.

[2018-06-07 16:57] Albonicomt commented on #79
I did try the old trick of closing arc and opening it up again... I will look into the VegCode and Code fields and restart Arc. Thanks @MatthewMeier

[2018-06-07 17:10] MatthewMeier commented on #79
This error can be a bit frustrating but some other things that I would try is that step five did not run correctly and so you need to rerun that and then move and and it will work.

[2018-06-07 18:58] bangen commented on #79
@Albonicomt I just put up a new release (version 3.0.10) that may fix the issue you're running into.  I've run into the xml error before, but I believe it's at the end of the code after all the major geo-processing.  So, unless the xml is imperative to your deliverables you can ignore it and proceed (i.e., all the key attributes should be populated).

[2018-06-07 19:01] Albonicomt commented on #79
Oh right on, thanks a bunch @bangen !

[2018-06-07 19:23] bangen commented on #75
Wally and I chatted about this earlier today and moving forward everyone should be implementing these changes using the **'EVT_GP_N'** field:

**Developed-Upland Deciduous Forest** - VEG_CODE 3
**Developed-Upland Mixed Forest** - VEG_CODE 2
**Developed-Upland Evergreen Forest** - VEG_CODE 2
**Developed-Upland Herbaceous** - VEG_CODE 1
**Developed-Upland Shrubland** - VEG_CODE 1

We also need to be

[2018-06-07 19:28] bangen opened #80 "Changes to Developed Vegetated Landfire VEG_CODE"
Including this here since it's currently buried in issue #75

Wally and I chatted about this earlier today and moving forward everyone should be implementing these changes using the **'EVT_GP_N'** field:

**Developed-Upland Deciduous Forest** - VEG_CODE 3
**Developed-Upland Mixed Forest** - VEG_CODE 2
**Developed-Upland Evergreen Forest** - VEG_CODE 2
**Developed-Upland Herbaceous** - VEG_CODE 1
*

[2018-06-07 19:31] bangen commented on #80
Tagging people who are currently working on projects and need to be aware of this.  Feel free to tag anyone who was left out @sshahverdian @wally-mac @Albonicomt @MatthewMeier @joewheaton

[2018-06-07 19:31] #80 closed

[2018-06-07 19:32] banderson1618 opened #81 "Running the Project Builder with a layer package on the map seems to crash the tool"
I attempted to run the Project Builder while having a layer package in the table of contents of the map. Unfortunately, I kept running into the error pictured below.

![projecterror](https://user-images.githubusercontent.com/21353496/41121682-6434dc4e-6a56-11e8-97bd-222096d226c0.PNG)

Eventually, I tried removing the layer package that was in the Table of Contents for my map. After that, I didn't

[2018-06-07 21:20] banderson1618 commented on #77
Quick question, @bangen: should we check the DA values for all the streams, or just for the named ones? I think I remember that being discussed in our GoTo meeting yesterday, but I just wanted to clarify.

[2018-06-07 21:49] wally-mac commented on #77
All streams.

[2018-06-11 13:37] MatthewMeier opened #82 "VEG_CODE and CODE guide for EVT and BPS land fire"
Hi Folks,
I have been putting together a list of the VEG_CODE and CODE  for EVT and BPS land fire within this excel spreadsheet. This list comes from some of the work that Sara has done for the TNC project, Big and Little Wood, the Yakama Project, North Burnt, and the work that Josh G. has done before in his notes on box. I know there are some adjustments that need to be made but I use this to spe

[2018-06-11 16:39] #57 closed

[2018-06-11 16:45] bangen commented on #77
Just ran this for the Truckee and it appears to be working as intended.  Awesome job @banderson1618 !!

[2018-06-11 16:49] banderson1618 commented on #77
Great! I'll close the issue, unless someone else objects.

[2018-06-11 16:49] #77 closed

[2018-06-11 18:15] #61 closed

[2018-06-11 18:17] wally-mac commented on #82
Thanks Matt.  @bangen  can you please fold this into the work you and I have done on the EVT codes?  Thanks

[2018-06-11 19:50] bangen opened #83 "Braid Handler Not Assigning Correct DA"
@banderson1618 please check out [this video](https://youtu.be/cIZV2gH9B9s)

From what I can gather the braid handler tool isn't assigning the correct DA value.  It appears to be assigning the max DA value for the entire cluster, regardless of whether the user has gone in and changed the 'IsBraided' field to '0' for several of the polylines.

[2018-06-11 20:10] banderson1618 commented on #83
Changes are pushed, let me know if it works.

[2018-06-12 16:14] bangen commented on #83
It's working.  Thanks for the fix.

[2018-06-12 16:14] #83 closed

[2018-06-12 17:24] banderson1618 commented on #55
@bangen, I'm having some problems getting the SegmentNetwork tool to run. I keep running into the following error:
[code]
I think it's a problem with the SQL query, but I'm not sure, and nothing I've done with it has changed anything. Any advice on how to deal with this? I'm using the network for the Truckee, and I'm not sure if it's an input problem.

[2018-06-12 18:21] bangen commented on #55
@banderson1618 are you using the 'NHDFlowline.shp' as the input?  The quer is searching for an FCODE.

[2018-06-12 18:28] bangen commented on #55
All of the 'NHD_24k_300mReaches.shp' feature classes have already been segmented.  To test running the tool you should use the NHD flowlines shapefile ('NHDFlowline.shp').  For each basin, these can be found in the 'NHD' folder.  Here's[ a link](https://usu.box.com/s/hj3skdbooi23t10kxp76mwga52yi0h8z) for the Truckee.

[2018-06-12 18:34] banderson1618 commented on #55
That seemed to work, thanks!

[2018-06-12 20:44] banderson1618 commented on #55
I've been thinking about this issue for a while, and I don't think I have a very clear idea about what we're looking for. It might be worthwhile to set up a GoTo meeting to talk about this, or to talk about this whenever the next staff meeting is. @bangen, @wally-mac, @joewheaton, what do you think?

[2018-06-12 20:55] wally-mac commented on #55
Sounds good. Let's figure out a time that works for everyone.

[2018-06-12 20:59] banderson1618 commented on #55
I'm available any time from 9-5 on work days, so I'm fairly flexible.

[2018-06-12 21:55] banderson1618 commented on #81
@Albonicomt, can you email me a zip file with the whole project in it? It'd help me see if there's something funky with how your project folders were generated. My guess is the Conservation Restoration input was somewhere that it wasn't supposed to be, but I can't say for sure just from the error message.

[2018-06-12 21:57] Albonicomt commented on #81
I was trying it for the MiddleBear @banderson1618. Here is the folder on Box: https://usu.box.com/s/bmm4nfh2yk1aklxr48f734xrv41br6c8

[2018-06-12 22:06] banderson1618 commented on #81
The layer package generator assumes that the input is in the new folder structure (changes were discussed in Issue #45), so it breaks if you try to run it in the old structure. You could try to revise the structure to fit in with the new folder structure, but it's probably easier to just make it from scratch, to be honest. Sorry that I don't have an easy answer for you, man.

[2018-06-12 22:08] Albonicomt commented on #81
Oh ok, no worres @banderson1618. I will remember that for next time. Thanks!

[2018-06-13 18:21] wally-mac commented on #78
@webernick79 and @bangen I talked to Joe this morning and he wants/needs the Survey123 Form updated as Sara indicates above ASAP. I think we needs them for the Hailey workshop on June 20th. Also, Sara have you are can you please update the associated paper forms?  Let's make these a priority.  Thanks a ton!

[2018-06-13 18:45] webernick79 commented on #78
@wally-mac and @bangen , sorry this got away from me, I'm on it today.

n

[2018-06-13 19:51] bangen opened #84 "BRAT Layer Package As Step 10"
Right now the layer package is part of the 'Summary Report' tool.  IMO, this should be pulled out into its own step.

[2018-06-13 19:54] bangen commented on #84
Also, currently the beaver dam shapefile is optional, but the validation output is required.  If we split the beaver dam validation and layer package into separate steps (as I'm recommending) then all relevant arguments will be required.  @banderson1618 if you decide it's best to retain these in a single step/tool make the output validation shapefile argument optional.

[2018-06-13 19:55] bangen commented on #84
Just to clarify further, the reason I'm flagging the above is bc I simply want to make a layer package and don't have any validation data.  So if there's something I'm missing (i.e., there's a way to do this) let me know.

[2018-06-13 20:18] bangen commented on #78
@wally-mac I'll start working on the paper form updates

[2018-06-13 20:48] banderson1618 commented on #84
Regardless of whether or not you have beaver dam data, you should run the Summary Report, because it creates fields that aren't based on beaver dam data. The fields that it makes here are the basis of two of the layers that go into the layer package (the "Conflict_Potential" layer and the "Beaver_Management_Zones" layer).

If you wanted, we can move the creation of those fields and layers to Step

[2018-06-13 20:50] banderson1618 commented on #84
Also, we can move the layer package generator to its own tool. It shouldn't be hard at all, with how I've structured the code. I'm working on a thorny issue right now, but when I wrap that up, it shouldn't take long.

[2018-06-13 21:17] webernick79 commented on #78
Hey @bangen  - so it's this sheet, and the CombFIS RulesWithTrumps tab:

https://docs.google.com/spreadsheets/d/15iImNpazHkgsZblwBck4kcbp72rMHI78UnVmisR3Uzk/edit?ts=5b187582#gid=1527294298

Form and logic should match that correct? and incorporate the updates in column "Capacity Changes"

[2018-06-13 21:31] webernick79 commented on #78
Hey @bangen and @wally-mac  For your trip to CA, is this map the actual data that needs to be kept and analyzed. Collected using the Advanced BRAT Form:
 http://nick-weber.maps.arcgis.com/home/webmap/viewer.html?webmap=e7e97066319443a19915cb7c913d0820

Was there anything else of importance collected using the other forms?

[2018-06-13 21:33] wally-mac commented on #78
YES! All data that was collect on all forms is real and need to be saved.  Thanks for asking!

[2018-06-13 22:03] #70 closed

[2018-06-14 18:04] banderson1618 commented on #84
@bangen, let me know what you think, I'd like to get your input before I change the code.

[2018-06-14 18:16] bangen commented on #78
Hey @webernick79 to make things a little clearer I revised the Google spreadsheet I shared so it just has the 2 tabs: 1 for the combinedFIS and one for the vegFIS.  I also added the paper field form number since it's no always the same as what we have in the python code.  Thought this would make it easier for you to make your edits.

[2018-06-14 18:18] webernick79 commented on #78
Right @bangen I'm just testing out the logic in the survey, I'll send to you to have a look at in a bit.

[2018-06-14 19:44] webernick79 commented on #78
Hey @wally-mac and @bangen , looks like things are straightened out with the capacity logic. Thanks for the updates Sara.

Here is the [latest BRAT Advanced App for Survey123](https://arcg.is/1nOfm90) Sara, do you wanna give it a look and let me know if things need changing.

Also, here's a download of the [Truckee Validation Data](https://usu.box.com/s/4jqif0fseqjx5tyunuande87v8pic3bn) It would a

[2018-06-14 19:45] webernick79 commented on #78
Also, @bangen and @wally-mac is anyone going to be using these forms anytime soon. When people use this data it will be best to create a new instance of the survey so that the data flows into its own layer. Will save us a lot of headache downstream.

[2018-06-14 19:55] webernick79 commented on #78
@bangen Here are the tables I used to build the logic expressions:

[BRAT_Survey123_Logic_20180714.xlsx](https://github.com/Riverscapes/pyBRAT/files/2103812/BRAT_Survey123_Logic_20180714.xlsx)

[2018-06-14 19:59] bangen commented on #69
In addition to Joe's point 7 above, @wally-mac had good suggestion of also calculating distance from:

- Railroad-Stream Crossings
     - Not limited to valley bottom
- Canal-Stream Crossings (any, even outside the valley bottom)
     - Not limited to valley bottom
     - Note: require removing canals from entire network and then running intersection with canals polylines.  These are most likely p

[2018-06-14 22:55] banderson1618 opened #85 "The Layer Package Generator has been split off into its own tool"
This should make it easier and clearer to use.

[2018-06-15 15:29] MatthewMeier commented on #82
I uploaded this file to box and Mic has been editing it as well for future classifications. the document can be found [here](https://usu.box.com/s/jsm3nmwckr74rmklb4f7heh10hnvtouz).

[2018-06-15 17:18] banderson1618 commented on #66
I'm low on tasks right now, so I'm taking a look at this issue right now.

My thinking is that this would be best implemented as a checkbox in the BRAT Table tool, something like "Check to segment network by roads". @wally-mac, @bangen, @joewheaton, does this sound good to you? I won't push any changes until I get feedback on this, but I'll start implementing it on my local repository.

[2018-06-15 17:32] wally-mac commented on #66
Yes, I like this idea of a check box, I think the same approach could be used for the land ownership.

[2018-06-15 20:53] banderson1618 opened #86 "BRAT Table tool sometimes crashes ArcGIS when adding iPC attributes"
Every once in a while, when running the BRAT Table tool, ArcGIS crashes. It's fairly rare, but persistant. I've done my best to identify the cause. The only common link that I've found is that when it crashes, a file in the "Temp" folder has four lock files for some reason. Something strange is going on with that, but I can't identify what.

Logging off and logging back in is a doable workaround,

[2018-06-15 21:50] #84 closed

[2018-06-15 22:28] wally-mac commented on #74
Thanks Nick and Chad we now have a working version that is already saving time!  I'm closing this issue.

[2018-06-15 22:28] #74 closed

[2018-06-15 22:30] wally-mac commented on #85
Great idea.  How is this coming along?

[2018-06-15 22:31] wally-mac commented on #79
Can we close this issue?

[2018-06-15 22:36] banderson1618 commented on #85
This is already in the code, I just forgot to close the issue. Thanks for the reminder!

[2018-06-17 17:40] joewheaton opened #87 "Are we outputting as part of layer package, individual euclidean distance calculations?"
In #20, we show the intermediate output of distance to railroad. We should have a pre-defined symbology and legend for this, and the layer package should be spitting this out. I really like Mic's conflict layer outputs:
![1](https://user-images.githubusercontent.com/9723905/41510422-8c8497b6-7221-11e8-94b2-e22742434093.png)
This shows the inputs use to drive some of the conflict layers (valley bot

[2018-06-17 17:46] joewheaton commented on #85
Nice one @banderson1618. Before closing this, we should make sure there is a *.md documentation page on this command. It should minimally have a description of command, what are required vs. optional inputs, what paramaters, and description of outputs. Ideally, it also has a short YouTube video with its documentation. When this issue is closed, provide link to that page. @wally-mac, this doesn't m

[2018-06-17 17:49] joewheaton commented on #84
I DON'T think we should label this as Step 10, unless it is in the 'typical BRAT workflow' steps: http://brat.riverscapes.xyz/Documentation/Tutorials/StepByStep/. Please recall #57 discussion...

[2018-06-17 17:51] joewheaton commented on #66
Agreed on checkbox. @wally-mac can you assign someone other than @banderson1618 to test this and report their findings. Then close if its working like we want...

[2018-06-17 17:52] joewheaton commented on #82
This is cool. Once you guys get this where you want it, make a public link and post it in help documentation somewhere.

[2018-06-17 18:01] joewheaton commented on #69
Sort of @bangen. I don't think we want to have an output anymore that draws attention to some amorphous concept of 'probability of human-beaver conflict'. I think we still use this to inform the management model, but we just sort of bury the user in a bunch of intermediate outputs that are much more specific to what our logic actually is and the calculations we make (e.g. show distances, and symbo

[2018-06-17 18:06] wally-mac commented on #66
@Albonicomt next time you run BRAT can you please test this out (see above) and report your findings? Thanks

[2018-06-17 18:08] joewheaton commented on #73
Once @webernick79 posts a few videos here, @wally-mac can you have someone add them to documentation md pages under here: http://brat.riverscapes.xyz/Documentation/FieldApp/ ?

Thanks!

[2018-06-17 18:12] wally-mac commented on #73
@chadFHC once @webernick79 has these videos can you please dd them to documentation md pages under here: http://brat.riverscapes.xyz/Documentation/FieldApp/ ?

Thanks!

[2018-06-17 18:12] joewheaton commented on #37
Hi @bangen. My initial impression is we don't want a new valley bottom tool at this point, even though what you did here could be better. It doesn't surprise me that it works well in the mainstems (but Jordan's VBET is not that bad), and that this approach falls apart. Please don't work on this anymore at this point. There are good ideas here, but nothing that is a priority right now (in my opinio

[2018-06-17 18:13] joewheaton commented on #37
@wally-mac I'm removing the analysis label, as I think this is getting done without these changes.

[2018-06-17 18:13] joewheaton commented on #37
This is a potential future enhancement.... Shelved for now.

[2018-06-17 18:16] joewheaton commented on #17
Where are we at with this? It seems like the enhancement has been made? Should we close this for now? If it needs refinement, lets start new threads.

[2018-06-17 18:16] #17 closed

[2018-06-17 18:19] joewheaton opened #88 "Please scope time..."
@bangen and @banderson1618 can you please both go to the https://github.com/Riverscapes/pyBRAT/projects/8#card-10085733 pyBRAT Development Project and drag all the issues in the 'Not Scoped' list to the appropriate list based on how long you think they would take. Also, maybe flag up who is capable of doing them between you two in some comments. Then @wally-mac and I can assign them to individuals

[2018-06-17 18:20] #39 closed

[2018-06-17 18:21] wally-mac commented on #87
I like what you have come up with here @joewheaton, and I suggest the next step is to have @Albonicomt give these ideas a test drive.  Mic can you give this a try and report back?

Thanks!

[2018-06-17 18:21] joewheaton commented on #15
Not sure @bangen... Lets scope this #88 but then @wally-mac and I can shelve it.

[2018-06-17 18:28] joewheaton commented on #75
Is this something that is really just a 'calibration' issue specific to the Idaho BRAT for the TNC workshop? If so, it seems like it can be closed?

[2018-06-17 18:32] wally-mac commented on #17
I'm fine with closing it and I agree that refinements can be addressed in a new thread.

[2018-06-17 18:32] joewheaton commented on #64
Agreed @bangen. This is a good idea if asked for. Lets shelve it.

[2018-06-17 18:32] #64 closed

[2018-06-17 18:36] joewheaton commented on #61
Can either @banderson1618 or @bangen please add a help documentation page on this and example cartographic output?

[2018-06-17 18:36] wally-mac commented on #15
This is also important for the John Day BRAT project.  I'm having @MatthewMeier and @banderson1618 scope this.

[2018-06-17 18:38] wally-mac commented on #75
I think it is.  It is now closed.

[2018-06-17 18:38] #75 closed

[2018-06-17 18:54] webernick79 commented on #73
Hey guys,

I can do this, but it's gonna be tough for me to get these things done today or tomorrow. Let's chat about this when I see you guys on Tuesday.

[2018-06-17 19:27] wally-mac commented on #73
Understood.  Yes, let's chat about it.

[2018-06-18 13:20] chadFHC commented on #73
Sure can.

On Sun, Jun 17, 2018 at 1:27 PM, William Wallace Macfarlane <
notifications@github.com> wrote:

--
*Chad Garlick*
Jr. GIS Technician

[2018-06-18 16:10] MatthewMeier opened #89 "Expanding the capabilities of BRAT to incorporate the Beaver Dam Water Storage(BDWS)"
The concept of using this code that was created by Konrad Hafen(a former graduate student of the ETAL group at USU advised by Joseph Wheaton @joewheaton ) was to construct a model that would use the model outputs from BRAT to predict water storage. Running the tool on the beaver dam counts of ground truthed/google earth censused and BRAT model outputs would provide a valuable optional comparison.

[2018-06-18 16:12] wally-mac commented on #78
@chadFHC do you know how to "create a new instance of the survey so that the data flows into its own layer" as described by @webernick79.  This something that we'll want to do for the Idaho BRAT data collection that is going to start up this week and additional California data collection in the coming months.

[2018-06-18 16:23] banderson1618 commented on #87
To answer the question in the title, we aren't doing anything like this in the layer package generator (LPG). I'm not sure how long it would take to implement, though I'd have a better idea after seeing what @Albonicomt comes up with.

A quick note on the first bullet point: if we're following the logic of the code, it'll have to be a binary "Is in valley bottom" or "Is not in valley bottom". Righ

[2018-06-18 16:28] banderson1618 commented on #89
The link to the Github repository with the code is giving me a 404. I think you assigned a different link to it. Here's a link that works:

https://github.com/konradhafen/beaver-dam-water-storage

[2018-06-18 16:46] banderson1618 commented on #87
@wally-mac had an interesting idea about how to implement a "maybe" category things being in the valley bottom: create a buffer around the valley bottom, and say that whatever's in that buffer, but not in the original valley bottom, as a "maybe". Putting this here so that the idea doesn't get lost.

[2018-06-18 16:50] banderson1618 commented on #61
@joewheaton, where do you want the documentation to go? The layer is made in the BRAT Table tool, and put in the layer package in the layer package generator, so it could go in the documentation for either

[2018-06-18 17:02] Albonicomt commented on #87
I can give this a shot, but I might need a little more clarification on what I am implementing. Am I creating some symbologies or visual representation for each point here?
- Crossing (i.e. @ Intersection)
- In Valley Bottom
- Within 30 m (effectively adjacent)
- 30 to 100 m (within typical harvest range)
- 100 to 500 m (within plausible harvest range)
- More than 500 m away (not likely)
- Outside

[2018-06-18 18:57] chadFHC commented on #78
@webernick79
Nick, what exactly do you mean by "create a new instance of the survey so that the data flows into its own layer?" Do you mean just make "clones" of the survey so that each survey has its own results?

[2018-06-18 20:07] bangen commented on #78
@wally-mac @joewheaton I put together new field forms which can be found on Box [here](https://usu.box.com/s/m4b3fiebyer6gue6wdnjr5ojzp2wpufv).   Joe, with the complete rule table for the combined FIS the tables no longer fit nicely on a single page.  Upside is they are a little more legible.

[2018-06-18 20:11] wally-mac commented on #78
Thanks Sara! I'm going to have @kbartelt (Karen) read these over.

[2018-06-18 20:28] #85 closed

[2018-06-18 22:13] banderson1618 commented on #89
@joewheaton, @wally-mac, are we planning to implement this as another part of pyBRAT, or as its own tool?

[2018-06-18 22:30] kbartelt commented on #78
I read these over and everything looked good to me. The forms were easy to understand and use. I did change a small typo.

[2018-06-18 22:30] wally-mac commented on #89
I see it as a option within the pyBRAT tool.

[2018-06-18 22:32] wally-mac commented on #78
Excellent.  These should be ready to be used to update the Survey123 form, @webernick79.

[2018-06-19 20:31] bangen commented on #68
@banderson1618 here's [some feedback](https://youtu.be/uheFQnzvl18) on the layer package symbology.  Can you please take a stab at the items I point out in the video?

[2018-06-19 20:53] wally-mac commented on #68
@Albonicomt please also review.

[2018-06-19 21:01] banderson1618 commented on #68
@bangen, if we can create a layer that bases symbology off of those RGB values, then we can apply it pretty easily. So far, though, we haven't changed any symbology in the code at all, just applied already existing symbology. You're probably closer to an expert on creating symbologies than I am, so I'll let you decide if you think it's possible.

As to the other stuff, I'll test if having spaces i

[2018-06-19 21:43] Albonicomt commented on #68
@bangen, I really like the clean-up you did on the LPKs. I wasn't sure what to call some of the layers, but I definitely like what you have changed.
As far as creating a symbology for the R,G, and B values, I am not too familiar as to what those fields are or mean. I would definitely be happy to look into it and talk about some options about what we can do with them. Unless anyone already knows, I

[2018-06-20 00:15] wally-mac commented on #68
Thanks for making the video Sara.  @Albonicomt, please spend a couple hours digging into the RGB option for coding LANDFIRE and report back to the group.  Thanks!

[2018-06-20 18:05] MatthewMeier opened #90 "TNC Work and cutting time on unnecessary deliverables"
Hi @joewheaton @wally-mac @bangen @Albonicomt @banderson1618

We want to see where we could make some wise decisions about cutting down time for optional items in BRAT (dam census, isbraided) and network editing to make multiple HUC projects less time intensive with limited time schedules. Maybe we could add these ideas and documentation to the BRAT page for people who are cutting down time or wou

[2018-06-20 18:12] banderson1618 commented on #90
If I'm understanding you right, Step 7 is done automatically by the Drainage Area Check tool (documentation [here](http://brat.riverscapes.xyz/Documentation/Tutorials/StepByStep/3.1-DrainageAreaCheck.html)). Hopefully that could save some time? Give me a call if you have questions about how that tool functions.

[2018-06-21 16:20] banderson1618 opened #91 "pyBRAT should have XML tags that differentiate different runs"
Wally would like the pyBRAT XML to have meta tags that differentiate between different runs of the tool. This would provide a place to document what a technician did differently during each run, hopefully improving clarity. Wally asked me to raise an issue to document the idea and to provide a place to discuss the change.

Based on what Wally described, I'm imagining a tag called "Description" for

[2018-06-21 16:31] Albonicomt commented on #91
This would be a great idea. I have just been opening up a .txt file and recording some of the steps in that file. I think including everything within a package-like structure would be very useful for whoever the client is in-case they really wanted to pick at it. 50 - 100 characters would probably suffice. Is there a possibility of increasing that character limit just in case?

[2018-06-21 17:05] banderson1618 commented on #91
100 characters is only because you'd have to put it into an ArcGIS tool field. There's no limit in the XML, so if you're editing that, you're good to do whatever. If you try to put more than 100 characters in a field, it starts to look weird (for reference, the picture below is 100 characters).

![100charexample](https://user-images.githubusercontent.com/21353496/41733998-f38d13a6-7542-11e8-81d3-1

[2018-06-21 17:10] bangen commented on #78
@wally-mac brought up the following issue with the cIS Survey123 form:

_Hi Sara and Nick,

The reach slope component of the cIS form needs modification see video: [https://youtu.be/1S2zbsLZzo8](https://youtu.be/1S2zbsLZzo8)

Thanks_

[2018-06-21 18:19] bangen opened #92 "TNC BRAT Project Valley Width Thresholds for VBET"
@Albonicomt we're getting ready to batch process the TNC BRAT project basins, but before doing so need to figure out the VBET [valley width buffer sizes parameters](http://rcat.riverscapes.xyz/Documentation/Version_1.0/VBET) for each basin.  @wally-mac said you have experience doing this and are prob ready to be lined out with a new task.  We'd also like you to train @kbartelt up on this later nex

[2018-06-21 20:22] banderson1618 commented on #89
I have some stuff implemented, but I'm running into memory errors a lot. I'm experimenting to see what the limits are of it.

[2018-06-22 15:18] MatthewMeier commented on #90
Yes that should work although I have not checked on how it works with braids so I will have to look and see. This is part of BRAT that I have not ran through yet.

[2018-06-25 14:09] kbartelt commented on #92
@Albonicomt I sent you an email with my contact info. Thanks!

[2018-06-25 16:36] banderson1618 commented on #66
@Albonicomt did you ever get around to testing this option? It'd be good to close this issue if we could.

[2018-06-25 16:40] Albonicomt commented on #66
Braden, I have not yet rested this out.

On Mon, Jun 25, 2018, 10:36 AM Braden Anderson <notifications@github.com>
wrote:

[2018-06-26 00:12] #92 closed

[2018-06-26 17:41] MatthewMeier commented on #89
@banderson1618  what is the stage of this? Is it operational or still running into memory errors?

[2018-06-26 17:45] banderson1618 commented on #89
It's operational for the inputs that worked in Konrad's tutorial. I don't think he ever designed it to run for HUC8s, which is where I was having memory errors. I got it to run on a HUC 10, but it's possible that there could be problems there as well.

[2018-06-26 17:59] MatthewMeier commented on #89
Yes that is correct that he didn't intend for it to be ran on a HUC8 all at once but to be broken down into smaller pieces. However you are able to run multiple smaller HUCs at once. See his second tutorial where he runs 2-3 at once. I remember that he did batch process his data and it took a while but worked.

[2018-06-26 19:48] #79 closed

[2018-06-26 20:15] banderson1618 commented on #89
@MatthewMeier the code actually wouldn't work until just now. I had a path to a local file that I forgot to take out until just now. If you download the master branch, it should work fine, though.

[2018-06-26 20:19] MatthewMeier commented on #89
That is great! I know that there was a hangup with generating some of the inputs. I do not know if this is the next step for you but is there any way to generate the input rasters from gsurgo data for the areas that you are concerned about. This is one of the major hangups with running the script. You are basically taking some of the fields that are in gsurgo data and transforming it into a raster

[2018-06-26 20:41] bangen commented on #66
@banderson1618 I'm wondering how segmenting by roads within the BRAT table tool will effect results from the drainage area check tool?  The latter assumes that each reach has a distance DS field that's correctly populated.  We're currently creating/attributing this field when segmenting the network.  So, are you updating those distance fields?  Just want to make sure you validated/tested before po

[2018-06-26 20:47] banderson1618 commented on #66
I hadn't thought about that, @bangen, thanks for bringing that up.

I'm assuming that both streams will inherit the distance value from the original stream, so they would be "processed" at the same time. The worst case scenario would be the segment further upstream getting the value of the downstream segment. Because it would only be one stream segment down, I don't think this would be a very dram

[2018-06-26 22:13] MatthewMeier commented on #89
Hey @banderson1618
Here is a video to describe what can be done with some of the [](https://youtu.be/ot6S4YquFGQ) inputs. give me a call if you have questions.

[2018-06-26 22:51] banderson1618 commented on #66
I found something odd: the segments that have been split apart often have the same DA value, even before the DA check tool is run. I'm not sure why that is. I've checked, and the buffers seem to be created properly, so that's not the problem. I'll have to look into this more carefully tomorrow, and see if it happens with segments besides the ones that are split by the segment option.

[2018-06-27 17:03] banderson1618 opened #93 "BDWS breaks the entire tool if you don't have OSGeo installed"
While testing what dependencies were necessary to run pyBRAT, I realized that the BDWS tool will not allow the user to use any aspect of pyBRAT if the user doesn't have OSGeo installed (specifically, gdal and ogr). The toolbox will have a little red X on it, and won't allow any scripts to be run. The way I see it, we have three options on how to address this:

1. Simply expect that the user has OS

[2018-06-27 17:22] bangen commented on #93
Option 2 would require a substantial amount of work and we don't currently have the budget.   That leaves either option 1 or 3.  We already require pyBRAT users to install dependencies (see [here](http://brat.riverscapes.xyz/Download/ComputerSetup)).  Given that I'm not that concerned about them having to install a few more packages.

I think @joewheaton should make the call on this one.  Thoughts

[2018-06-27 17:23] bangen commented on #66
@banderson1618 Can you please send me the dataset you were testing?

[2018-06-27 17:30] banderson1618 commented on #66
@bangen, I just sent you an email.

[2018-06-27 19:45] banderson1618 commented on #89
@MatthewMeier

I can automatically clip the inputs to the valley bottom fairly easily. Would that be helpful?

I'm still not certain how to use the MUKEY to create the fc.tif, Ksat.tif, or Kv.tif files. Should I talk to Konrad about this?

I'm also not seeing where things like the water table depth are defined in the script. It seems like they aren't defined in the run.py folder. Do you know where

[2018-06-28 00:23] bangen commented on #66
@banderson1618 I took a look at the data you sent.  The issue is with this code block in the BRAT table tool.

    if should_segment_network:
        segment_by_roads(seg_network, seg_network_copy, road)
    else:
        arcpy.CopyFeatures_management(seg_network, seg_network_copy)

    # --check input network fields--
    # add flowline reach id field ('ReachID') if it doens't already exist
    #

[2018-06-28 15:32] banderson1618 commented on #66
That makes sense, good catch! I think it's fair to say that I didn't do my due diligence when considering how the segmenting would impact the larger operating of the tool, so I appreciate this reminder. I'll push up a fix ASAP.

On the subject of testing, it might be a good idea to have an optional function called "validateOutput()", which would be ran at the end of the tool. Checking that the Rea

[2018-06-28 19:44] banderson1618 commented on #93
I moved BDWS code to the development branch that I just made, so this won't be an issue for people downloading the latest code.

[2018-06-28 21:01] bangen opened #94 "Beaver Dam Census Web App Tasks"
The beaver dam census web app is coming together nicely.

There are a few pieces we still need to flush out:

- How to add beaver dam locations based on xy coordinates (in addition to manually placing a point).  This is needed since field crews will be collecting dam location coordinates on paper forms.
- Whether or not anyone with the url can export the dam points as a shapefile.  In the case of

[2018-06-29 14:35] chadFHC commented on #94
@bangen
It's not looking like the "geopoint" option that I referenced is going to work. It forces you to place another point on another map within the survey itself (which is scaled at the entire earth, so you would have to find your location each time, which is not highlighted).

However, at any time we can go into ArcGIS Pro and add XY coordinates to each point. I'm not sure if this is exactly w

[2018-06-29 16:26] banderson1618 opened #95 "pyBRAT could use some automated testing"
My work for the "Segment By Roads" Issue #66 introduced a bug to pyBRAT, where split reaches had the same ReachID. This was causing problems with the dictionary join, leading to the two segments being assigned the same attributes. Unfortunately, I didn't catch it. @bangen was the one who pointed it out to me a couple days ago. She mentioned that we should do more testing/validating before we push

[2018-06-29 16:31] wally-mac commented on #95
Excellent idea.

[2018-06-29 20:45] bangen commented on #78
@webernick79 what's the status of the cIS Survey123 forms?  Have they been updated to reflect the changes in the rule tables (updated paper forms [here](https://usu.box.com/s/m4b3fiebyer6gue6wdnjr5ojzp2wpufv)) and the slope drop down options?

[2018-07-02 21:17] banderson1618 opened #96 "Apply Symbology does not work for raster layers when versions of ArcGIS before 10.5"
This causes the tool to break when run on a version of ArcGIS that is lower than 10.5. Something changed about layer files that causes them to be incompatible between 10.6 and 10.4. To try to fix this problem, we are uploading two versions of raster layers, one for 10.6, and one for 10.4. This should fix the problem for those using pyBRAT on older versions of the tool.

[2018-07-02 21:18] #96 closed

[2018-07-03 15:52] joewheaton commented on #95
Great idea.... Maybe ask @MattReimer about some of the unit-code testing he implements in GCD that he now runs before pushing out releases. I've got no problems with commits that throw up unexpected bugs. That's all par for course.

[2018-07-03 15:59] joewheaton commented on #91
I like this idea. We have the concept in riverscapes of instances and anything that multiple instances can be produced of (e.g. inputs, intermediates or outputs), goes in a parent folder and automatically subfolders get generated for each instance. For example, an output in GCD of change detection goes in the `...\Analyses\CD` folder, but then each instance gets auto numbered:
- `...\Analyses\CD\C

[2018-07-03 16:26] joewheaton commented on #90
I like how you're thinking about efficiencies here @MatthewMeier.  @bangen what are your thoughts. I think related to #91, we should simply be tracking what level of detail each step (i.e. inputs or intermediates) have gone through. I would like to role in the Status Concepts I described a longtime ago (see [here](https://docs.google.com/document/d/1gZE170e6eeYA-l6zGQbAYeqbQfFQTG031e9GoK24Izc/edit

[2018-07-03 16:31] banderson1618 commented on #88
I scoped the projects that I knew enough about to scope when you first made this issue. I just now scoped two issues that have been made since then, because your post here reminded me to do that.

[2018-07-03 16:32] joewheaton commented on #88
Thanks Braden!
_____________________
Dr. Joseph M. Wheaton
435-554-1247 (direct) | http://www.joewheaton.org

On Tue, Jul 3, 2018 at 10:31 AM Braden Anderson <notifications@github.com>
wrote:

[2018-07-03 16:57] joewheaton opened #97 "Provisional BRAT Runs Requested for Scott and other California Visits"
Joe has a meeting on July 12-13 with TNC and Scott River Watershed Council folks.

I absolutely need provisional runs (no manual editing, just straight outputs from uncalibrated national inputs... i.e. like we did for Sagehen Meeting):
- [x] Scott Watershed (HUC: 18010208)
- [x] Salmon (HUC: 18010210)

It is not critical, but it would be really nice (as I will be visiting these areas) to also have

[2018-07-03 17:01] joewheaton commented on #58
See also #97

[2018-07-03 17:21] MattReimer commented on #95
It's a big topic but I'll post a few hints that should get you started.

In order to do unit testing you need good **units**. When you start writing tests you begin to realize that the most important part of it is to write code that's actually testable.

* Your functions should be small enough that they only do one thing at a time. If you've got multiple loops inside your functions it gets out of

[2018-07-03 17:21] MattReimer commented on #91
I would strongly encourage you to use the MetaData framework that's already in there. [I wrote a bunch of docs about it](http://riverscapes.northarrowresearch.com/Development/XML/Project/metadata.html). You can add metadata to the Project, the realization or the input so it should be flexible enough to suit any case but ask if you can't make it do what you need. If you do it right your XML should

[2018-07-03 17:29] banderson1618 commented on #91
I don't know why the MetaData framework didn't occur to me, but that should work perfectly for us. Thanks, we'll move forward with that. I'll let you know when I have an XML document to validate, @MattReimer.

[2018-07-03 17:35] banderson1618 commented on #95
I'm glad you pointed me towards that article, it's good to have an intro to a concept that's slightly more readable than straight function documentation. This is all really good advice, thanks for the primer!

[2018-07-03 17:37] kbartelt commented on #97
@joewheaton @bangen Sounds good. I am still going through my initial test run of Lake Tahoe (hoping to finish within the next couple hours) and then will begin running these in the order listed above. I will reach out here with questions.

[2018-07-03 19:05] joewheaton commented on #91
@banderson1618 I like what @MattReimer suggested and that you can fit it in there.  One good test of the utility of this is to take whatever @Albonicomt was referring to in:

And making sure you can ingest his `*.txt` file notes into your project file.

[2018-07-03 19:10] joewheaton commented on #58
Note that in #97 we address both:

and

[2018-07-03 20:06] joewheaton opened #98 "Setting priorities, tasks and milestones for TNC BRAT Analyses"
@bangen can you please have a look at 'All Basins -Status & Priority' tab of [this spreadsheet](https://docs.google.com/spreadsheets/d/1yrGR4DNWIrMuSd-4fiKc4lBiRx4K5UWy4cmHfkMAVQM/edit#gid=584384841). Please:

- [ ] share access with all techs. and if you can quickly, populate the HUC Code
- [ ] instruct technicians (@MatthewMeier, @Albonicomt , @kbartelt) to post their updates to (Overall Status,

[2018-07-03 20:10] joewheaton commented on #58
We've gotten input from TNC partners and this is reflected in: https://docs.google.com/spreadsheets/d/1yrGR4DNWIrMuSd-4fiKc4lBiRx4K5UWy4cmHfkMAVQM/edit#gid=584384841

[2018-07-03 20:10] #58 closed

[2018-07-03 20:50] joewheaton commented on #98
@bangen I didn't see this: https://docs.google.com/spreadsheets/d/14EXBvLc6VscY6m48O3hVYDC_1jIYMVe-Tny02BQNkNI/edit?ts=5b3527a5#gid=644297276

We could use that and bring over my columns if you want. Whatever place is fine.

[2018-07-03 22:51] joewheaton opened #99 "Birch Creek HUCs"
- [ ] Build Riverscapes compliant structured outputs- @Albonicomt  Templates for BRAT and RCAT for whatever HUCs Birch Creek falls in.  @Albonicomt please post your progress updates here and links to data. Ideally we'd have this done sometime early next week to allow time for printing.

Please post your updates here on progress and links to files on Box. Bill A40921 for this.

[2018-07-03 22:54] joewheaton opened #100 "Run BRAT for Red Rock Canyon for"
Popo Agie HUC 8
As of 4/10/18 we have no data on this (this is outside the Green River Basin BRAT)
**Task:** we need to run BRAT and R-CAT for this watershed. (With Riverscapes compliant structured outputs- Mic’s Templates) (@Albonicomt is tasked with this one)
- [x] BRAT
- [x] RCAT
@Albonicomt use A40921 for this. Please post progress here.

[2018-07-03 22:58] joewheaton opened #101 "Upper Humboldt HUC 8"
Workshop is  August 15-16.
Run
- [ ] BRAT
- [ ] RCAT
for Upper Humboldt HUC 8
As of 4/10/18 we have no data on this HUC 8

**Task**: we need to run BRAT and R-CAT for this watershed. (With Riverscapes compliant structured outputs- Mic’s Templates) (Scott is tasked with this one).

@sshahverdian please post your updates here on progress and links to files on Box. Bill A40921 for this.

[2018-07-03 22:58] joewheaton commented on #101
All transfered across from @wally-mac 's notes: https://docs.google.com/document/d/1wleLImeBnRc2ldYXDqDid_N2YLpArcIiNQrTWMJSa4U/edit?ts=5b1016e7#

[2018-07-03 22:58] joewheaton commented on #100
All transfered across from @wally-mac 's notes: https://docs.google.com/document/d/1wleLImeBnRc2ldYXDqDid_N2YLpArcIiNQrTWMJSa4U/edit?ts=5b1016e7#

[2018-07-03 22:58] joewheaton commented on #99
All transfered across from @wally-mac 's notes: https://docs.google.com/document/d/1wleLImeBnRc2ldYXDqDid_N2YLpArcIiNQrTWMJSa4U/edit?ts=5b1016e7#

[2018-07-03 23:05] joewheaton opened #102 "Bear River Range & Wellsvilles Updated BRAT outputs"
We are teaching an [NRCS Workshop](http://beaver.joewheaton.org/nrcs---utah.html) here in Logan September 11-12. We will do field work up Logan Canyon, Station Creek (ID) and Birch Creek (ID), and Three Mile Creek (UT Wellsvilles). We have various flavors of RCAT and BRAT outputs for all of these, but we need to update them all and make them Riverscapes Compliant with the new projects structure an

[2018-07-03 23:19] joewheaton opened #103 "Idaho BRAT Meeting Update"
We met on June 22 after the [Hailey, ID NRCS Workshop](http://beaver.joewheaton.org/nrcs---idaho.html).

In attendance were:
- Cory Mosby (IDFG)
- Joe Wheaton (USU)
- Nick Bouwes (USU)
- Terry Gregory (IDFG)
- Chris Yarborough (IDFG)
- Dave Weskamp (TNC)
- Lee Maybe (USFS - Representing the GYA BRAT effort too)

We talked about the datasets folks had on beaver activity, dam locations and transloca

[2018-07-03 23:44] joewheaton opened #104 "Data Capture Event - Lets start playing"
Lets start working on process of getting Survey123 or WebGIS Apps or maybe just something simpler ready as platform to ingest some of this old IDFG data into BRAT Riverscapes Project as data capture events.  See #103 for context from Cory. We need to get these ingested in as shapefiles as 'Data Capture' events on dam locations, colony locations, and beaver activity stuff.

For now, see data in XLS

[2018-07-03 23:45] joewheaton commented on #38
See also #104

[2018-07-03 23:46] joewheaton commented on #67
@chadFHC can you incorporate this into Survey123 apps?

[2018-07-03 23:51] joewheaton opened #105 "We need a tracking sheet for Survey123 Apps"
In the same way you guys made that handy Google Sheet for the Dam Census Web App (https://docs.google.com/spreadsheets/d/14EXBvLc6VscY6m48O3hVYDC_1jIYMVe-Tny02BQNkNI/edit?ts=5b3527a5#gid=644297276), we need one for the Survey123 Apps (probably seperate for all our projects).  @chadFHC and @bangen can you get this sorted out?
- [ ] Idaho BRAT
- [ ] TNC BRAT
- [ ] John Day & Powder Basin BRAT
- [ ]

[2018-07-04 00:00] joewheaton commented on #36
For each of the projects we have at least one manuscript (Idaho BRAT/ GYA BRAT/ TNC BRAT/ John Day BRAT). I think the key is to keep each contribution tight and focused on the major methodological, management or scientific advance in those respective projects.

My thoughts on:

I like this maybe for TNC BRAT, but lets not get too carried away. 1-4 could be compelling.

Kind of methodological... I

[2018-07-04 20:56] sshahverdian commented on #101
@joewheaton @wally-mac @Albonicomt @MatthewMeier
I have put all the data required for BRAT and RCAT for the Upper Humboldt (16040101) on Box at:

https://usu.app.box.com/folder/49363840253

I have been having some trouble with VBET - long processing time (12 hrs), unit conversions in the tool (from pixels to sq km), and excessively long (i.e., prohibitively long) delays when attempting to manually

[2018-07-04 21:20] joewheaton commented on #101
@sshahverdian thanks for the update. For your own sake, it would be nice to have that run for your upcoming visit. Keep posting helpful comments like this as you make progress...

Perhaps talk to @MatthewMeier and/or @bangen about the VBET stuff. Maybe move your [Read Me](https://usu.app.box.com/file/302553130635) notes about [VBET](http://rcat.riverscapes.xyz/Documentation/Version_1.0/VBET.html)

[2018-07-05 02:59] bangen commented on #94
@chadFHC @wally-mac Kristen got in touch and commented that the resolution of the imagery isn't that great for picking out dams.  I spoke with @joewheaton about this issue.  I understand the reasoning for wanting to match the imagery date with the Landfire imagery date, but if the imagery is too poor a resolution to pick out dams, distinguish dams from log weirs, etc we're potentially setting ours

[2018-07-05 03:13] bangen commented on #90
@MatthewMeier we are not on the hook for providing the dam census data for the TNC project.

@joewheaton I like the status tags.  Some of these are pretty self-explanatory whereas others are more vague (e.g., 'Manual Testing' vs 'Expert Calibrated' and 'Final' vs 'External').  It would be nice to populate a brief description under the 'Options' tab on the status doc you shared.

[2018-07-05 03:15] bangen commented on #105
@joewheaton I'm a little unclear on what the Survey123 app tracking spreadsheet should have.  Is this a row for each HUC in the project area or a row for each project?  Let me know and I'll put it together.

[2018-07-05 06:28] Albonicomt opened #106 "Beaver Bottom - UpperBaver (Birch Creek) BRAT and RCAT"
Hey Team, @bangen @MatthewMeier @wally-mac @sshahverdian @joewheaton @banderson1618
I have been trying to complete this BRAT run of the Huc 8 "Beaver Bottom-Upper Beaver" today which contains Birch Creek, Utah. Unfortunately as some of you know, I will not have time to work on this for the next three days (July 5-7). I will be available to work on this task on the 8th and 9th, but I will be out of

[2018-07-05 14:34] chadFHC commented on #94
@bangen @wally-mac @joewheaton
I have tried to find the best aerial imagery to use. For Idaho I have found .5m resolution, which is really helpful when trying to locate dams. I downloaded NAIP imagery for Cali and Nev, Cali is at 60cm and Nev is 100cm. I can't find any other imagery better than that. It seems that you can zoom in extremely close with Google and still maintain high res. With the NA

[2018-07-05 14:39] chadFHC commented on #94
@bangen @wally-mac @joewheaton
Yes, we can have different layers with different imagery that can be changed within the app under the "Layers" tab. So, we can have different years with different resolutions, if we can find it.

[2018-07-05 15:38] kbartelt commented on #97
I have a couple questions regarding the VBET portion for these provisional BRAT runs.

- which NHD Flowline shapefile input should I use for the NHD Network Builder tool? NHDFlowline, NHD_24k_Perennial, or NHD_24k_300mReaches?

- Should I remove artificial paths/aqueducts/intermittent/ephemeral streams/ etc during this step?

For my initial VBET run of Scott I used NHD_24k_300mReaches, did not rem

[2018-07-05 15:56] joewheaton commented on #97
@bangen and @wally-mac may have a different take, but I feel like we should be running VBET on the entire NHD that we run BRAT on (i.e. NHD 1:24K). I DON'T personally like that we've removed artificial paths, aqueducts, intermittent and ephemeral in this step. I think it means our valley bottoms look fragmented. I understand why we have done this in the past (i.e. to minimize post-processing and m

[2018-07-05 16:06] joewheaton commented on #105
We need to have a place where we can access the URLs for every Survey123 BRAT and BeaverDam traciking Apps we have, as well as where on box to access data and any WebViewer of that.... So each row represents a different Survey123 Data Collection App and associated 'stuff'. Maybe something like:

| Project | Type | Survey123 Data Collection App URL | Survey123 Web View of Collected Data URL | Data

[2018-07-05 16:07] joewheaton commented on #90
Yep... some old descriptions are found in: https://docs.google.com/document/d/1gZE170e6eeYA-l6zGQbAYeqbQfFQTG031e9GoK24Izc/edit?usp=sharing

Feel free to modify or tweak as you see fit (maybe copy to new Google Doc or just embed in sheet or something)...

[2018-07-05 16:57] banderson1618 commented on #106
I can run this through BRAT, but I'm a bit confused by what you mean by "I have all the components of this run completed except for the Braid editing and the Maximum Drainage area", specifically the Braid editing part. Do you mean you haven't given the stream an IsMainstem value?

I also wouldn't know how to identify a proper maximum drainage area value, so maybe I'm not the best one for the job.

[2018-07-05 17:17] MatthewMeier commented on #89
@banderson1618

I would contact Konrad about this he will have the best idea of how to use the MUKEY (there should be a table that you can reference somewhere and use to create the new rasters using that and the old one.
Also he would be good to ask where the water depth is in the code.

[2018-07-05 17:28] banderson1618 commented on #95
@MattReimer, what's the best way to unit test functions that take a shape file or a raster file as input? I've read that unit tests should be entirely self-contained, but I'm not sure how to implement that when a file path is a required input. Does it make sense to make the file you need in the unit testing class, or is this one of those rules that should be bent sometimes?

[2018-07-05 17:48] bangen commented on #97
@kbartelt you should run VBET for the entire network.  In the case of the TNC project, the network input into VBET should be the 'NHD_24k_300mReaches.shp'.  The networks are named the same for each HUC8 in the project and can be found in the 'NHD' folder.

@joewheaton for the TNC project I've been running VBET for the entire network (but with pipelines and underground conduits removed).  If techs

[2018-07-05 17:51] bangen commented on #97
@kbartelt let's not bother editing the valley bottom output.  @joewheaton do you agree or do you want Karen to make some manual edits?

[2018-07-05 17:56] MatthewMeier commented on #102
Will do

[2018-07-05 18:00] banderson1618 opened #107 "Can non-LANDFIRE data be used as an input for BRAT vegetation?"
This was a question that came up in an email conversation with Angela Yragui, who wanted to run the tool in this way. In the interest of providing documentation for anyone who has this question in the future, I am going the quote the relevant parts of the conversation in this post.

**Angela**

**Braden**

[2018-07-05 18:30] MatthewMeier commented on #107
@banderson1618
It is possible for people to use other raster files than LANDFIRE. We had a student from canada use various vegetation rasters from various years and resolutions(one was 100m another was 20m) for BRAT. I am not sure how they are thinking of merging the LANDFIRE to fill in the gaps. Angela needs to make sure that the cells line up with the data and that they are orthogonal. This is s

[2018-07-05 18:58] bangen commented on #107
@MatthewMeier just as quick clarification, we are no longer using the 'CODE' field. We've replaced it with the 'LU_CODE' and 'LUI_CLASS' fields (see [here](http://brat.riverscapes.xyz/Documentation/Tutorials/StepByStep/2-Preprocessing.html)).

Here was my response to Angela:

<i>Hi Angela,

To answer your questions about incorporating your own vegetation data, the short answer is yes that should w

[2018-07-05 19:06] MatthewMeier commented on #107
@bangen
Thanks for the information, new things happen everyday I run BRAT that is for sure.

[2018-07-05 19:10] banderson1618 opened #108 "pyBRAT's code could be more modular"
In my conversation with @MattReimer in #95, he mentioned that code needs to be in discrete units to be effectively unit tested. Unfortunately, a lot of pyBRAT's code isn't very modular at the moment. Breaking code into more functions would improve readability, make modifying the code easier in the future, and make it easier to reuse code, as well as making it more testable. This issue is meant to

[2018-07-05 19:35] banderson1618 commented on #106
Thanks @MatthewMeier for answering my questions in a phone call just now. I'll run the tool, and upload the results to Box and post a link here.

[2018-07-05 19:51] bangen commented on #97
@kbartelt once you have the Salmon up to the point your have the Scott, could you please start working on the Tomales-Drake Bays and San Pablo Bay basins?  Since these were out of the scope of the original project, you'll need to gather some of the inputs.

I already created the project folders and populated the NHD data (since I had the NHD data for the entire state).  The folders are up on Box.

[2018-07-05 20:02] kbartelt commented on #97
@bangen @joewheaton Thank you for the clarification. I ran VBET for the entire network and will not do any editing unless further instructed to.

@bangen Yes, I'll get started on Tomales-Drake Bays and San Pablo Bay once Salmon is up to the point Scott is at per your instructions above!

[2018-07-05 21:47] kbartelt opened #109 "Error when creating BRAT table"
I am coming across the following error when running BRAT Step 2 to create the BRAT Table for the Salmon watershed (18010210) for #97

I have tried restarting arcMap and my computer. Matt looked the files over for any obvious issues and tried running it on his computer which yielded the same error. @bangen @banderson1618 do you have any suggestions for how to resolve this? Thanks!
`Executing: BRAT_

[2018-07-05 21:58] banderson1618 commented on #109
I've looked at it, and from what I can tell, it looks like there's something going wrong with the following segment of code:

[code]
Specifically, something is causing `areaPivTbl` to not have the one of the attributes it needs in that last SearchCursor. I'm not familiar with this segment of code, so I don't know how it gets those attributes normally, much less why it's not now, but that's what I

[2018-07-05 22:02] kbartelt commented on #109
I can't get the code to show up in a code block- sorry- but here is a snip of the error

![brat_table_error](https://user-images.githubusercontent.com/39836333/42350218-bd8000b8-806c-11e8-95bb-6a614dddfddf.PNG)

[2018-07-05 22:08] bangen commented on #109
The issue is that in the case of the Salmon there are only 2 'LUI_Class' categories: 'VeryLow' and 'High'.  This is a case we haven't run into yet, which is totally fine, but it broke the code here.  So we'll need to update the code.

Braden, the attribute is from the 'LUI_Class'.  The pivot table just transposes the table from a long format table to a wide format table.  In this case that means t

[2018-07-05 22:21] bangen commented on #94
Thanks @chadFHC for looking into this.

I took a look at the Truckee and saw you had added the Nevada 2017 100cm NAIP and the California 2012 NAIP.  Is the latter 60 cm?  Both of these appear to be lower resolution than the base imagery you have up so let's go ahead and remove them.  I should have been clearer, but was just suggesting we add higher resolution imagery as a layer if we have it (whic

[2018-07-05 22:22] banderson1618 commented on #109
Just a clarification to make sure I'm understanding you right:

After creating areaPivTbl, we want to check that the fields `['VeryLow', 'Low', 'Moderate', 'High']` exist. If a field doesn't exist, we add it to the table and populate it with zeros. Is that what you're wanting, @bangen? I'm not sure that I'm understanding what you mean by assigning a value of '0' to 'SUM_propArea', since I don't th

[2018-07-05 22:35] bangen commented on #109
You're correct that the 'SUM_propArea' field doesn't exist in the pivot table.  It's one of the fields that the pivot table is created from on this line:

`areaPivTbl = arcpy.PivotTable_management(areaTbl, ['ReachID'], 'LUI_CLASS', 'SUM_propArea', os.path.join(scratch, 'areaPivTbl'))`

The workflow that your suggesting should work.  So, check that the fields `['VeryLow', 'Low', 'Moderate', 'High']

[2018-07-05 23:03] #109 closed

[2018-07-05 23:12] banderson1618 commented on #109
@kbartelt the latest release should fix the problem. You can download it from the main page.

[2018-07-06 00:14] chadFHC commented on #94
@bangen
That basemap is something I just threw in there to get some viewable imagery. It is the "World Imagery" from ESRI.. This is the description of the data...
"World Imagery, last updated June 2018, provides one meter or better satellite and aerial imagery in many parts of the world and lower resolution satellite imagery worldwide. The map includes 15m TerraColor imagery at small and mid-scale

[2018-07-06 03:23] joewheaton opened #110 "What Survey123 Apps should I use for California?"
Hey @bangen and @chadFHC... what are the latest versions of Survey123 Apps for BRAT Advanced and Beaver Dam Complex Advanced I should use for my field work in California next week? Please provide URL... This is related to #105 but this I need preferably by COB on 7/6/18 if possible. Thanks so much!

[2018-07-06 05:08] bangen commented on #110
I'm going to defer to @chadFHC and @webernick79 on this since I'm not quite up to speed.

Also, just an fyi that as of this week Weber hadn't gotten a chance to update the inference system in the cIS Survey123 app.  So if you're using that while out in the field and the rule consequents still look off that would be why.

[2018-07-06 14:37] chadFHC commented on #67
@joewheaton
I believe I would be able to. These "Data Capture" apps are completely new to me. I have been working on the beaver dam censusing apps, so I'm sure I would be able to. I guess I just need access to the survey. I think @wally-mac showed me the survey once from his phone, but I've never seen it other than that.
Do you know where I would be able to find the survey to edit?

[2018-07-06 14:59] chadFHC commented on #110
@joewheaton
I'm sorry, I'm just a little confused. I have been working on dam censusing apps, is this what you are talking about? If not, I haven't worked on any other surveys or apps, yet, so I'm not sure of the urls or anything.
Let me know if I'm misunderstanding this.

[2018-07-06 16:01] chadFHC commented on #94
@joewheaton @wally-mac
I'm not sure how important it is to capture the date of the imagery when collecting dams through the apps, but it seems like the imagery associated to the same time period as the landfire data is too low of resolution to make out much detail, making it hard for app users to collect data. There is another imagery layer (which I referenced above) that is provided by ESRI and u

[2018-07-06 18:29] MattReimer commented on #95
All rules are meant to be broken but these kinds of questions illustrate why we need to split functions up. Ask yourself "what is this function actually doing?". IF the answer is "Many things" split the function.

Without seeing the code myself or knowing what it does what I would do in very vague terms:

1. `Function A()` Load a shapefile and pull the fields, geometry etc into dictionaries. This

[2018-07-06 18:47] banderson1618 commented on #95
It doesn't sound pedantic, so no worries on that front. I think I might be thinking of tests the wrong way, because I was concerned about having to hardcode a path to a file, and it sounds like that's fine in tests. I appreciate your responsiveness, @MattReimer, it's been good to learn about this. Thanks!

[2018-07-06 19:32] banderson1618 commented on #95
Will do.

[2018-07-06 20:01] banderson1618 commented on #109
There was a problem with the 3.0.14 release. I fixed it and created a new release. Sorry for the confusion, that was my bad. The tool downloaded from the main page now should be fine.

[2018-07-06 20:03] banderson1618 commented on #106
@MatthewMeier and @Albonicomt, the tool is hanging up at where it's adding Land Use data. I'm using the land use raster at the location [here](https://usu.app.box.com/folder/50945051327), but I'm not sure if that should work. Is there some editing that I need to do before running it?

[2018-07-06 20:03] bangen commented on #94
@chadFHC that sounds like a good plan to me.  We can chat with Wally when he gets back next week and see what his thoughts are.  To clarify, in the meantime are you uploading the [World Imagery](https://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9) or[ World Imagery (Clarity)](https://www.arcgis.com/home/item.html?id=ab399b847323487dba26809bf11ea91a)?

I'll get in touch with K

[2018-07-06 20:35] MatthewMeier commented on #106
@banderson1618
It looks to me like you are missing some of the fields that are a product of the "LANDFIRE_LUCode.py" script namely the "CODE" and "LUI_Class" fields. I would try running that script again and see where that takes you.

[2018-07-06 21:06] chadFHC commented on #94
@bangen
For now they are the "Clarity" uploads. They seem to have the best res until instructed otherwise.

[2018-07-06 21:18] banderson1618 commented on #109
@kbartelt, I'm sorry for versioning problems. 3.0.16 should solve this problem, without any of the code I was using to test it. Download the latest release, hopefully for the last time in a while.

[2018-07-06 22:02] bangen commented on #94
@chadFHC Agreed

[2018-07-06 22:23] kbartelt commented on #109
@braden @bangen thank you! I will use the new version on Monday.

[2018-07-06 22:37] banderson1618 commented on #106
@MatthewMeier
I ran the script and tried again, and the same thing happened. I did some debugging, and I figured out the section of code that's going wrong.

For some reason, the call to zonalStatsWithinBuffer on line #578 in the BRAT Table tool  (link [here](https://github.com/Riverscapes/pyBRAT/blob/717120b71285a0ea5c455670b113b2879883f024/BRAT_table.py#L578)) is causing the tool to go into an i

[2018-07-09 14:19] chadFHC commented on #94
@bangen @wally-mac
I made a general tutorial on using the web app to collect beaver dam inventories. For now, it is just hosted on YouTube, but I plan on having it up on Joe's Et Al website sometime this week.
Here is the [Link](https://youtu.be/0N-iewScBBE).

[2018-07-09 14:56] kbartelt commented on #109
@banderson1618 that worked, thank you!

[2018-07-09 20:18] Albonicomt commented on #106
@banderson1618 , I did a little reprocessing on the EVT and was able to get passed the LUI error you were getting. Try using this EVT_raster instead: https://usu.box.com/s/xxfr70f21g5ohpmtl8dsywxbx40otsig

Unfortunately, Now the tool is getting stuck on the Canals.
![brat_error](https://user-images.githubusercontent.com/39168968/42473846-f6701296-8382-11e8-8911-71845c747db8.PNG)

[2018-07-09 20:22] banderson1618 commented on #106
That's not it getting stuck on canals, specifically. That's in the code that's supposed to mark reaches as braided or not. There might be a bug in the code that's trying to avoid marking canals as braided. I'll look into why that's going wrong and let you know if I get through it.

[2018-07-09 20:47] banderson1618 commented on #106
I ran it on my 10.6 version of ArcGIS, and I didn't have that problem, but I did get that error when I ran it on an installation of 10.5. Looks like it might be a version issue. I'll look into it some more.

[2018-07-09 23:28] kbartelt commented on #97
@bangen here is an update of where i'm at- Scott and Salmon are at the ihyd/ regression equation step, and I'm currently going through the is braided/is mainstem ID process for Tamales-Drake Bays.  Thanks!

[2018-07-10 18:09] ssuplick opened #111 "Cal Poly SLO Student: Clarification on Valley Bottom purpose, specific HUC8 vb editing help"
Hi BRAT team! I'm working to finish up a BRAT-based analysis of the Salinas River watershed (central coast of CA) for my senior project/thesis. Seeking advice for valley bottom-editing for its large northern valley bottom, dominated by ag, whose riparian area is severely degraded. I've attached a few example photos for my questions:

**1. Ex: South of Chualar, Google Earth**: looks like there's an

[2018-07-10 21:31] wally-mac commented on #91
It looks like some nice progress has been made on incorporating the metadata into the projects. @banderson1618  what's the latest status on this task?

[2018-07-10 21:34] wally-mac commented on #98
Thanks @joewheaton and @bangen for setting this status and priority sheet up! We can chat about this and revise as we see fit.

[2018-07-10 21:35] banderson1618 commented on #91
@wally-mac
I've been looking at the XML code a bit to think about the best way to implement something like this, but I haven't done anything concrete yet. It hasn't been high on my To Do list, since it sounded like a "nice to have", but I can change that if you want.

[2018-07-10 21:38] wally-mac commented on #103
Yes, I agree. I think it's worth breaking it out by the regions like we did for Utah.

[2018-07-10 21:41] wally-mac commented on #36
@joewheaton thanks for flushing some of these ideas out. I think this is a good start. The next step would be flushing out some outlines. This has been effective in the past.

[2018-07-10 21:50] wally-mac commented on #101
@sshahverdian were you able to resolve your VBET issues? What's the current status? How can we help?

[2018-07-10 21:54] wally-mac commented on #105
@chadFHC @bangen have we made any progress on this? What's the status? How can I help? Thanks!

[2018-07-10 21:55] wally-mac commented on #89
@banderson1618

have you been in contact with Konrad?

[2018-07-10 21:58] wally-mac commented on #67
@chadFHC If you want to be able to find the surveys to edit please get them from @webernick79

[2018-07-10 22:56] banderson1618 opened #112 "zonalStatisticsWithinBuffer() sometimes gets stuck in an infinite loop"
The loop starting on line 208 of the BRAT Table Tool will sometimes get stuck in an infinite loop. This goes back to the section where the variable "stat" is calculated. For some reason, in cases where there is an infinite loop, the table that is calculated is empty. Because nothing is calculated, nothing is removed, and so the loop's break condition is never triggered.

I can implement a workarou

[2018-07-10 23:15] banderson1618 commented on #112
Upon investigating the ReachIDs pulled out by the workaround, it looks like this issue is caused by reaches that are hanging off the DEM. We haven't had a chance to exhaustively check that that's the problem, but it makes sense. If that's the problem, then my workaround may be all that we can do. The important thing is that the tool isn't stuck in infinite loops, so if we avoid that, then I'm happ

[2018-07-10 23:41] kbartelt commented on #97
@wally-mac Thank you. I finished running Scott and Salmon and uploaded the files to box. Tomorrow I hopefully will be able to run Tamales-Drake Bays, San Pablo Bay, and potentially Russian River but will likely need some help/ clarification with the ihyd equations.

[2018-07-11 00:02] wally-mac commented on #91
Sounds good.  Agreed, I think is medium priority.

On Tue, Jul 10, 2018 at 3:35 PM Braden Anderson <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-07-11 13:09] kbartelt commented on #97
I finished a provisional run of Scott and Salmon.

Scott: https://usu.box.com/s/n35s3aeytd6jqchjo5fe354bo8gu736u
Salmon: https://usu.box.com/s/3e3zxvx6r7htgq8upu4hjk1z7qz8wmon

[2018-07-11 13:32] chadFHC commented on #105
@wally-mac
Joe mentioned that we could wait until you return to set milestones for the tweaks on the data capture apps, so I've actually been waiting for that. I'm not %100 sure what needs to be done to them.

[2018-07-11 14:31] joewheaton commented on #97
Thanks a ton @kbartelt for all your efforts. I'm downloading right now and will let you know if I have any issues.

[2018-07-11 15:34] joewheaton opened #113 "Lets nest and ship the BRAT layer package with a Context layer underneath...."
Can we please add the context WMS and WMST to the layer package. I think it should include:
- NAIP imagery
- HR state imagery if available
- Contours
- WBD (HUC)
- USGS Shaded Relief

Example: https://usu.box.com/s/gb1frqe967ydgd31a9wupcpj6ajqu5fp

We should be shipping this as part of Layer Package output. Perhaps we could ask @Albonicomt and @bangen what they like.

[2018-07-11 15:46] joewheaton opened #114 "Layer Package Outputs Missing some Input Layers"
I'm just reviewing #97 for Scott and Salmon and while overall things look good, the outputs in the layer packages for both are missing all the inputs at bottom of tree:
![2018-07-11_084156](https://user-images.githubusercontent.com/9723905/42583681-58f79268-84e6-11e8-8a09-07a36bb66f1b.png)

It looks like inputs are in BRAT project, but not getting properly output. Namely, the childeren of the foll

[2018-07-11 15:51] banderson1618 commented on #114
My guess is that the layers either weren't generated during the running of the tool, or that there was something weird about the folder structure that lead to the tool not finding them. Can the person who ran the tool (@kbartelt, I assume) send me either a zip file of the project folder, or a screen shot of the folder with every folder expanded out, so I can investigate the inputs?

[2018-07-11 16:12] kbartelt commented on #114
@banderson1618 when I re-download the layer package from box I am able to see the mentioned input layers, so maybe it is something with my folder structure.. I just sent you an email with a zip file of the project folder for both watersheds. Thanks for the help.

![image](https://user-images.githubusercontent.com/39836333/42585030-cd674df4-84f1-11e8-854d-26e0a26d99b9.png)

[2018-07-11 16:42] joewheaton commented on #110
I think this is actually a question for @webernick79.... Thnks @chadFHC (I thought you were also working on these Survey123 apps, but I don't think that has happened just yet.

[2018-07-11 16:46] webernick79 commented on #110
I just went @chadFHC all the templates for the Survey123 apps.

[2018-07-11 16:59] chadFHC commented on #110
@joewheaton @wally-mac
@webernick79 since I have the templates, I will start working on them to get up to speed. I'm sure I can take on this task for the future, I was just a little confused. Thanks!

[2018-07-11 17:29] joewheaton commented on #114
Interesting... I just tried downloading again and I have the same problem/result as I originally had. So I'm not sure what's going on. Maybe @banderson1618 or someone else could try downloading just the layer package and see if they have same problem? Thanks. I'm here for about another hour.... Then on road. I don't know my WiFi situation tonight... but I think I will have a spot I can download th

[2018-07-11 18:03] banderson1618 commented on #114
Oddly enough, the layer package seems fine when I download it. I wonder if somehow, there's a dependency on something in the zip file. I deleted everything else in the zip file, and my layer package was still fine, but it's the only difference I can think of. @joewheaton, what version of ArcGIS are you using? I might spin up a virtual machine of that same version and see if it works there.

[2018-07-11 18:09] banderson1618 commented on #114
A quick update: I tried downloading just the layer packages for the Scott and the Salmon, and they seem to be fine. I'm running ArcGIS 10.6. @kbartelt, what version of ArcGIS are you using?

[2018-07-11 18:10] kbartelt commented on #114
I'm using 10.5

[2018-07-11 19:48] banderson1618 commented on #93
@joewheaton and @wally-mac, do you have any input on this? I don't think Sara and I have the confidence to make this decision without the input of the guys in charge, and it would be good to get this resolved.

[2018-07-11 20:15] kbartelt opened #115 "Error creating BRAT Conservation and Restoration Model"
@banderson1618 @bangen I am attempting to complete a provisional run for Tamales-Drake Bays (18050005) for #97 and am getting the following error during step 7. Has anyone come across this error before/ have suggestions for fixing it?

![image](https://user-images.githubusercontent.com/39836333/42596371-a28503b2-8512-11e8-9604-a673a9964e25.png)

My thoughts for potential issues:

-  For this water

[2018-07-11 20:57] kbartelt commented on #115
thank you @banderson1618. My input file was missing "iPC_ModLU" and "iPC_HighLU". I re-ran Step 2:BRAT Table and made sure to include the LANDFIRE EVT as my land use raster but these 2 fields were still not created.

When I compare my LANDFIRE raster with one for a different watershed, the only column missing is CODE. Is this a field I need to enter manually like with VEG_CODE, LU_CODE, and LUI_Cl

[2018-07-11 21:12] banderson1618 commented on #115
No, the "CODE" field shouldn't matter. Do you have any other iPC attributes in the output? I'm running the dataset you linked to see if I get the same problem, and I'll report back if I figure out what's wrong.

[2018-07-11 21:18] kbartelt commented on #115
Okay sounds good. Yes, there is iPC_RoadX, iPC_RoadAd, iPC_Canal, and iPC_LU.

[2018-07-11 21:41] banderson1618 commented on #115
I think I found the problem. Change the field named "LUI_Class" to "LUI_CLASS", and that should work. Apparently, the if condition is case sensitive. Let me know if it works.

[2018-07-11 21:51] banderson1618 commented on #115
The reverse may actually be the problem (so, change "LUI_CLASS" to "LUI_Class"). I'm working on a fix that will make it no longer case sensitive, but until then, this is a quick fix.

[2018-07-11 22:30] kbartelt commented on #115
Changing the field to Class instead of CLASS worked, thanks!

[2018-07-11 22:30] #115 closed

[2018-07-12 00:43] kbartelt commented on #114
@banderson1618 @wally-mac @bangen @joewheaton I've been using the virtual machine along with Scott for the past few hours trying to figure out any way to manually add the missing inputs to the layer package or recreate the layer package in 10.4 and cannot figure it out. If anyone has any last minute suggestions I will gladly give it a shot. I'm so sorry I couldn't get it to work Joe!

[2018-07-12 20:32] wally-mac commented on #93
I think option 3 is the best option.

Put BDWS in its own toolbox. This would allow a user to use the rest of pyBRAT without issue, while also giving them access to it if they want it. Personally, I lean towards this option. It wouldn't be very difficult to implement, but it would give access to BDWS to users that want it.

[2018-07-12 21:20] banderson1618 opened #116 "pyBRAT seems to crash when finding braids if ran in ArcGIS 10.5"
I've identified the problem to be an issue with using in memory workspaces in ArcGIS 10.5. The only solution I've found is to store the output of the Erase function in a temporary folder, and then delete it after. I'll be implementing this, and I'll look into a version that only runs if the version number is 10.5.

[2018-07-12 21:30] wally-mac commented on #114
@kbartelt were you able to resolve this issue? Please advise.

[2018-07-12 21:36] wally-mac commented on #113
@banderson1618 are you working on this? Do you have questions or issues?

[2018-07-12 21:40] kbartelt commented on #114
@wally-mac I still do not know how to resolve the issue. My understanding is that the symbology for the DEM inputs will not work with 10.4. I don't know how to fix this. @banderson1618 Do you know a workaround? Would this be fixed if I re-ran the BRAT start to finish in 10.4?

[2018-07-12 21:43] wally-mac commented on #112
In talking to @sshahverdian this error was the result of NHD streamlines extending beyound the watershed boundary (an obvious input data error).  @banderson1618, perhaps the error message could be more specific so the user has more information on what has caused the error.

[2018-07-12 21:45] wally-mac commented on #113
I think it pretty high priority.  @chadFHC, might have some insights on this. ArcGIS Pro makes this pretty easy to do.

[2018-07-12 21:51] wally-mac commented on #110
@webernick79 did you have a chance to update the inference system in the cIS Survey123 app?  Please advise and thank you.

[2018-07-12 21:51] kbartelt commented on #115
@banderson1618 something to note- the instructions on the BRAT tutorial page use LUI_CLASS instead of LUI_Class which resulted in that error above! This may not matter if you are changing the code but I wanted to let you know. Thanks!

http://brat.riverscapes.xyz/Documentation/Tutorials/StepByStep/2-Preprocessing.html

[2018-07-12 21:53] banderson1618 commented on #114
@kbartelt, you can add the layers necessary by hand as a workaround. I don't have much experience working with layer packages manually, but I'm pretty sure that @MatthewMeier knows how, and I believe he works in the same office as you? If not him, then Mic definitely know, and I could probably figure it out eventually.

Running through BRAT on 10.4 would probably work, but you'd need to use the la

[2018-07-12 21:56] kbartelt commented on #114
Thank you @banderson1618. Do I need to manually add them using 10.4 then?

[2018-07-12 21:57] banderson1618 commented on #115
The documentation for pyBRAT isn't the best, I admit. I appreciate you pointing out places where it needs improvement, even though it shouldn't matter now.

[2018-07-12 22:03] banderson1618 commented on #114
Yes, you'd need to make the layers in 10.4, @kbartelt. Sorry, I should have mentioned that. I think @sshahverdian already showed you how to use the virtual machines? I can send you the instructions if not.

[2018-07-12 22:03] kbartelt commented on #97
I uploaded a provisional run to Box for the two watersheds below:

Tomales-Drake Bays (HUC 18050005): https://usu.box.com/s/uvwshiupku6zm76e7yqfzhffdts5xyff
 San Pablo Bay (HUC 18050002): https://usu.box.com/s/ayoojqgfz5sd771ds50s1yhgylilil91

[2018-07-12 22:14] banderson1618 commented on #112
The one concern I have with a more detailed error message is that this error might not always come from the NHD hanging off the raster. For example, I could see this error popping up if the datasets didn't have the same projection. If that was the problem, then a more detailed error message could be a red herring.

Maybe we could use the "FAQ" idea we were talking about yesterday. We could make a

[2018-07-12 22:15] wally-mac commented on #112
Good point.  I like the idea of having a URL that provides more information.

[2018-07-12 22:24] #116 closed

[2018-07-12 22:49] webernick79 commented on #110
Hey, I’m on the road but can make sure this is all set tomorrow morning first thing

Sent from my iPhone

[2018-07-13 00:39] kbartelt commented on #97
@joewheaton there are new complete layer packages for Scott and Salmon that should work on 10.4 located on box.

Scott: https://usu.box.com/s/116yymh78p7yxzdlihj4bzytvjp5knmv
Salmon: https://usu.box.com/s/16ghhr2577wqd6azmj8hx3k62kgzzbmp

I will add the same 10_4 layer packages for the Tamales Drake Bays and San Pablo Bay first thing tomorrow.

[2018-07-13 00:40] kbartelt commented on #114
Thank you for the help @banderson1618, that worked.

[2018-07-13 16:06] bangen opened #117 "TNC BRAT VBET Batch Run"
@banderson1618 @wally-mac

We need to create valley bottoms for all of the TNC BRAT basins.  A few of the basins have already had VBET run, but since they may not all have the same file structure. let's go ahead and run all of them.

Let's enforce a common folder/file structure:

- Name the main sub-folder under each basin 'VBET'.  You'll need to check if the directory already exists, since a few

[2018-07-13 16:20] wally-mac commented on #117
Thanks Sara! Yes I think it’s worth having Braden spend the time to do this.

On Fri, Jul 13, 2018 at 10:06 AM bangen <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-07-13 16:31] wally-mac commented on #117
I see this is high priority because we do have a deadline to get this out.
I’ll let Sara address your other questions

On Fri, Jul 13, 2018 at 10:28 AM Braden Anderson <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-07-13 16:42] bangen commented on #117
_Would we want the drainage area check to run by default? We could have it be a checkbox, or we could have it run automatically if the field "ReachDist" exists._

I see a checkbox working best since not all users with have their network set up correctly (e.g., ensuring all flowlines are in the right direction) and/or have a 'ReachDist' field.

[2018-07-13 16:47] webernick79 commented on #110
@wally-mac  I double checked the inference systems in the BRAT Advanced V2 Survey123 form and should now be consistent with changes to the pyBRAT ruleset. You can find a new version of the survey here: https://arcg.is/1nOfm90

@bangen  here is the .xls file I use to build up the if statements, you can double check tables for consistency:
[BRAT_Survey123_Logic_20180713.xlsx](https://github.com/Rive

[2018-07-13 16:47] banderson1618 commented on #117
OK, I'll implement that and have it up by noon, then get started on running VBET. Do most of the networks
 (I'm assuming they're on Box?) need to have the segmentNetwork.py script run on them?

[2018-07-13 18:31] bangen commented on #117
They are all up on Box.  The 'NHD_24k_300mReaches.shp' should have already had the 'segmentNetwork.py' version of the tool run on them and so should have the 'ReachDist' field calculated.  You could always write a check in your function that the field exists.

[2018-07-13 19:03] wally-mac commented on #110
Thanks Nick!

On Fri, Jul 13, 2018 at 10:47 AM Nick Weber <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-07-13 19:10] sshahverdian opened #118 "distance to railroad and canal error"
I'm getting inaccurate distances to railroads and canals when running the BRAT table tool, which results in erroneously high conflict potential. There are a number of segments that show a 0 value (i.e., a railroad or canal crossing) where there are no railroads or canals nearby.

![railroad_canal_error](https://user-images.githubusercontent.com/21205131/42709502-f117b218-869d-11e8-9afb-2c17b9be664

[2018-07-13 19:11] banderson1618 commented on #118
Can you upload the dataset you were using?

[2018-07-13 19:21] banderson1618 opened #119 "pyBRAT could use a "verbose" mode"
Recently, in a talk with @sshahverdian, he mentioned that it was nice it was to see all the debugging messages I added when trying to fix a problem with his version of pyBRAT. Seeing that the program is making progress made it easier to identify if the program was actually working or if it was hung up on a problem in the code.

It might be a good idea to have a checkbox that triggers a bunch more

[2018-07-13 19:34] sshahverdian commented on #118
@banderson1618 Here is the data I used:
https://usu.app.box.com/folder/51251956841

[2018-07-13 20:28] banderson1618 commented on #118
I just ran it in ArcGIS 10.6, and I didn't get the problem. It's likely a versioning issue. I'm running it on a virtual machine now.

[2018-07-13 20:39] wally-mac commented on #119
I like the idea. How much work would that likely require

On Fri, Jul 13, 2018 at 1:21 PM Braden Anderson <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-07-13 20:42] banderson1618 commented on #119
Depends on how verbose we want to make it. Maybe two hours of work to make BRAT Table function like that? A good start would be putting debugging comments behind the verbose mode, rather than deleting them once the problem is fixed.

[2018-07-13 21:23] banderson1618 commented on #118
I ran it in the virtual machine, and... I didn't get the error. Until we figure out how to reproduce this error, I'm going to tentatively put a pin in this issue.

[2018-07-13 22:20] wally-mac commented on #117
Let’s keep the old runs.

On Fri, Jul 13, 2018 at 3:27 PM Braden Anderson <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-07-13 22:22] banderson1618 commented on #117
Will do. I've uploaded the first VBET run. If there's any obvious problems, now's the best time to let me know. Here's a link:

https://usu.app.box.com/folder/51265221053

[2018-07-15 19:58] joewheaton commented on #97
Thanks a ton for these @kbartelt! Nice work busting those out under a tight time frame.

[2018-07-16 16:14] #112 closed

[2018-07-16 16:14] #114 closed

[2018-07-16 18:24] bangen opened #120 "TNC BRAT Drainage Area for Major Rivers Flowing Into HUC8 Basin"
@kbartelt @wally-mac

The drainage area value for reaches in the BRAT network is calculated from the drainage area raster.  The latter is calculated at the HUC8 basin-level.  Issues arise when a major river flows into/crosses a HUC8 basin boundary.

For example, the Truckee River begins at the outflow of Lake Tahoe (in the Lake Tahoe basin) and then crosses into the Truckee basin (see screenshot b

[2018-07-16 18:51] kbartelt commented on #120
@bangen i'll get started on this now and will reach out with any questions. Do you have a specific deadline for this task?

[2018-07-17 16:34] bangen commented on #120
From Karen:

_For the Sacramento River StreamStats does not allow you to delineate the watershed from a stream cell point like it does elsewhere. For these points I have been using the nearest gage to get drainage area, though in some instances this is much lower in the watershed than the input. Is this okay, or is there a better way to go about this?_

@kbartelt  Let's not use gages that are that

[2018-07-17 17:48] wally-mac commented on #120
I agree. I was thinking the same thing let’s go with that approach of just
using the shape files.

On Tue, Jul 17, 2018 at 10:34 AM bangen <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-07-17 17:56] kbartelt commented on #120
Sounds good, thanks! Should I do it this way for each watershed or would you still like me to use streamstats for rivers that the delineate tool works for?

Also- to clarify- For rivers that pass through more than 1 watershed, I will total the area of all upstream watersheds draining to that river, correct?

[2018-07-17 19:37] wally-mac commented on #120
Use streamstats where you can.  Yes, "for rivers that pass through more than 1 watershed, total the area of all upstream watersheds draining to that river"

[2018-07-17 20:02] #106 closed

[2018-07-17 20:03] #78 closed

[2018-07-17 20:04] #97 closed

[2018-07-17 20:05] #99 closed

[2018-07-18 15:12] kbartelt commented on #120
@bangen @wally-mac I finished going through these and the spreadsheet is updated.

[2018-07-18 15:23] wally-mac commented on #120
Nice work Karen. At some point we’ll need to do the same for Idaho BRAT. @bangen can you get Karen setup for that or is there higher priority stuff related to TNC BRAT?

[2018-07-18 15:48] wally-mac commented on #14
@banderson1618 what is the status of this enhancement?

[2018-07-18 15:50] wally-mac commented on #15
@banderson1618 and @MatthewMeier what is the status of this enhancement?

[2018-07-18 15:55] wally-mac commented on #16
@joewheaton, I know you have thought a lot more about the potential conflict side of the BRAT model over the past couple of months.  Can you please add your comments here or in a new ticket for our staff meeting next week (Week of July 22)? Thanks

[2018-07-18 15:57] wally-mac commented on #19
@bangen can this issue be closed based on the work you and Karen have done?

[2018-07-18 15:58] #30 closed

[2018-07-18 16:00] wally-mac commented on #34
@banderson1618 can this be closed or are you waiting on information?

[2018-07-18 16:01] banderson1618 commented on #14
This is pretty much what was requested in #26, and that issue was closed. Continued discussion on these fields should probably take place in the context of that issue, so I'd say we can close this issue.

[2018-07-18 16:01] #14 closed

[2018-07-18 16:02] MatthewMeier commented on #15
@wally-mac as far as I know @banderson1618 had gotten the code transferred to python and was researching on how to create the input rasters for the script to work with.  This is an important step that is best to be coded. Konrad had to use code in order to do this in the first place but used c++ to do so.

[2018-07-18 16:04] banderson1618 commented on #34
I'm not waiting on information, I just haven't had time to look into this recently.

[2018-07-18 16:46] bangen commented on #19
@wally-mac I'll go ahead and close this issue.  We will just need to keep in mind that once the basins have been run through the BRAT Table tool that we will need to update the 'DA_sqkm' field.

[2018-07-18 16:46] #19 closed

[2018-07-18 16:51] bangen commented on #117
@wally-mac From speaking with Joe my impression is he doesn't want us to spend a bunch of time producing the valley bottoms.  So while the output shown in the video is far from perfect, I'm wary of spending too much time iteratively re-running each HUC8 given our budget and the time it would take.  Thoughts?

@banderson1618 What's the status on the batch run?

[2018-07-18 16:55] banderson1618 commented on #117
@bangen, I've downloaded and created projects for all the watersheds in the Google Doc, and I'm now running the actual tool. Maybe ~15 VBETs completed? And that's just because it ran into an error sometime last evening.

[2018-07-18 17:05] bangen opened #121 "Idaho BRAT Drainage Area for Major Rivers Flowing Into HUC8 Basin"
@kbartelt @wally-mac

Karen, please carry out the same tasks outlined in Issue #120 for the Idaho BRAT project.

You can create a new Google spreadsheet using the same field names as the TNC BRAT Upstream DA spreadsheet.  Please share it with Wally and I.

The projectwide NHD data is up on Box [here](C:\etal\Shared\Projects\USA\California\SierraNevada\BRAT\wrk_Data\00_Projectwide).  Note: I'm uplo

[2018-07-18 17:11] bangen commented on #120
@wally-mac

I'll go ahead and close this issue.  Karen was working in a google spreadsheet.  For 'safe-keeping' I put a hard-copy on Box [here](https://usu.box.com/s/uva8pi28p8znystpn7zt2z1ahfoxxtcp).

For project task purposes, I created a separate issue specific to the Idaho project (Issue #121 ).

[2018-07-18 17:11] #120 closed

[2018-07-18 17:13] bangen commented on #117
@banderson1618 sounds great!  Thanks for the update.

[2018-07-18 17:38] kbartelt commented on #121
Okay I will get started on this, thanks! The google spreadsheet is located [here](https://docs.google.com/spreadsheets/d/1gK8BeTsOe3NDJRHa_lBptsasBEEeCapt3nTRYdjjuDc/edit?usp=sharing).

[2018-07-18 17:42] wally-mac commented on #121
Excellent! Thank you Karen.

On Wed, Jul 18, 2018 at 11:38 AM kbartelt <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-07-18 17:43] wally-mac commented on #117
Excellent work!

On Wed, Jul 18, 2018 at 11:13 AM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-07-18 20:23] wally-mac commented on #111
@Albonicomt, when you return from vacation can you please address Stuart's issue?  Thanks

[2018-07-18 21:04] wally-mac commented on #105
@chadFHC , let's work on this on Friday when we meet.

[2018-07-18 21:07] wally-mac commented on #94
@chadFHC do you have this up on the ETAL website? @bangen have you heard back from Kristen to see if the imagery was of high enough resolution?

[2018-07-18 21:09] wally-mac commented on #89
@banderson1618, what is the current status of this issue?

[2018-07-18 21:20] wally-mac commented on #87
@Albonicomt, yes you are correct. Can you give this a try?  Thanks

[2018-07-18 21:22] wally-mac commented on #86
@banderson1618  is this still a bug? If so is it version dependent?

[2018-07-18 21:33] webernick79 commented on #73
Again, much apologies @wally-mac , can we get @chadFHC to fill in on this. I'm happy to help, but with what I've got currently on my plate can't give this the proper attention until July 30.

Thanks guys,

[2018-07-18 21:44] chadFHC commented on #105
@wally-mac Sounds good.

[2018-07-19 03:42] banderson1618 commented on #89
I have not been in contact with Konrad. Unless something pressing comes up, I'll focus on this as my priority after I come back from vacation on August 1st.

[2018-07-19 15:37] Albonicomt commented on #100
Sounds good! I am on it.

[2018-07-19 17:20] bangen commented on #94
@wally-mac I have not heard back from Kristen.  I'll check back in.

[2018-07-19 17:58] chadFHC commented on #94
@wally-mac It is not on there yet, I will get it up.

[2018-07-19 18:00] banderson1618 commented on #117
@bangen, I ran into this error with a couple of the watersheds I was running VBET on. Do you know a way to fix this?

The watersheds with this error were Crowley Lake, Honey Eagle Lakes, Lost, Lower Klamath, Lower Pit, Mad Redwood, Middle Kern Upper Tehachapi Grapevine, Middle San Joaquin Lower Chowchilla, Owens Lake, Russian, Smoke Creek Desert, Trinity, Tulare Lake Bed, and Upper Cache.

![vbet_

[2018-07-19 18:17] bangen commented on #117
@banderson1618 Jordan the codes so I'm not 100% sure.

Code block to zero in on:

    # Slope analysis
    arcpy.AddMessage("Creating slope raster")
    if not os.path.exists(os.path.dirname(DEM) + "/Slope"):
        os.mkdir(os.path.dirname(DEM) + "/Slope")
    slope_raster = Slope(DEM, "DEGREE", "")
    slope_raster.save(os.path.dirname(DEM) + "/Slope/slope.tif")
    inSlope = os.path.dirname(DE