[2018-10-17 21:08] #202 closed

[2018-10-17 21:10] joewheaton commented on #197
@banderson1618 that makes sense to focus on XML. This will play into that and it is related... so as long as you charge ahead on XML with this in mind, I think we're good. Then pick this up when it makes sense next (& before we have analysts crank through all the Idaho and TNC runs).

Cheers,
Joe

[2018-10-17 21:11] joewheaton commented on #200
@banderson1618 is this related to #201 that @MatthewMeier is experiencing?

[2018-10-17 21:16] banderson1618 commented on #200
@joewheaton, Matt and I have discussed this in person. We're trying to
identify a time to meet in person, so that he can show me the problem in
more detail.

On Wed, Oct 17, 2018, 3:13 PM Joe Wheaton <notifications@github.com> wrote:

[2018-10-17 21:17] #190 closed

[2018-10-17 21:44] joewheaton opened #203 "Workshop Exercise 'Zoom In'"
## Background
We need a few examples for hand-outs to have participants fill out the BRAT cIS at some contrasting reaches.

From @Albonicomt:

 NO. Just a plain line network (we are using these zoom in-s for a few cIS exercises... NOT to give them the answer or make comparison to BRAT cFIS).

No... but that would be a great thing to print on the back... same map, but instead of basemap being aeria

[2018-10-17 21:47] joewheaton commented on #193
Moving this to #203:

[2018-10-17 21:48] joewheaton opened #204 "Summary Product Feedback on Cartography"
@Albonicomt wrote in #193 :

[2018-10-17 21:50] joewheaton commented on #193
Moving to #204

[2018-10-17 21:52] joewheaton commented on #193
I think we're good here... @Albonicomt and @CHafen:

Takehome is:
-  put these in lower left or lower right (depending on map layout). Putting them up top draws to much attention to them (like scalebars and north arrows, they aren't the main point, just context).
- We need a few more flavors (i.e. variants without white background in CC circles and using the white for the USU ETAL logo) to use for

[2018-10-17 21:52] #193 closed

[2018-10-18 00:42] joewheaton commented on #195
So @MatthewMeier, just to round back on our discussion:

What @wally-mac and I need by COB Friday is six Survey123 Apps (3 for John Day; 3 for Powder Basin):

1. Powder Basin - BRAT Advanced
2. Powder Basin - Single Dam Advanced
3. Powder Basin - Complex Advanced
4. John Day - BRAT Advanced
5. John Day - Single Dam Advanced
6. John Day - Complex Advanced

Note that the dam complex app and single d

[2018-10-18 01:09] joewheaton commented on #186
Lets hold off on this until we've completed all the testing and updates to new pyBRAT (i.e. ealry to mid November).

[2018-10-18 01:19] joewheaton commented on #184
Wow... I'm finding this a little late... sorry.

I agree... have the miles be the nice even numbers and let kilometers follow.

[2018-10-18 01:30] joewheaton commented on #184
This looks great. A few hypercritical things:
- It doesn't make sense for arrows to point out of watersheds to labels. If using a label, point from label to the watershed.
- I think the place names (e.g. Prineville) are too prominent. They could be much smaller and more subtle (e.g. non bold, smaller font, even lighter color)
- For mountain ranges, try spreading out text e.g. 'B L U E    M O U N T

[2018-10-18 01:33] joewheaton commented on #184
I like this, but there are no place name or stream name logos in the actual watershed. See also comments above.

[2018-10-18 01:36] joewheaton commented on #188
This is now moved to #184, #204, #193 so closing this.

[2018-10-18 01:36] #188 closed

[2018-10-18 01:43] joewheaton commented on #180
This is similar to #188. I'm going to respond to a few specifics below...

[2018-10-18 01:50] joewheaton commented on #180
I agree with @CHafen that:

However, what you did below really works well.

Delete label 'Overall Departure by Stream Length (%)' but use that font size and type for the vertical label 'Current Departure from Historic'

Delete label of 'Dam Count By Km (%)' and change font on vertical label as above

Delete the 'Condition Status by Km (%)' label.

[2018-10-18 01:54] joewheaton commented on #180
I AGREE! These look fantastic for the examples where we decide to include the perrenial vs. intermittent and just vary the lineweight!

Good point. Understood and helpful for us to bare in mind in budgeting.

Understood, but they are far more useful than pie charts! Lets reserve them just for the summary products (not for the full atlas)

I really like having this choice of clean and simplified ba

[2018-10-18 05:42] joewheaton commented on #204
Oops!
All the NF maps have a typo on miles: they say 1290 miles (1077 km). I think the mileage is correct, but that is 2076 km (not 1077). So all those need fixing I'm afraid.

[2018-10-18 07:20] joewheaton opened #205 "Remaining Maps Needed for NF Burnt & John Day Workshops"
OKay, @CHafen and @Albonicomt and @MatthewMeier , this is less about cartographic perfection requested in #204  (which you are approahcing BTW) and all about what we really need done by Friday. For a few of these @MatthewMeier has to finish up his analysis and runs. However, for a bunch of them you guys can update the maps here:

Basically, just go into these two powerpoints @wally-mac and I will

[2018-10-18 14:02] joewheaton commented on #205
Also, note that all the map outputs derived from vegetation need to be updated (i.e. veg capacity and capacity), as they are all based on last week's incorrect veg-code blunder. @MatthewMeier please confirm that these are updated and provide @CHafen and @Albonicomt with the latest so they can update those in your absence at class today. Thanks!

[2018-10-18 14:53] joewheaton opened #206 "Remaining Analysis Tasks for Burnt & John Day Workshops"
@wally-mac, @MatthewMeier and I went through what updates need to be made to the management models so that @Albonicomt and @CHafen can finish #205. In short you are going to do all the following twice for two updated runs of BRAT (updated with corrected vegetation codes) and for one with all roads, and the other for the clipped down extent of just named roads:
- [x] Run new [ConservationRestoratio

[2018-10-18 14:58] #175 closed

[2018-10-18 14:58] #151 closed

[2018-10-18 14:59] #160 closed

[2018-10-18 14:59] #16 closed

[2018-10-18 15:03] joewheaton commented on #135
WHERE is the documentation for this? I only wanted this as an option, but this ticket was to document it.

[2018-10-18 15:05] wally-mac commented on #205
It is my understanding that the veg code errors were only in the North Fork Burnt River watershed. Is this correct?

[2018-10-18 15:06] joewheaton opened #207 "New logic for `oPBRC_UI` (Areas beavers can build dams, but could be undesirable impacts)"
@banderson1618, after we manually implement some changes to `oPBRC_UI` in [Conservation_Restoration.py](https://github.com/Riverscapes/pyBRAT/blob/master/Conservation_Restoration.py), I want to strip apart the `oPBRC_UI`, `oPBRC_UD`, and `oPBRC_CR` into three seperate commands, which each populate their own tables and shapefiles, such that multiple versions of each can exist, each with its own dep

[2018-10-18 15:11] joewheaton opened #208 "Renaming throughout code base of 'potential' to 'historic'"
Hi Folks, Something we need to fix for pedagogic consistency as well as consistency with RCAT and River Styles is to ditch the 'pt' and 'Potential' nomenclature throughout BRAT and replace it with 'Historical' or 'hpe' as a prefix or suffix ('historic pre european').  This will impact our code for variable names, comments, our labels in tools in the toolbox, our folder naming convention (maybe), o

[2018-10-18 15:11] wally-mac commented on #135
I agree. I think there’s been a misunderstanding. The new code is
segmenting by roads. I personally do not know if there is documentation on
this.

On Thu, Oct 18, 2018 at 9:03 AM Joe Wheaton <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-18 19:51] banderson1618 commented on #198
@MatthewMeier, sorry that I've been slow responding to this. I'm going to need more to go off of. How does the LPG not work? Does it throw an error? Does it crash Arc? I haven't been able to replicate this error, so I'm going to need you to describe it for me.

[2018-10-18 20:19] kbartelt commented on #203
Hey @Albonicomt  Below are figures for the first zoomed area. The scale for these is 1:3000. Let me know of any issues or suggestions and I will make changes. I'm going to get started on the other two now.
![nf_burnt_zoom1](https://user-images.githubusercontent.com/39836333/47181482-4eb82b80-d2e0-11e8-94f3-cd47c7e02fd5.png)
![nf_burnt_zoom1_veg](https://user-images.githubusercontent.com/39836333/4

[2018-10-18 20:41] Albonicomt commented on #203
Hey @kbartelt, those look great! A few corrections to the map below:

(1) In the first figure and second figure the reference map looks like the Hillshade was shifted. I would fix the hillshade and make sure it fits within the Huc8.

(2) On the Second map, You are using the "Existing Vegetation Suitability" instead, I would use the default symbology for LANDFIRE. I believe the field attribute that

[2018-10-18 20:44] kbartelt commented on #203
@Albonicomt Yes it does! Thank you!

[2018-10-18 20:56] MatthewMeier commented on #205
Yes this is correct the vegcodes only needed changed for the NF Burnt not the John Day

[2018-10-19 01:27] kbartelt commented on #203
@Albonicomt @wally-mac @joewheaton I still need to make the landfire legends for zooms 2 and 3, but this is what I have right now. Thanks for the help today, Mic.

Tomorrow I can make the zoom in figures for the John Day and make any corrections to the figures below:

![nf_burnt_zoom1_nf_burnt_zoom1](https://user-images.githubusercontent.com/39836333/47192591-648f1600-d30b-11e8-95eb-96db8d49f8ec.p

[2018-10-19 02:30] wally-mac commented on #203
Karen, those maps look good to me.  Nice work.

On Thu, Oct 18, 2018 at 7:27 PM kbartelt <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-19 14:48] MatthewMeier opened #209 "BRAT Table Error"
@banderson1618
I am running into the following error with the brat table have you ever seen this before. It seems to be an issue with the railroads layer
![image](https://user-images.githubusercontent.com/30604787/47225619-bec7bf80-d37b-11e8-846b-114b68cbcb29.png)

[2018-10-19 15:29] joewheaton commented on #203
Thanks @kbartelt! These do look good. No need to make edits, but I'm going to provide some nitpicky critical feedback for future maps below.

Also, @kbartelt can you please do the same thing (i.e. 4 maps at 3 locations) for 2 locations of your choosing (i.e. some contrasting riparian/beaver conditions) in the Middle Fork and North Fork John Day and put them [here](https://usu.app.box.com/folder/55

[2018-10-19 15:56] kbartelt commented on #203
@joewheaton Thank you for the feedback!

To clarify- you want me to select 2 locations (1 degraded and 1 good riparian) in both the North Fork and the Middle Fork John day, making 4 maps for each of the two watersheds?

@wally-mac @joewheaton Should I prioritize creating these or adding the labels to the NF Burnt maps?

[2018-10-19 16:15] wally-mac commented on #203
Yes, please prioritize working with Chalese to get major river labels on
the Burnt River maps.

On Fri, Oct 19, 2018 at 9:56 AM kbartelt <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-19 17:46] joewheaton commented on #203
Sorry if that was confusing. Nope... all we need are 4 total maps from 2 locations. Just choose one of the sites from North Fork and one from Middle Fork John Day if you can. Thanks!

Agreed... you should prioritize the labels on NF Burnt. Then come back to this.

[2018-10-19 18:36] MatthewMeier commented on #195
@webernick79
another question for you. I know that if you click on the links you will be taken to the different surveys and you can edit them from an online browser.
Can you share these with people who do not have an arcgis account?
How do you share them with other people/groups besides usu?
How do you connect those survey links to your survey123 app for other people(aka not the original creator o

[2018-10-19 18:53] ctobalsk commented on #200
Solution was easy, albeit manual - I hashtagged-out the part of the script calling to generate slope and hillshade, and ran the commands myself in ArcGIS, placing the rasters in the appropriate folders. I also got an error because one the script couldn't find the Flow raster; it had been generated but was not where it was supposed to be, so I moved it (to /Inputs/03_Topography/DEM_1) and after tha

[2018-10-19 22:50] MatthewMeier commented on #195
@joewheaton @wally-mac
I have finished the aps for the following surveys which you can access through these links and it should open the survey in your Survey123 ap.

1. [Powder Basin - BRAT Advanced](https://arcg.is/ODKCz)
2. [Powder Basin - Single Dam Advanced](https://arcg.is/14rz9r)
3. [Powder Basin - Complex Advanced](https://arcg.is/1iO84y)
4. [John Day - BRAT Advanced](https://arcg.is/1LSKf

[2018-10-20 01:05] MatthewMeier commented on #195
All of the dams are uploaded I had to do them one by one manually.

[2018-10-20 01:08] kbartelt commented on #203
@joewheaton I uploaded the 4 figures below to the folder you made on [box](https://usu.box.com/s/qjz0gq8p4ghad1lfbte0ltdhvg4xemni).

I believe I covered all of your edits mentioned above except for a subtle imagery source reference. I can do this first thing Monday if needed.

Please let me know if I missed anything or need to make changes. Thanks!

**Middle Fork- overgrazed example:**

![middle_f

[2018-10-20 01:11] wally-mac commented on #195
Great, thanks Matt.

On Fri, Oct 19, 2018 at 7:05 PM Matt Meier <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-21 01:29] joewheaton commented on #203
Thanks a ton @kbartelt. These will work perfect (no edits needed). I'm closing this ticket, but what is the symbology of the network on the location map based on?

[2018-10-21 01:29] #203 closed

[2018-10-21 06:03] #196 closed

[2018-10-21 07:47] joewheaton commented on #192
Okay guys...  working version of this is [here for NF Burnt](https://usu.app.box.com/folder/55426293880)

Note, I
- downloaded zip of latest version of full project from `wrk_data`
- unzipped it (massive) to my `wrk_figs` folder
- set aside the `project.rs.xml` file to keep in root of 'date' of download folder
- opened a command prompt (just type `cmd`) and `cd` to the directory in `wrk_figs`
-[ g

[2018-10-21 07:48] #195 closed

[2018-10-21 07:49] joewheaton commented on #206
As best I can tell, @MatthewMeier has finished all this.

[2018-10-21 07:49] #206 closed

[2018-10-21 07:50] joewheaton commented on #205
We're all set for NF Burnt (Thanks @CHafen, @Albonicomt, @MatthewMeier  and @kbartelt).

[2018-10-22 15:52] ctobalsk opened #210 "Problem with management display?"
Anyone else has problems with the Management group display after they run the Layer Package Generator?  Everything else displays fine (match between shapefiles /rasters and layer files), but my 3 management displays (Unsuitable or Limited Opportunities, Restoration or Conservation opportunities, and Beaver Management Zones) do not have a symbology (beside a plain Single Symbol colored line).  When

[2018-10-22 20:37] banderson1618 commented on #209
I have not seen this error before. It looks like it's a problem with the historic vegetation input. It's trying to create a table based on zonal stats in the area, and for some reason it's failing.

The only thing I have to go off of is "Workspace or data source is read only." Is it possible that there's something in your environment that's preventing it from being able to write a table? I've read

[2018-10-22 20:41] MatthewMeier commented on #209
I am not trying to sync the data it was just weird and I thought it was an issue with the railroads layer but I will check out the vegetation layer. I will look into this more.

[2018-10-22 20:52] #89 closed

[2018-10-22 20:52] #81 closed

[2018-10-22 20:55] banderson1618 commented on #91
@joewheaton, @wally-mac, in light of the recent changes to the XML, this seems like a good time to revisit this issue. This could be an optional text field in the BRAT Table tool, maybe called "Run short discretion" or something, and it would be added to each BRAT element in the XML. Thoughts?

[2018-10-22 20:56] banderson1618 commented on #210
You're not missing anything, don't worry. These are new fields that have only recently been added to BRAT, and we haven't been able to create symbology for them yet. I'm not sure who's in charge of it. I'll go ahead and close this issue, and make a new issue with the relevant people assigned to it. Thanks for bringing this to our attention.

[2018-10-22 20:56] #210 closed

[2018-10-22 20:57] ctobalsk commented on #210
Oh good!  Thanks Braden!

Claudine

From: Braden Anderson <notifications@github.com>
Sent: Monday, October 22, 2018 2:57 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Claudine Tobalske <claudine.tobalske@umontana.edu>; Author <author@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] Problem with management display? (#210)

You're not missing anything, don't worry. These are new fie

[2018-10-22 21:10] banderson1618 opened #211 "Opportunities and Management Zones layers lack symbology"
As @ctobalsk recently brought to my attention in issue #210, we currently lack symbology for the layers "Beaver Management Zones", "Unsuitable or Limited Opportunities", and "Restoration or Conservation Opportunities". I'm working currently working on repairing the symbology layers, and will post updates and ask for advice on this thread as needed.

[2018-10-23 14:10] #205 closed

[2018-10-24 04:22] wally-mac opened #213 "Brunt River BRAT: Modification Based on Workshop and Field Tour 10/22 and 10/23/18"
@MatthewMeier based on @joewheaton and I's workshop and field visit please make the following changes to the Burnt River BRAT:

**LANDFIRE EVT Vegetation Scores**

-  Two landfire EVT codes (Pixel values: 3252 and 3255) that are currently coded as 4’s within EVT need to be changed to a 2.

- One Landfire EVT code (Pixel value: 3053) that is currently coded as a 3 and needs to be reduced to a 2.

*

[2018-10-24 14:52] MatthewMeier commented on #213
@wally-mac and @joewheaton would you like this based on the clipped road or the unedited road conflict layer?

[2018-10-24 14:57] wally-mac commented on #213
The final road layer is going to change so for now just use the full roads
network.

On Wed, Oct 24, 2018 at 7:53 AM Matt Meier <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-24 15:08] MatthewMeier commented on #213
The landfire "classname" for pixel code...
3053: "Northern Rocky Mountain Ponderosa Pine Woodland and Savanna" was coded 3 your suggestion 2
3252: "Rocky Mountain Subalpine/Upper Montane Riparian Shrubland" was coded as a 4 your suggestion 2
3255: "Inter-Mountain Basins Montane Riparian Shrubland" was coded as a 4 your suggestion 2

I am not rerunning BRAT right now on the North Fork Burnt as for

[2018-10-24 16:44] #171 closed

[2018-10-24 16:44] #163 closed

[2018-10-24 20:08] banderson1618 commented on #198
I haven't been able to replicate your problem with the LPG crashing when not closing Arc. Are you still having this problem, @MatthewMeier?

[2018-10-24 22:34] ctobalsk opened #214 "Definitions for new BRAT fields??"
pyBRAT 3.0.20 generates several fields for which I can't find a definition anywhere: mCC_HisDep, oPBRC_UI, oPBRC_UD, and oPBRC_CR. We're writing the report that will go with the Montana BRAT and would really appreciate something similar to the format in this table: http://brat.riverscapes.xyz/Documentation/Tutorials/WorkingWithBRATOutputs.html
Thank!

Claudine

[2018-10-25 04:16] wally-mac commented on #213
Thanks Matt. Those are the Correct classifications that we need to re-code.

On Wed, Oct 24, 2018 at 8:11 AM Matt Meier <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-25 09:06] joewheaton commented on #214
Yep.... We're really backed up on documentation these days and are punting
on that until we get through testing the beta releases of 3.2 and we are
happy with the outputs to the point that code development has slowed down.
In meantime, check out enhancement issues in forum, which describe the
fields and algorithm...

Sent from a little phone

On Wed, Oct 24, 2018, 3:34 PM Claudine Tobalske <notifi

[2018-10-25 14:38] ctobalsk commented on #214
Thanks Joe, I'll do that.
This is totally unrelated, but I am wondering why several steps of the model generates a new shapefile (e.g. Combined, Conservation, Summary Report) instead of simply adding fields to the attribute table, as is the case of iHyd for example?

[2018-10-25 18:50] ctobalsk opened #215 "Problem with oPBRC_UD?!?"
Hum, sorry to be posting all the time, but...
See jpeg below, it's the BRAT output for the Montana Bitterroot River HUC displayed on oPBRC_UD, and it makes absolutely no sense to me -- those scattered "Anthropogenically Limited" stream segments (in red) at the head of drainages? Blue segments are Hydrologically limited and make more sense. And it's the same for other HUCs I look at; there seems to

[2018-10-26 19:44] banderson1618 commented on #209
Were you able to get past this problem, Matt? It'd be nice to close this issue if we can.

[2018-10-26 23:17] wally-mac opened #216 "Burnt and John Day BRAT Roads"
@MatthewMeier next week (week of Oct 28) you and I will need to deal with the road inputs for Burnt River and John Day BRAT. I have uploaded the USFS road data that we'll use on Box. [Here](https://youtu.be/CQAuDbqOvUo) is a short video, that I created, that describe the task you and I have to address the roads data.

[2018-10-26 23:21] MatthewMeier commented on #216
Sounds good

[2018-10-27 16:52] wally-mac opened #217 "Edit BRAT Advance V2 Survey123 Form"
@MatthewMeier the drop down selection "Top of Reach (looking upstream)" under  the "Observer Position Relative to Reach Location" heading needs to be changed to "Top of Reach (look downstream)". For the obviously reason if you are at the top of the reach and you are observing that reach you can only be looking downstream at it.

[2018-10-27 17:10] wally-mac opened #218 "Convert Brunt River and John Day Survey123 Data into Riverscapes Compliant Data Capture Events."
**Data Capture Events**
@MatthewMeier  I'd like you to get all the data together from @joewheaton  and I's field data collection campaign (in which we used your newly improved Survey123 forms) in the Brunt River and John Day watersheds last week and organize it on Box and ingest these into the associated BRAT projects (enlist help from @banderson1618 if you need it). The challenge here is to grab

[2018-10-27 17:20] wally-mac opened #219 "BRAT Paper Forms Edits (simple and complex versions)"
@MatthewMeier let's work on the following edits to the "hard copy" BRAT forms based on feedback from the NF Burnt River BRAT workshop:

- The inference tables need some edits> Get rid of the “Not Cannot build dam” and change to “build dam”

- Brian pointed out the order of the fields in the form does not match the table, we need to make them match.

[2018-10-27 17:25] wally-mac opened #220 "Legend Edits"
@CHafen and @Albonicomt based on feedback from the workshop we need to make the following change to the legend.

On Highflow stream power map legend:
We need to add a hyphens. For example : 0-1100 **‘–‘** Dam Persists
I know this is vagus so please let me know if you need further clarification.  The maps were extremely effective, thank you!

[2018-10-27 17:49] wally-mac opened #221 "LANDFIRE Vegetation Score Changes: Making Sure EVT and BPS Match"
@MatthewMeier per on discussion on 10/26/18 we should make sure that if we are making coding changes to LANDFIRE EVT we should also be considering making the same changes to the BPS layer when and where this is appropriate. We want to avoid what we had in the uplands of the Brunt River watershed BPS veg scores that were lower than EVT.

[2018-10-27 18:06] wally-mac opened #222 "Matt Meier not Matt Reimer"
@joewheaton in looking over a number of issues this morning I noticed you, and I, on occasion,  have mistakenly addressed issues to Matt Reimer instead of Matt Meier. (I'm rather surprised that Reimer has never said anything about this).  Anyway, in the future, I plan on being more careful here and make sure I'm using the correct Matt.

[2018-10-28 22:11] joewheaton commented on #207
Okay. This worked out really well for the John Day and Burnt out in Oregon. Now that @MatthewMeier ran through it manually, @banderson1618 it is a high priority to get this updated in pyBRAT 3.X before we run it elsewhere.

Here's an example of the output.
![nf_burnt_river_brat_dam_conflict](https://user-images.githubusercontent.com/9723905/47622538-ae29ee80-dacb-11e8-86b8-e828ffb44353.png)

@band

[2018-10-28 23:13] joewheaton opened #223 "Versions and Releases - New Standards"
Hey @banderson1618. Just a heads up that I DO NOT think we should be tagging every release as 'Latest Release'. Lets reserve that for releases we are confident in (i.e. we've completed testing on) and appear to be stable.

Instead, please flag every `Pre Release` that we do internally. When we are finally happy with testing for the BRAT 3.0... we will release a 3.1.0 that we will flag as latest re

[2018-10-28 23:38] joewheaton commented on #222
Dough! Sorry @MatthewMeier for missing you and @MattReimer for the spam. Good catch!

[2018-10-28 23:38] #222 closed

[2018-10-29 12:50] MattReimer commented on #222
I just assumed you meant a different Matt when I didn't understand what you were talking about.

[2018-10-29 14:02] MatthewMeier commented on #217
I have updated the master form and the John Day BRAT adv survey 123 form however if I update the Powder mountain form data will be lost. I am considering this issue closed unless you want me to overwrite the collected powder mountain data.
closes #217

[2018-10-29 14:05] MatthewMeier commented on #217
Closes #217

[2018-10-29 14:12] MatthewMeier commented on #218
@banderson1618 I have some ideas for this but let me know when we could meet up and discuss this I think that will be easiest. I am in the office all day today.

[2018-10-29 14:32] MatthewMeier commented on #221
@wally-mac I have a few changes that I made that we can go over today and I will look over some more and see if there are more that we could discuss today. The excel document on box can be found at the following [link](https://usu.box.com/s/jsm3nmwckr74rmklb4f7heh10hnvtouz).

[2018-10-29 14:43] MatthewMeier commented on #207
@joewheaton
@banderson1618 and I have implemented the code needed for this output and it is uploaded to the pyBRAT_master branch there are some minor edits that could happen. Such as the user control knob if you would like them to choose whether to eliminate the considerable and some risk segments in the "Restoration or Conservation Opportunities" output. I am sure this will be covered under a sep

[2018-10-29 15:12] joewheaton commented on #215
That's what these forums are for... no worries. We just won't always necessarily have the time to be super responsive, but we do what we can.

This is definitely still in development and flux. As I said in #223, this is BETA and pre-release status stuff that we're only just developing ourselves. So we're in no position to support it. Yes, there was a flaw in some of the logic in that part of the c

[2018-10-29 15:12] #215 closed

[2018-10-29 15:31] Albonicomt commented on #220
Just something like this, correct? @wally-mac

![image](https://user-images.githubusercontent.com/39168968/47660758-4fad5080-db5d-11e8-9ccb-ab7ef3fab26f.png)

[2018-10-29 15:55] joewheaton opened #224 "Lets get all our Reports updated..."
Hey @wally-mac,  I know we are nearly there on a few of these, but lets queue up getting up on our [BRAT References](http://brat.riverscapes.xyz/Documentation/references.html) page:
- the Wyoming BRAT report(s)
- the Yakama BRAT report

If this means we need to load to ResearchGate, lets do it.

[2018-10-29 16:28] wally-mac commented on #220
Prefect!

On Mon, Oct 29, 2018 at 9:35 AM Micael Albonico <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-29 18:18] joewheaton commented on #220
Actually, just to be a pain in the ass... you already use hyphens for showing range: _0 - 1000 - Dam Persists_. As such, I'd suggest using a colon and also so that numbers correspond to what we're showing and text to the category make only the numbers italic:
_0 - 1000_ : Dam Persists

[2018-10-29 18:30] joewheaton commented on #220
@Albonicomt please make a new markdown page and keep adding more to our new [Internal ETAL BRAT Standards on Cartography](http://brat.riverscapes.xyz/Documentation/Standards/Cartographic/) folder. Just name it something logical (e.g. `LegendStandards.md` and copy an existing file over and start to try and make a page for each legend. We'll use this to get you and @CHafen up to speed on documenting

[2018-10-29 18:31] CHafen commented on #220
@Albonicomt I can make these legend changes since you're busy clipping network and such.

[2018-10-29 18:31] joewheaton commented on #221
@MatthewMeier please make an attempt at populating [this new standard page](http://brat.riverscapes.xyz/Documentation/Standards/Calibration/LANDFIRE_VegChanges.html) on these calibration standards. Post questions if you have them...

[2018-10-29 18:42] CHafen commented on #220
@joewheaton to keep it consistent with the other legends I thought we might want to have the numerical second as in the example below. What do you think?
![brat_atlas_highstreampower](https://user-images.githubusercontent.com/39837888/47672474-56dd5a00-db6f-11e8-876d-c7ef7561ac61.png)

[2018-10-29 18:47] joewheaton commented on #223
@banderson1618 and @wally-mac  please check out this new [Internal Release Standard](http://brat.riverscapes.xyz/Documentation/Standards/Releases/) and [edit](https://github.com/Riverscapes/pyBRAT/blob/master/docs/Documentation/Standards/Releases/index.md) if necessary. Add comments/questions here. I want to start giving folks examples of moving things we've made decisions on from issues into docu

[2018-10-29 18:57] joewheaton opened #225 "Help Documentation"
Hey @wally-mac, as we discussed, I've cleaned up a bunch of the [help documentation](http://brat.riverscapes.xyz/Documentation/) to start giving people in lab some examples to follow and to start populating. Please have a look through (especially [here](http://brat.riverscapes.xyz/Documentation/))  and make edits as needed for typos. If you or staff have questions on how to document stuff, post th

[2018-10-30 01:42] joewheaton opened #226 "Burnt River Workshop Page"
Hey @wally-mac. Can you take a look at this draft [Burnt River Workshop page](http://brat.riverscapes.xyz/Documentation/Workshops/2018/burnt.html)? Please edit as you see fit, and then we can attempt to do same for John Day BRAT using this as template.

[2018-10-30 18:40] banderson1618 commented on #223
While I like the direction that this takes us in, I think that we need to formalize a system of testing pyBRAT if we're going to require testing to release it. Even something as simple as "BRAT needs to be run on these three watersheds by at least two people on different machines before being released" would be a significant improvement.

If we're doing things this way, I wonder if there would be

[2018-10-30 18:43] banderson1618 commented on #218
@MatthewMeier I'll be in today until 4:45, and tomorrow from 1:30 to 3:30. Would either of those times work for you?

[2018-10-30 18:43] #209 closed

[2018-10-30 18:45] MatthewMeier commented on #216
@wally-mac @joewheaton
The Roads layer that they sent to us did have some exclusions and inclusions that the full roads layer that we used didn't have. Comparisons can be seen in the total length of the roads layers within the Wallowa-Whitman National Forest: for tiger is 2469.308 km vs the Client provided is 2493.560141 km. Images below should add some reference to see what we want to do.

**Lege

[2018-10-30 18:53] MatthewMeier commented on #218
@banderson1618 Lets plan tomorrow at 1:30. Thanks.

[2018-10-30 18:55] MatthewMeier commented on #209
I did get this resolved one of the files that make up the railroad shapefile was read only. it just took a check box click to fix

[2018-10-30 19:03] wally-mac commented on #216
Hi Matt,

Thanks for looking into this for us.  It would help me if we looked over
these together so I can have a better understanding of what is going on.
It does not appear that the USFS data is much better.  I'll talk with
Suzanne (our FS contact) and see if she can provide an more information on
the roads data. Thanks

On Tue, Oct 30, 2018 at 12:54 PM Matt Meier <notifications@github.com>
wrot

[2018-10-30 19:05] banderson1618 commented on #207
@joewheaton, as the tool is currently designed, the field `oPBRC_UI` is made and calculated in Conservation_Restoration.py (Matt and I implemented the commented code in commit 9652d6a). If I understand you correctly, you would like us to take that code, as well as the code that finds `oPBRC_UD` and `oPBRC_CR` and split them into three tools, each of which calculating one field. Is that an accurate

[2018-10-30 19:14] MatthewMeier commented on #216
I am going off to class pretty soon here but will be back at 2:30 and I will be in my office til the end of the day. If you want to stop by you are more than welcome. Yes I am not seeing that the USFS data is much better as well. In fact it actually includes more roads overall.

[2018-10-30 20:17] wally-mac commented on #226
Hey Joe, this looks really good! I think it will exceed their expectations. The only thing I think we should make sure we get is Brian’s last name. I could reach out to Suzanne for this information if you’d like me to.

[2018-10-30 23:17] wally-mac commented on #226
@joewheaton, I made the change to Brian's name and title and made the commit. I think the Burnt River workshop page is good to go.

 I worked with Justin Rowell to come up with the text for the John Day BRAT Workshop page which can be found [here](https://usu.box.com/s/7dob6mwvatryxk013voy4a3qa8iza2jd).  I want to learn how to do the Github webpages but need some more guidance. Should I make a cop

[2018-10-31 15:19] wally-mac commented on #226
@joewheaton, just a reminder. You were going to generate a short video showing how you edit Google Slide so I could separate the John Day BRAT workshop slides into sections.

[2018-10-31 16:33] wally-mac opened #227 "Video Tutorial Request: Working with BRAT LayerPackages"
@MatthewMeier,  [here](https://youtu.be/eezz0v3Y3wA) is a short video that describes my request for you to generate a video tutorial for how to use and navigate a BRAT LayerPackages. Once generated I like you to add it to the working with BRAT outputs webpage found [here](http://brat.riverscapes.xyz/Documentation/Tutorials/WorkingWithBRATOutputs.html). In my video I also requested that you locate

[2018-10-31 16:47] #127 closed

[2018-10-31 16:53] MatthewMeier commented on #227
@wally-mac that makes sense and I will get on that asap.

[2018-10-31 19:10] joewheaton commented on #226
Yep... that looks good.

Text looks good, implement it.

Yep, I finished all that documentation for you last night:
- Everything is linked off of [here](http://brat.riverscapes.xyz/Documentation/Standards/Documentation/)
- [Making New File & Folders](http://brat.riverscapes.xyz/Documentation/Standards/Documentation/new#making-a-new-file--folder)
- [Embedding a Slideshow](http://brat.riverscapes.xy

[2018-10-31 19:11] #226 closed

[2018-10-31 20:14] #198 closed

[2018-10-31 20:15] banderson1618 commented on #198
Closing it for now, unless @MatthewMeier is still having this problem.

[2018-11-01 22:41] MatthewMeier commented on #219
This has been fixed and uploaded to box for all of the locations that these forms are found as "[BRAT_cIS.Asessment.Form_Basic_v2](https://usu.box.com/s/75scvh9q008mh793atp3v4cyzr4yzphf)" and "[BRAT_cIS.Asessment.Form_Advanced_v2](https://usu.box.com/s/fntumw3ybujj2ynmy9iry9waacq97sds)"

[2018-11-02 22:38] #217 closed

[2018-11-02 22:38] #219 closed

[2018-11-04 05:14] joewheaton commented on #220
Sorry for slow reply. I like!

[2018-11-05 18:38] Albonicomt commented on #187
@CHafen , I will start on this now. Thanks for the Reminder! Stand by for an update.

[2018-11-05 18:39] wally-mac commented on #187
Hi Chalese,

Thank you for following up on this.  Mic (@Albonicomt
<https://github.com/Albonicomt>) can you have a look at the video that Joe
made in this post and let me know what you think and how long you think it
will take to complete the tasks that Joe has outlined and we can go from
there.

Thanks

On Mon, Nov 5, 2018 at 11:27 AM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane

[2018-11-05 20:57] MatthewMeier commented on #187
@wally-mac I would say that the time estimate is pretty accurate if the data is already there to rerun BRAT. Most of what we have been running into issues lately is getting the regression equations dialed in. Besides that depending upon the area the DA can be an issue if there is a mainstem going through the watershed or not. I would say though that.
Also @Albonicomt on the note of making sure tha

[2018-11-05 21:16] kbartelt commented on #187
@Albonicomt the data is located [here.](https://usu.box.com/s/50ik5srci0923iyzy8t3i3vegn80face)

Also, below are the regression equations I used:

[code]

[2018-11-05 21:18] banderson1618 commented on #223
@joewheaton, what testing steps do you want to be taken before a new release is officially accepted? @wally-mac, @bangen, @Albonicomt, and @MatthewMeier probably have some input on this as well, so I'll tag them as well in this.

I'd like to put our latest release as 3.0.17, since that's the most recent build before the management model changes were made (I think). What are the testing steps shoul

[2018-11-05 21:51] ctobalsk commented on #223
From a user's perspective, it would be extremely useful to have something on the download page that gives an idea of the timeframe of updates. What I mean is, my version (3.0.20, downloaded October 15) is gone and replaced by 3.0.01 (which I assume is a more stable version). However my understanding is that there are changes in the making, especially with regards to the management model, and an up

[2018-11-05 21:51] banderson1618 commented on #207
@joewheaton, it'd be good to get your feedback on my summary, so that I can get started implementing it.

[2018-11-05 22:05] banderson1618 commented on #223
@ctobalsk, that's certainly fair. You caught us at a bad time, unfortunately, because we're switching between management models at the moment. Hopefully we'll be able to get this resolved soon, but getting everyone on one page is always difficult, in my experience.

[2018-11-06 15:49] wally-mac commented on #227
Matt, what is the status of this request?

[2018-11-06 17:18] wally-mac commented on #223
@banderson1618, I think that version 3.0.17 has been tested by @MatthewMeier and @Albonicomt in the Brunt River and John Day Basin in Oregon and the Middle Columbia-Hood in Washington.   Correct me if I'm mistaken Matt and Mic.  If I'm correct then 3.0.17 has been run on three watersheds by two people on different machines.

[2018-11-06 18:05] MatthewMeier commented on #227
Working on it now

[2018-11-06 18:09] MatthewMeier commented on #223
@wally-mac
@Albonicomt  and I have ran BRAT on these watersheds with version 3.0.19 and I feel like this is the latest and best working version. Changes to the new management model have been currently underway and are not included in this version but I assume will be in the next version. All of the edits that @joewheaton , @banderson1618,  and myself conducted for the management model are post ver

[2018-11-06 20:04] MatthewMeier commented on #227
I have uploaded the video to the [website](http://brat.riverscapes.xyz/Documentation/Tutorials/WorkingWithBRATOutputs.html) and I am working on the lookup tables now.

[2018-11-06 20:04] #227 closed

[2018-11-06 21:51] banderson1618 commented on #223
@MatthewMeier, thanks for the info. I'll go through 3.0.19 and see if it does what we need. If everything checks out, @joewheaton, would you be OK with us setting 3.0.19 as our latest version?

[2018-11-07 21:30] banderson1618 commented on #181
I'm ready to merge the `xml_refactor` branch into master. I'd like someone to check over the XML before I do so, though. @MattReimer, could you give it a once over and tell me if it looks OK? I've attached a zip file with an example XML file to this post.

[project.rs.xml.zip](https://github.com/Riverscapes/pyBRAT/files/2559243/project.rs.xml.zip)

[2018-11-07 22:00] wally-mac commented on #223
I agree.

On Wed, Nov 7, 2018 at 2:27 PM Braden Anderson <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-11-09 17:49] #181 closed

[2018-11-10 01:16] wally-mac commented on #218
How is this coming along?

On Tue, Oct 30, 2018 at 1:01 PM Matt Meier <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-11-12 16:46] MatthewMeier opened #228 "Regression equation xml"
@banderson1618  I know that you just put out an updated xml file that you discussed in issue #181 but did you or could you include the addition of documenting the regression equations. This would be useful to see what was used for past runs and eliminate the hassle of finding new regression equations for projects already ran.

[2018-11-12 18:42] MatthewMeier commented on #218
Need to meet with @banderson1618 we have been busy with project and not able to meet. Braden could you let me know when would work for you either today or tomorrow and we will get this rolling

[2018-11-12 19:42] banderson1618 commented on #228
We did not implement that, but we absolutely could. We probably need to improve the method for adding regression equations, and this could be rolled into that.

[2018-11-12 20:02] banderson1618 commented on #218
I'll be here tomorrow after 1:30 or on Wednesday from 12:30-3:30.

[2018-11-12 21:16] MatthewMeier commented on #218
@banderson1618 lets plan on 2:30pm tomorrow to go over this. It is on my calendar. Thanks

[2018-11-13 16:34] Albonicomt commented on #187
Sounds good! Thank you @CHafen!

[2018-11-13 23:25] banderson1618 opened #229 "What should the Summary Report tool be renamed?"
The Summary Report tool has a confusing name. What would be a better one?

Suggestions from the discussion today included:

- Data Capture Validation
- Validation Report
- Data Capture Event

@wally-mac, @MatthewMeier, are there any that I'm missing? What should we rename the tool to be?

[2018-11-13 23:25] banderson1618 opened #230 "Beaver Dam data should be asked for in the BRAT Project tool"
Per the discussion today with myself, @MatthewMeier and @wally-mac, we will be asking for beaver dam data in the BRAT Project tool as an optional input.

We will also be automatically copying beaver dam inputs to the Summary Report tool to our inputs folder, if they aren't in there already.

[2018-11-13 23:34] MatthewMeier commented on #229
I think some other possibilities could be...

- "Dam Capture and Model Validation" (bit long but descriptive)

I like any of those that you suggested @banderson1618  but I like the Data capture validation the most out of your suggestions.

[2018-11-13 23:57] wally-mac commented on #229
@joewheaton do you have an suggestions here?

[2018-11-14 00:00] wally-mac commented on #230
@joewheaton, do you have an input to provide to this enhancement?

[2018-11-14 17:56] Albonicomt opened #231 "VBET_Project_builder_issue"
@banderson1618, I keep running into this issue with building the VBET project builder.
![vbet_project](https://user-images.githubusercontent.com/39168968/48501933-a1133c00-e7fb-11e8-9390-6481d8a6af38.PNG)

I haven't run into this issue before. I have re-downloaded The VBET tool and have tried building a separate test project that I have run before and have gotten the same error. Not sure if this i

[2018-11-14 18:44] MatthewMeier commented on #231
I do not know what is wrong with your pc from reading about the error it occurs with tif files sometimes but I ran the VBET project tool through my pc using RCAT 1.0.11 and it worked just fine. I have sent you the project folder through email because there isn't a box location yet. Let me know if you have more errors. I would maybe try pip updating the management.py file since that seems to be the

[2018-11-14 20:00] banderson1618 commented on #231
@Albonicomt, I've never seen that particular error before. From what I've read online, it might be a problem with your environment variables? I assume that you've tried restarting ArcGIS?

[2018-11-14 23:01] MatthewMeier commented on #129
@joewheaton and @wally-mac
Current descriptions of the fields or attribute lookup tables can be found here for [BRAT v2.0](http://brat.riverscapes.xyz/Documentation/Tutorials/WorkingWithBRATOutputs.html) and here for [BRAT 3.X](http://brat.riverscapes.xyz/Documentation/Tutorials/WorkingWithBRATv3XOutputs.html)
Let me know if you were wanting more or expecting more for the documentation.  If it is

[2018-11-14 23:04] wally-mac commented on #129
Nice work Matt. Go ahead and close this issue

On Wed, Nov 14, 2018 at 4:01 PM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-11-14 23:12] MatthewMeier commented on #102
These outputs were completed and can be found on box.

[2018-11-14 23:12] #102 closed

[2018-11-14 23:13] #129 closed

[2018-11-15 01:31] MatthewMeier commented on #221
This documentation webpage has been constructed and can be found [here](http://brat.riverscapes.xyz/Documentation/Standards/Calibration/LANDFIRE_VegChanges.html).

[2018-11-15 01:31] #221 closed

[2018-11-15 17:09] #220 closed

[2018-11-15 17:12] wally-mac opened #232 "Cartographic Standards: Document Legend Standards on Website"
@Albonicomt please make a new markdown page and keep adding more to our new Internal ETAL BRAT Standards on Cartography folder. Just name it something logical (e.g. LegendStandards.md and copy an existing file over and start to try and make a page for each legend. We'll use this to get you and @CHafen up to speed on documenting your standards.

[2018-11-15 17:14] wally-mac commented on #218
@MatthewMeier please provide an update on this issue.

[2018-11-15 17:24] #213 closed, assigned to wally-mac, MatthewMeier

[2018-11-15 17:29] wally-mac commented on #187
@Albonicomt and @CHafen how is this coming along? Please provide a status update.  Thanks!

[2018-11-15 17:32] Albonicomt commented on #192
@wally-mac, I have not gotten started on this yet. Must have gotten lost among other tasks, my bad . I will get started on it.

[2018-11-15 17:33] #184 closed

[2018-11-15 17:39] wally-mac commented on #192
No worries.  I know you have been working hard on getting project deliverables out.

[2018-11-15 17:49] wally-mac commented on #225
@Albonicomt, @MatthewMeier, @CHafen, @mhallerud, and @BrittGraham I'd like you all to get familiar with the help documentation that Joe has listed in the above links and how to update and populated this documentation.  In the coming weeks, I'm going to start tasking each of you with using markdown to update and populate our help documentation pages.

Thanks

[2018-11-15 17:58] wally-mac commented on #218
@MatthewMeier, will you please provide links to the Survey123 outputs that Joe and I collected for the NF Burnt River and John Day watersheds late last?  Thank you.

[2018-11-15 18:01] CHafen commented on #187
I've finished making a layout for the summary products.
@Albonicomt where are you at on this project? Once you have the inputs done (ex. valley bottom rerun) I can start making the atlas maps for those inputs.

[2018-11-15 18:20] Albonicomt commented on #187
@CHafen and @wally-mac, I have run through VBET and I have Run through the EVT LANDFIRE codes, and edited the necessary classification, same with BPS. I am in the process of running through the BRAT tool. I have run into a small computer issue regarding Pycharm in the LANDFIRE_LUcode. I am currently working on fixing the bug. I had recently updated from ARCGIS 10.5 to 10.6, and some file locations

[2018-11-15 18:37] MatthewMeier commented on #218
After meeting with @banderson1618 and @wally-mac the following assignments were made for this issue:
@banderson1618 tasks:
- User input for the Beaver Dam data capture events being incorporated into the summary report script

- Renaming the Summary Report issue #229 (both of us are adding to this

- Looking up API information to automate downloads of the webmap and survey123 data to pc

@MatthewMe

[2018-11-15 19:02] Albonicomt commented on #231
@banderson1618, I am not sure what the Envirmonment variables is. Could you clarify?

I have tried restarting ARC. I still receive the same error.

Also, in pycharm, I am trying the run the LANDFIRE_LUCode, and I receive this error:
![lucodeerror](https://user-images.githubusercontent.com/39168968/48575070-32eb7980-e8ce-11e8-926b-46a8942866af.PNG)

It looks like the error is also associated with s

[2018-11-15 20:51] wally-mac commented on #225
[Here](http://brat.riverscapes.xyz/Documentation/Standards/Documentation/) is a working link to the documentation standards page.

[2018-11-15 21:30] banderson1618 commented on #231
@Albonicomt, I was basing that off of what I skimmed from the page [here](https://community.esri.com/thread/80038). I don't think that's the problem, since that seems to be a different issue than what you're having.

However, based on that error, I wonder if there's something wrong thing in your ArcGIS install. Importing arcpy should not be crashing your tool.

[2018-11-15 21:38] wally-mac commented on #218
@MatthewMeier, [Here](https://youtu.be/mqFAR5Qqacg) is a link to a video that describes the start of a methodology for downloading the survey123 forms.  Can you please make finalizing this method a top priority and do it for NF Burnt and John Day data?  Thanks

[2018-11-15 21:41] wally-mac commented on #187
Sounds good.  Thanks for the update and let me know if you continue to have computer issues.

[2018-11-15 21:53] MatthewMeier commented on #218
Yes this is my first priority now. data coming soon

[2018-11-15 22:38] ssuplick opened #233 "Salinas River BRAT - cIS/Dam Complex Monitoring Form Questions"
Hey @wally-mac @joewheaton:

If you have a few spare minutes, some clarification on the following sections would be super helpful before I continue with my next round of field surveys:

1. cIS Advanced Form

**SUITABILITY OF RIPARIAN UPLAND VEGETATION**: if "within 100m of water's edge" is ag land but on top of a steep terrace (there was river downcutting to bedrock)...how should this be accounted

[2018-11-15 22:55] Albonicomt commented on #231
@banderson1618 , It is possible something is wrong with my ArcGIS install. What is strange is I am able to Build a BRAT project with the same inputs (DEM and NHDnetwork), as well as, the additional BRAT inputs.

[2018-11-15 23:06] Albonicomt commented on #231
@banderson1618, As I was able to get through the BRATProject Builder and most of the BRAT Table. The BRAT Table was assigned the appropriate fields all the way through to the ClusterID. The tool seems to be having trouble completing the .xml. Here is the new error associated with the BRAT run. It is something I have not seen before. It could be a case where the tool is having trouble with some fil

[2018-11-15 23:13] banderson1618 commented on #231
@Albonicomt can you send me the data you were using for this? I think this problem is unrelated to the other problems you're having.

[2018-11-16 00:18] MatthewMeier commented on #218
I have explored some different methods for downloading this data and the best way that I found was to...

1. log into your ArcGIS account in Arcmap

2. Add the layer forms to the current map

3. project the forms to the correct coordinate system

4. Save the shapefiles in the appropriate locations

Until @banderson1618 and I develop the exact naming convention for the integration of these files in

[2018-11-16 00:19] banderson1618 commented on #231
@Albonicomt, I think I fixed that particular bug. If you download the latest from the master branch, it should solve your problem. Let me know if you encounter the same bug.

[2018-11-16 02:52] Albonicomt commented on #187
Making Progress on the Tomales Drake-Bay Watershed. I am running the Latest version of BRAT. The Valley Bottom parameters have been redefined for a 'better fit' than the original batch run, although, the watershed is a bit different than other watersheds I have encountered, based on it's geographic location on the coast, also incorporating a bay. I have run through the LANDFIRE codes and have chan

[2018-11-16 16:39] Albonicomt commented on #231
@banderson1618, Great news is that I was able to push through to the Combined FIS portion of BRAT. Step 5. Although, I did run into a similar error as before, when the tool is applying info to the xml.
![combinedfis_xmlerror](https://user-images.githubusercontent.com/39168968/48634554-0c3b4a80-e983-11e8-8e70-250fa0455edd.PNG)

Is there something I can do more to help with these errors. Unfortunate

[2018-11-16 17:45] Albonicomt commented on #231
Luckily, the tool still creates the appropriate fields and assigns appropriates values to the outputs, even though the tool is having trouble adding info to the xml. I do have the outputs. I am having trouble running through the layer package generator. It runs through most of the LPK generator, but the tool gets hung up on a "non-existing" value. I believe it is the rails layer, but there are no

[2018-11-16 18:00] Albonicomt commented on #187
@wally-mac and @CHafen, good news is I have been able to limp my through the BRAT tool with help and suggestions from @MatthewMeier and @banderson1618, thanks for the input and help guys . I do have outputs. The tool was having trouble adding information to the xml and creating a layerpackage, which I have informed Braden of here #231. All the outputs have been assigned the correct fields and the

[2018-11-16 18:11] PenrodC commented on #138
@CHafen, here is the data for figure 8. I decided a third sub-watershed actually was not necessary. In the original I have a built in table, but I'm going to include some extra variables and I feel it would be too busy to keep alongside everything else. I appreciate all of the help you've given. I know you're busy, so whenever you have a little bit of extra time is fine.
[NAIP_Field_comparison.zip

[2018-11-16 19:55] wally-mac commented on #187
Yes, I'd like to examine the data from your latest run. Please provide a
link.  Thank you!

On Fri, Nov 16, 2018 at 11:00 AM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-11-16 20:06] MatthewMeier commented on #228
@banderson1618 just checking up with you if this is purely a wish or something that we could implement soon. @wally-mac and I were just speaking about tasks today and I was inquiring?

[2018-11-16 20:09] wally-mac commented on #233
Hi Stuart,

- Yes, I would suggest downgrading the vegetation score a level.

- Yes, I'd suggest referring to Hafen, 2017 for this.

- Flow seen trickling through dam base, and throughflow through top.

- Yes, signs that beaver are "dredging" their pond, that there are visible nicks in the top of the dam to let water through, or their is evidence to suggest that beaver intentionally drained their

[2018-11-16 20:11] wally-mac commented on #228
This could be something we have the new techs work on.

[2018-11-16 20:14] banderson1618 commented on #231
@Albonicomt, I was unable to replicate your Combined Dam bug. Could you send me the project, so I can see if I did something different up to that point?

[2018-11-16 20:18] Albonicomt commented on #231
@banderson1618, Yup. I am currently uploading the project to box. I will send a link once it is finished. Thanks!

[2018-11-16 20:38] Albonicomt commented on #231
@banderson1618 here is a link to the project folder: https://usu.box.com/s/d5lmh0t92gu0r5h7dz7js92fb7cufq9j

[2018-11-16 20:42] Albonicomt commented on #187
@wally-mac  Here is a link to the Project folder: https://usu.box.com/s/d5lmh0t92gu0r5h7dz7js92fb7cufq9j

Here is a link to a rough LPK I made. It just has outputs and Inputs for now. : https://usu.box.com/s/yeskyot8uefqx2ymnm9vzl3isrgok2q3

[2018-11-16 20:46] banderson1618 commented on #231
Great, I'll take a look at that. In the mean time, I just pushed a change that should fix the LPG bug you were having.

[2018-11-16 20:50] Albonicomt commented on #231
Cool! Thanks @banderson1618 !

[2018-11-16 20:53] wally-mac commented on #187
Thanks, Mic.  Let's have a look at this together on Monday.

On Fri, Nov 16, 2018 at 1:42 PM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-11-16 20:55] Albonicomt commented on #187
Sounds good Wally! Thanks!

[2018-11-16 21:35] Albonicomt commented on #231
@banderson1618, I had not done any editing to the XML. It is possible there could have been a typo somewhere. I will try rerunning from Step 5 again with a careful eye on the file path and see how it goes. Thanks for looking into this Braden.

[2018-11-19 19:32] #230 closed

[2018-11-19 19:42] Albonicomt commented on #192
@wally-mac, @joewheaton, @banderson1618 Here is my attempt at creating a project folder that includes the additional AI, PDF, and PNG folders with copied Inputs and Outputs within each of those folders using the Cmd prompt. I believe I followed your instructions correctly. Here is a link to the test folder with the project structure. There is no real data in the folder, except for the NF PNGs as a

[2018-11-19 19:42] Albonicomt commented on #187
I was able to run through and create a project folder with the appropriate xml standard and create a full layer package. Here is the link on box: https://usu.box.com/s/kay5goz7jo8vvbjxl18remi0hyhd847f
Here is the LPK in the project folder: https://usu.box.com/s/tyrdkyfu1qb72ew3j5l3yuy3of4tqx0w

[2018-11-19 23:46] CHafen commented on #187
Does this need to get clipped down to the perennial network or is it ready to go for summary products?

[2018-11-19 23:50] Albonicomt commented on #187
Yes these do need to be clipped down to the perennial Network. I will go ahead and clip the LPK down to the Perennial Network and share when completed.

[2018-11-20 22:46] MatthewMeier commented on #216
@wally-mac
I have found the a [roads layer that is for the FS](https://data.fs.usda.gov/geodata/edw/datasets.php?xmlKeyword=roads) that includes the maintenance classifications that we are looking for. I had to go on my own and do this because resources were not providing the extent or the data we needed. [Here](https://usu.box.com/s/s8xvoerdue7x3gxrqvtznkx5iek1460z) is an example of the NFB roads

[2018-11-20 23:03] wally-mac commented on #216
Hi @MatthewMeier, I just took a quick look at this roads layer and I have some questions that I think are best addressed via a GoToMeeing.  Are you available this afternoon for a quick GoToMeeting?

Thanks

[2018-11-20 23:12] wally-mac commented on #226
@mhallerud and @BrittGraham please see the links in the above post from Joe Wheaton that provide some very useful information on how to make documentation on the websites.

[2018-11-20 23:15] #204 closed

[2018-11-20 23:32] wally-mac commented on #184
@Albonicomt and @CHafen have you incorporated Joe's suggestion to improving the cartography in the above post? Please let me know if you have or not.  Thanks!

[2018-11-20 23:38] Albonicomt commented on #184
@wally-mac, Yes, @CHafen and I are including major stream names in our maps from now on. Place names are selective, depending on whether the place names interfere with the map.

[2018-11-21 00:07] wally-mac commented on #184
Thanks Mic.

[2018-11-21 15:53] wally-mac commented on #216
Hi @MatthewMeier, [here](https://youtu.be/55X3dWU4ODY) is a link to a short video that shows the final edits I'd like you to make to this roads layer. Once you have this completed these edits please use this layer for the new run of Brunt River BRAT. **Also, please use the same editing approach for the John Day basin roads layer.**

[2018-11-21 15:56] MatthewMeier commented on #216
@wally-mac I tried following the link but the video is not up there. Could you re-upload it?

[2018-11-21 15:58] wally-mac commented on #216
Please give it about 20 minutes. It is still uploading because I'm working from home today with a slow upload speed.

[2018-11-21 15:59] MatthewMeier commented on #216
no problem

[2018-11-21 22:43] CHafen commented on #184
@wally-mac here is an example of the maps I'm making for Tomales-Drake Bays incorporating the suggestions from Joe
![tomalesdrakebays_context](https://user-images.githubusercontent.com/39837888/48871961-d2f84580-ed9b-11e8-9a7f-394ae5bc7e3a.png)

[2018-11-21 22:52] CHafen commented on #184
Normally I'd put the creative commons below the scalebar or the legend, but I couldn't find a good place to fit it with the islands being where they are, and some of the legends are taller than this one, so if I moved them up anymore they're overlap with the bottom of the watershed boundary on the right side. The other option, if we aren't as interested in the islands (which don't have any perenni

[2018-11-26 16:23] Albonicomt commented on #232
@wally-mac, Sounds good. I will get caught up on Markdown and how to use it and create a new page.

[2018-11-26 17:52] Albonicomt commented on #187
**Update of Tomales Watershed:**

Here is the Perennial Network LPK: https://usu.box.com/s/sczupafhudk3qmc21f53jgik6uixz1we

Here is the Full Network minus the coastlines: https://usu.box.com/s/hqwcy4cmrmsswcj5685v6nflxw49gmf3

 - @CHafen has maps for the Capacity maps and inputs. We will be carrying on with the rest of the Intermediates.

- The Perennial Network of TomalesDrakeBay watershed displ

[2018-11-26 18:48] wally-mac commented on #184
@CHafen and @Albonicomt [here](https://youtu.be/dr5sD35vGikurl) is a link to a video with my suggested edits.  Mic can you take care of the valley bottom edits that I bring up in the video?  Thanks

[2018-11-26 19:05] wally-mac opened #234 "Philip's Test Run of BRAT"
@philipbaileynar, [here](https://youtu.be/0DZQqK5DQKY) is a link to a short YouTube video that describes the content of the BRAT folder found [here](https://usu.box.com/s/rsm1txj1lr3hg3p5mb4bxvsjkhe7nkgn).  Please let me know if this will meet your needs or not.

[2018-11-26 19:41] philipbaileynar commented on #234
@wally-mac this is perfect thanks! Having both the inputs and output is really helpful. As you said in the video, this allows me to compare my results with those of an experienced analyst.

I've download and unzipped the file already. Now I'm starting to run the software.

I will check in once I've taken a pass through the pyBRAT tool.

[2018-11-26 19:41] #234 closed

[2018-11-26 19:59] philipbaileynar opened #235 "Unable to load Toolbox 3.0.19"
## Steps To Reproduce

1. I downloaded the zip file from the [releases page on this site](https://github.com/Riverscapes/pyBRAT/releases/tag/3.0.19). This got me a zip file called `pyBRAT-3.0.19.zip`.
1. I uncompressed this file into the same folder.
1. Following the instructions in this [video](https://youtu.be/MVEXXMOPTBI) I added a folder connection to the folder where I uncompressed the Toolbo

[2018-11-26 20:06] banderson1618 commented on #235
You should be able to right click on `BRAT.pyt` and click "Check Syntax". That should pull up a window that explains what the problem is. Once you've done that, we'll have a better guess about what went wrong.

My best guess would be that you haven't installed a dependency (probably scikit-fuzzy) to the Python install that ArcGIS is using. The documentation for that is at the link [here](http://br

[2018-11-26 20:08] wally-mac commented on #192
@Albonicomt [here](https://youtu.be/T4jazyKj8xg) is a short video with my feedback.  @joewheaton and @banderson1618 please also chime in.  Thanks

[2018-11-26 20:12] philipbaileynar commented on #235
Thanks @banderson1618 . Here's the message I get with "Check Syntax":

[code]

I did pip install scikit-fuzzy into the Python installation being used by ESRI. (And I do have several copies of Python).

Do I need to install OSGeo for BRAT? There's no mention of that in the docs.

[2018-11-26 20:17] wally-mac commented on #187
@Albonicomt, I agree something is wrong with the the output: **Unsuitable or Limited Opportunities** and the field "oPBRC_CR" should not display NA for all stream reaches. Have you and @MatthewMeier come up with any information on what might be going on?  Please advise and thanks. BTW the capacity outputs, intermittents and inputs look good to me.

[2018-11-26 20:54] MatthewMeier commented on #187
@Albonicomt and @wally-mac I have looked over the management model and implemented some typo errors that should resolve the "oPBRC_CR" field. Just redownload the pyBRAT_master

[2018-11-26 21:07] CHafen commented on #184
Hey @wally-mac thanks for the feedback. I will implement the suggested changes. To answer your questions: There is one canal small canal that is barely visible, so I will leave that in the legend, but there are no railroads so I'll take that out. And with the islands, that is the HUC 8 boundary around them.

[2018-11-26 21:47] Albonicomt commented on #187
Right on. Thanks Matt! I will run through the Management portions right away. THanks!

[2018-11-26 22:22] #229 closed

[2018-11-26 22:47] CHafen commented on #187
The summary products and atlas maps will be on Box [here](https://usu.app.box.com/folder/59379593640)

[2018-11-27 00:54] Albonicomt commented on #187
Here are links to the updated lpks with the new Management Outputs. The Valley Bottom should also now, not include the coastlines.

- Perennial: https://usu.box.com/s/sczupafhudk3qmc21f53jgik6uixz1we

 - FullNetwork no coastlines: https://usu.box.com/s/hqwcy4cmrmsswcj5685v6nflxw49gmf3

I believe this is an improvement. There are now values for "oPBRC_CR"

[2018-11-27 00:57] MatthewMeier opened #236 "NF Burnt River and John Day Inputs"
@Albonicomt @wally-mac
This is the [new locations](https://usu.box.com/s/zqpe34poej9a5p6hr0f71bl1teuppjyy) for the North Fork Burnt Final outputs that will be included in the report that will be written by the end of the year. The following [video](https://youtu.be/pFKUpRMzGcc) will explain the folder structure that exists in the NFBurnt and this will be replicated for the John Day outputs.
This [

[2018-11-27 20:46] wally-mac commented on #187
@CHafen the summary products and atlas maps look great except there is a spelling error on the bar graphs of historic capacity and existing capacity. Please change 'occassional' to 'occasional'.  Thanks

[2018-11-27 20:47] #197 closed

[2018-11-27 20:50] wally-mac commented on #187
@Albonicomt, the atlas maps for the intermediates you generated found [here](https://usu.box.com/s/ter1rh3dd7pjr9kpnn899dwmrxn1k2nx) look great to me.  @joewheaton, will you please review and add your edits? Kate Lundquist wants these products by the end of November (end of this week).  Thanks!

[2018-11-27 20:55] wally-mac commented on #236
@MatthewMeier, yes please include the exclosures.

[2018-11-27 21:04] banderson1618 commented on #208
@BrittGraham I'm going to assign a lot of this to you. Since there's no real functionality changes, it should hopefully be fairly low stress, but it'll help you get familiar with the code base and get used to pushing and pulling changes to the repository.

The two most important outputs of BRAT is the Existing Dam Capacity, and the Potential Dam Capacity. Existing Dam Capacity is based off of the

[2018-11-27 22:18] MatthewMeier commented on #236
These LPK have been updated and working on the John Day Roads

[2018-11-27 22:31] MatthewMeier commented on #236
@wally-mac the changes that I have made were just to include the cattle ex-closures shapefiles in the LPK. Since there will be no change in the actual data for the lines I have left everything else is the same. Is this sufficient?
![image](https://user-images.githubusercontent.com/30604787/49115982-7a242380-f259-11e8-8700-bfaeac167f05.png)

[2018-11-27 22:32] wally-mac commented on #236
Thank you.  That clears it up.

On Tue, Nov 27, 2018 at 3:31 PM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-11-27 23:55] MatthewMeier commented on #236
@Albonicomt @CHafen
Here is a list of what has been changed in this new run of the North Fork Burnt...
- Historic and existing veg_codes were changed which will change the capacity outputs, and the vegetation suitability maps
- There is now no DA threshold which will change the capacity outputs further the DA itself wasn't changed
- The management outputs are all going to be different
- Roads laye

[2018-11-28 22:43] CHafen commented on #187
The rest of the summary products and the correction to the capacity maps are up on box

[2018-11-28 23:04] Albonicomt commented on #187
Sweet! @CHafen Thank you!

[2018-11-28 23:41] wally-mac commented on #187
@CHafen and @Albonicomt these are looking great!  I have some final edits found in [this video](https://youtu.be/PXmvxb_qq3c).  Thanks

[2018-11-29 20:03] Albonicomt commented on #187
@wally-mac, Here is a link to the updated Atlas Maps: https://usu.box.com/s/ter1rh3dd7pjr9kpnn899dwmrxn1k2nx

To answer some specific questions in your video:

- In the Anabranch Handler map: https://usu.box.com/s/3b3vuj2gag8q57xqhgka5zgrovi9kj87
  There are Side Channels, but they are super small segments. I tried increasing the side channel line
  weight to make them appear a little more clearly

[2018-11-29 20:42] wally-mac commented on #187
@Albonicomt, [here](https://vimeo.com/wallymacfarlane/review/303582693/1f4c72846b) are my final edits to the atlas maps.  Nice work!

[2018-11-29 21:01] Albonicomt commented on #187
@wally-mac, could you re-share the link to your edits. For some reason the current link is not working.

[2018-11-29 21:06] wally-mac commented on #187
Try the link now.

[2018-11-29 21:07] Albonicomt commented on #187
Worked! thanks!

[2018-11-29 21:44] CHafen commented on #187
I got the edits done on the Context map and it's up on[ Box](https://usu.app.box.com/file/359106804580)

[2018-11-29 21:46] wally-mac commented on #187
Thanks!

On Thu, Nov 29, 2018 at 2:44 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-11-29 22:04] CHafen commented on #236
@Albonicomt when we make the changes to these maps, since all of them have to have some edits (to change "Huc" to "HUC" let's also move the Creative Commons so it is below the legend. And change the legends so the match the standardized ones that are on[ Box](https://usu.app.box.com/folder/5295328401).
And to address the spelling errors, we need to make sure and spell check (edit--> check spelling

[2018-11-29 22:10] Albonicomt commented on #236
@CHafen, Sounds like a good plan! Thanks for the tip, that will save us a lot of time for sure.

[2018-11-29 22:14] wally-mac commented on #187
@CHafen and @Albonicomt [here](https://vimeo.com/303598819/42063ebb35) is a link to a video of my final edits to the summary product maps.

[2018-11-29 22:31] CHafen commented on #187
@wally-mac thanks, I'll get those edits made. To be clear, do you think the "or"  and"but" in the legends should be capitalized or do you think the "can" and "be" should be lower case?

[2018-11-29 22:33] wally-mac commented on #187
I think  "can" and "be" should be lowercase.

On Thu, Nov 29, 2018 at 3:31 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-11-29 22:34] CHafen commented on #187
Ok, thanks I'll do that.  And I think in the other legend I will just remove "or" and put a "/"

[2018-11-29 22:50] CHafen commented on #187
The updated summery products are up on Box

[2018-11-29 22:58] wally-mac commented on #187
These look great.  Thank you

On Thu, Nov 29, 2018 at 3:50 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-11-29 23:03] banderson1618 opened #238 "BRAT Table tool crashes if "Description" is left empty"
@mhallerud recently added support for giving a BRAT Table run a description in the XML. Unfortunately, if a description is not given, BRAT Table crashes.

I managed to identify the problem. In the code, it tests the description's length before it tests if the description exists or not. Because None doesn't have a length attribute, this crashes the tool. Once I've tested the problem, I'll push it u

[2018-11-29 23:04] #238 closed

[2018-11-29 23:52] philipbaileynar commented on #235
I finally got all the necessary Python dependencies installed. Straightforward it was not! I'm impressed that others have managed to figure out the process of installing SciPy and other dependencies that require the use of wheel files etc.

[2018-11-29 23:52] #235 closed

[2018-11-29 23:56] wally-mac commented on #235
Yea, to be honest the difficulties you have faced have limited PyBRAT's use by individuals outside the ETAL.  Way-to-go... you are among the elite!

[2018-11-29 23:57] philipbaileynar opened #239 "Failed to find Existing Veg Suitability Layer"
1. Note that I'm using ArcGIS 10.4 with all the extensions.
1. Clicked on the **Step 1. BRAT Project Builder** tool.
1. I supplied all the inputs (all layers except ownership)
1. Click OK and got the following error.

![2018-11-29_155331](https://user-images.githubusercontent.com/8645379/49259680-3b27d680-f3ef-11e8-83c0-bd257d480ed3.png)

Note that I do appear to have the specified layer file. Cou

[2018-11-30 00:00] philipbaileynar commented on #235
I cheated @wally-mac and used @MattReimer !!!!

Figuring out deployment is always going to be our biggest challenge! This is especially true for Windows users and within that group, those that don't really know how to configure their Python environments.

We buy some flexibility if we can drop ESRI and so I'm going to be very curious to see what essential ArcPy routines are being used.

[2018-11-30 00:06] banderson1618 commented on #239
This very well could be a problem with versioning, but it might also be a problem with applying symbology to vegetation rasters, which we've had problems with before.

In "BRATProject.py", from line 74 to line 86, the program calls the function `makeInputLayers()` a bunch of times. I'd recommend commenting out those calls, and seeing if that helps.

[2018-11-30 00:07] wally-mac commented on #235
It's sure nice to have a genius on your payroll! Yes, I'm very interested in getting your assessment of how we can improve the deployment of BRAT.

[2018-11-30 00:08] banderson1618 commented on #239
This issue may rear its head later on in the Layer Package Generator, since there is a similar function called there, but we can deal with that when we get there.

[2018-11-30 00:55] philipbaileynar commented on #239
Perhaps the code is trying to apply a classification from a layer file that is either expecting a certain attribute/field that doesn't exist or the number of bins in the dataset that was used to generate the layer file is different from the target dataset to which it is being applied. Similar problems arrive when applying stretch renderers to datasets that possess a different range.

I commented o

[2018-11-30 16:15] Albonicomt commented on #192
Hey @wally-mac , Thanks for the Feedback. I think what happened is I misunderstood the instructions above. I believe, under each file name folder (PDF, PNG, and AI) I should have folders named Inputs, Intermediates, and Outputs. Then each corresponding map goes into those folders. That would probably make the most sense. I will get on that one and put one together for the Tomales-Drake-Bay watersh

[2018-11-30 17:51] Albonicomt commented on #187
@wally-mac here is the link to the new Project folder: https://usu.box.com/s/d5lmh0t92gu0r5h7dz7js92fb7cufq9j

Here is a video that walks through the project folder: https://youtu.be/yHOZ38bzAV0

[2018-11-30 18:06] wally-mac commented on #187
@Albonicomt, I just had a look and this all makes sense and looks good to me.  Thanks

[2018-11-30 18:11] Albonicomt commented on #187
Sure thing! If anything needs some tweaking or anyone has question let me know.

[2018-11-30 18:15] CHafen commented on #187
@Albonicomt looks good. For the outputs, I do usually save a separate Ai file for each one. With the way I make the bar charts it's easier to have separate files for those, so do we maybe want one folder under Ai just for outputs, but not have one for Inputs and Intermediates, since those are typically all done in the same Ai file?

[2018-11-30 18:15] wally-mac commented on #187
One other thing.  I suggest that you delete the data in the wrk_Figues folder so we don't have redundant data.  Just let Chalese know you have done this.  Does that make sense?

[2018-11-30 19:35] mhallerud commented on #228
@wally-mac @MatthewMeier @Albonicomt Hey everybody, just wanted to get some opinions on how to move forward with improving our method for specifying regression equations in the iHyd tool. @banderson1618 and I were discussing adding parameters so that users could enter coefficients for each model. The only problem I see is that this would enforce a rigid equation structure which could be limiting i

[2018-11-30 20:31] banderson1618 commented on #239
Hm... That's odd, we've never had a problem with applying symbology to DEMs. That does seem to imply a problem with your installation of ArcGIS, rather than a problem with the data. Unfortunately, since I can't replicate the bug on my computer, my ability to troubleshoot is limited.

A short term solution would be the following: in the `makeLayer()` function in "BRATProject.py", you can replace th

[2018-11-30 20:38] wally-mac opened #240 "Marin BRAT: Data Delivery"

[2018-11-30 21:34] wally-mac commented on #240
@katelundquist, please let me know when you receive this post, I want to make sure I have your correct Github name.  Also, I wanted to let you know who did the heavy lifting on this one: Joe Wheaton @joewheaton, Matthew Meier @MatthewMeier, Micael Albonico @Albonicomt , and Chalese Hafen @CHafen. Thanks team for all your hard work and for an on time delivery!

[2018-11-30 22:46] mhallerud commented on #228
For now I just added two optional fields in the tool for writing the equations to be included in the XML, but I can work on improving the functional equations in the code once we decide on the best way to go about accomplishing that.

[2018-12-03 16:19] wally-mac commented on #240
I'm adding @BrockDolman to this ticket.  Welcome Brock.

[2018-12-03 16:34] Albonicomt commented on #240
Hey all, there was a mistake in one of the output maps in the Summary Products. The output map named "Possible Beaver Dam Conservation/Restoration Opportunities" was displaying the incorrect output network. I went ahead and fixed the change so the new map now displays the correct output network.
Here is the updated map: https://usu.box.com/s/fdwgtp3cxlvv5338dbfq6z0jqo0s62wz
Here is a link to the p

[2018-12-03 21:41] mhallerud opened #241 "Potential BRAT bug during write XML"
@banderson1618 This error has come up a few times now while running the BRAT table tool:
![error](https://user-images.githubusercontent.com/43869036/49399778-7253fb80-f6ff-11e8-9c06-9bdb04d9fcc5.PNG)

The error seems to only come up when writing a brand new XML file, instead of when running BRAT_table with a project XML already present.

When I go through the write_xml function line by line, the p

[2018-12-03 22:00] mhallerud commented on #241
Nevermind, @banderson1618 just explained that the XML should be built in the previous step.

[2018-12-03 22:01] #241 closed

[2018-12-04 19:19] MatthewMeier commented on #216
This task has been completed and the data can be found in the following box locations
[Powder Basin](https://usu.box.com/s/h6jvm7lw1m3knko6x61492ha677f8ui2)
[John Day](https://usu.box.com/s/hn77xf85z1jcs634hapfhkw11gl1gdeh)

[2018-12-04 19:19] #216 closed

[2018-12-07 00:16] Albonicomt commented on #232
@wally-mac, still working out some kinks on developing a page for cartographic standards, but here is a start: http://brat.riverscapes.xyz/Documentation/Standards/Cartographic/

[2018-12-07 17:44] MatthewMeier opened #242 "iHyd repeatability"
@mhallerud  one aspect to running the iHyd script is that many users need to manually run the calculations through excel in order to see how their equation compared to the actual 2 year flood interval and low flows for a particular drainage area. However once you run the tool once you have to manually delete the ihyd fields if you got your equation wrong the first time that you ran the ihyd script

[2018-12-07 18:17] MatthewMeier opened #243 "Zonal Stats implementation"
@mhallerud,
@wally-mac and I are ready to revisit the zonal stats that sara worked on earlier this year. It is an implementation that would correct some of the funky errors that happen when some of the calculations are made. @banderson1618 can fill you in on this a bit more on what the specific purposes are.
Here is some information that would be helpful to look at as your getting started on this.

[2018-12-07 19:55] banderson1618 commented on #228
Thanks for the input, @MatthewMeier.

I believe that Option 1 would make batch processing easier, not harder. Let's bring this up at the staff meeting on Tuesday and hammer out what this should look like.

[2018-12-07 20:34] MatthewMeier opened #244 "BRAT.xyz Documentation Modifications"
@BrittGraham,
@wally-mac would like you to work on some website documentation that is lacking for the BRAT project. Many of the issues that have been posted on github is useful for the user but is not what we want the user to necessarily first access in order to find answers to their questions. This will still be a primary way for users to access us for questions, but the better our documentation

[2018-12-07 20:47] MatthewMeier opened #245 "Plots and outputs for "Data_Capture_Validation""
@mhallerud
@banderson1618 and myself have created and been working on the validation of BRAT using data capture events/beaver dam locations through field or computer imagery methods. We use this data in order to validate the BRAT outputs for reports that @wally-mac writes up. We would like to implement some additional pieces to the outputs such as plots that relate the observed dam density vs the

[2018-12-07 22:44] wally-mac commented on #232
Yes, that sounds like a great plan.

On Fri, Dec 7, 2018 at 3:27 PM CHafen <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-12-08 03:05] mhallerud commented on #245
Hey @MatthewMeier, I'm not entirely sure what you're asking for here but let me know if I'm on the right track: Are you looking to automate the table on page 36 of the Yakama report? What about also adding an observed vs. modeled plot (see below) with each point representing values from an individual stream segment? My reasoning for the plot is two-fold: First, observed vs. predicted plots are sta

[2018-12-08 03:51] mhallerud commented on #245
@MatthewMeier Do you also want the symbology added to the relevant fields?

[2018-12-10 15:51] #242 closed

[2018-12-10 17:54] MatthewMeier commented on #245
@mhallerud the plot that you illustrated is what we would like to have with some minor changes to it. You are right that we want a trend line but it needs to represent a 1:1 ratio not what is the trend line for the data. This line would represent the model being exactly on with what is actually true. However since this is a capacity model we would like all of the dots to be below the line or right

[2018-12-10 17:59] MatthewMeier commented on #245
@mhallerud,
 @braden should have created a new folder in the inputs folder for data capture events(DCE). We will want this optional analysis under a new folder in the outputs_Analysis_"Inter-Comparison" folder.

[2018-12-10 18:35] wally-mac commented on #245
@mhallerud, @MatthewMeier and @banderson1618 [here](https://usu.box.com/s/14ih176i9v7xf653hpx01b97ukxvbe6ql) is a draft manuscript that has a good example of what we are looking for.  **See Figure 9**.

[2018-12-10 23:34] mhallerud commented on #243
A few quick updates:
- I ran into the same problems as @banderson1618 had previously with installing the rasterio dependency. All dependencies (raster, GDAL, fiona, shapely) seemed to download properly using wheel files, but rasterio would not load in Python.
-Error#1 from importing rasterio: "ValueError: numpy.dtype size changed...".  This error seems to be due to rasterio being compiled with an

[2018-12-10 23:41] wally-mac commented on #243
I'm adding @bangen to the conversation. Sara, do you have any advice for Maggie (@mhallerud)?

[2018-12-11 18:41] MatthewMeier commented on #244
@BrittGraham
Here is another topic that would be good to document #125 This will be for the valley bottom tool that is an input for BRAT. Notice that this [issue](https://github.com/Riverscapes/RCAT/issues/11) should be added onto the end of it. This will be documentation that will be done for the [RCAT website](https://github.com/Riverscapes/RCAT).

[2018-12-11 18:49] wally-mac commented on #245
Try the link now... it should work.

[2018-12-11 18:57] MatthewMeier commented on #245
Yes that adds some good insight into what they should look like. I think that I would need some personal insight into the figure on the left to know what to look for and why it isn't a linear relationship. I think this would be something we can discuss in person. Thanks for the direction @wally-mac

[2018-12-11 19:45] mhallerud commented on #245
@wally-mac Quick question, would you be able to send me the R code for the models these plots are based on so I can better understand exactly how the data is being subset in the cross-validation? It's a little bit unclear in the writing.

[2018-12-11 22:04] wally-mac opened #246 "Burnt River & John Day BRAT Final Maps"
@MatthewMeier [here](https://vimeo.com/305839182/562cd3d9ca) is a video that describes the final edits that are needed for the summary and atlas products for Burnt River BRAT and John Day BRAT.  Once you have the Brunt River maps completed please provide them to @chadFHC and @GabeStudent1234 so they can start producing the StoryMap. I realize that the John Day BRAT needs to be re-run so that will

[2018-12-12 00:21] MatthewMeier commented on #246
@wally sounds good I will take a look at those and start making those maps pronto.

[2018-12-14 17:39] wally-mac commented on #246
@MatthewMeier please have a watch of this [video ](https://vimeo.com/306427152/047503261d) before you make the summary and atlas products for Burnt River BRAT and John Day BRAT.

[2018-12-14 17:48] MatthewMeier commented on #246
Thanks for the video I will take a look at it and make those summary and atlas products. I am finishing up the veg code changes for the John day and packaging those up for inputs for techs and myself if time permits to run. Then putting up Chalese's video and watching those. I think watching those videos will help me accomplish those tasks faster. Thanks for the input.

[2018-12-14 18:02] wally-mac commented on #246
@MatthewMeier please reach out to @Albonicomt if you have any questions updating the summary and atlas products for Burnt River BRAT and John Day BRAT. He knows this stuff inside and out!

[2018-12-14 18:30] banderson1618 opened #247 "What's the purpose of the file "metadata_description.py?"
I just noticed this file, and I'm not sure what it's for. It looks like it's a copy of BRAT_table.py, but it isn't referenced anywhere else in BRAT from what I can tell. Git blame says that it was created in commit e8a6d03, by @mhallerud.

[2018-12-14 20:52] mhallerud commented on #247
That's my bad, Git picked up a few of my undocumented files earlier this week because they were in my local repository. I thought I corrected it, but apparently I missed one. Thanks for catching that. Metadata_description was just my working file for adding a description to the XML, so it can be deleted.

[2018-12-14 21:05] banderson1618 commented on #247
Makes sense, I'll delete it and push

On Fri, Dec 14, 2018, 1:52 PM Margaret Hallerud <notifications@github.com
wrote:

[2018-12-14 21:05] #247 closed

[2018-12-14 21:06] mhallerud commented on #247
Thanks and sorry about that.

[2018-12-17 16:08] MatthewMeier commented on #246
@wally-mac just giving you an update that I am in the process of updating the data for the NFB atlas maps and should have those done today. Once I am done with this I will be helping @mhallerud finish up the rest of the BRAT runs for the John Day. Suzanne has uploaded all of her beaver dam survey123 information and I still need to look over what Thomas did before on that watershed which shouldn't

[2018-12-17 16:57] wally-mac commented on #246
@MatthewMeier, thanks for the update that all sounds great.

[2018-12-17 17:51] wally-mac commented on #207
@banderson1618 and @joewheaton where are we on this front? Please advise.

[2018-12-17 18:17] wally-mac commented on #161
@banderson1618 and @MatthewMeier do you guys know where Joe and Sara left this issue?  Please advise.

[2018-12-17 18:19] MatthewMeier opened #248 "Summary Products semi automated"
@banderson1618 @wally-mac
Working with @Albonicomt and @CHafen there are some things that could be automated to help the production of the summary products and atlas further along. First off is the folder structure that @Albonicomt has produced for the Tomales. I have replicated this and spoke with him about what the layouts should be, which can be found under[ this folder structure](https://usu.b

[2018-12-17 18:22] Albonicomt commented on #248
Here is the example Excel file on box for the TomalesDrakeBay watershed: https://usu.box.com/s/0kdgyy0quwpw3x8yzigts8y7njay2nam

[2018-12-17 18:22] banderson1618 commented on #207
@MatthewMeier and I have modified `Step 6: BRAT Conservation and Restoration` to create the three fields outlined in @joewheaton's post. However, we haven't implemented an optional tool that creates those field based on the user defined thresholds.

[2018-12-17 18:32] banderson1618 commented on #248
Thanks, guys, I'll get on that ASAP.

[2018-12-17 18:35] wally-mac commented on #207
Thanks for the update.  What it the "hold-up" on the generation of an optional tool that creates those field based on the user defined thresholds?  Please advise and thank you.

[2018-12-17 18:38] wally-mac commented on #161
Thanks for the update @MatthewMeier.  @banderson1618, do you have anything to add to this update?

[2018-12-17 18:39] banderson1618 commented on #207
When I last read this, I had a fuzzy idea about how this should be implemented, and was waiting for clarification from Joe about how to proceed. At this point, it might be better to slap something together on a separate branch and see if it's what he's looking for.

[2018-12-17 18:40] banderson1618 commented on #161
Nothing that Matt hasn't already said.

[2018-12-17 18:43] wally-mac commented on #207
That sounds like a good plan to me.  Please give it a go and thanks!

[2018-12-17 21:20] mhallerud commented on #245
Yes, it's all coded up I just haven't had a chance to do a thorough check yet before I push it to the master branch.

[2018-12-17 22:56] MatthewMeier commented on #246
Hi @wally-mac I have been compiling all of the data together and so I can run through it all fast but am wondering if this is the type of format that you like the [maps](https://usu.box.com/s/ryhkal3agipss417nal1g57z6im2nf69) to be in? @Albonicomt @CHafen feel free to weigh in you two are the experts.

[2018-12-17 23:12] wally-mac commented on #246
Looks good!

On Mon, Dec 17, 2018 at 3:56 PM Matt Meier <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-12-18 18:09] MatthewMeier commented on #246
I have completed all of the maps for the NFB besides the BRAT outputs. I have to make new tables for that. Here are all the maps for the Atlas [Inputs](https://usu.box.com/s/umkwtg74qbnp6h3yz9iiasz75oqkx7a2) and [Intermediates](https://usu.box.com/s/dzxww8lzsvhn7o5y27zgs7lmzqmowblt). @wally-mac let me know if you would like anything adjusted for those. I have definitely gotten a deeper appreciatio

[2018-12-18 18:24] wally-mac commented on #246
@MatthewMeier, I just finished examining the maps of the inputs and intermediates you generated.  They look good to me.  If you need help finishing up the output maps please reach out to @Albonicomt.  Thanks!

[2018-12-18 18:51] bangen commented on #243
@wally-mac @mhallerud I'll try a fresh install on my laptop.  I'm currently installing Arc 10.6 so might be a bit, but I'll get back with details once I get it set up.

[2018-12-18 19:15] MatthewMeier commented on #246
@Albonicomt could you do the output maps for the NFB I think that I will be busy enough with the data capture events for the NFB and the John Day runs. Here is the [AI](https://usu.box.com/s/a3haeir82g366tjmjzq6waryvzrl3ms0) file I have been working from. and here is the [project folder](https://usu.box.com/s/zqpe34poej9a5p6hr0f71bl1teuppjyy) for the new NFB run. I have uploaded and set up the fol

[2018-12-18 19:18] wally-mac opened #249 "Run BRAT on Middle Salmon-Panther HUC8 - 17060205"
@Albonicomt, can you please run BRAT on [Middle Salmon-Panther HUC8](https://usu.box.com/s/7pe3p1v7ce7ztrmaqidz0qqx98j6019v)?  Let's keep @sshahverdian in the loop on this.  [Here](https://usu.box.com/s/qu4xcomz3o429xu51nq483xuas9hkajy) is the Box link to the original BRAT and RCAT runs of  Middle Salmon-Panther HUC8 for your reference. @mhallerud (Maggie our new tech) can help you with this as ne

[2018-12-18 20:04] wally-mac commented on #246
Yes, just run the observed vs modeled stats fo the NF Burnt.

On Tue, Dec 18, 2018 at 12:15 PM Matt Meier <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-12-18 20:45] Albonicomt commented on #249
@wally-mac, Yup! I will get on it. I am just doing a fresh re-run of the latest version of BRAT on the Middle-Salmon panther?

[2018-12-18 20:46] Albonicomt commented on #246
Sounds good! I will get to it.

[2018-12-18 20:52] wally-mac commented on #249
Correct, thanks!

[2018-12-18 22:37] mhallerud commented on #245
Here's the latest rendition of the plot:

![predicted_vs_expected_plot](https://user-images.githubusercontent.com/43869036/50187180-804a7480-02da-11e9-8312-d9f3fed85194.png)

The "missing" points were actually just points that were covered by other points with equivalent values. I added a (small) element of randomness to the points so that they don't cover each other up like that, similar to what

[2018-12-18 22:44] wally-mac commented on #245
@mhallerud, your plot looks good to me.  @bangen and @joewheaton do you have any suggestions for improving the above plot?

[2018-12-19 00:14] mhallerud commented on #245
@wally-mac @MatthewMeier Do you think the 1:1 ratio line should be renamed something more useful/understandable to managers?

[2018-12-19 00:35] mhallerud commented on #245
Maybe something like "Perfect Prediction" or "Ideal Correlation". A quick google search shows a lot of figures using "perfect line" or "line of perfect agreement".

[2018-12-19 21:32] wally-mac commented on #246
Excellent work Mic, as usual, you will be greatly missed!

[2018-12-19 21:33] MatthewMeier commented on #246
Thanks a ton @Albonicomt your awesome man.

[2018-12-19 21:59] Albonicomt commented on #249
@wally-mac and @sshahverdian
(1) It looks like there is an edited perennial valley bottom and 300m perennial network Josh had run back in June 2017,
(2) there is also a newly edited Perennial network in the Idaho BRAT folder edited in March 2018,
(3) and a full NHD Network.

- Do you want me to roll with running Josh's edited Valley bottom and perennial network?
- or run the full network through V

[2018-12-19 22:07] wally-mac commented on #249
I think we want to use the same March 2018 perennial network that is being
used for other analyses. So I would say, run the full network through VBET
and BRAT and clip down to the newer edited perennial network after the BRAT
run.
On Wed, Dec 19, 2018 at 2:59 PM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-12-19 22:08] Albonicomt commented on #249
Alright, will do!

[2018-12-21 21:26] mhallerud opened #250 "Error running Layer Package Generator"
@banderson1618 I ran into this error with the Layer Package Generator. The tool worked on another BRAT run and I double checked that all shapefiles and layers were present. I tried digging into the arcpy _management code, but it's not really helpful. Have you seen this before and have any suggestions?

![image](https://user-images.githubusercontent.com/43869036/50364157-03aed480-052c-11e9-9008-342

[2018-12-27 15:43] banderson1618 commented on #250
Sorry for the long delay. If I had to guess, I'd say that you probably had
a broken layer that the tool tried to package. Pull the layers generated by
BRAT into Arc, and see if any of them have a red x and don't load.

On Fri, Dec 21, 2018, 2:26 PM Margaret Hallerud <notifications@github.com
wrote:

[2018-12-30 23:00] Albonicomt commented on #249
I will need to hand this one off...  Here is where I have gotten and links to where all the data is kept.

 I have everything complete except for the final step in BRAT. Step 6: Conservation Restoration. I kept running into an error in the tool. It looks like there was a change in a field name during the last BRATtool update. Here is a link to the Error message: https://usu.box.com/s/2aaae0pwii5oe

[2019-01-02 20:20] MatthewMeier commented on #250
Hey @banderson1618  I am getting the following error with the layer package generator. I believe that @mhallerud issue was an isolated situation but could you take a look at this one.
![image](https://user-images.githubusercontent.com/30604787/50610653-f9c49400-0e90-11e9-8764-abdd67a244e0.png)
Here is the [data](https://usu.box.com/s/kytks31tz1ovj1a8mtdfkhek2ffyljp0).

[2019-01-03 17:24] MatthewMeier commented on #250
No worries

[2019-01-03 17:35] MatthewMeier commented on #249
Thanks for the information @Albonicomt no problem we will take care of this.
@mhallerud could you head this up I am currently working on the John Day report. If you keep on running into the error I would start over with the newest master BRAT which has been working for me for the most part. Some things to sort out with the layer package generator but besides that it is working. Let me know when yo

[2019-01-04 18:10] banderson1618 commented on #250
I think I know what the problem is. You selected the `Outputs` folder as your input for the Layer Package Generator, but you should have selected `Output_##`  instead. It's expecting the latter, so it breaks when it can't find the right folders inside it. I'll add some error checking to make that more clear in the future. Does that make sense to you, @MatthewMeier?

[2019-01-04 18:12] MatthewMeier commented on #250
@banderson1618 yes that makes sense. Thanks for the input

[2019-01-04 19:51] #250 closed

[2019-01-05 23:41] joewheaton opened #251 "So fixed 404 redirect problem... but how to get out of menu"
Hey @MattReimer ,
So we added those 404 Redirect pages to the root of each site and that works for lost pages. However, how do we keep it from showing up in the sidebar. Is there something we can do in the page header or front-matter to keep it from showing up in menu? I guess this is a more generic question of is there a way to over-ride a page being automatically displayed in sidebar menu?
![201

[2019-01-07 15:34] mhallerud commented on #249
@MatthewMeier Starting on it now.

[2019-01-07 16:39] mhallerud commented on #249
@MatthewMeier So that error is because the fields iPC_VLowLU, iPC_HighLU, and iPC_LU do not exist in the combined dam capacity shapefile. All of these fields are necessary for running the new version of the Conservation Restoration tool. They are all created in the new BRAT_table tool. Do you want me to re-run from the new BRAT version, or just use the old Conservation Restoration tool to finish i

[2019-01-07 18:17] MatthewMeier commented on #249
@mhallerud Sounds like a plan to add those fields just make sure that the land use supporting tool was used on the existing vegetation data and that you add the land use layer in the project builder. Use his DA and mainstem edits like we did for the North Fork Burnt and John Day. Call if you have questions

[2019-01-07 18:44] MatthewMeier commented on #246
@wally-mac
Wanted to give you a project summary of what was accomplished while you were gone.
The North Fork Burnt report and deliverable list has been completed and can be found [here](https://usu.box.com/s/ldptbyilj618n8yf0tnr7c2yroevc8v3).
The John Day [report](https://usu.box.com/s/7r0x57r0eje9kt6tl51fap2zwx0kmqep) is in progress with all of the BRAT models ran and the following deliverable it

[2019-01-07 23:50] wally-mac commented on #246
Thanks Matt.  I have read over both reports and have accepted nearly all
your edits.  Nice work.  I have a few questions regarding some of the
tables and atlas that we could go over together early this week. Please let
me know of a time that works for you tomorrow (Tue).

On Mon, Jan 7, 2019 at 11:44 AM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-01-07 23:53] wally-mac commented on #249
How is this coming along?

On Mon, Jan 7, 2019 at 11:17 AM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-01-08 15:51] mhallerud commented on #249
@wally-mac Planning to finish it up today.

[2019-01-08 16:17] MatthewMeier commented on #246
@wally-mac I have class today at 10:30 - 11:45 (I will make up a work schedule for you to refer to for this semester. I can meet with you anytime after that.

[2019-01-08 20:22] banderson1618 commented on #243
@bangen were you able to make any progress on this front?

[2019-01-08 21:21] banderson1618 commented on #248
I've completed the "copy *.ai, *.png, and *.pdf files into a folder structure" functionality, but I'm not sure about how to recreate the Excel file. I know how to create a CSV file that has that data, which might help? You would still have to create the graph and everything yourself. I can put that CSV file into the 02_Analyses folder, if that would work for you, @MatthewMeier?

[2019-01-08 21:50] #239 closed

[2019-01-08 22:03] #211 closed

[2019-01-09 05:16] mhallerud commented on #249
@wally-mac @MatthewMeier Just finished up. The results can be found [here](https://usu.app.box.com/folder/63437047283). The only thing I noticed amiss is that the "Distance to Closest Infrastructure" symbology is not correct in the layer package. I attempted to change the symbology in ArcMap, but connecting the layer file did not do anything. @MatthewMeier, if I remember correctly, the same thing

[2019-01-09 16:49] wally-mac commented on #249
@banderson1618 can you please look into this layer package issue with the guidance of @mhallerud ? Thanks

[2019-01-09 17:14] mhallerud commented on #249
@banderson1618 I just took a look at it and it seems like the issue is coming from the source layer in the BRATSymbology folder.

[2019-01-09 17:16] mhallerud commented on #245
@MatthewMeier Working on automating the electivity ratios today. If there is anything of higher priority for me to be working on, feel free to give me a call.

[2019-01-09 17:31] MatthewMeier commented on #248
@banderson1618  I figured that this would be something that still needed to be done manually but it is something that we could look into for the future. I think that this would be a good place for the analysis. I will send you an updated excel file that should be close to what we want for the future.

[2019-01-09 17:34] MatthewMeier commented on #245
@mhallerud Sounds good use the following [excel sheet](https://usu.box.com/s/6yunsnhob44jhsg488u6kh1d5oxx1irk) for guidance

[2019-01-09 19:37] mhallerud commented on #249
@banderson1618 fixed the issue and I reloaded the layer package to the same folder linked above.

[2019-01-09 23:55] wally-mac opened #252 "Idaho BRAT Meeting Update (1/9/19)"
@CoryMosby and @wally-mac had a status update meeting today (1/9/19) for the Idaho BRAT project. One of the main items that we covered in the call was the new risk and management layers. Cory liked the changes we have made and he determined that the next step was to get buy-in from the folks that have on ground knowledge. As such, Cory is going to reach out to the resource managers in three areas:

[2019-01-09 23:59] MatthewMeier commented on #252
@wally-mac sounds good to me let me know when you have a list of watersheds to run BRAT on and I will work with @mhallerud on them.

[2019-01-10 08:21] mhallerud commented on #252
@MatthewMeier Just let me know which you want me to work on. I don't have anything of high priority on my plate right now so I can take on more of this as needed.

[2019-01-10 08:32] mhallerud commented on #186
@banderson1618 Let me know when you'll be around later this week and I can plan to be in the lab so we can discuss this.

[2019-01-10 17:01] wally-mac opened #253 "Idaho BRAT Dam Censusing Tutorial (Using Chad's ESRI Webmaping)"
@mhallerud, @BrittGraham, @chadFHC , @GabeStudent1234 , @MatthewMeier , and @banderson1618 [here](https://vimeo.com/310598444/d307902359) is a video tutorial I just cranked out describing my technique for collecting beaver dams using the web app that Chad generated.  Please watch the video and please work on collecting beaver dams when you have time.  It is going to require a team effort to get al

[2019-01-10 17:02] MatthewMeier commented on #253
@wally-mac will do

[2019-01-10 17:03] GabeStudent1234 commented on #253
I'll be in later today to work on that

On Thu, Jan 10, 2019, 10:02 William Wallace Macfarlane <
notifications@github.com wrote:

[2019-01-10 17:13] wally-mac commented on #253
Hey team [here](https://vimeo.com/310605569/94da988ae7) is a short video to clear up the confusion I may have caused in the first video.

[2019-01-10 17:17] chadFHC commented on #253
Sounds good.

[2019-01-10 17:21] mhallerud commented on #253
10-4, Will do.

[2019-01-10 19:09] MatthewMeier commented on #246
@wally-mac here is the [final report](https://usu.box.com/s/gwfuz3d8cmom6lspo02ffy9syezrxl9g) for the North Fork Burnt. Let me know if you would like anything changed.

[2019-01-10 19:15] wally-mac commented on #246
Thanks Matt.  I'll have a read through this afternoon and I'll let you know if I need anything more for you for this report.  Nice work!

[2019-01-10 19:31] BrittGraham commented on #208
I have gone through the code and markdown files and changed variable name's from "PT" to "HPE" and changed "Potential" to "Historic."

[2019-01-10 20:04] wally-mac commented on #253
@mhallerud, @BrittGraham, @chadFHC , @GabeStudent1234 , @MatthewMeier , and @banderson1618 [here](https://vimeo.com/310639904/6f23fe3186) is a short video that describes how to keep track of where you have worked with in the watershed.

[2019-01-10 21:03] banderson1618 commented on #186
@mhallerud I'll be in tomorrow from 10:30-1:30, and in on Monday from 11:30-1:30, and in on Tuesday from 12:00-5:00. Would any of those times work for you?

[2019-01-10 21:14] banderson1618 commented on #248
@MatthewMeier I found a module for Python called XlsxWriter, which will hopefully allow us to create xlsx files instead of messing around with csvs. It does require a pip install, but it worked flawlessly on my system, so hopefully that's a good sign.

[2019-01-11 17:36] wally-mac opened #254 "Changes to Idaho Dam Censusing ESRI Webmap App"
@chadFHC since it is very difficult to identify lodges with the imagery provided in the web app it is therefore very difficult to identify primary vs. secondary dams.  As such, I would like you to modify the form as followings:  in the **Feature Type** drop-down remove '_lodge_' and '_stock pond_' ( we are not under contract to map stock ponds) and remove the **Dam Type** drop-down altogether.  Pl

[2019-01-11 19:34] chadFHC commented on #254
@wally-mac
I can do this. Although, if I do this to surveys that already have data, it deletes the data and starts fresh. So, we should just finish the ones that are already started with their current forms. I will update the rest now.

[2019-01-11 22:21] banderson1618 opened #255 "Changing "Data Validation" to be more useful to managers"
@wally-mac recently asked me to make the Data Capture Validation more friendly for managers to use. He suggested renaming it and adding a field that records the ratio of observed dam density to historic capacity, and another that records the ratio of observed dam density to existing capacity. He also suggested renaming it. Those two field will not be hard to implement, but I would invite @MatthewM

[2019-01-14 15:43] mhallerud commented on #255
Since the primary purpose of the tool is to validate/verify the BRAT model by comparing with dam data, I think "Model Validation" or "BRAT Validation" would capture that purpose and be more self-explanatory. I'll think more for the ratio of observed dam density to historic capacity- right now I'm only coming up with generic names and nothing more biologically meaningful.

[2019-01-14 15:45] mhallerud commented on #186
@banderson1618 Apologies for the late response, but I'll be around this morning.

[2019-01-14 17:31] CoryMosby commented on #252
@mhallerud and @wall-mac.  I’ve heard back from one of the three regions.  They want to review Jordan_1750108.  I thought you all would want to know incase you wanted to get started.  I should have the other two to you by midweek.

Cory

From: Matt Meier <notifications@github.com>
Sent: Wednesday, January 9, 2019 5:00 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby

[2019-01-14 17:48] mhallerud commented on #252
@MatthewMeier @wally-mac Let me know if you want me to take this on.

[2019-01-14 17:57] MatthewMeier commented on #255
Right now there is a ratio for the observed dams to existing capacity but I do think that it would be interesting to see the historic. This would still work out because there would be even higher predictions with the historic capacity than the existing should. It would be a good comparison.
Right now I do not have any other useful fields to add, However making this automated for the excel sheet wo

[2019-01-14 18:07] MatthewMeier commented on #252
@mhallerud why don't you work on this one I am finishing up some things for the John Day BRAT today and should be able to work on some of the others coming up this week. [Here](https://docs.google.com/spreadsheets/d/1QWncSSeKwxYOzjRhnkbulGxLVoiBRDkbJSxB7WHZEiY/edit?usp=sharing) is a list of watersheds we are working on.
Remember that we do need the dam census happening as well.

[2019-01-14 18:14] mhallerud commented on #255
@MatthewMeier I've started on adding the electivity index and related fields (per #245). Planning on finishing that up later this week or perhaps early next week depending on when I get those Idaho BRAT models done and a few dam surveys in. Let me know if it's more urgent and I'll plan to keep you updated once I get a baseline output to see if anything else should be added.

[2019-01-14 18:25] MatthewMeier commented on #255
@mhallerud send me an example when you have one. preferably run a practice run on the north fork Burnt or John Day so that we have something to compare it against. Don't change any of the data for those projects on box though. They are getting buttoned up and things staying how they are is essential.

[2019-01-14 19:19] banderson1618 commented on #186
@mhallerud this is an example of what I'd expect to see in a batch processing script. Let me know if you have any questions or concerns.

[BatchProcessingExample.zip](https://github.com/Riverscapes/pyBRAT/files/2756734/BatchProcessingExample.zip)

[2019-01-15 14:17] joewheaton opened #256 "Red X?"
Kellerman wrote:

[2019-01-15 14:19] joewheaton commented on #256
What version of ArcGIS are you using? My guess is that the toolbox is not compatible with earlier versions of ArcGIS (e.g. 10.4 or earlier), but I could be wrong. @banderson1618 any thoughts?

While the code is open source, we've never had the development budget to turn this into a more reliable  AddIn and GUI.... we're trying.

[2019-01-15 17:41] banderson1618 commented on #256
Hi @jherimek, I might be able to help. If you right click on the toolbox with the red x, you should see the option to "Check Syntax". That will open a window telling us what's wrong. Can you post whatever that comes up with on here?

[2019-01-15 19:56] JherimeK commented on #256
Traceback (most recent call last):
  File "<string>", line 6, in <module>
  File "C:\0_BRAT\pyBRAT-3.0.19\Veg_FIS.py", line 13, in <module>
    import skfuzzy as fuzz
ImportError: No module named skfuzzy

So looks like perhaps I need to add skfuzzy - I was under the impression that was not necessary anymore, but maybe I misread

[2019-01-15 20:15] banderson1618 commented on #256
Yep, that'd do it. We do still use skfuzzy, unfortunately. It would be nice to not have the dependency, but we haven't found a good alternative that isn't just another dependency. Here's a link to the page with instructions on installing skfuzzy, in case you don't have much experience with installing python dependencies:

[http://brat.riverscapes.xyz/Download/ComputerSetup](http://brat.riverscapes

[2019-01-15 20:16] banderson1618 commented on #256
Let me know if you're still having problems after that.

[2019-01-15 20:23] JherimeK commented on #256
Thanks, just walked through that process, but got following message whn trying to install scikit.fuzzy
  Could not find a version that satisfies the requirement scikit.fuzzy (from versions: )
No matching distribution found for scikit.fuzzy
I was running from admin cmd prompt.

[2019-01-15 20:33] banderson1618 commented on #256
Good to hear.

BDWS isn't necessary for most uses, so that's fine. It uses OSGeo, which most people don't have installed, so that's not a surprise.

[2019-01-15 20:33] banderson1618 commented on #256
I'll go ahead and mark this issue closed.

[2019-01-15 20:33] #256 closed

[2019-01-15 20:34] mhallerud commented on #186
@banderson1618 Looks straightforward enough- thanks!

[2019-01-16 01:23] wally-mac commented on #252
@mhallerud, yes please work on the Jordan HUC 8 which just needs the new risk/management model run. @MatthewMeier can you assist Maggie with this? Thanks!

[2019-01-16 01:39] wally-mac commented on #254
@chadFHC

[2019-01-16 01:39] #254 closed

[2019-01-16 01:43] wally-mac commented on #253
@mhallerud, @BrittGraham, @chadFHC, @GabeStudent1234, @MatthewMeier [here](uhttps://arcg.is/0OzD5Ll) is an example watershed where I did the dam collection on. Please refer to this if you have any questions on identifying dam locations.

[2019-01-16 16:07] mhallerud commented on #253
@wally-mac I'm having an issue with the link, do you mind updating it?

[2019-01-16 16:31] mhallerud commented on #252
@wally-mac @MatthewMeier Getting going on it now

[2019-01-16 20:36] wally-mac commented on #252
Thank you @mhallerud, I'll take a look at it later this week and let you know if I have any questions/concerns.

[2019-01-16 21:02] wally-mac commented on #252
@mhallerud and @MatthewMeier @CoryMosby has provided the other two priority watersheds: Little Wood (17040221) which will just require running the new risk/management model and Lower Henry's (1740203) which will require a full run of the BRAT model.  I told Cory that we'd have Jordan and Little Wood completed with instructions on what the outputs are trying to say by early next week and have  Lowe

[2019-01-17 21:44] wally-mac commented on #249
@sshahverdian, just so you know Chalese is generating maps for Panther Creek BRAT inputs, intermediates and outputs.

[2019-01-17 21:45] #232 closed

[2019-01-17 21:46] #245 closed

[2019-01-17 21:50] #225 closed

[2019-01-17 22:08] wally-mac commented on #244
@MatthewMeier and @BrittGraham where are you on this? If it's been completed please share links to the documentation here if not can you please let me know what happened (what the hold up is)?  Thanks

[2019-01-17 22:21] wally-mac commented on #182
@mhallerud please take a look at this post.  We may apply this same type of pre-processing workflow for Idaho BRAT but maybe not everywhere.  Note: that this has not been done for TNC BRAT (Cali) yet either. @bangen may also have some new updated insights.  I'm concerned about how much time it requires and our small budgets (as Mic mentioned above it could take been .5 to  1.5 hours per watershed-

[2019-01-17 22:31] wally-mac commented on #243
@joewheaton let me know that we do not have funding to pursue this at this time.  I'm closing this ticket.

[2019-01-17 22:31] #243 closed

[2019-01-17 22:32] #236 closed

[2019-01-17 22:32] #233 closed

[2019-01-17 22:34] wally-mac commented on #228
@mhallerud what is the status of this ticket?

[2019-01-17 22:34] #214 closed

[2019-01-17 22:36] #223 closed

[2019-01-17 22:37] #218 closed

[2019-01-17 22:39] wally-mac commented on #207
@banderson1618 per our conversation regarding "pulling back the curtain" on the conservation and restoration outputs it might be useful to re-read this post.

[2019-01-17 22:46] banderson1618 commented on #207
Good find, thanks @wally-mac!

On Thu, Jan 17, 2019, 3:39 PM William Wallace Macfarlane <
notifications@github.com wrote:

[2019-01-17 22:53] bangen commented on #186
@banderson1618 and @mhallerud

@wally-mac asked me to chime in here.  I took a look at what Braden put together as an example and that could work.  The main downside to that workflow is it requires filling out all the filepaths in a csv.  It's not an issue when running a few basins, but is an unnecessary time sink when we need to run a bunch of basins.

Assuming all of the file names are generic (

[2019-01-18 00:11] mhallerud commented on #252
@wally-mac @MatthewMeier Just finished up with Little Wood. The output is [here](https://usu.app.box.com/folder/49403032819) under "17040221_ConservationRestoration_V3". I also uploaded the edited combined dam capacity shapefile under the same folder as "17040221_CombinedCapacity_V3". I'll add the edited combined dam capacity shapefile to the output folder for the Jordan as well.

[2019-01-18 15:40] MatthewMeier commented on #252
@wally-mac So the Big wood is not on the list right?

[2019-01-18 15:41] mhallerud commented on #182
@wally-mac Will do. One option I was thinking of is going through the corrections for a handful of watersheds, then using those to approximate proportional differences in certain fields (e.g. capacity) which could be applied to correct watershed-level output in the batch-run watersheds. I'm not sure how effective that would be though, or if time should even be wasted on it since the spatial compon

[2019-01-18 15:44] mhallerud commented on #228
@wally-mac I put it on the back-burner due to the syntax concerns. I can go ahead and implement option 1 that @MatthewMeier laid out above though, it should not take long at all.

[2019-01-18 15:48] mhallerud commented on #252
@MatthewMeier I'm looking at the Box data for [Henry's](https://usu.app.box.com/folder/45495603388) and it looks like not all the inputs are there. Do you mind sending me a quick list of steps on sourcing and pre-processing the data so I can get going on that?

[2019-01-18 15:51] MatthewMeier commented on #228
@mhallerud sounds good to me although I think it would be really helpful to enter an example of one into the help box so that users would run into less syntax errors.

[2019-01-18 15:53] mhallerud commented on #228
@MatthewMeier No problem, I can look into that.

[2019-01-18 15:56] MatthewMeier commented on #252
@mhallerud all of the list of steps to acquiring the data can be found [here](http://brat.riverscapes.xyz/Documentation/Tutorials/StepByStep/1-InputData.html) you will need to run VBET as well before you do anything because that isn't done yet. I would do a non edited run which will take a lot less time. This will be good to see how much time it takes to get the non edited VBET outputs. @wally-mac

[2019-01-18 16:01] mhallerud commented on #252
@MatthewMeier Thanks!

[2019-01-18 17:13] mhallerud commented on #252
@MatthewMeier @wally-mac The LANDFIRE website is down. Are there other vegetation/land use data sources that I could try instead?

[2019-01-18 18:00] mhallerud commented on #252
@MatthewMeier @wally-mac Should I just be doing the perennial network on this one? See below, the perennial network cuts out a large portion of the watershed.

![image](https://user-images.githubusercontent.com/43869036/51404225-07744d80-1b10-11e9-91cf-097cc4fc1ddd.png)

[2019-01-18 18:02] MatthewMeier commented on #252
@mhallerud you can still get to the data just that main website is down. [Here ](https://landfire.cr.usgs.gov/viewer/#main)is a link to the data just click on the map and it will take you to the visual instructions that are listed on the BRAT webpage.
In addition no you will want to still do the full network this is a protocol that we have set up in the lab in doing the entire nhd because it saves

[2019-01-18 18:16] mhallerud commented on #252
@MatthewMeier Sorry for throwing a ton of questions at you, but I'm on the last step of VBET (actually extracting the valley bottom) and I'm not sure what to put for the following inputs:

- High Drainage Area Threshold (default 250)

- Low Drainage Area Threshold (default 25)

- Large Buffer Size

- Medium Buffer Size

- Small Buffer Size

- Minimum Buffer Size

- Large Slope Threshold (default 5

[2019-01-18 20:20] wally-mac commented on #252
Yes, I agree with Matt. We want to always run the full network and then we
reduce it to the perennial extent after we have generated layer packages.
Note: we are going to need to figure out a way to automate (or at least
semi-automate) this step of subsetting to the perennial extent. Maggie
let's talk about this in more detail.

On Fri, Jan 18, 2019 at 11:27 AM Matt Meier <notifications@github.com

[2019-01-18 21:04] mhallerud commented on #252
@wally-mac Sounds good, I'll take a look at the code and think about it a bit more this weekend.

@MatthewMeier I have the rest of the data set up, but would you mind just doubling checking my valley bottom? I ran it a few times and am comparing with other watersheds, but I'm not entirely sure what I'm looking for or how much error is acceptable. I uploaded it [on Box](https://usu.app.box.com/fold

[2019-01-18 21:07] mhallerud commented on #186
@bangen Thanks for the pointers! That's definitely going to save a bit of time.

[2019-01-18 22:35] BrittGraham commented on #244
I will be going through some of these today and seeing what I can update.

[2019-01-18 22:42] MatthewMeier commented on #244
@BrittGraham remember that one reason that we are asking you to do this is because there are things that make sense to us because we have been around it more. We want it to make sense to the first time user. It is all right to not know in depth the information that your documenting but we want you to make it comprehendable

[2019-01-22 00:35] mhallerud commented on #252
@MatthewMeier Does the LANDFIRE_LUCode script from SupportingTools usually work? I'm having issues with it. Also, has anybody created a script to reclassify vegetation or have we been doing it by scratch?

[2019-01-22 01:09] wally-mac commented on #252
I’m not the person to really answer the first question but I think I know
the answer to the second and that is no we have not developed a script yet
and it’s at this point a manual process.

On Mon, Jan 21, 2019 at 5:35 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-01-22 05:59] MatthewMeier opened #257 "Validation issue"
@mhallerud @wally-mac there is an issue occuring with the validation model. there seems to be a bogus actual dam count created from the BRAT validation tool. it is taking the join count and assigning just values of ones to it. Please refer to the run for the John Day that I did for the [Lower John Day](https://usu.box.com/s/kytks31tz1ovj1a8mtdfkhek2ffyljp0).

[2019-01-22 06:05] mhallerud commented on #257
@MatthewMeier I'll take a look at it first thing in the morning.

[2019-01-23 18:49] MatthewMeier commented on #257
@mhallerud what is the progress that you have made so far? We are hoping to get another report buttoned up by the end of the week and some of it depends on this validation. Thanks

[2019-01-23 19:38] mhallerud commented on #257
Hey Matt, I have not figured it out yet but that is my next priority after I finish this BRAT run. I’ll try to get a new one up by the of the day.

[2019-01-23 23:02] mhallerud commented on #252
@wally-mac The Lower Henry BRAT is done and [on Box](https://usu.app.box.com/folder/64723271328). I think the last thing to do is just make the layer package for the Little Wood, but let me know if I'm missing anything.

[2019-01-23 23:05] wally-mac commented on #252
Thanks.  Yes, we need perennial layer package for each of the three
priority watersheds.  Let's go over the data together.  Do you have time
tomorrow to do so?

On Wed, Jan 23, 2019 at 4:02 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2019-01-23 23:23] mhallerud commented on #252
@wally-mac Yes, I'll be in the lab tomorrow around 9-12 and 1:30-5:00.

[2019-01-23 23:31] MatthewMeier commented on #257
@mhallerud are there any dependencies that would throw errors into this output?

[2019-01-23 23:38] MatthewMeier commented on #257
@mhallerud I took a look at the outputs and there are still some issues with it. Please refer to the following [video](https://youtu.be/-pGp1joAjRU) for a description.

[2019-01-23 23:57] wally-mac commented on #257
Matt, thanks for the video.  Yep, the validation looks like it is producing
some gross errors.  I'm sure Maggie will be able to track it down and get
it fixed.

On Wed, Jan 23, 2019 at 4:38 PM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-01-24 00:10] mhallerud commented on #257
My apologies Matt, I’ll look at it more later tonight and try to get it figured out by tomorrow morning at the latest.

[2019-01-24 18:02] mhallerud commented on #257
@MatthewMeier Finally figured it out. The Conservation Restoration shapefile used as input already had a Join_Count field which I think was throwing off the Spatial Join process. Once I deleted those, the spatial join ran properly and put real values in. I checked that the output Join_Count values matched where the streams actually are. The high value is now ~82, which seems a bit high but is beca

[2019-01-24 18:11] wally-mac commented on #257
Nice job troubleshooting this one, Maggie.  Yes, Braden please look into
the spatial join concern that Maggie raised.

On Thu, Jan 24, 2019 at 11:02 AM Margaret Hallerud <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2019-01-24 22:02] banderson1618 commented on #257
@mhallerud, based on the documentation [here](http://pro.arcgis.com/en/pro-app/tool-reference/analysis/spatial-join.htm), the only difference between the two options only has to do with how attributes are aggregated. It doesn't affect the Join_Count field, which is all we care about.

[2019-01-26 00:26] mhallerud opened #258 "Corrections Needed for New Conservation Restoration Model"
@joewheaton @wally-mac @banderson1618 @bangen @CoryMosby

@wally-mac and I were reviewing the BRAT management outputs for the Idaho watersheds #252 and noticed a few issues:

- **Erroneous Stream Power Limited:** The "Stream Power Limited" category within the Unsuitable/Limited Opportunities layer is including reaches which have low stream power and should likely be included in the "Anthropogenica

[2019-01-26 00:42] mhallerud commented on #258
**Stream Power Example** (blue is Stream Power Limited, orange is Anthropogenically Limited)
Note: iHyd_SPLow and iHyd_SP2 are the baseflow and peak flow stream power values

![streampowererror](https://user-images.githubusercontent.com/43869036/51780010-5437c580-20c8-11e9-9f13-8baf7bb1a34f.PNG)

**Risk Example** (red is Considerable Risk, orange is Some Risk, blue is Minor Risk)

![risk_exampleer

[2019-01-26 21:30] joewheaton opened #259 "Pages really slow to load"
Hi guys,
After browsing [this Burnt River page](http://brat.riverscapes.xyz/BRATData/USA/PBWC_Burnt/), I noticed how poorly the performance of site is. The reason for this is you guys are uploading way too many full resolution versions to one page. There are two ways around this, 1) split out things to more subpages, and 2) tinify the images!

So its great we're getting our documentation sorted ou

[2019-01-26 21:48] joewheaton commented on #259
Just to clarify... one quick thing to fix this is simply take every image in the assets folder and run through tinyPNG. You can only do 20 at a time (for free), but this will reduce each one on order of 50 to 80% filesize... which helps a lot.

[2019-01-28 17:40] wally-mac commented on #259
@BrittGraham I am assigning you with this task that Joe has defined above.  Let's make this your highest priority.  Don't worry too much about the beaver dam censusing because I'm planning on hiring Work Study Techs to this work.  Please confirm that you we'll take this task on and let us know if you have any questions. Thanks!

[2019-01-28 20:17] bangen commented on #258
### Feedback on Risk Category Logic
I took a look at the `oPBRC_UI` code block:

[code]
A few potential issues/questions that immediately popped out:

- Why is this based on existing capacity `occ_ex`?  This only flags risk based on the existing capacity.  Don't we want to flag risk associated with increasing capacity based on the potential capacity (i.e., under some restoration scenario)?

- We'r

[2019-01-28 21:33] wally-mac commented on #258
The new stream power limited outputs look much better.  How do the other watersheds look? Are you now happy with the output? We can dig into it together next time you are in the lab.

[2019-01-28 21:44] wally-mac commented on #258
Hi Sara,

I think it is fine we are only considering existing capacity.  What the layer/map is might to do is flag risk and managers can use this information to determine where to do conservation or restoration.  Thus, it is NOT meant to "flag risk associated with increasing capacity based on the potential capacity (i.e., under some restoration scenario)."

As we discussed on the phone, please wor

[2019-01-29 19:08] bangen commented on #258
@mhallerud @banderson1618

### Feedback on Changes to 'oPBRC_UD'

I took a quick look at the changes to the logic (code block below) and it looks good.  I have one question for @wally-mac and @joewheaton:

- In cases where existing capacity is 'None' what is more important to flag: anthro limited or stream power limited?  The reason I ask is under the current logic the anthro limited classificatio

[2019-01-29 20:02] katelundquist commented on #240
Hey Wally,

Can I get back into theMarin BRAT outputs on the Riverscapes website? These link below seem defunct.

Kate Lundquist
WATER Institute Director
Occidental Arts and Ecology Center
15290 Coleman Valley Road, Occidental, CA 95465
(707) 874-1557 x 118
kate@oaec.org

[2019-01-29 20:09] wally-mac commented on #240
Hi Kate, the links work on my end I’m not sure what’s happening on yours
I’ll look into this when I get back from lunch. We’ll get it worked out.
Thanks for reaching out.

On Tue, Jan 29, 2019 at 1:02 PM katelundquist <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-01-29 21:18] wally-mac commented on #240
@katelundquist [here](https://usu.box.com/s/d5lmh0t92gu0r5h7dz7js92fb7cufq9j) is a link to the Marin County BRAT data.  Let me know if this works.

[2019-01-29 23:34] mhallerud commented on #258
@bangen Thanks for taking a look at everything! I'm going to start playing around with the risk portion of the management model tonight (including filling in those gaps in the 'or' statement you mentioned above) and see if I can get some more reasonable output from it. Let me know if you want me to take a look at anything else.

[2019-01-30 16:38] mhallerud commented on #258
@wally-mac @bangen @banderson1618 I added this missing values into the risk section of the model; the changes are in the ConservationRestoration branch. [Here](https://docs.google.com/spreadsheets/d/1N3N01pwwxtnXyiZIDtlyIdcCduCmzy6m6k2VJ54SwO8/edit?usp=sharing) is a Google sheet listing the new and old risk values for different distances, land uses, and combined capacities.
@bangen Do you mind dou

[2019-01-30 16:50] mhallerud commented on #258
@wally-mac @bangen @banderson1618 Here's what those changes look like on the Little Wood:

![newrisk](https://user-images.githubusercontent.com/43869036/51997682-70df4f00-2474-11e9-993f-e33bc155cc1d.PNG)

[2019-01-30 17:06] mhallerud commented on #258
Here are what those changes look like on the other two watersheds:

**Limited Dam Building Opportunities:**

![jordanlimits1](https://user-images.githubusercontent.com/43869036/51998288-9587f680-2475-11e9-901b-bf33b7ebc12c.PNG)

![henrylimits1](https://user-images.githubusercontent.com/43869036/51998791-8f464a00-2476-11e9-9143-07789148b933.PNG)

**Risk:**

![jordanrisk1](https://user-images.github

[2019-01-30 17:16] katelundquist commented on #240
YES!! Thank you!

Kate Lundquist
WATER Institute Director
Occidental Arts and Ecology Center
15290 Coleman Valley Road, Occidental, CA 95465
(707) 874-1557 x 118
kate@oaec.org

[2019-01-30 17:34] mhallerud commented on #258
@wally-mac @bangen One thought after looking more closely at the combined capacity code: Are any of these areas truly "Anthropogenically Limited"? Aside from human impacts on vegetation and potentially stream power (e.g., canal diversions), there is no direct link between our combined capacity estimates and anthropogenic factors. There is also the "Potential Reservoir or Landuse Conversion" catego

[2019-01-30 18:56] wally-mac commented on #259
Hi @BrittGraham, I noticed that you were working on this task. Please provide a status report when you get a chance.  Thank you.

[2019-01-30 19:11] banderson1618 commented on #258
I wonder if there's a more elegant way to find `oPBRC_UI` (Risk) than a bunch of if statements. It's hard to read code, and it'll be hard to change in the future if/when we want to. Would it be possible to have a "Conflict Points" system, which land use, infrastructure distance, and existing capacity all feed into, and then the field is determined based on thresholds of "Conflict Points"? If we ne

[2019-01-30 19:22] wally-mac commented on #258
@banderson1618 that sounds like a promising idea.  How much work do you estimate a "conflict point" approach would take to develop?  Do you have the time and expertise to accomplish the task?

[2019-01-30 19:35] wally-mac commented on #258
@banderson1618, do you think you could do a test run where you just "fudge" the conflict points and weights and provide the  team with something to evaluate?  Without it, the approach is too vague to properly assess.  Thoughts?

[2019-01-30 19:39] banderson1618 commented on #258
Yep, I'm working on a spreadsheet for the values I want to implement now. I'll make the changes on a new branch and show you the results when I get there.

[2019-01-30 19:51] banderson1618 commented on #258
[https://docs.google.com/spreadsheets/d/1cgVxaW8dHt6OMkaaiSQOhkjodfZBSRmFmN1vk3fDXf4/edit?usp=sharing](https://docs.google.com/spreadsheets/d/1cgVxaW8dHt6OMkaaiSQOhkjodfZBSRmFmN1vk3fDXf4/edit?usp=sharing)

Here's a link to that spreadsheet with some preliminary values. Let me know if anything seems egregious.

[2019-01-30 20:03] wally-mac commented on #258
@bangen these are valid points you bring up.  Are you available now for a quick call so we can get "unified" on our approach?

[2019-01-30 21:57] bangen commented on #258
I made the changes to 'oPBRC_UD' and 'oPBRC_UI' fields.  I still need to take a close look at the 'oPBRC_CR' field logic.

@mhallerud if you get a chance, could you please run this so Wally can take a look at the output?  FYI, I made the edits directly on Git (which I normally don't do but was pressed for time...) and there may be a few indentation errors.  If you run into any please fix.  Thanks!

[2019-01-31 02:16] BrittGraham commented on #259
@wally-mac I have resized all the images and used tingPng on them. Tomorrow I'm going to work on putting the three different sections of images on a different webpage, and make the images clickable. Then the users can see them in full screen.

[2019-01-31 20:37] BrittGraham commented on #259
I have finished putting all the images into different sub-pages, and are now clickable to view them in full.

[2019-01-31 21:31] wally-mac commented on #259
Nice work!

On Thu, Jan 31, 2019 at 1:37 PM BrittGraham <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-01-31 21:33] mhallerud commented on #258
@bangen Thanks for taking care of that! One question: Is the splow constraint for stream power limited supposed to be less than 190? Right now it's coded as greater than 190. When run as less than 190, the stream power limited category picks up most of the areas that should probably be classified as anthropogenic. Moving the anthropogenic classification in front of the stream power classification

[2019-01-31 21:38] mhallerud commented on #258
After running it both ways, I'm not sure we can win either way.

With anthropogenically first:
![anthrofirst](https://user-images.githubusercontent.com/43869036/52087148-e1b26400-2565-11e9-8ebe-097cf0b0bb4b.PNG)

With stream power first:
![streamfirst](https://user-images.githubusercontent.com/43869036/52087172-ebd46280-2565-11e9-905c-368d88ef85bc.PNG)

[2019-01-31 22:51] mhallerud commented on #258
@joewheaton @wally-mac @bangen @banderson1618 Here are two new options for the Unsuitable/Limited Dam Building Opportunities layer. Both of them put anthropogenic before stream power limited in the classification, but each has a different threshold for classification as anthropogenically limited.

Option 1: Anthropogenically limited if land use > 0.6 (developed, close-grown crops, orchards, etc.)

[2019-01-31 23:07] wally-mac commented on #258
My vote is option 1. My rationale is, the Precautionary Principle, I think
we should be restrictive and flag any and all agricultural  lands then if
stakeholders feel it is too restrictive they can relax the restrictions and
go with something like option 2 you have described above.

On Thu, Jan 31, 2019 at 3:51 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.183

[2019-02-01 01:34] mhallerud commented on #258
@joewheaton @wally-mac @banderson1618 @bangen @CoryMosby
We're getting close. Here's the last little bit for calculating risk in the model: using distances from roads in the valley bottoms, railroads in the valley bottoms, road crossings, and canals vs. using distances from roads, railroads, canals, roads in the valley bottom, road crossings, and railroads in the valley bottom.This one seems to no

[2019-02-01 01:42] wally-mac commented on #258
Agreed, I think we should keep it as is "distance from any infrastructure".

On Thu, Jan 31, 2019 at 6:34 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2019-02-01 16:39] mhallerud commented on #258
@wally-mac New layer packages for [Lower Henry](https://usu.app.box.com/folder/64740331545), [Jordan](https://usu.app.box.com/folder/52507149254), and [Little Wood](https://usu.app.box.com/folder/65194373137). I also uploaded the new outputs to those folders.

[2019-02-01 16:56] wally-mac commented on #258
Great, thanks! Can you now please update the website documentation? Please
reach out to and work with Braden on this if needed. Please let me know
when it’s up and I’ll take a look.

On Fri, Feb 1, 2019 at 9:39 AM Margaret Hallerud <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-02-01 17:10] mhallerud commented on #258
10-4, working on it now

[2019-02-01 18:21] bangen commented on #258
@mhallerud and @wally-mac

In regards to the baseflows (splow) I mispoke in a previous comment (which I've edited).  The trump rule concerns higher baseflows at which beaver are unlikely to build dams.  In the combined FIS code if baseflow streampower is > 190 watts it falls within our 'cannot' build dams membership function and will result in a capacity estimate of 0.  Beaver will build on really

[2019-02-01 18:33] wally-mac commented on #258
Yes, my vote is for the more restrictive option (i.e. any ag) and as Sara
describes that is option 2 which I had in my head as option 1. sorry for
the confusion but I think Maggie understood my meaning and applied the more
restrictive option.

On Fri, Feb 1, 2019 at 11:21 AM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-02-01 18:39] mhallerud commented on #258
@bangen sounds good, I'll fix that SPLow threshold back to > 190. @wally-mac Yep, I used the more restrictive option (land use > 0.3 results in higher risk).

[2019-02-01 18:44] wally-mac commented on #258
@CHafen can you please help maggie with her questions regarding the legends? @mhallerud If you don't hear back from chalese there's documentation on the BRAT website about cartography that might point you in the right direction. Keep me posted if you still have questions on legends and i'll try and track it down.

[2019-02-01 18:54] banderson1618 commented on #258
@mhallerud will you be in the office within the next hour or so? I'd like to go over the code in person, if possible.

[2019-02-01 18:56] wally-mac commented on #258
I looked over the documentation and found one typo:

Under the field oPBRC_UI the some risk description near the end has
frequent or pervasive (occ_ex >=5) this should be 15.

I think it be worth having someone else look ir over since I am sick in bed.

On Fri, Feb 1, 2019 at 11:24 AM Margaret Hallerud <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtes

[2019-02-01 19:45] mhallerud commented on #258
@wally-mac Frequent is listed as 5 - 15 dams/km. @banderson1618 is taking a look too.

[2019-02-01 20:45] CHafen commented on #258
Legends can be found [here](https://usu.app.box.com/file/337890974080)

[2019-02-04 17:30] wally-mac commented on #103
@mhallerud and @bangen like we did for the Utah BRAT found [here](https://usu.box.com/s/3jqr3d61cnvd9wq5dl7bkzhw6aox8t96) we'll want to clip & summarize BRAT data by the IDF&G Administrative Regions found [here](https://usu.box.com/s/lwyke9289s0q4ou1qjmgchkj0bes5rdu).  For TNC and GYA BRAT we'll want to use similar regions to clip and summarize data.  We can take about options. Note also that for

[2019-02-04 17:36] wally-mac commented on #103
What probably makes the most sense for the GYE BRAT is to clip by US Forest Service boundaries (because this is USFS funded). Sara you might already have an idea for TNC.

[2019-02-04 17:45] mhallerud commented on #103
@wally-mac Sounds good. Do you know where I could find said boundaries for GYE? I don't see why BRAT couldn't be run at these larger spatial scales, but I think we should try a test run before we go any further with that idea. Like @wally-mac mentioned previously, it might give large cumulative values for drainage area that will affect other outputs down the line. @banderson1618 @bangen, what are

[2019-02-05 18:02] bangen commented on #258
@mhallerud and @wally-mac

I'm reopening this issue until we QA/QC and resolve a potential issue related to the` 'oPBRC_CR'` field (Conservation & Restoration Opportunties).

Based on the current code (included below) it looks like reaches with frequent or pervasive combined capacity AND minor or negligible risk will only get a ` 'oPBRC_CR'` of _'Easiest - Low-Hanging Fruit'_ or _'Straight Forward

[2019-02-05 21:00] bangen commented on #80
@mhallerud

Here are the EVT Landfire veg codes for the developed - vegetated classes

[2019-02-05 21:54] wally-mac commented on #80
Sara,

Can you please provide a hyperlink to the data?  Thanks!

[2019-02-05 21:57] bangen commented on #80
@wally-mac This issue post was pertinent to all EVT veg codes.  Just wanted Maggie to have it on her radar.  If you want I can send a link to the TNC BRAT Landfire data.

[2019-02-05 21:59] wally-mac commented on #80
Got it. Thanks

[2019-02-05 23:05] wally-mac commented on #258
By understanding of the Conservation & Restoration Opportunities field is that it attempts to calculate  the **effort** required to restore or conserve a particular reach. As such, I believe the reason that Joe includes the requirement of a departure from historic condition of **at most** three dams  for the 'Easiest - Low-Hanging Fruit' category  as a way to show that reaches with higher departur

[2019-02-05 23:23] CHafen commented on #258
I think the problem, though, is that it is sending them to "NA" where shouldn't it still be considered "Strategic - Long - term investment"?

[2019-02-05 23:56] wally-mac commented on #258
Good point, Chalese. I now understand the point of confusion that Sara is raising. I agree, I can see your justification for still considering that reach as "Strategic - Long - term investment". Perhaps, @joewheaton knows the answer.  Anyone else have any thoughts on the matter?

[2019-02-06 00:02] mhallerud commented on #258
@wally-mac @bangen @CHafen Another problem I'm seeing, similar to the issues with the risk model we addressed earlier, is very specific categories which leave a large portion of the reaches classified as 'NA'. I'm not sure if extremely specific categories are intended or not though.

[2019-02-06 19:17] banderson1618 opened #260 "The Braid Handler will now ignore non-perennial streams, if a perennial stream network was given to the BRAT Table tool"
I've successfully implemented what we talked about on Monday. The braid handler now doesn't include non-perennial streams when looking for clusters.

This also means that the BRAT Table now creates a field called `IsPeren` that is assigned a 1 if the stream shares a line segment with the perennial network, and a 0 if it doesn't.

[2019-02-07 16:36] #259 closed

[2019-02-07 21:46] bangen opened #261 "BRAT Project Status Tracking (Internal)"
@mhallerud @wally-mac

I put together a more comprehensive BRAT project status tracking Google spreadsheet.  I just shared it with both of you.  You can also view it [here](https://docs.google.com/spreadsheets/d/1c6TsjZD0GlgK58tadOGA2VlrQXKAemZ6MPnSUIWLea0/edit?usp=sharing).  I put together a quick [video](https://youtu.be/v7yTX36dYug).  @mhallerud , could you please populate one of these for the

[2019-02-08 17:30] bangen commented on #261
@mhallerud I got the GYE tracking doc you shared.  Thanks for getting it going!  Once you populate the HUC8 sheets could you please add a column that specifies which project the HUC8 falls within (i.e., Idaho, GYE ETAL).  Thanks!

[2019-02-09 00:46] mhallerud commented on #261
@bangen @wally-mac Updated (Google Sheet)[https://docs.google.com/spreadsheets/d/12wagTe21zK6IgPUAqivUx_4c5jo02IPvstBlzdZ9rQE/edit?usp=sharing] for the GYE.
@bangen I was not aware of the upstream drainage area issue with the major rivers, so at some point you'll probably need to walk me through that either via another meeting or email (whichever is easier).

[2019-02-12 01:06] mhallerud opened #262 "Highflow regional regression equations wrong for Idaho?"
@bangen
@wally-mac and I were reviewing the Middle Salmon Panther Creek results this afternoon and realized that a large portion of the network is stream power limited. The highflow stream power values seem much too high, even after double checking and rerunning those calculations:
![panther creek high flow](https://user-images.githubusercontent.com/43869036/52604118-d3e2c580-2e26-11e9-9e46-5d7754

[2019-02-12 01:32] bangen commented on #262
@mhallerud

Which hydrologic region does Panther Creek fall in?  I can take a look on Box if the latest run is up.

[2019-02-12 01:39] mhallerud commented on #262
@bangen It's in Idaho region 6_8. The latest run is [here](https://usu.box.com/s/0ix0t3durjd1fmrgist18mti3gci8l3a). Thanks!

[2019-02-12 01:42] mhallerud commented on #261
@bangen @wally-mac Here is the tracking sheet for [Idaho](https://docs.google.com/spreadsheets/d/1ER65qFlc44K6U-xHFpwHLjSpXrQfM508Dz0qGa7CxxQ/edit?usp=sharing)

[2019-02-12 23:14] bangen commented on #262
@mhallerud

The equations in the doc seem fine.  The issue seems to either be which equations were used and/or the precip value that was used.  I detail things in [this video](https://youtu.be/RKknuWpCq58).  Let me know if you have any questions.

[2019-02-13 01:26] mhallerud commented on #262
@bangen Got it, thanks for the help. I grabbed the wrong equation and am rerunning it now.

[2019-02-13 02:08] #262 closed

[2019-02-13 20:04] bangen opened #263 "Idaho BRAT Project Status Info (Internal)"
@mhallerud @wally-mac

I took a quick look at the tracking sheet that Maggie put together.  Thanks for getting this rolling!

I have a few questions/comments (see below).  This is a little long-winded but we need to hash out the details so our batch runs are smooth.

### Project Area
I noticed there are several basins is Maggie's spreadsheet that aren't in the original scope (Big Hole, Bitteroot,

[2019-02-13 20:17] wally-mac commented on #263
Thanks Sara,

Here is my feedback: Maggie just use default values for the watersheds that we do not have V-BET values for yet. In regards to areas in Canada, I say we clip all data to the international boundary.

[2019-02-13 20:29] bangen commented on #263
The main issue with clipping to the US boundary and not having DEM data for Canada is that our drainage area values will be off.

[2019-02-13 20:39] mhallerud commented on #263
Thanks for taking a look @bangen and @wally-mac. @bangen it may be quicker to pull the DEMs over to the folders. I already ran something similar for the GYE NHD data (was not sure where you got the projectwide data at that point) so it should be easy enough to adapt for the DEMs.

[2019-02-13 20:47] wally-mac commented on #263
Back to the Canada issue... is there a way to capture the drainage area without having a DEM?  Similar to what we do when a large river runs through a watershed.  Thoughts?  I want to avoid if possible using DEM data from Canada... it could be a rabbit hole.

[2019-02-15 23:23] mhallerud commented on #261
@wally-mac @banderson1618 @bangen @CHafen @chadFHC See above for links to status tracking documents for the Idaho and GYE BRAT projects.

[2019-02-16 22:45] bangen commented on #263
@wally-mac

**Capturing DA without DEM**

I'm not really sure how we would go about and end up with reasonable estimates.  With major rivers it's much easier and defensible since we grab the US drainage area of the contributing basin(s).

I checked and there are 1 arc second (~30 m) DEMs available for download from the USGS TNM.  Merging those with the tiles for the 5 basins would probably be easi

[2019-02-17 17:43] wally-mac commented on #263
Thanks Sara! I like the idea of using the 30m data. I suggest we do it that
way. Can you please line Maggie out on this task?

On Sat, Feb 16, 2019 at 3:45 PM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-02-25 06:12] bangen opened #264 "Automating Perennial Network (Internal)"
@wally-mac @mhallerud

The automated perennial code is as fine-tuned as I'm going to be able to get it for now.  That being said, I think it does a pretty darn good job and I like that it's an objective approach.  Here [is a video](https://youtu.be/rgKUYYuNbLc) giving an overview of what the script does (...sorry it's not as brief as I originally intended...).  Here's a second, much shorter, [vide

[2019-02-25 06:52] bangen commented on #260
@banderson1618 Here's [a link](https://usu.box.com/s/l2epj4q9bf7jeiinhkfbpzx2q4kkhhz0) to some data to test the code on.  Truckee is from TNC project and Lemhi is from Idaho project.

[2019-02-25 18:26] banderson1618 commented on #260
Thanks, @bangen, I'll run those and let you know if I run into any problems.

[2019-02-25 23:47] wally-mac commented on #264
@bangen thanks for the informative videos on your automated perennial coding.

- Here is a link to a [video](https://vimeo.com/319529632/e31f21ef33l) that describes my feedback on including intermittents.
- Because the manual approach includes so many canals I think we **should use** your automated approach for Idaho and TNC.

[2019-02-25 23:53] bangen commented on #264
@wally-mac The video link isn't working.  Is it still uploading?  Thanks!

[2019-02-25 23:56] wally-mac commented on #264
Try it now.

[2019-02-26 21:37] bangen commented on #264
@wally-mac I updated the script based on your feedback.  You can check out the changes in [this video](https://youtu.be/tRxoPjUHavA).  Think we're ready to roll this out unless there are any other changes you'd like to see.

[2019-02-26 21:44] bangen commented on #264
@mhallerud Just a quick FYI that I updated the perennial network script based on Wally's feedback.  There is now just a single script.  So if you previously grabbed it you'll want to pull again before running the code.

[2019-02-26 22:55] wally-mac commented on #264
Nice work @bangen! I really like the way you have it set-up. No changes needed.

[2019-02-28 20:58] BrittGraham commented on #248
I'm currently working on the Summary Products file, and I noticed on the worksheet, 'Existing and Historic Capacity' there is a column for finding the Estimated Dam Capacity. I'm not sure where those numbers are coming from. Do any of you know how those numbers were calculated?

[2019-02-28 21:06] wally-mac commented on #248
@BrittGraham Can you please clarify your question? As you are probably are aware the BRAT model estimates both **existing dam capacity** and **historic dam capacity** so I'm not sure what is referred to as "estimated dam capacity''.  Does anyone else understand Brittany's question?

[2019-02-28 21:17] BrittGraham commented on #248
![capture](https://user-images.githubusercontent.com/45048290/53598905-2af4d400-3b63-11e9-9b72-12fb3294305f.PNG)

Here's a screenshot of what I'm referring to. For both historic and Existing it finds the Estimated Dam Capacity. I'm not sure how those numbers were calculated.

[2019-02-28 21:30] wally-mac commented on #248
@BrittGraham So, this field is existing dam capacity (dams per km x the stream length in km).  It must be the middle of the category. For example, pervasive is 15-40 dams. @mhallerud @CHafen you deal with this a lot do you have an answer to Brittany's question? Thanks

[2019-02-28 22:57] mhallerud commented on #248
@BrittGraham Essentially, the estimated existing capacity is the sum across all reaches of 'mCC_EX_CT"for existing and the sum across all reaches of 'mCC_HPE_CT' for historic. The easiest way to calculate them is to open the relevant watershed's perennial validation *.dbf file in Excel. Then you can click on Insert -> PivotChart and hit ok for the defaults that pop up. When the new sheet pops up w

[2019-02-28 23:01] wally-mac commented on #248
Yes, I think it's a great idea to automate this.

On Thu, Feb 28, 2019 at 3:57 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2019-02-28 23:02] mhallerud commented on #248
@wally-mac 10-4, I'll take a stab at it as soon as these reports are finished up.

[2019-02-28 23:04] wally-mac commented on #248
Sounds good.

On Thu, Feb 28, 2019 at 4:02 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2019-03-01 21:27] #249 closed

[2019-03-05 00:13] andrewsechrist100 opened #265 "ImportError: no module named _Internal thrown when using pip install....."
Hi,
    I am just trying to set up my system to begin initiating a BRAT model. I have experience with ArcGIS, but not with using the Command Prompt. So, I am getting stonewalled before I even get started! am new to using. I have 2.7.15 installd, but am not sure how to determine if other installations are causing problems (screenshot attached). I receive the exception shown in the Title when I run

[2019-03-07 00:40] banderson1618 commented on #265
Hey Andy,

It looks like you tried to use some things that were specifically for Linux command line, which is why the commands in your second screenshot are failing. "Sudo" is not a valid command in Windows, and $ is only used to mark the beginning of command line input on Linux.

It looks like you have python installed and added to your system variables. It's possible you also have pip in your sy

[2019-03-07 03:56] andrewsechrist100 commented on #265
Hi Braden,
     Thank you very much for getting back to me so quickly! I am running BRAT as a initial step in my thesis project for my MS and want to have it completed well before the summer field season (when I will conduct ground-truthing of the output). So, I really appreciate your timeliness. It seems as though I solved my current issues by uninstalling and reinstalling ArcGIS and uninstalling

[2019-03-07 22:54] banderson1618 commented on #265
Hey Andy,

I can't see your attachments, because GitHub can't automatically include the attachments of an email that you send to a thread. You'll have to come to the GitHub website and include those images in your message, sorry.

As for tutorials, preprocessing data isn't really my specialty here. There are tutorials on running BRAT on our website, the first step of which is linked [here](http://

[2019-03-08 03:17] andrewsechrist100 commented on #265
Sorry about that Braden. I have looked through the website forward from the page in the link you provided, but have not seen other videos than for the Layer Package creation. Am I missing something? I would appreciate help with the preprocessing part of running the model (as I described in my reply above).
![i have the tools now](https://user-images.githubusercontent.com/48166366/54005218-3f663d00

[2019-03-08 17:41] banderson1618 commented on #265
There aren't more videos, but the page I've linked you is the first step in a step-by-step walkthrough on how to run BRAT. The step after that talks about preprocessing the vegetation layers, I suggest you look at that [here](http://brat.riverscapes.xyz/Documentation/Tutorials/StepByStep/2-Preprocessing). The value fields don't matter, since we use a custom field called "VEG_CODE". You will have t

[2019-03-08 18:22] andrewsechrist100 commented on #265
Hi Braden,
    Thank you for your input on the Value field differences. I will try posting more specific questions should I run into difficulty in the classification of the VEG_CODE field. Thanks for your help thus far,
Andy    On Friday, March 8, 2019, 11:41:41 AM CST, Braden Anderson <notifications@github.com> wrote:

There aren't more videos, but the page I've linked you is the first step in a

[2019-03-08 23:49] JherimeK commented on #231
My students are having a similar error with the VBETBuilder but with additional error message - 'Not running inside a server process'.  My guess is a pathway issue.  Thoughts?

[VBETBuilder error.pdf](https://github.com/Riverscapes/pyBRAT/files/2947843/VBETBuilder.error.pdf)

[2019-03-11 02:52] andrewsechrist100 opened #266 "pyBRAT-3.0.19 SupportingTools folder is empty"
Hi BRAT team,

     I've been plugging away, but have found that my SupportingTools folder is empty. I have attached a screenshot to show this. Is this common and does anyone have a workable solution. Appreciate the help as always. Cheers,

Andy
![Empty SupportingTools folder](https://user-images.githubusercontent.com/48166366/54097576-cfa2bd00-437e-11e9-9dcb-b53783fc3cb5.JPG)

[2019-03-13 19:31] andrewsechrist100 commented on #265
Hi Braden,
     I have another issue posted to the site, but this one can be closed if you'd like. Thanks again,
Andy
    On Thursday, March 7, 2019, 4:54:29 PM CST, Braden Anderson <notifications@github.com> wrote:

Hey Andy,

I can't see your attachments, because GitHub can't automatically include the attachments of an email that you send to a thread. You'll have to come to the GitHub website an

[2019-03-13 19:55] andrewsechrist100 opened #267 "multiple watersheds"
Hi BRAT tam,

    I still have questions about using Python tools from the Supporting Tools folder (my previous Issue
 submission), but wanted to ask this question as well. I am going to attempt to model South Dakota east
 of the Missouri River. The total number of watersheds required for this is 23, including fringe watersheds
that are shared between states. Is it best to merge and clip data and

[2019-03-14 17:00] bangen opened #268 "BRAT Crashing on Project Builder"
@banderson1618

I'm trying to run the Truckee in ArcMap.  I pulled the main branch so everything should be clean.  The tool crashes on the first step.  See the error message below.  The raster exists (it was copied into the correct `03_Topography/DEM_01` folder) but appears to be crashing when applying symbology.  I'm running 10.6. Need this one resolved ASAP.  Thanks.

[code]

[2019-03-15 17:36] andrewsechrist100 commented on #266
Do I run these supporting tools, which are in the appropriate Supporting Tools folder in pyBRAT-3.0.19 in
 my File Explorer in Windows 10, from within ArcMap or as stand-alone tools using something like
PyScripter? I need some guidance with either method. If I run them from within ArcMap, do I bring them
 into a newly-created Toolbox with a .py or .tbx extension, or does it not matter which? When

[2019-03-18 21:22] #265 closed

[2019-03-18 21:24] banderson1618 commented on #267
Because BRAT is calculated on a reach-by-reach basis, it shouldn't make any difference whether you merge the data and run it in one go or run each smaller watershed separately. You might run into memory issues when running HUC 6s and bigger, because we need to make a Zonal Stats table and ArcGIS can only use 4 GBs of RAM, but other than that, do whatever is easiest for you.

[2019-03-18 21:24] #267 closed

[2019-03-18 21:26] banderson1618 commented on #266
These are meant as standalone scripts that can be run from the command line or from an interpreter like PyCharm. Whatever method you have to run a Python script should work fine for these scripts, as long as it uses the python.exe in the ArcGIS folder.

[2019-03-18 21:26] #266 closed

[2019-03-18 22:03] banderson1618 commented on #268
@bangen, can you send me the data you were using for this? It would be good to be able to try to replicate the problem.

[2019-03-19 20:41] bangen commented on #268
@banderson1618 It was the Truckee basin in the TNC project.  You can grab the data on Box.  When you test please do so both in the BRAT Arc Toolbox and in Python to make sure it's working in both platforms.

[2019-03-19 22:20] banderson1618 commented on #268
@bangen I couldn't replicate your bug with any of the DEMs found in the folder [here](https://usu.app.box.com/folder/48416727731). Am I looking in the wrong spot?

[2019-03-19 22:31] banderson1618 commented on #268
I pushed a temporary solution. I moved all the making layer code to the end of the program, and put in a try except block that will pass on this specific error code. You won't make the layers we want, but you will be able to progress the tool.

[2019-03-20 00:28] kwilsonh2o opened #269 "Truckee strategy map iterations"
Hello Braden,

Attached is a revised table for the strategy map iteration for the Truckee River based on yesterday's conversation with Wally and Rodd.

Kristen

[BRAT legend 3.19.2019.xlsx](https://github.com/Riverscapes/pyBRAT/files/2986023/BRAT.legend.3.19.2019.xlsx)

[2019-03-20 20:44] banderson1618 commented on #269
Here's the layer package that we get for management with that setup, except for without the land use stuff (because I haven't figured out how to get that as an input). Let me know what you think.

[Management.zip](https://github.com/Riverscapes/pyBRAT/files/2990043/Management.zip)

[2019-03-20 23:21] kwilsonh2o commented on #269
Something strange is happening. What was showing up as 'medium restoration-veg' is now showing as 'low restoration'.  'Medium restoration' and 'high restoration' reaches are missing.  None of the restoration criteria changed.  I'm guessing this is due to trying to use the road crossing layer only (iPC_Roadx).  Please try with the combined conflicts layer, see attached.

Strategies   to promote bea

[2019-03-20 23:23] kwilsonh2o commented on #269
The table didn't copy here correctly.  Please look at the excel spreadsheet attached.  The table is dated 3.20.19.

[2019-03-21 21:40] banderson1618 commented on #269
[Management.zip](https://github.com/Riverscapes/pyBRAT/files/2994066/Management.zip)

[2019-03-21 22:43] bangen commented on #268
Did you test in both ArcMap (which version) and in python?

[2019-03-21 22:48] banderson1618 commented on #268
I tested in ArcMap, since that seems to be where you found the bug. Should I try from the command line?

[2019-03-21 23:19] kwilsonh2o commented on #269
Looks good Braden.  Is it possible to run a few other watersheds to see how it does across the state?
Tomales Bay, South Fork Kern, North Fork Feather, and Shasta

[2019-03-22 18:47] banderson1618 commented on #269
Here's Tomales Bay:

[Management.zip](https://github.com/Riverscapes/pyBRAT/files/2997860/Management.zip)

I'll try to run at least two more today, and post them here when they're complete.

[2019-03-22 19:34] kwilsonh2o commented on #269
Awesome.  Will run this past project partners to get their feedback.

[2019-03-22 20:36] banderson1618 commented on #269
Here's South Fork Kern:

[Management.zip](https://github.com/Riverscapes/pyBRAT/files/2998211/Management.zip)

[2019-03-22 21:27] banderson1618 commented on #269
North Fork Feather:

[Management.zip](https://github.com/Riverscapes/pyBRAT/files/2998371/Management.zip)

[2019-03-25 18:50] banderson1618 commented on #268
@bangen, should I try it on the command line?

[2019-03-25 19:23] banderson1618 commented on #269
Shasta:

[Management.zip](https://github.com/Riverscapes/pyBRAT/files/3005096/Management.zip)

[2019-03-26 14:17] andrewsechrist100 opened #270 "Python interpreters do not recognize method spatialReference in call from line 38"
Hello ETAL,

     I've made some progress since my last question. Some of it may seem trivial, but getting my
 python.exe into the Environmental Variables and correctly formatting PyCharm (after PyScripter
 corrupted some of my data) has taken me some research and time (a full day ;) ). No matter
whether I run segmentNetwork.py from the Command Prompt, PyScripter (now uninstalled), or
 PyCharm, th

[2019-03-26 16:38] kwilsonh2o commented on #269
Thank you. Will set up a time to share with project partners and get their input. I’m out of the office through Thursday this week.

Sent from my iPhone

On Mar 25, 2019, at 12:23 PM, Braden Anderson <notifications@github.com<mailto:notifications@github.com>> wrote:

Shasta:

Management.zip<https://github.com/Riverscapes/pyBRAT/files/3005096/Management.zip>

—
You are receiving this because you au

[2019-03-26 18:22] bangen commented on #268
@banderson1618 what version of Arc did you test?

[2019-03-26 18:34] bangen commented on #270
Glancing at your screenshot looks like there are a few issues with your 'nhd_flowline_path':

- Missing file extension
- Use of single backlash (i.e., '\').  In Python single back slashes are escape characters.  Either replace with double backslashes (e.g., "C:\\BRAT\\NHD\\MyNetwork.shp") or include a lower case 'r' in front of your path string (e.g., r"C:\BRAT\NHD\MyNetwork.shp")

Try those chang

[2019-03-26 18:34] banderson1618 commented on #268
10.6

On Tue, Mar 26, 2019, 12:22 PM bangen <notifications@github.com> wrote:

[2019-03-26 22:46] andrewsechrist100 commented on #270
Hi Bangen,

      I tried those fixes and they solved that issue :). I then received an "ExecuteError: ERROR 999999: Error
executing function. The Geometry has no Z values." Should I not have included a filename in the
"outpath" variable? It seems to me the directions state to do so. Likely it's another issue. I appreciate
 your help,

Andy
My attachments are probably overkill, but not sure what's

[2019-03-26 22:59] andrewsechrist100 commented on #270
I doubt this matters bangen buuuuttt, just to overwhelm you some more ;), I have attached the folder
 contents that the shapefile is in. Thank you again,

Andy
![Capture4](https://user-images.githubusercontent.com/48166366/55039067-c5c0c100-4ff0-11e9-82a4-834f30db2c18.JPG)

[2019-03-27 17:01] bangen commented on #268
@banderson1618, go ahead and run on the command line for those 2 sites.  Call the run folders 'CR_Run01'.  Let me know when they're up on Box so Wally and I can go through the outputs.

[2019-03-27 18:55] banderson1618 commented on #269
Carson:

[Management.zip](https://github.com/Riverscapes/pyBRAT/files/3014835/Management.zip)

[2019-03-27 19:19] banderson1618 commented on #268
Which two sites do you want me to run? I'm not sure which two of the four folders in the BRAT folder you want me to run.

[2019-03-27 19:20] banderson1618 commented on #268
Also, do you want me to run all the way through BRAT, or just the project builder?

[2019-03-27 19:22] bangen commented on #268
The Truckee and the Lemhi.  Through the entire model using the 'main' branch.

[2019-03-28 19:28] kwilsonh2o commented on #269
Downloaded them all and am sending to partners to review by the end of next week.  The Tomales Bay results are showing the Truckee.  Please send Tomales again when you have a chance.

[2019-03-28 21:31] bangen opened #271 "Minimum Slope Values"
@wally-mac Documenting our conversation earlier today.

Stream power is calculated using reach slope (`iGeo_DA`).  In BRAT, reach slope (m/m) is calculated using the minimum DEM Z values within a 30 m buffer of the reach start and end points.  We occasionally see reaches with extremely low slope values (e.g., 0.000001).  Most of the values that are this low are artificial and simply an artifact of

[2019-03-28 21:42] wally-mac commented on #271
@bangen, thank you for this post.  I agree with you. Let's just 'correct' the slope in the iHyd script. Thank you!

[2019-03-28 23:13] #264 closed

[2019-03-28 23:23] bangen commented on #260
@banderson1618 @wally-mac

I was just running the Truckee through the BRAT Table tool in order to test our proposed changes to the iHyd script.  There are a ton of segments that have a 'IsMultiCh' value of 1 that aren't part of the perennial network (see screenshots below).  @banderson1618, based on looking at the attribute table it looks like you're assigning non-perennial segments a 'ClusterID'

[2019-03-28 23:30] bangen commented on #260
@banderson1618 @wally-mac

Ok.  I took a look and there's definitely a larger issue here.  If you look at the screenshots below the pink lines have ClusterID > 0.  @banderson1618 looking at the output it looks like you're clipping the clusters to the perennial network rather than running the cluster code on just the perennial network.  Please fix asap.

![Truckee_MultiCh_Issue_ClusterID](https://u

[2019-03-29 05:03] #271 closed

[2019-03-29 18:55] banderson1618 commented on #260
The primary goal for the perennial check was to be a quick fix that prevents heavily braided sections of river from forming into mega-clusters. A more comprehensive fix would involve significant changes to the way we currently calculate isMultiCh, similar to what we did with excluding canals from the isMultiCh calculation. Because I have limited time left in the office, and we have a limited amoun

[2019-03-29 21:45] andrewsechrist100 opened #272 "No durational flow values for South Dakota"
Hello ETAL,

I spoke with an employee of SD USGS today and he told me that SD does not calculate durational flows (i.e. flows exceeded a certain proportion of the time - 80% suggested for iHYDE), only peak flows. I've looked over gage point data, and this is accurate. Will this make the BRAT model impossible for me to utilize or are there ways for me to still get through the iHYDE step of the proc

[2019-04-01 18:18] banderson1618 opened #273 "BRAT not finding veg data"
I just noticed that my veg wasn't being picked up by my command line run of BRAT Table. This is what I talked about in the meeting with @wally-mac, @bangen, and @mhallerud. This is where I'll be tracking problems that arise with that.

[2019-04-01 18:31] banderson1618 commented on #272
iHyd is not critical for the model. It primarily gives us information on how powerful a stream is, which tells us when blowouts happen, but this is not generally the limiting factor, depending on what streams you care about. Using default iHyd values will still give a useful model, even if not necessarily ideal.

[2019-04-01 20:10] andrewsechrist100 commented on #272
Well, that is definitely good news. Thank you Braden. I had submitted another question on 3/26. It looks like it is Issue #270 in Riverscapes / pyBRAT. Bangen had issue my initial question on this Issue and got me over a hump, but I haven't heard about the second. The second involves an error I am getting: "the Geometry contains no Z Values." Is it possible for you to look into that? In any case,

[2019-04-01 21:44] bangen opened #274 "Including ditches in canals shapefile + merging with perennial (Internal)"
@wally-mac @mhallerud @banderson1618

Based on our conversation earlier today I modified Maggie's 'ExtractCanals_Batch' script and also put together a 'MergePerennialCanals_Batch' script.  I tested on a few basins.  If you want the nitty, gritty details you can check out [this short video](https://youtu.be/RtJUCGtjDBQ).

The one thing I'd like feedback on is a call I made to just output a single '

[2019-04-01 21:45] bangen commented on #274
More or less just put this up for documentation purposes so I'm going to go ahead and close unless an issue arises.

[2019-04-01 21:45] #274 closed

[2019-04-01 21:47] wally-mac commented on #274
How about we can it 'NHD_Canals_Ditches" I think this better describes what
it contains.

On Mon, Apr 1, 2019 at 3:44 PM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-04-01 22:04] bangen commented on #274
Per feedback from @wally-mac I changed the 'NHDCanals' name to 'NHDCanalsDitches'.  So @mhallerud we'll want to make sure we're pointing to that shapefile in the batch BRAT runs and not the old 'NHDCanals' shp.  Probably best to delete that one from the HUC8 folders, but that can just be a rainy day task.

[2019-04-02 20:23] kwilsonh2o commented on #269
Another model iteration for Truckee.  Please run the Truckee using these values.  Please label it Campos.
[BRAT strategy map legend_BRC.xlsx](https://github.com/Riverscapes/pyBRAT/files/3035782/BRAT.strategy.map.legend_BRC.xlsx)

[2019-04-03 23:50] mhallerud opened #275 "Updates based on manager feedback"
@wally-mac @bangen @banderson1618

Just wanted to get some maps up on Git before our meeting tomorrow:

**1. Adding land ownership to the layer package and assigning land ownership to each reach**
![image](https://user-images.githubusercontent.com/43869036/55517541-fc6c8c00-562d-11e9-84ae-126fd1125562.png)

- How do we want to assign symbology in the layer package? By agency (USFS, BLM, USFWS, BoR

[2019-04-08 17:46] wally-mac commented on #275
Hi @mhallerud,

First off, let's try these out in a development branch and run it in the Jordan watershed, Idaho to test it.
Here are my short and sweet answers to your questions:

1. By agency (USFS, BLM, USFWS, BoR, etc.)
2. I think we want to include these values into a new layer called "priority beaver translocation", which will be a copy of conservation restoration model and these new outputs

[2019-04-08 17:46] #275 closed

[2019-04-09 17:57] mhallerud commented on #272
@andrewsechrist100 This is a common issue especially when running in a Python GUI instead of ArcMap and when shapefiles are manipulated between BRAT steps. The Z-values essentially represent elevation. You can either add Z-values (see [this ESRI help post](https://support.esri.com/en/technical-article/000012292)) or disable the warning in Python using `arcpy.env.outputZFlag = "Disabled"`. Having n

[2019-04-11 18:45] bangen commented on #260
@banderson1618 Can you provide @wally-mac and I with an update on where you're at with the changes to this?

[2019-04-11 18:53] banderson1618 commented on #260
Yeah, thanks for the reminder. I did the changes, and they seem to be working, but I didn't get a chance to test them out extensively. I'll try to do that next week and send you what results from that.

[2019-04-11 18:57] bangen commented on #260
Can you please send links to the data that you did test and let me know which branch the changes are on?   We're trying to batch process so need the fix in place sooner than later.   If the changes look good on my end and you can't get to pushing until next week then I can take care of it.  Just let me know.

[2019-04-11 20:13] bangen opened #276 "TNC BRAT Combined FIS Slope Changes"
@wally-mac @mhallerud @kwilsonh2o

Kristen would like us to make some changes to the slope MFs in the combined FIS model.  This change is based both on feedback she received from project partners and iGeo_Slope values at observed dam locations (see 'slope' tab in the attached spreadsheet).

@mhallerud I'm going to make the changes and push them to the 'TNC_Changes' branch.  So you'll want to use b

[2019-04-11 20:28] bangen commented on #276
@wally-mac and @mhallerud

I pushed the slope MF value changes to the 'TNC_Changes' branch but decided to not close this issue until:
1. We get feedback on the run with these changes and know what our 'final' slope values will be.
2. Incorporate these changes into the symbology layer file(s).

[2019-04-11 23:22] bangen opened #277 "TNC BRAT Branch"
@wally-mac @banderson1618

I noticed some differences between the TNC_Changes branch and the main branch (besides the mgmt model).  I'm making the TNC branch 'stable' so @mhallerud can use it for batch runs.  @banderson1618 I was able to figure out almost all the discrepancies besides those listed below.  Let me know which we should be using.

**BRAT Table**

Current TNC_Changes code:

[code]

Cur

[2019-04-12 02:48] wally-mac commented on #276
Thank you for the update and I agree with the changes and I'm curious to
see how it influences the outputs.

On Thu, Apr 11, 2019 at 2:28 PM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-04-12 19:27] banderson1618 commented on #260
Here you go!

[BRAT_Table.zip](https://github.com/Riverscapes/pyBRAT/files/3074886/BRAT_Table.zip)

[2019-04-12 19:29] bangen commented on #260
@banderson1618  Thanks.  What branch are the changes on?

[2019-04-12 19:31] bangen commented on #260
also, what basin did you send?

[2019-04-12 19:34] banderson1618 commented on #260
I'm not sure what basin, but the changes are just on the master branch
(since I had already merged the original braid changes into master).

On Fri, Apr 12, 2019, 1:31 PM bangen <notifications@github.com> wrote:

[2019-04-12 19:44] bangen commented on #260
@banderson1618 this is looking a lot better.  There's still something that seems a little off (see screenshots below).  Any idea why the circled area isn't being correctly classified?  I noticed a few other spots like this in the basin.

![IsPerennial](https://user-images.githubusercontent.com/6502954/56062279-b5af1e00-5d20-11e9-8820-7258ae3d1cc2.PNG)
![IsMutliCh](https://user-images.githubusercon

[2019-04-13 21:11] ssuplick commented on #276
@mhallerud @bangen @wally-mac timely post. I've been thinking of slope as well for CA, given how the 2014 Utah BRAT report noted that 17%, 23% thresholds were based on your dam censusing for the state. My field surveyed stream reaches maxed out at 2.62% slope over 69 dam locations, with a minimum of 0.01% (average of 0.45%) - though it must be noted, there was a clear bias in field surveys to main

[2019-04-14 23:22] andrewsechrist100 opened #278 "Am I configuring the path variables incorrectly?"
Hello,

     I had to switch gears as PyCharm became corrupted on my desktop and I couldn't locate the
2.7 version again. So, I am using the Command Prompt in Windows and modifying the code with
 Spyder. The CP won't open the shapefile I specify in the variable within segmentNetwork.py,
though, so am I configuring the variable value incorrectly? Thank you,

Andy Sechrist
![Capture](https://user-im

[2019-04-15 17:59] banderson1618 commented on #277
I just merged all the changes, so these inconsistencies should be resolved. Thanks for bringing this to my attention.

[2019-04-15 17:59] #277 closed

[2019-04-15 18:23] banderson1618 commented on #260
@bangen, I ran it again, but with the Donut Polygons saved to disk. It looks like there's a problem with the Select Layer By Location, since the Donut Polygon was created properly. I'm confused about how this problem appears here, but not otherwise. Maybe it's a problem with the perennial network, that the polygon is based off of, is slightly different from the base layer? This might be an input p

[2019-04-15 20:25] bangen opened #279 "TNC BRAT Priority Runs"
@mhallerud @wally-mac

I re-ran the basins up through the BRAT table.  I'm currently pushing the data up to Box under a folder named 'wrk_data/00_PriorityRuns'.  I'll post to this thread once the data is done transferring.

To keep things moving along there are a few tasks I'd like @mhallerud to work on:

1.  I ran into an error running the South Fork Kern.  I haven't seen this one before (posted

[2019-04-15 20:40] mhallerud commented on #279
@bangen Sounds good, I can look into that and keep you posted on the re-run!

[2019-04-15 21:00] bangen commented on #279
@mhallerud the data just finished transferring so should all be up on Box.

[2019-04-15 21:07] mhallerud commented on #279
@bangen I have seen this error before when working with the merged LANDFIRE 2014 & 2016 data. See below, it looks like part of the historic vegetation raster is missing:

![image](https://user-images.githubusercontent.com/43869036/56164563-31fa6900-5f8e-11e9-9b2a-66528f7749ad.png)

Strangely enough, when zoomed a bit farther out, that portion appears on the map even though the data does not exist

[2019-04-15 23:13] mhallerud commented on #279
@bangen @wally-mac Updating the IsMainCh field for these watersheds is going to take a couple days at least, is that a problem? I'm not sure if it will be feasible to do this for the full project area, are we just cleaning it up for these priority watersheds?

[2019-04-15 23:30] wally-mac commented on #279
Would it be helpful to have somebody else help you with this task? A GIS
technician and/or Braden? Let me know.

On Mon, Apr 15, 2019 at 5:13 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-04-15 23:47] mhallerud commented on #279
@wally-mac If @bangen needs it done soon, that may be an option but if these aren't needed until mid- week I can finish them up. At the project level, I'm just wondering if we'll be able to do these changes manually because of how much time it will take.

[2019-04-16 00:48] wally-mac commented on #279
Good point, please keep track of how long these take per watershed and then
we’ll see if we have the time and budget to do them everywhere. Thanks

On Mon, Apr 15, 2019 at 5:47 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-04-16 05:09] bangen commented on #279
Thanks @mhallerud for getting the SF Kern landfire turned around so quickly.  I re-ran it through the BRAT table and put the new output up on Box.

[2019-04-16 16:37] bangen opened #280 "oPBRC_UI Canal Distance"
@wally-mac @banderson1618

Quick question.  This pertains to the `oPBRC_UI` calculation in the default conservation restoration model code.  The block I have a question about is the first `el_if` statement.  If distance to canals (`ipc_canal`) is <= 20 meters the reach is classified as 'Considerable Risk'.  However, the comments say 'if canals are within 30 meters'.  Is 20 meters correct or should

[2019-04-16 16:44] wally-mac commented on #280
As far as I know, it should be 30 m.  Braden do you concur?

On Tue, Apr 16, 2019 at 10:37 AM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2019-04-16 16:46] banderson1618 commented on #280
@bangen I looked at the git blame for that line of code, and it looks like it was inserted in commit [25ac235](https://github.com/Riverscapes/pyBRAT/commit/25ac23585a0ed195f58982f3284f7ec8bccdbc93) by @mhallerud. Might make sense to ask her what she intended.

Wally, I'm not sure, but 30m is what we use normally for buffer widths, so that seems more likely to me.

[2019-04-16 17:47] mhallerud commented on #280
@bangen @banderson1618 My apologies, that comment has the wrong distance. The intent was to flag all canals as 'Considerable Risk' as suggested by the Jordan managers' feedback. Some canals don't exactly coincide with a reach, hence the 20 meter maximum distance from canal. I double checked it on three watersheds and it grabbed all reaches including canals using that 20 meter distance.

[2019-04-17 00:12] mhallerud commented on #279
@bangen @wally-mac Just wanting to make sure I'm doing this right. See below section from the Truckee - should the section outlined in red all be labeled as side channels (blue)?

![image](https://user-images.githubusercontent.com/43869036/56252024-19b04a00-6073-11e9-883a-ac24cab20d9b.png)

[2019-04-17 00:19] wally-mac commented on #279
It’s hard to tell exactly from the screenshot but I would say yes those are
all side channels

On Tue, Apr 16, 2019 at 6:12 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-04-17 16:31] mhallerud commented on #279
@wally-mac @bangen The [Upper Carson](https://usu.box.com/s/t3p0osacqvvovv0fexybmv93ksao05jg) and Tomales Drake Bay are edited and up on Box . The Upper Carson took about 2 hours 45 minutes and the Tomales Drake about 15 minutes. I've started picking away at the other four watersheds and adding those larger braids as @wally-mac instructed above and those all have larger braided networks similar to

[2019-04-17 20:49] banderson1618 commented on #260
As best I can tell, this weirdness is due to some odd interaction with the handleCanals function, since it seems to go away when I don't give the program a canal input. I'll continue looking for a solution.

[2019-04-17 22:01] banderson1618 commented on #260
[BRAT_Table.zip](https://github.com/Riverscapes/pyBRAT/files/3091729/BRAT_Table.zip)
I think I fixed the canal problem, this should look better.

[2019-04-22 15:35] banderson1618 opened #281 "Documentation Problems"
This is a place to record all documentation problems that arise with our new employees running BRAT.

[2019-04-23 17:14] bangen commented on #280
Finishing documentation for this issue.  @mhallerud did extensive testing on this issue and determined a distance threshold of 20 meters is appropriate.  Updated comments in code to reflect the correct values (i.e., 20 m not 30 m).

[2019-04-23 17:15] #280 closed

[2019-04-25 17:04] bangen commented on #260
@banderson1618

Please take a look at your code below.  You're setting both the `stream_network_no_canals` and `perennial_no_canals` to the exact same path (...so overwriting the former if input perennial network exists).  Is this what you intended?

[code]

[2019-04-25 17:36] banderson1618 commented on #260
Thanks for pointing out this spot of code, that was not my intent. It looks like I got away with that mistake in my testing because of another error in my code. If the version is anything besides 10.5, it will assign `perennial_no_canals` to a new shape file in a temporary directory, while assigning `stream_network_no_canals` to an in memory shape file. That meant that it wasn't actually overwriti

[2019-04-25 19:54] bangen commented on #260
@banderson1618

I did pretty extensive checks on this.  I added a line that was missing and pushed the changes to the main and TNC branches.  I feel confident enough to close this.

[2019-04-25 19:54] #260 closed

[2019-04-26 17:29] banderson1618 opened #282 "We should consolidate the tutorial and the commands section of our documentation"
Right now, we have two places where individual steps in the tool are documented: the step by step tutorial, starting [here](http://brat.riverscapes.xyz/Documentation/Tutorials/StepByStep/1-InputData.html), and the pyBRAT Commands section, shown [here](http://brat.riverscapes.xyz/Documentation/Documentation%20by%20Version/Commands/BRAT%203.X/01_BRAT%20TableTool.html). I've spent the most time docum

[2019-04-26 18:36] mhallerud commented on #282
@banderson1618 I completely agree, I think having the same information in both the Step by Step and Commands sections is redundant and confusing if you're no familiar with the website. I have directed the new techs to reference the Step by Step documentation and have been referencing that myself, so I think merging the information to that location would be most intuitive.

[2019-04-29 15:59] wally-mac commented on #282
I also agree.

On Fri, Apr 26, 2019 at 12:36 PM Margaret Hallerud <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2019-04-29 16:10] banderson1618 commented on #282
Alright, I'll get started on that.

[2019-04-29 18:19] #282 closed

[2019-05-01 23:06] bangen commented on #167
@banderson1618

I pulled the layer_package_clip branch and ran it.  It's not clipping to the network.  See the below screenshots.  The first shows the input clipping network.  The second shows the capacity output.  So it's definitely not working as intended.  I included the results info so you can see the parameters were correctly declared.  What data did you test this on where you were able to ge

[2019-05-02 22:14] banderson1618 commented on #167
Sorry I wasn't able to respond to this, I formally graduated today and that
took up most of my time. I'll take a look at this tomorrow and try to
figure out what's going on with this.

On Wed, May 1, 2019, 5:06 PM bangen <notifications@github.com> wrote:

[2019-05-03 15:35] banderson1618 commented on #167
Hey Sara, I ran through the BRAT input [here](https://usu.app.box.com/folder/75345599152), and I got it to work. Not sure what's the issue on your end.

![Capture](https://user-images.githubusercontent.com/21353496/57148138-3ee8cc00-6d86-11e9-846a-841d3f5b0743.PNG)

In Layer_Package_Generator.py, on line 474, there's a call to the function `restore_copies`. If you comment it out, it won't delete t

[2019-05-03 15:36] banderson1618 commented on #167
Specifically, the BRAT Table output and the Combined Dam output will be altered. They should have a `ShouldKeep` field, which should be given a 1 if we should keep it and a 0 if we shouldn't. All the ones where a 0 is assigned should have been deleted in the tool, so they should all be 1s.

[2019-05-03 17:29] bangen commented on #167
@banderson1618 I tried re-running again with the same result (i.e., clipping isn't happening).  Neither the BRAT Table nor the Combined Dam output have a `ShouldKeep` field in the attribute table.  How are you reading in those shapefiles given the user names them and they aren't declared as input parameters to the layer package generator tool?

[2019-05-03 17:30] bangen commented on #167
Also, after running the tool the TOC wasn't properly populated.  See screenshot below:

![TOC_AfterRunning](https://user-images.githubusercontent.com/6502954/57154754-7ce9ee00-6d8e-11e9-8b5c-ba13ee47c9b7.PNG)

[2019-05-03 17:47] banderson1618 commented on #167
Did you comment out the function I said to? If you did, there should be a "<file_name>_Copied.shp" for the BRAT Table output and the Combined Dam output. The originals should have the `ShouldKeep` field. If you're not getting that, then we've got a problem with the code never being run in the first place, for some reason. If that's the case, try looking in to whether the function `clip_folder_to_p

[2019-05-03 18:06] bangen commented on #167
I commented out the call to the `restore_copies` function.  It created all of the "<file_name>_Copied.shp" files, but there is no `ShouldKeep` field in the attribute table.

[2019-05-03 18:08] bangen commented on #167
Correction.  I was looking at the  "BRAT_Table_Copied.shp"  attribute table.  There is a `ShouldKeep` field in the "BRAT_Table.shp" attribute table, but every row has a value of 1.

[2019-05-03 18:10] bangen commented on #167
The "BRAT_Table.shp" is clipped, but for some reason when the layer package is being generated it must still somehow reference the full network?

[2019-05-03 18:14] bangen commented on #167
Some screenshots

BRAT_Table and BRAT_Table_Copied:
![Screenshot_1](https://user-images.githubusercontent.com/6502954/57157068-81b1a080-6d94-11e9-9703-6436b88c0bab.PNG)

Layer package should be clipped but isn't:

![Screenshot_2](https://user-images.githubusercontent.com/6502954/57157104-98f08e00-6d94-11e9-8204-40a0e644f2f0.PNG)

[2019-05-03 18:28] bangen commented on #167
At this point we know:

- the "<file_name>_Copied.shp" is being created
- the `ShouldKeep` field is being populated in the "<file_name>.shp" attribute table.  This shapefile is the clipped version each shapefile

Are you creating 'new/temporary' layer files of the clipped shapefiles?  When I the tool with the `restore_copies` function commented out the individual layer files still showed the entir

[2019-05-03 19:09] andrewsechrist100 commented on #278
Hi Bangen,

     I just have not been able to work my way through correctly configuring PyCharm on my computer. I
did it once, but cannot seem to duplicate whatever I did before. I lost it when my system became
corrupted somehow. Are you willing to work me through setting up PyCharm? I'd really like to have it
running correctly for this project and beyond.
      First, I could only download PyChar

[2019-05-03 19:21] banderson1618 commented on #167
Are you pulling in the layers/layer packages fresh after a run, or are they
in the ToC while you run the tool? I've had issues with Arc not
automatically refreshing layers, but when pulled in from the file, they
work

On Fri, May 3, 2019, 12:28 PM bangen <notifications@github.com> wrote:

[2019-05-03 19:27] bangen commented on #167
They are not in the ToC.  As in, I'm just testing the layer package generator script using existing run output.  I'm less concerned about the ToC side of things than the layer package not being clipped.  Just so we're covering all bases, are all of your changes pushed up to the `layer_package_clip` branch or did you make some changes and only push to the master?

[2019-05-03 19:43] banderson1618 commented on #167
All of my changes are pushed. I'm drawing a blank on what the issue could
be. That's very odd that the layers aren't updating. Maybe ArcGIS 10.6.1
introduced some sort of caching that's messing with how the script works?

On Fri, May 3, 2019, 1:27 PM bangen <notifications@github.com> wrote:

[2019-05-03 23:13] bangen commented on #278
It's been so long since I set up PyCharm, it's a little hard for me troubleshoot.  From the screenshots it looks like you have you're setting up the interpreter correctly within PyCharm itself.  Have you looked at [this thread](https://gis.stackexchange.com/questions/14713/setting-up-pycharm-to-reference-arcpy)?

[2019-05-04 21:53] andrewsechrist100 commented on #278
Thank you very much for that link Bangen! That is what I used the first time to correctly set up PyCharm,
but I could not locate the page again when I searched for it. The useful part is about 3/4 of the way
down that begins, "A lot has changed since the recent update hence answering this to align with the
PyCharm version 2018 interface:" Very helpful! I have now set up PyCharm again and tried to

[2019-05-07 20:17] philipbaileynar opened #283 "Which ShapeFile and Attributes Contain BRAT outputs?"
@wally-mac can you please specify which ShapeFile and attribute contains the following three BRAT outputs (for the web map):

* Existing dam capacity
* Historic dam capacity
* Beaver management

Hopefully these are three separate attributes on a single ShapeFile. If they are not, can you also provide the attribute that I can use to join the output ShapeFiles together.

My goal is to produce a sing

[2019-05-07 21:24] mhallerud commented on #283
@philipbaileynar Existing and historic dam capacity are found in the combined capacity model shapefile. There are two fields for existing dam capacity, `oCC_EX` which represents estimated dams per kilometer and `mCC_EX_CT` which represents the estimated number of dams on the given reach.  Beaver management outputs are all found in the conservation restoration model shapefile and those fields inclu

[2019-05-07 21:27] wally-mac commented on #283
@mhallerud, thanks. For @philipbaileynar can you please clarify what field the historic capacity is.

[2019-05-07 21:37] mhallerud commented on #283
@wally-mac @philipbaileynar Historic dam capacity is `oCC_HPE` for the density and `mCC_Hpe_CT` for the count. We focus on the density rather than the count, but just in case that's something you're interested in those mCC fields are the ones to look for.

[2019-05-07 21:50] mhallerud commented on #283
@philipbaileynar These links may help if you have further questions about the fields in BRAT outputs:

[BRAT v3.0 Outpus](http://brat.riverscapes.xyz/Documentation/Documentation%20by%20Version/Outputs/WorkingWithBRATv3XOutputs.html)
[BRAT v2.0 Outputs](http://brat.riverscapes.xyz/Documentation/Documentation%20by%20Version/Outputs/WorkingWithBRATOutputs.html)

[2019-05-07 22:24] philipbaileynar commented on #283
Thanks @mhallerud

Can you confirm that the `SegID` field uniquely identifies the same feature across all output ShapeFiles?

My intent is to join the necessary output ShapeFiles on the SegID field and then produce a single ShapeFile with the following attributes:

* SegID
* SegLen
* oCC_EX - dams per kilometer
* mCC_EX_CT - dams on the given reach
* oPBRC_UI - risk of undesirable dams
* oPBRC_UD