[2018-07-19 18:40] banderson1618 commented on #117
Sounds like a plan. Unfortunately, I'm heading out of town tomorrow for vacation, and I don't think I'll have time to figure out this issue before then. I'll focus on uploading the ones that I can get to run before then.

[2018-07-19 19:43] banderson1618 commented on #117
Do you mean raise an issue on the RCAT page, with a link to the datasets? Just wanting to make sure we're on the same page.

[2018-07-19 19:52] bangen commented on #117
While you're gone I'd like to try to finish running those basins that didn't make it through this initial batch run.  I can grab the input data and VBET projects from Box via ftp so I don't need the links to the individual datasets.  What I'd like is the batch script you wrote so I can run that on the 'problem' basins once I've honed in on and fixed the issue.  Can you create a 'SupportingTools' f

[2018-07-19 20:22] banderson1618 commented on #117
I didn't batch VBET with a script, I just used the ArcGIS batch command.

[2018-07-19 20:42] bangen commented on #117
Did you run that from the command prompt or by right-clicking the tool in ArcToolbox?

[2018-07-19 20:59] banderson1618 commented on #117
I ran it by right-clicking the tool in ArcToolbox.

[2018-07-20 15:48] banderson1618 commented on #117
@bangen, all of the watersheds that I've completed have been uploaded to Box and have a "Yes" in the Done field on the Google Doc. All the ones that don't have a "Yes" in the Done field failed from some error or another.

[2018-07-20 15:49] Albonicomt commented on #111
@ssuplick
**1.** In my opinion I believe it would be best to call the "contemporary floodplain" where the river would flood without current flood control measures. Unless it is absolutely obvious that the floodplain can not reach its extent in your investigation when editing the Valley Bottom. As long as you are consistent and have a good argument for your reasoning, I would go with that. Since Va

[2018-07-20 20:50] ssuplick commented on #111
@Albonicomt ah! All that would make sense. A few follow-ups:
1. Would you recommend being more liberal then and going for the "mega flood level" floodplain? E.g. there are some smaller terraces to the east of the King City area that you can see in Google Earth and to a smaller extent in the DEM, but these occur before the alluvial fan/foothill edges that mark the valley bottom extent for other, mo

[2018-07-23 16:01] joewheaton opened #122 "IsBraided? How about IsAnabranched?"
@sshahverdian has a good rant about terminology given we are the Fluvial Habitats Center! @sshahverdian  please rant here and lets update our labels and terminology in source code, attribute tables and outputs!

[2018-07-23 18:38] wally-mac commented on #122
Sounds good to me.

[2018-07-23 20:54] joewheaton commented on #113
![usgs](https://user-images.githubusercontent.com/9723905/43102359-25d82ec8-8e88-11e8-844b-1ac8bffd7756.png)
Some thoughts for context layer packages. Should we just include all the [USGS National Map Basemap services](https://viewer.nationalmap.gov/services/)?

[2018-07-23 20:57] MatthewMeier opened #123 "Projects: Focus Area"
@joewheaton @wally-mac @bangen @banderson1618
So on my mind lately is with all of us running the full NHD network through BRAT and then wanting to have particular focus areas. Whether it will be a focus pertaining to perennial or within a particular landowner boundary or something else. I feel like it could be beneficial and save time if we included an optional checkbox within the creation of the

[2018-07-23 21:53] MatthewMeier opened #124 "Updating previous runs of BRAT: Middle Bear BRAT"
@wally-mac @joewheaton
I am gathering information together for the NRCS workshop coming up in Logan in September which ties into what we discussed in the meeting today about being able to use these older versions of BRAT runs and updating them in order to produce many of the new outputs that are included in BRAT which includes developments that have been made by @banderson1618 and @bangen.
For my

[2018-07-23 22:31] joewheaton commented on #122
Agreed

Sent from a little phone

On Mon, Jul 23, 2018, 3:25 PM Scott Shahverdian <notifications@github.com>
wrote:

[2018-07-24 16:47] kbartelt commented on #121
@bangen @wally-mac I completed this task for the Idaho BRAT project area [here.](https://docs.google.com/spreadsheets/d/1gK8BeTsOe3NDJRHa_lBptsasBEEeCapt3nTRYdjjuDc/edit?usp=sharing)

[2018-07-24 17:13] bangen commented on #121
Great!  Thanks Karen.  I put a hard copy of the spreadsheet under 'wrkData/00_Projectwide' on Box [here](https://usu.box.com/s/rae0druqrcofp0rlakn471ja3p9ee884).

[2018-07-24 17:13] #121 closed

[2018-07-24 17:20] bangen opened #125 "Idaho BRAT Project Valley Width Thresholds for VBET"
@wally-mac @kbartelt

To batch run the Idaho basins through VBET we need to get a spreadsheet together of the basin width parameters following the same workflow outlined in Issue #92 from the TNC project.

Wally, for now I'm assigning this to Karen.  Let me know if there's someone else you think it should be assigned to as well.

Karen, can you please create a Google spreadsheet similar to the TNC

[2018-07-24 17:44] kbartelt commented on #125
sounds great @bangen I'll get started on this now, thanks!

[2018-07-24 20:41] kbartelt commented on #125
Here is the [spreadsheet.](https://docs.google.com/spreadsheets/d/1_1muov21ZHyI4pca4mTRO3DlfYl4qlRQUzaCLTO2L8w/edit?usp=sharing)
I will continue to work on this for the rest of today and upon my return August 6th.

[2018-07-25 04:12] wally-mac commented on #125
While Karen is away we can have Mic work on this as well.

On Tue, Jul 24, 2018 at 2:41 PM kbartelt <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-07-25 04:13] wally-mac commented on #125
@Albonicomt, can you please work on this as time permits? Thanks!

[2018-07-25 14:22] Albonicomt commented on #125
Yup, @bangen, @wally-mac, and @kbartelt sounds good!

[2018-07-25 18:08] CHafen opened #126 "TNC NHD network issue"
I ran into some issues while editing the TNC HUC 8 "Russian." There sections throughout the HUC 8 where there are gaps in the full network NHD Flowline even though from looking at the imagery there is clearly a stream/river there. So, the edited perennial network also has gaps that I can't add sections in because they are missing from the full network.
Wally suggested contacting the NHD people to

[2018-07-25 18:46] bangen commented on #126
I'm appending @MatthewMeier and @wally-mac responses below.

As Wally suggested, it would be good to pass this info along to folks at the USGS.  I've also seen some gaps in networks but not to this extent.  We know there are limitations and errors in regional datasets such as NHD data.  That being said, I don't think we should go to the trouble of filling in the missing lines since we are pretty u

[2018-07-25 22:09] CHafen commented on #126
Thanks for the feedback. I figured we probably didn't want to fill in the missing segments but wanted to make sure I was right on that. And also wanted to make people aware that this one is going to be messy because of the missing sections. It's a bit of a headache to edit because it is hard to tell where I can actually make edits. But, I will do the best I can with it without taking too long on i

[2018-07-26 17:36] wally-mac opened #127 "Run BRAT for: Middle Columbia-Hood HUC 8 (17070105)"
@chadFHC, we have a small contact to run the Middle Columbia-Hood HUC 8 (17070105) and I'd like to use this as an opportunity for you to get up to speed on the BRAT model.  @sshahverdian has done some of the initial data capture for this when he ran Rock Cr. (the other Rock Cr) near the Wind River.  Please reach out to him and also lean on @kbartelt, @banderson1618 and @MatthewMeier as needed. The

[2018-07-26 17:37] #126 closed

[2018-07-26 17:38] wally-mac commented on #125
@chadFHC, this you are light on work you could also work on this. @Albonicomt , can train you.

[2018-07-26 17:40] wally-mac commented on #123
@MatthewMeier , thanks for bringing this up.  @banderson1618 , what are your thoughts on this?

[2018-07-26 17:41] #118 closed

[2018-07-26 17:42] bangen commented on #122
@wally-mac I'm going to reopen this until the change is implemented so it doesn't fall off our radar.

[2018-07-26 17:43] wally-mac commented on #113
I've noticed that the contour layer does not show up and the NAIP imagery is hit or miss. @Albonicomt can you please look into this.

[2018-07-26 17:46] wally-mac commented on #110
@chadFHC these should be the surveys forms that you are investigating how to build.

[2018-07-26 17:49] wally-mac commented on #105
@chadFHC as we discussed today we are now set to have you work on this.  Please coordinate with @webernick79 and @joewheaton.

[2018-07-26 17:49] #105 closed

[2018-07-26 17:51] wally-mac commented on #104
@chadFHC, can you please look into this. Thanks!

[2018-07-26 17:54] wally-mac commented on #101
@sshahverdian what's the status here? I recall that you needed help with the floodplain connectivity step of RCA and that @Albonicomt was going to do this. Is this correct?

[2018-07-26 17:55] wally-mac commented on #100
@Albonicomt how is this coming along? Please have @CHafen made the summary products.  Thanks

[2018-07-26 17:57] wally-mac commented on #98
@bangen , what is the status of this?

[2018-07-26 17:57] Albonicomt commented on #100
@wally-mac, It's coming along. I can send out the RCAT outputs to @CHafen. Still working on BRAT for the area. Looking for some regression equations.

[2018-07-26 17:58] wally-mac commented on #95
@banderson1618 , what is the status on this?

[2018-07-26 17:59] Albonicomt commented on #101
@wally-mac, I believe this is correct. @sshahverdian Send me a link to the data and I will get to work on it.

[2018-07-26 18:00] wally-mac commented on #94
@chadFHC this is now on the website, correct? @bangen still no word from Kristen?

[2018-07-26 18:04] wally-mac commented on #90
@MatthewMeier can you take on the task that Joe describes above?  Thanks.

[2018-07-26 18:06] wally-mac commented on #88
@bangen , is there scoping needed, that you are aware of?  Thanks!

[2018-07-26 18:07] wally-mac commented on #87
@Albonicomt , have you had a chance to work on this yet?

[2018-07-26 18:08] wally-mac commented on #86
@banderson1618 can this be closed?

[2018-07-26 18:09] wally-mac commented on #81
@banderson1618, can this be closed?

[2018-07-26 18:10] Albonicomt commented on #87
@wally-mac, I have not had a chance yet.

[2018-07-26 18:11] wally-mac commented on #73
@webernick79, please do what you can on this. But note that if you don't have time @chadFHC can take this task on.  Please coordinate with him. Thanks!

[2018-07-26 18:15] wally-mac commented on #71
Update: over the past couple of months I have been working with Dan on this (via email).  I have provided him a sample dataset (dam locations for the Big Wood watershed generated my @chadFHC). It is now in Google's court.

[2018-07-26 18:15] #71 closed

[2018-07-26 18:19] wally-mac commented on #69
I think this needs to be put back on the front burner.  When I get back I think @bangen, @joewheaton @sshahverdian, @banderson1618, and I need to meet and come up with a game plan on how to tackle this important enhancement.

[2018-07-26 18:31] wally-mac commented on #59
@joewheaton, do you want to take this task on? I think it would be great coming from you. I think folks could see how much work we have done since May. Thanks

[2018-07-26 18:33] wally-mac commented on #56
@bangen, has the intersect analysis been done? If you need help you could ask a tech to help you.  Thanks!

[2018-07-26 18:38] wally-mac commented on #55
@banderson1618, I don't think we ever dealt with this issue.  I see it as a raining day issue.  Once you have dealt with more important issues please bring this back up to the group.  Thanks

[2018-07-26 18:41] wally-mac commented on #53
I have assigned this task to @chadFHC. Chad once you get up to speed on building the Survey 123 forms let's have you work on generating this one. Thanks!

[2018-07-26 18:44] #50 closed

[2018-07-26 18:49] #44 closed

[2018-07-26 19:13] #40 closed

[2018-07-26 19:19] MatthewMeier commented on #90
@wally-mac I can work on these status tags. If I am understanding this correctly I would be creating tags for the issues I believe, or is it to the project just have tags for it? Also even though I have been added as an editor of the project I am still unable to assign lables... discussion, bug, etc. I am assuming this is what the tags are right? I will work on this.

[2018-07-26 19:46] bangen commented on #94
Still no word from Kristen.  I've e-mailed her a twice and Chad did separately as well.

[2018-07-26 19:50] bangen commented on #43
@wally-mac I'm not clear as to whether this is really necessary anymore.  I'm thinking we should just close this one.  Thoughts?

[2018-07-26 19:59] bangen commented on #62
There was no real sure fire way I came up with to write this check into the code.  In the end, we just ended up adding the network flow direction to the layer package file.  So it's up to users to ensure flow is in the correct direction.

[2018-07-26 19:59] #62 closed

[2018-07-26 23:17] wally-mac commented on #43
Agreed, please close.

On Thu, Jul 26, 2018 at 1:50 PM bangen <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-07-27 22:21] CHafen commented on #126
Before contacting the USGS folks about this I decided to download the NHD network from the data gateway just to check and see if something happened with the file that was making it have the gaps and the flowline I got from that is completely different than the one I got off of Box. It still has some gaps, but not as bad, but also the NHD area is a little different in some places and the flowline t

[2018-07-30 18:18] CHafen commented on #100
RCAT summary products are done and on Box.
[https://usu.app.box.com/folder/36487271761](url)

[2018-07-30 22:00] Albonicomt commented on #100
Hey @CHafen here is the link to the BRAT outputs for Popo Agie. I am sharing the Layer package, so you won't have to find the symbologies. https://usu.box.com/s/hy0hhjc9y40947s9w4r1bmkh9ovfj35c

[2018-07-31 14:53] chadFHC commented on #70
@webernick79
Hey Nick, I was wondering if we could get together (possibly GoTo, or even just YouTube videos) and walk through the Survey123 process. I will be taking over the creation and editing of the Survey123 soon and I think it would be good if I could listen to you explain it a little bit. I've created some very basic Survey123 apps for beaver dam censusing, but I haven't used any if stateme

[2018-07-31 14:54] chadFHC commented on #127
@wally-mac
Okay, I will work on this.

[2018-07-31 15:00] chadFHC commented on #125
@wally-mac @Albonicomt
Sure. Mic, would you be willing to make a quick video explaining the process for me, or we can get together on GoTo or something? Thanks.

[2018-07-31 15:26] webernick79 commented on #70
Chad, I’m around. How about a go to this afternoon

Sent from my iPhone

[2018-07-31 15:27] chadFHC commented on #67
@wally-mac
I'll try to work with @webernick79 as soon as possible to get this done.

[2018-07-31 15:29] chadFHC commented on #53
Sounds good.

[2018-07-31 15:54] chadFHC commented on #94
I made a page on the website for the Beaver Dam Censusing. It houses the tutorial videos, as well as links to each Web App created so far. I'm always open to suggestions on content and edits..

[Webpage](http://etal.joewheaton.org/beaver-dam-censusing.html)

[2018-07-31 15:57] chadFHC commented on #70
Sounds good. Let me know what time and I'll be there.

[2018-07-31 16:13] chadFHC commented on #125
@Albonicomt I'll be available pretty much anytime this week, after today. Let me know what time works for you and I'll work with it. Thanks.

[2018-07-31 17:19] Albonicomt commented on #125
@chadFHC let's schedule a time Tomorrow around 1:00pm. Will that work ok for you?

[2018-07-31 17:42] chadFHC commented on #125
Sounds good @Albonicomt

[2018-07-31 17:49] webernick79 commented on #70
Chad, I’ll send you a goto for 2 my time, 3 your time if that works?

n

[2018-07-31 17:53] chadFHC commented on #70
Sounds good.

On Tue, Jul 31, 2018 at 11:49 AM, Nick Weber <notifications@github.com>
wrote:

--
*Chad Garlick*
Jr. GIS Technician

[2018-07-31 23:16] banderson1618 opened #128 "Adding ReachDist should be less painful"
I've ran into a number of instances where it would be useful to have the ReachDist attribute added to a stream network. Both the VBET and the DAC tools use ReachDist to improve the drainage area calculations of the stream network.

As such, these tools should either calculate the ReachDist automatically if it is not available, or the ReachDist attribute should be calculated in a separate tool, rat

[2018-07-31 23:30] banderson1618 opened #129 "The pyBRAT website should have a page that describes what each attribute field represents (perhaps a glossary?)"
To my knowledge there's no centralized place to go if you want to find out what a specific attribute in the pyBRAT output is meant to represent. This came up recently, where a person who wanted to use pyBRAT was confused about what "ReachDist" meant. It would be good if there was a single page that we could refer people to if they have these questions.

I'm not sure where would be the best fit. My

[2018-07-31 23:36] banderson1618 commented on #128
Alternatively, we could make the SegmentNetwork.py tool more easy to use. We can do this by making it a tool in the pyBRAT toolbox and by more clearly documenting what's necessary to run it in the documentation.

[2018-08-01 17:04] sshahverdian commented on #101
@Albonicomt here is the data for the upper humboldt. Shout if you need anything else.
https://usu.app.box.com/folder/51479650645

[2018-08-01 20:08] Albonicomt commented on #101
@sshahverdian Thanks. Do you also want me to go ahead and just run RCA after I finish up the FP Connectivity layer?

[2018-08-02 17:33] banderson1618 commented on #66
@Albonicomt hasn't contacted me about his test results. The only thing holding me off from closing this is the fact that it hasn't been tested by a third party.

[2018-08-02 17:36] banderson1618 commented on #81
This is an active issue that hasn't been fixed. The post here is meant to serve as documentation for future users who run into this error. Because it hasn't been fixed, I think it's best to leave it open, so that future users don't get the impression that this has been fixed.

[2018-08-02 17:36] banderson1618 commented on #86
This is an active issue that hasn't been fixed. The post here is meant to serve as documentation for future users who run into this error. Because it hasn't been fixed, I think it's best to leave it open, so that future users don't get the impression that this has been fixed.

[2018-08-02 17:54] Albonicomt commented on #66
@banderson1618 Here is the most recent run of the new BRAT tool I have run using the new segmenting tool https://usu.box.com/s/e49mqrqos7fjnfnd02usn5eeyfnm1i2x. I do remember checking the option to segment the network by roads, but it doesn't look like the function worked.The network is still segmented by the original 300m segements.

[2018-08-02 18:04] banderson1618 commented on #122
Should we rename the tool as well? "Multi Channel Handler", or something like that?

[2018-08-02 18:11] banderson1618 commented on #66
I looked at the data. It seems to be working as expected. The tool doesn't remove the previously existing segments, it only splits apart segments that are intersected by a road. Because it seems to be working, I'm going to close this issue. If you think we should remove other segments, @Albonicomt or @wally-mac, let me know, and we can have that discussion.

[2018-08-02 18:18] Albonicomt commented on #66
Oh nice! @banderson1618, my input is, since it is an optional function, we should keep it. It allows for somewhat of a customized analysis of a particular watershed. I don't think it hinders any part of the process or the output, it's definitely an enhancement. Always good to have options.

[2018-08-02 19:04] #122 closed

[2018-08-02 22:51] joewheaton commented on #100
Thanks @CHafen for pretty maps and @Albonicomt for running the models. FYI to both, this is fine for what I need (so I'm closing this), but I'm going to provide some comments in new tickets and refer back to this and use this as example. Some of these comments will be aimed at @Albonicomt and @CHafen for what I'd like to see in our 'default' Atlas and cartography. Some of this will be more aimed a

[2018-08-02 22:51] #100 closed

[2018-08-02 23:55] joewheaton commented on #113
I tried to figure out what was going on with that contour layer and could not. As long as we have the USGS 7.5 minute quad (i.e. USGS Topo Base Map layer) WMTS on, I think we're good. Here's a rambling video showing what I want: https://youtu.be/we7_mS1jxy8

In short,  same as what we said above but please place it in Layer Packages of both BRAT and RCAT below the Inputs, Intermediates and Outputs

[2018-08-03 00:03] MatthewMeier opened #130 "Segmenting Network Script error"
@bangen @banderson1618
I was working on BRAT and when I was getting the network into 300m segments as I was working with the data it is deleting many of the segments that are in the network and creating holes they seem to be segments that are dealing with Fcodes of 42803 and 42800 I am not sure if there are ay other relationships but that was the closest that I could figure. It is not due to the n

[2018-08-03 00:04] joewheaton commented on #113
And here's that layer package: https://usuonline.maps.arcgis.com/home/item.html?id=cc98d377218a43728c403b57133ac0fa

[2018-08-03 15:19] Albonicomt commented on #113
Sounds good @joewheaton. I will get to this today.

[2018-08-03 15:36] Albonicomt commented on #113
Another option @joewheaton, in case the contour map from the USGS keeps giving us trouble, is to create a contour layer from the DEM. @banderson1618, if we do this, would it be easy to include this step in the Layerpackage builder? If we do this, we can control the contour intervals and potentially have multiple contour layers at different intervals, which might be nice.

[2018-08-03 15:57] banderson1618 commented on #113
If we can automatically create the contour layer, we should be able to make a layer out of it. Once we have that, including it in the layer package would be pretty easy, I think.

[2018-08-03 17:14] joewheaton commented on #16
Okay folks, the video below is my stab at the next step for changes to the conflict model.  Please note that this includes many of the concepts we thrashed out above.  Some highlights:
- This includes demotion of 'Conflict' layer from primary output into an Intermediate output under `Human Beaver Conflict` to not emphasize it so much.
- We ditch probability of conflict all together and recast it a

[2018-08-03 17:17] joewheaton opened #131 "Braid Handler Bug in Popo_Agie BRAT Noticed"
See https://youtu.be/HNXHCuTrRjo to see where most of the tributaries are incorrectly being assigned as braids.

![2018-08-03_111637](https://user-images.githubusercontent.com/9723905/43656202-c8a25b2c-970e-11e8-8578-1ff5e02ee3cd.png)

The dataset can be found at: https://usuonline.maps.arcgis.com/home/item.html?id=eff3e540db8b4c33a779d683246fe15e

[2018-08-03 17:22] joewheaton opened #132 "Where are capacity outputs going? We need to strategize on what gets included in what tables for what outputs."
Its possible that you guys have addressed this in the Riverscapes BRAT project (I did not check), but I'm noticing a bunch of outputs missing from our attribute table in the BRAT output. I cover much of this in:
https://youtu.be/ftkonyQCvuU

In addition, in the video I discuss ways we need to update layer packages for capacity outputs.

OUr [documentation for BRAT on the table](http://brat.riversc

[2018-08-03 17:26] joewheaton commented on #132
#129 captures some of the concern I raise at end:

[2018-08-03 17:27] joewheaton commented on #129
Agreed! Lets start documenting this as we go wherever is convenient on one of the pages. We can then update as we go and make commits. We'll worry about where to move it and present it in due course....

[2018-08-03 17:28] joewheaton commented on #69
@wally-mac is right. This has been pushed to front burner in #16 again. I'm closing this one and cross referencing 16. Lets make the conversation and changes there.

[2018-08-03 17:28] #69 closed

[2018-08-03 17:30] joewheaton commented on #55
@banderson1618 and @bangen, please roll whatever you've added to this into the Riverscapes project and the layer package outputs under Conflict Inupts. Then we can start looking at it and thinking about what to do.

[2018-08-03 17:36] joewheaton opened #133 "More changes to Management Outputs"
So, in #17 Scott proposed some helpful changes to the management outputs. In discussions with our sponsors, collaborators and BRAT stakeholders, I've realized what we need to do is focus less on a synthesized single output for management, and break it apart into smaller, more readily digestible chunks. We focus on demoting the individual chunks to less (potentially controversial) emphasized output

[2018-08-03 17:38] joewheaton opened #134 "Major Changes to Layer Packages"
The layer packages that @banderson1618 have produced have been a huge time saver. They are a great start. This issue post is to start the dialog on changes I want to see made to what we already have.  @banderson1618 you can either just work through the video and make changes as I describe, or if something requires more discussion, build its own issue for it.

- In this first rambling video, I work

[2018-08-03 17:42] joewheaton commented on #66
I'm going to open a new thread for referring back to this related to documentation.

[2018-08-03 17:42] #66 closed

[2018-08-03 17:45] joewheaton opened #135 "Document and Illustrate the utility of Segment by Roads"
Can @Albonicomt zoom into a part of the network and make some maps of BRAT capacity outputs (#132) before and after this segmentation by roads (#66) takes place overlaid with the new road symbology (#134)? We should then make a documentation page that shows:
- [ ] Nice figure comparing before and after segmentation how BRAT output changes
- [ ] Lays out why you might want this and how it relates t

[2018-08-03 17:50] joewheaton opened #136 "Owyhee Watershed - Idaho BRAT run"
From our IDFG sponsor Cory:

[2018-08-03 17:51] Albonicomt commented on #135
Sure @joewheaton, I can give this a shot.

[2018-08-03 17:52] joewheaton commented on #136
@kbartelt I think you're probably the one to do this... but we may re-assign if your plate is full.  I want to get this run going as we're going to use this as one of our Idaho BRAT case studies.  I'm waiting on Cory to find out exact HUCs. If we don't get that, just run all (I suspect there is an Upper, Middle and Lower, but I have not checked).  This will just be a provisional BRAT run.

[2018-08-03 18:10] joewheaton commented on #136
Looks like [candidate HUC 8s](https://usu.app.box.com/folder/45488028882) are:
- [ ] MiddleOwyhee_17050107
- [ ] UpperOwyhee_1750104
The Lower Owyhee flows through Oregon...

![img_20180706_141230](https://upload.wikimedia.org/wikipedia/commons/6/6d/Owyheerivermap.jpg)

[2018-08-03 18:13] joewheaton commented on #113
Hi Folks,
Good ideas for work arounds. Lets not worry about the contour layer. Its redundant with the USTopo Map base layer that shows contours anyway.  I'm going to close this one down as @banderson1618 has already made the first version of the layer package, the contour issues is moot, and I started new thread to deal with this (#134)...

[2018-08-03 18:13] #113 closed

[2018-08-03 18:22] joewheaton commented on #123
Great idea @MatthewMeier. This is very similar conceptually to what we added in GCD 7 with a 'Mask Library' in the inputs. The masks become different spatial extents that you might want to summarize any intermediate or output result by. So one thing I'm seeing a ton in the 'Atlas Maps' that @Albonicomt and @CHafen are spitting out so well is they tend do them for the HUC8, which is just our defaul

[2018-08-03 18:30] joewheaton commented on #125
I'm still confused @bangen why we put so much effort into this. The question of minimum buffer width by the three different drainage area sizes is not something to stress over as we just conservatively go bigger. Now the question of minimum valley width for the first order streams that basically have no valley bottom is meaningful, but basically boils down to resolution of input DEM (i.e. 10 m). F

[2018-08-03 19:30] banderson1618 commented on #131
I'm having some problems accessing the dataset. Apparently my ArcGIS account isn't a member of USU. Could you upload it on Box? I'm not sure how to get myself set up as a member, but if we could do that, that'd be good too.

Regardless, there was a time when everything in a network was classified as a side channel, unless manually edited. I'm almost certain that this is a dataset from that time. I

[2018-08-03 19:31] banderson1618 commented on #131
This does remind me - I'll have to update the symbology layer to reflect the changes in terminology we've made. Thanks for the reminder

[2018-08-03 19:35] banderson1618 commented on #134
This is me responding point by point to the things raised in the video, both so that there's a summary of the points in the video and

**BRAT Symbology Part 1**
- Should the Context layers be included in the project, like the symbology layers are now? That's the only good way I can think of including them.
- Is there a good resource on avoiding resampling errors in hillshades? I have a fairly rudi

[2018-08-03 19:58] joewheaton opened #137 "Misunderstanding on Network Processing Extent vs. Packaging Output"
## Background
A while back I raised and issue (I don't think in GitHub) that we should be running pyBRAT for the entire drainage network. As far as I can tell, I think this is what happens now is:

1.  User preprocess their stream network (if NHD 1:24K, typically using the RCAT [NHDNetwork Builder](https://github.com/Riverscapes/RCAT/blob/master/NHDNetworkBuilder.py))?
2.  Our manual? workflow is

[2018-08-03 20:09] joewheaton commented on #134
Responses to questions in  @banderson1618 list :

I think so, but its possible that they might really slow down loading of the layer package. We should test this and see if that is just my machine. If that is the case, we just leave them out. They shouldn't add any size, but may impact performance. If the later, we just need a help page that explains how to use.

Yes... some of this comes from rep

[2018-08-03 20:11] joewheaton commented on #135
Thanks @Albonicomt. Note that #101 for @sshahverdian is much higher priority.

[2018-08-03 20:15] joewheaton commented on #131
Sure... here it is: https://usu.app.box.com/folder/52117280152

Odd, You should have access to that as it is shared publicly.

Hmm... this was run recently by @Albonicomt ... see: #100

[2018-08-03 20:16] joewheaton commented on #119
Agreed! This would be really helpful!

[2018-08-03 20:42] joewheaton opened #138 "Taking Connor's Data and Building Data Capture Event & Pretty Maps"
So in testing our new functionality in BRAT for data capture, we want some good local examples. Connor Penrod's [thesis](https://usu.app.box.com/file/289480995316) (Connor will add links to data and figures) looked at Beaver Dam Dynamics in Logan River Watershed. He specifically did desktop data capture events of dams through time:
- 2009 Baseline
- 2011 Big Water Year Disturbance
- 2014 Recovery

[2018-08-03 20:43] joewheaton commented on #138
@CHafen and @chadFHC you can bill your time on this to TNC BRAT

[2018-08-03 21:29] #93 closed

[2018-08-04 14:49] chadFHC commented on #138
Okay

[2018-08-05 02:37] ssuplick opened #139 "Regression equation questions for the simultaneously regulated and unregulated Salinas River watershed"
Hello:

I was curious if any of you had experience with operating BRAT with relatively few stream gage data points, or **know the degree to which large dams (regulated streams) in a HUC8 should influence regression equations for BRAT Table hydrologic attributes, where other streams within the HUC8 are unregulated?**

I want to ensure my equations are as adequate as possible, but am running into so

[2018-08-05 21:28] kbartelt commented on #136
@joewheaton I'll get started on this first thing tomorrow.

[2018-08-06 16:54] bangen commented on #125
@wally-mac wanted us to use basin specific width parameters.  From his experience running VBET the width thresholds can have a large effect on the output.

@joewheaton to clarify a few points.  In the past I recall you saying that VBET uses thiessen polygons.  This is not the case.  VBET uses slope, drainage area, and distance (width) thresholds.  Those are the 3 drivers of the model.  In the futu

[2018-08-06 17:05] bangen commented on #134
\Create symbology layers for vegetation that use the guidelines outlined at ~20:00 in the video.
I would be concerned about relying on the roads shapefile to have the RTTYP attribute. How ubiquitous is that attribute?

_Not sure? Maybe ask @bangen (out until next week)_

@banderson1618 We should plan for instances where a user may use a roads input layer that doesn't have that field.  Is it possib

[2018-08-06 17:06] banderson1618 commented on #134
@bangen, yeah, that should be doable.

[2018-08-06 17:16] bangen commented on #124
@MatthewMeier did @wally-mac or @joewheaton get back to you about this?

In reference to the layer package generator.  @banderson1618 creates the individual symbology layer files when they are loaded or created.  For example, the individual input layer symbology files (e.g., roads, canals) are created when the BRAT Project tool is run whereas the slope layer symbology file is created in the BRAT T

[2018-08-06 17:35] #119 closed

[2018-08-06 17:53] CHafen commented on #138
Sounds good. I can work on these as soon as the data is ready. Also, it would be helpful to have the .mxd files, especially for the zoom ins in figures 6 and 7.

[2018-08-06 17:59] chadFHC commented on #138
This sounds good @joewheaton.

[2018-08-06 18:52] banderson1618 commented on #16
I've made a branch for implementing these changes, with the name "new_conflict_model". I'd like to ask @bangen (and anyone else who ends up working on this) to work on that branch, so that the rapidly changing and probably buggy code that gets pushed doesn't affect the master branch.

[2018-08-06 18:54] MatthewMeier commented on #124
@bangen I thought as much because there were so many new features for the outputs and so I have been working on rerunning it. The only thing I am worried about it having it run once and then by the time the workshop is there will be a new and better version to run it through again. I guess it is not the worst thing in the world.

[2018-08-06 18:56] banderson1618 commented on #16
Given the goals of this, would it make sense to implement the new conflict (or whatever we're calling it) as an optional tool that can be run after everything else? You mentioned putting it in the "Intermediates" category, but that's also misleading, because it's not intermediate to anything. Maybe we have a new category, called "Supplemental Outputs" or something like that, which could contain th

[2018-08-06 19:35] banderson1618 commented on #134
Also, I found a link that explains the RTTYP attributes. Probably best to stick to that when we're making our symbology. Here's the link: [https://www.census.gov/geo/reference/rttyp.html](https://www.census.gov/geo/reference/rttyp.html)

[2018-08-06 20:33] bangen commented on #56
@wally-mac from my understanding this was something Point Blue was interested in for their field planning efforts and Brent already completed.  Coming out of the meeting we were also interested in seeing the capacity predictions in meadows vs non-meadows.  IMO, this isn't a high priority and given we're making some model adjustments I think we should hold off for now until we have our final model

[2018-08-06 20:54] CoryMosby commented on #136
Hey @joewheaton and @kbartelt

At the huc8 level I'm looking at the following watersheds (sorry I don't have a name for them, just the number):  17050102, 17050103, 17050104, 17050107, 17050108.  I know that one of them is outside of the owyhees, but it still meshes up with our focal species (sage grouse, redband trout and Columbian spotted frogs).  If you have any questions please feel free to gi

[2018-08-06 21:19] kbartelt commented on #136
@CoryMosby @joewheaton

Thanks for the info. I'm in the process of running BRAT for Middle Owyhee (17050107) right now. Once that is finished i'll start working through the list above.

When is the BRAT output needed by?

[2018-08-06 21:28] CoryMosby commented on #136
Whenever we can get it, sooner the better.  Is two weeks asking for too much?

From: kbartelt <notifications@github.com>
Sent: Monday, August 6, 2018 3:20 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] Owyhee Watershed - Idaho BRAT run (#136)

@CoryMosby<https://github.com/Cory

[2018-08-06 22:51] joewheaton commented on #136
Thanks @CoryMosby for the clarification. @kbartelt please go ahead as you've planned and work through list in order...

@CoryMosby two weeks might be a little tight, but lets see how we get on.... we'll at least have some of them done. It depends a little on what else @kbartelt is juggling in the mix.  @wally-mac gets back next week (the real manager ;) ) and he'll have a better sense as to overal

[2018-08-07 15:56] CoryMosby commented on #136
Ha! No worries on the 2 weeks, I just threw it out there as an “in a perfect world” scenario. Thanks (to you and the staff) for juggling this with your other work.

Cory

From: Joe Wheaton <notifications@github.com>
Sent: Monday, August 6, 2018 4:51 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply.github.com>
Subject: Re: [R

[2018-08-07 22:58] kbartelt opened #140 "Disproportionately high iVeg numbers in BRAT Table"
Hi @banderson1618

Can you take a look at my BRAT Table and output for the Middle Owyhee ( #136 )? I noticed a few areas with some unusually high vegetation and dam capacity outputs in areas with a VEG_CODE input of 1 and 2.

![image](https://user-images.githubusercontent.com/39836333/43806349-d6436a3c-9a60-11e8-864d-b108b92d50ee.png)

![image](https://user-images.githubusercontent.com/39836333/43

[2018-08-08 16:10] bangen commented on #140
@kbartelt I'll take a look at this and get back.

[2018-08-08 16:16] bangen commented on #140
@kbartelt Quick question.  Did you select the option to in the BRAT Table tool to segment by roads?

[2018-08-08 17:18] Albonicomt commented on #135
@joewheaton, Here is a comparison figure attempt. Let me know what you think.

[2018-08-08 17:18] Albonicomt commented on #135
Sorry, Here is the link @joewheaton Figure: https://usu.box.com/s/j60lcml4i7bmab4tn0l3bblu91jum309

[2018-08-08 17:26] bangen opened #141 "BRAT Table Tool: Hard-Coded Scratch Workspace"
@banderson1618 I downloaded the latest release (version 3.0.18 commit bc97ea4).  On line 244 there's a hard-coded scratch workspace.  Probably left from some testing?  Can you please remove this?

I'm digging into Karen's issue (issue #140) so might be worth holding off on a new release until we figure out the source/fix for that one.

![capture](https://user-images.githubusercontent.com/6502954/4

[2018-08-08 18:05] banderson1618 commented on #141
Good catch, sorry for that. I pushed the change, and now I'm running it again to make sure that there's nothing that broke without that line.

[2018-08-08 18:07] kbartelt opened #142 "Error running Segment Network supporting tool"
@bangen @banderson1618

I am getting the error below when running the Segment Network supporting tool in pyBRAT 3.0.17 for Bruneau_17050102 in Idaho

![image](https://user-images.githubusercontent.com/39836333/43855361-8c7e4a8c-9b02-11e8-98f7-090ca45e07c5.png)

Can I change the value type in the code for ReachID from SHORT to LONG? I tried this and it worked (gave me a segmented network output)- b

[2018-08-08 18:08] banderson1618 commented on #142
Yes, you can. That was changed in pyBRAT 3.0.18, so you're totally fine to make that change.

[2018-08-08 18:09] kbartelt commented on #142
@banderson1618 awesome, thank you!

[2018-08-08 18:09] #142 closed

[2018-08-08 19:00] banderson1618 commented on #140
I've been looking into this more, and... I still have no idea what the problem is. I can't find any good patterns for what areas get clearly wrong values, and those areas still get way too high values if I set it to take the minimum instead of the mean veg code. The problem pops up throughout the entire watershed, but somehow we've never seen it before in any other watersheds. For some reason, not

[2018-08-08 20:11] bangen commented on #140
@banderson1618 in case you were looking into this again I wanted to let you know I found the issue.  I'm going to make a video and will post it here.

[2018-08-08 20:17] banderson1618 commented on #140
I'd be very curious to know what the problem was, if nothing else.

[2018-08-08 20:47] bangen commented on #140
@kbartelt and @banderson1618

Good news, the issue wasn't with the code itself.  The problem was the 'VEG_CODE' fields were created as text/string fields rather than as integer fields.  You can check out this video [here](https://youtu.be/kz5uha_jbMg) for the in the weeds info.

Karen, you'll need to re-create the 'VEG_CODE' field for the EVT and BPS rasters.  Make sure the field type is set to 'S

[2018-08-08 20:47] #140 closed

[2018-08-08 20:52] kbartelt commented on #140
Ah okay that makes sense. Thank you for the help!!

[2018-08-08 20:55] banderson1618 commented on #140
Good catch, that's a subtle bug!

[2018-08-08 21:04] PenrodC commented on #138
Here is the data used to make the figures
[ABDD_data.xlsx](https://github.com/Riverscapes/pyBRAT/files/2272008/ABDD_data.xlsx)

[2018-08-08 23:39] Albonicomt commented on #131
I know what happened here @joewheaton and @banderson1618. This is not a bug. The model was run using this data here:
![isbraided_network](https://user-images.githubusercontent.com/39168968/43869352-4a6b93f2-9b2f-11e8-8691-e238c03dda6a.PNG) Here is a Link to the BRAT Table I ran through the Model, I saved the original version as a reference to the data used in the model after running it through the

[2018-08-08 23:56] kbartelt commented on #136
@joewheaton I completed a provisional run for Middle Owyhee _17050107 and uploaded the BRAT inputs, outputs, and layer package to [box.](https://usu.box.com/s/udjq99abvrud58iv8rgvpmrv7vbrumvo) Please let me know if there is a different way you would like me to upload/share these. Thanks!

[2018-08-09 18:10] #141 closed

[2018-08-09 19:09] banderson1618 commented on #16
It seems to me that there are some structural questions we should ask about this. What if we generated oPC_Score in the Conversation and Restoration Model (since it uses conflict as an input), and then have the conflict map that @joewheaton produced as an optional step? I'd appreciate thoughts on this, since it's hard to move forward on development without a clear idea of what the end product shou

[2018-08-09 23:01] kbartelt commented on #136
A provisional run for Bruneau_17050102 is on box [here.](https://usu.box.com/s/epvi4xdavvwutuhrj27xhl9dph363avn)

[2018-08-10 17:05] wally-mac commented on #94
Nice work, Chad.

On Tue, Jul 31, 2018 at 10:55 AM chadFHC <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-08-10 17:15] wally-mac commented on #128
I like that idea.

On Tue, Jul 31, 2018 at 6:36 PM Braden Anderson <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-08-10 19:07] banderson1618 commented on #128
@bangen

I've been working on this a bit, and I've realized that it makes more sense to broaden this to adding all the attributes added in segmentNetwork.py, primarily ReachID and StreamID. Unfortunately, I haven't been able to figure out what parts of segmentNetwork.py is needed for those attributes, and what parts are for the segmenting process. I'm still not sure about how the tool identifies t

[2018-08-11 23:39] wally-mac commented on #136
Excellent! Thanks Karen. Are there additional watersheds that Cory was
wanted completed for this round? Please advise and thanks

On Thu, Aug 9, 2018 at 5:01 PM kbartelt <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-12 00:04] wally-mac commented on #16
@joewheaton, I just watched your video on your new approach to visualizing potential human-beaver conflict and I think it is spot on. Excellent work! @banderson1618, I think you also bring up some excellent follow up questions for Joe.  I'd be very interested to hear what Joe thinks of your ideas.  Also, I think we need some  clearer "marching orders" in order to effectively address this very high

[2018-08-12 00:05] wally-mac commented on #56
@bangen, I agree let's hold off.

[2018-08-12 00:07] wally-mac commented on #55
I think we should add ownership as a BRAT input especially considering
Joe's ideas on using land ownership as a first stab on tolerance.

On Mon, Aug 6, 2018 at 2:22 PM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-12 00:11] wally-mac commented on #124
@bangen, I like your idea of  "an optional 'manual' version of the layer package generator where the user could point to all of the requisite individual feature classes/rasters/etc and have layer files created rather than having to re-run the tool. " @joewheaton what are your thoughts on this?

[2018-08-12 00:36] wally-mac commented on #90
@MatthewMeier, to clarify this issue is not tags within GitHub.  Does this help clarify?  I think this is probably a task for @banderson1618 .

[2018-08-12 02:04] wally-mac commented on #133
@Albonicomt, please also watch Joe's video above and work with @bangen and @banderson1618 on this.

[2018-08-12 02:07] wally-mac commented on #16
@Albonicomt please read through this thread and watch Joe's video and work with @banderson1618 to come up with some solutions. Thanks!

[2018-08-12 17:05] wally-mac commented on #136
Excellent.  Thanks!

On Sun, Aug 12, 2018 at 10:22 AM kbartelt <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-12 23:06] wally-mac commented on #135
@bangen, you bring up some compelling reasons **not** to segment by roads that I think **out weight** the reasons to segment.  So my vote would be to NOT segment by roads.

[2018-08-13 15:30] CoryMosby commented on #136
Hey @kbartelt, I tried to open up the Middle Owyhee using the Box link and it says that this is unavailable to me.  Was that for Joe or should I be able to access it as well?  Thanks.

[2018-08-13 16:50] ssuplick commented on #139
@wally-mac and @sshahverdian, thank you! One thought I had was the TNC Sierra Nevada project might have some potential approach leads. However, I do not know who's in charge of the BRAT model for that project.

[2018-08-13 17:54] Albonicomt commented on #125
I spoke with @wally-mac a little bit about this issue this past weekend. I had an idea for coming up with a solution if you all think this is a good approach.

@bangen , @joewheaton , @kbartelt , @chadFHC Here is what I am thinking for determining if we need to actually find unique Valley Width Parameters for each basin or use the "ball park factor 2" method for all the basins:

- Run VBET on 2-3

[2018-08-13 19:49] wally-mac commented on #125
I like the idea and I suggest to do as outlined.

On Mon, Aug 13, 2018 at 11:55 AM Micael Albonico <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-08-13 23:33] kbartelt commented on #136
Hi @CoryMosby

Give [this link](https://usu.box.com/s/5fxjeu2wafajq2nz6u698nhquiuzqh24) a try for the Middle Owyhee.

A good place to start poking around would be the layer package [here](https://usu.box.com/s/5nwdupe305ikzkdihw75ie2bv1wwqxyq).

Please keep in mind that this run is only provisional. The vegetation input, etc. have not been calibrated and we have not yet done any virtual or on-the-

[2018-08-14 00:04] bangen commented on #16
Joe, I like the direction you want to take this.  Several tasks are pretty straight-forward, but the more major changes are going to require more in the weeds detail.

## Thoughts/Feedback

I agree with @banderson1618 that not all of these layers belong in 'Intermediates'.  Distance to crossing/canal/road and land use intensity are intermediates (directly derived from inputs).  The other 3 layers

[2018-08-14 18:58] kbartelt commented on #136
@CoryMosby here you can access the provisional runs for [Bruneau (17050102)](https://usu.box.com/s/epvi4xdavvwutuhrj27xhl9dph363avn) and [MiddleSnakeSuccor (17050103)](https://usu.box.com/s/uklv43xvfshxiykn1ddl53cqhzqwb4qe)

[2018-08-15 15:42] CoryMosby commented on #136
Thanks!

From: kbartelt <notifications@github.com>
Sent: Tuesday, August 14, 2018 12:58 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] Owyhee Watershed - Idaho BRAT run (#136)

@CoryMosby<https://github.com/CoryMosby> here you can access the provisional runs for Bruneau (170501

[2018-08-15 16:05] CoryMosby commented on #136
Gotcha.  I will not share anything until I get the final products from you/the lab.

Cory

From: kbartelt <notifications@github.com>
Sent: Monday, August 13, 2018 5:33 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] Owyhee Watershed - Idaho BRAT run (#136)

Hi @CoryMosby<https:/

[2018-08-15 17:27] Albonicomt commented on #125
**VBET Valley Width Method Experiment between  "Method 1: Investigative Unique Valley width Identifyer." and "Method 2: Ballpark figure"**

**Purpose:**

To find the most efficient method for best fit Valley Bottom by aquiring valley widths Large, Medium, Small, and Minimum using the two methods: (Method 1) Investigate each unique watershed's Valley Width and (Method 2) Investigate a Ball park fig

[2018-08-15 17:30] Albonicomt commented on #125
Sorry.. accidentally clicked "close and Comment"...

[2018-08-15 17:45] bangen commented on #125
@Albonicomt Nice work!  Could you please post the valley bottom output shapefile for each of the methods and watersheds to Box?  I'd like to take a look at the output.  Just create a folder under the '00_Projectwide' folder and name it 'VBETMethodTest'.  Thanks!

[2018-08-15 17:47] Albonicomt commented on #125
@bangen, sorry, I forgot to provide those outputs in there. Thanks for the reminder. I will put those up shortly.

[2018-08-15 18:10] bangen commented on #134
@banderson1618 Can you please ensure the last three commits are pushed to the master branch?

[2018-08-15 18:14] bangen commented on #130
@MatthewMeier Those FCODES pertain to pipelines (see full descriptions [here](https://nhd.usgs.gov/userGuide/Robohelpfiles/NHD_User_Guide/Feature_Catalog/Hydrography_Dataset/Complete_FCode_List.htm)).  We absolutely do not want to include pipelines in our BRAT networks even if they create gaps in the overall network.

[2018-08-15 18:14] #130 closed

[2018-08-15 18:27] bangen commented on #125
@Albonicomt please end the box link once you have the data up.

[2018-08-15 18:36] bangen opened #143 "BRAT Project Error on DEM layer"
@banderson1618

I'm getting the following error when running the BRAT Project tool.  I'm running 10.6.1.  I tried changing the layer files to the '10_6' version where relevant but still ran into the same error.  I ran this on the East Walker (TNC BRAT project) if you want to test with that basin on your end.

[code]

[2018-08-15 18:41] bangen commented on #55
@banderson1618 I added the ownership layer as an optional input to the BRAT Project (commit 1cd4fa392fa57e6cbdeab21895fa89a41bfc7446).

@wally-mac and @joewheaton We still need to figure out how we want to incorporate this and what it means for 'tolerance'.  Let's discuss after Wally gets back from the field.

[2018-08-15 19:12] Albonicomt commented on #125
@bangen, here is a link to the three watershed used in the "experiment" https://usu.box.com/s/wpa7so7u9f9hjiwc5crpn8xs9pqitt1u

in each folder under analyses>output1 corresponds to Method1 and >output2 corresponds to Method2.

The CentralBear is still loading, but should be completed soon.

[2018-08-15 23:37] kbartelt commented on #136
@wally-mac I have completed provisional runs for each of the 5 watersheds- see links below:

- [Bruneau_17050102](https://usu.box.com/s/epvi4xdavvwutuhrj27xhl9dph363avn)
- [MiddleSnakeSuccor_17050103](https://usu.box.com/s/uklv43xvfshxiykn1ddl53cqhzqwb4qe)
- [UpperOwyhee_17050104](https://usu.box.com/s/hb68eca83g9xtoj78f474kfgbpyza2bl)
- [MiddleOwyhee_17050107](https://usu.box.com/s/5fxjeu2wafajq2

[2018-08-16 13:05] wally-mac commented on #136
Karen,

I just sent you two emails from Cory with data he provided to me earlier
this week. Please have a look at these data and upload it to Box.  Thank you

On Wed, Aug 15, 2018 at 5:37 PM kbartelt <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-16 20:08] bangen commented on #134
@banderson1618 I chatted with Wally and he suggested if you need help with making edits to any of the layer files to work with @Albonicomt.  Per our conversation earlier, I'll handle changes to the conflict and management model fields, layer files, etc.  You should focus on the layer files for the other tools with first priority being changes to the BRAT project and BRAT table tool layers.

[2018-08-16 21:54] banderson1618 commented on #143
Could you link to the dataset that caused this problem? I haven't seen the error with any of the DEMs I've run, and I want to be sure it's the same one that caused the problem for you.

[2018-08-16 23:35] bangen commented on #143
Here's a [Box link](https://usu.box.com/s/ha43nswq88tzcodqkq9f914d9ysk87bg) to the East Walker data.  The DEM is under the 'DEM' folder.  Since I had been working off BRAT on the master branch it's possible you had made changes already that remedied the issue?

[2018-08-17 14:33] wally-mac commented on #55
Yes, agreed.  Let's put this on the agenda for our meeting next week.

On Wed, Aug 15, 2018 at 12:41 PM bangen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-17 16:56] banderson1618 commented on #143
@bangen, I can't replicate your problem, unfortunately. I've ran it on the master branch, and had no problems copying over the DEM you linked.

Based on the error text, it looks like there was some problem with the layer name. I'm just spitballing here, but maybe the error was caused by you having a layer named "DEM" in your table of contents, and then the tool freaked out when you tried to make a

[2018-08-17 19:25] Albonicomt commented on #134
@banderson1618, I like the transparency. What if you also had the 30m as a light green with 80% transparency as well, that way you can see both if you need.

[2018-08-17 19:29] banderson1618 commented on #134
That's a good idea, @Albonicomt. Here's a screenshot of a quick implemenation of your idea, both with and without the background raster:
![bothbuffers](https://user-images.githubusercontent.com/21353496/44285195-9c9dae00-a221-11e8-8a8f-c75882369750.PNG)
![bothbuffers_background](https://user-images.githubusercontent.com/21353496/44285197-9f000800-a221-11e8-9888-f23f309b584e.PNG)

[2018-08-17 19:43] Albonicomt commented on #134
@banderson1618, that looks sweet. I like it.

[2018-08-17 19:52] banderson1618 commented on #134
Sweet, thanks for your feedback @Albonicomt! I'd still like to get some input from the bosses before we put this on the master branch, but I'll make the changes and push it to the layer_package_changes branch.

[2018-08-20 15:24] joewheaton opened #144 "Issues with Prerequisites for Downloading BRAT - Mesa Verde NP"
Just shoving a conversation from email up here that could be helpful for others troubleshooting.

![unnamed](https://user-images.githubusercontent.com/9723905/44349664-c68de500-a45a-11e8-9127-32d141a58261.png)

[2018-08-20 15:30] joewheaton commented on #144
Hi Angela, you can post to this thread by just creating a GitHub account if you don't have one already.

While clipping down to the national park is not a problem for summarizing and subsequent analysis, I would suggest it might be sensible to do after you've run everything and just do that as a summary step. At a minimum, DO NOT clip the watershed and DEM and Drainage Area raster until you've run

[2018-08-20 16:01] bangen commented on #144
Angela - I took a look at the data you sent me and the length fields created by the script are all quite small.  This leads me to believe you ran the segment network tool before projecting your data into UTM.  If that's the case you'll want to project your data before running any of the tools.

[2018-08-20 16:09] wally-mac commented on #134
@banderson1618, I like the symbology that you and @Albonicomt have come up with. I think is it really effective and easy to understand.

[2018-08-20 16:35] banderson1618 commented on #134
Thanks for your feedback, @wally-mac. I'm working with the valley bottom symbology right now. Would it be good to make the valley bottom symbology something similar to the buffer symbology shown above? It seems to me that they serve similar purposes. @joewheaton, your input would also be appreciated.

[2018-08-20 16:53] Albonicomt commented on #134
@banderson1618, I think a transparent Valley bottom is a good idea as well. I'd say a similar transparency at around 80%, but with a solid outline of the VB, so one can see a definitive edge to the VB. What do you think?

[2018-08-20 17:00] banderson1618 commented on #134
@Albonicomt, that sounds good. I'll get some demos going, and upload screenshots once I'm there.

[2018-08-20 17:01] wally-mac commented on #134
Sounds good. Looking forward to checking out what you come up with.

On Mon, Aug 20, 2018 at 11:00 AM Braden Anderson <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-20 17:02] angelayragui commented on #144
@joewheaton Thank you for posting this issue on GitHub.

Since I've been running into some issues, I decided to simplify my analysis and run the BRAT with the existing vegetation data from LANDFIRE. If I have time I'll be trying to run it with my own vegetation data. I will let you know how it goes!

Thanks for the tip about the position of the channel, do you have a recommendation as to how I can

[2018-08-20 17:16] banderson1618 commented on #134
Border with some fill:
![valleybottomdemo](https://user-images.githubusercontent.com/21353496/44355480-f7294b00-a469-11e8-97fd-839ba0984965.PNG)

Does this look good to you guys, @wally-mac and @Albonicomt?

We've applied some transparency
Since I made the buffer symbology, we've applied some transparency to the LU raster (see commit 0e86ef8)

[2018-08-20 17:17] bangen commented on #134
@banderson1618 Are you going through Joe's videos while making changes?  If not, please do so.  If I remember correctly, he wants to see the valley bottom both as a filled, transparent layer and a solid, no fill layer.

[2018-08-20 18:10] CHafen commented on #138
What's the status on getting shapefiles and .mxd files organized and on Box for this project @chadFHC and @PenrodC ?

[2018-08-20 18:27] chadFHC commented on #138
@CHafen
I haven't seen any shapefiles or .mxd files yet to upload on Box. I'll keep my eye out for them.

[2018-08-20 18:34] PenrodC commented on #138
Apologies for missing that request earlier. Everything is on box in this link [https://app.box.com/folder/45862501491](url)

I can pull out the exact mxd's since the file is a bit of a mess later today.

[2018-08-20 18:35] PenrodC commented on #138
Rather, this link

[https://app.box.com/folder/45862501491](url)

[2018-08-20 18:37] PenrodC commented on #138
If you copy and paste the link works, clicking on it doesn't for some reason.

[2018-08-20 18:40] chadFHC commented on #138
Thanks @PenrodC,  that would be great.

[2018-08-20 21:06] banderson1618 opened #145 "Vegetation symbology"
@joewheaton has asked us to improve the symbology for the vegetation rasters given to pyBRAT as input. He talks about it primarily in the YouTube video linked below, from ~17:00 to ~34:00.

https://www.youtube.com/watch?v=rlOzvMAh19g

To summarize: Joe wants us to create symbology for the vegetation layers is

- intuitive and easy to understand
- relatively consistent between the historic and mode

[2018-08-20 21:09] Albonicomt commented on #145
@banderson1618, Sounds good! I am on it!

[2018-08-20 22:28] CHafen commented on #138
Thanks @PenrodC

[2018-08-21 18:12] banderson1618 commented on #145
Those look great! I'm working on implementing them now.

[2018-08-21 18:32] angelayragui commented on #144
Would anyone be able to help me with this error I'm getting? Step 2 runs for 2-3 hours, three separate times, then gives me this mesage:

Traceback (most recent call last):
  File "<string>", line 307, in execute
  File "C:\unzipped\pyBRAT_3.0.10\BRAT_table.py", line 108, in main
    igeo_attributes(seg_network_copy, inDEM, FlowAcc, midpoint_buffer, scratch)
  File "C:\unzipped\pyBRAT_3.0.10\BRAT_

[2018-08-21 19:06] #111 closed

[2018-08-21 20:19] banderson1618 commented on #145
@Albonicomt, I'm having some problems getting the historic vegetation to work properly. For some reason, it only displays symbology for ~1/5 of the raster. I can't manually import the symbology, either. If I put a basemap under it, the basemap is displayed clearly, so it's not that it's all snow or something. I'm not sure what's going on. Do you have any insight to this? @bangen, if you've dealt w

[2018-08-21 20:28] Albonicomt commented on #145
@banderson1618, Is it just the historic Vegetation you are having trouble with? Does the Existing vegetation work when you apply the symbologies?

[2018-08-21 20:29] banderson1618 commented on #145
Yep, it's just historic. Existing works perfectly, from what I can tell.

[2018-08-21 20:41] Albonicomt commented on #145
hmm... ya I am having the same problem when I try and apply the symbology to a new layer, but the existing veg works fine. Let try something... just a sec

[2018-08-21 21:31] Albonicomt commented on #145
This is a strange... The symbology for the Historic Vegetation works as long as you use the same area, the Popo Agie watershed, from the Layer Package. The symbologies for the Historic Vegetation do not completely work when you apply them to a different area...

From what I can tell, when you import a BPS raster into arc, the default symbology displays as two Zones:
![zone_bps](https://user-images

[2018-08-21 21:33] banderson1618 commented on #145
That looks like what I'm seeing as well, yes. Oddly enough, my zones are labeled as "9" and "18", rather than "10" and "18", but other than that, it looks pretty much the same.

[2018-08-22 16:33] banderson1618 commented on #145
@Albonicomt, I may have found one component of the problem.

Here is a random historic veg dataset that I put in Arc and applied symbology to:
![historicvegproblem](https://user-images.githubusercontent.com/21353496/44476471-0f79a100-a5f5-11e8-9889-433cf9423f31.PNG)

However, here's the same dataset after I set the color of "<all other values>" to be red:
![historicvegproblem](https://user-images.

[2018-08-22 16:44] banderson1618 commented on #145
Well, I've unconvinced myself of my own theory. There's no values to add when I try to. Removing and re-adding doesn't seem to help.

Also, I'm getting this problem in a dataset that doesn't have a "ZONE" attribute. So that's another connection that doesn't make as much sense as I'd hoped it would.

[2018-08-22 16:50] Albonicomt commented on #145
I have been looking for a Solution as well. I found that the symbology works when applied to BPS rasters that only have one Zone. When there are two Zones, the symbology gets messed up.

Another observation...

When I apply a .lyr file to the raster (for example the GroupVeg) the raster does not recognize a count for each of the categories within the field. Shown here:
![layer_props_applied](https

[2018-08-22 16:57] banderson1618 commented on #145
Hmmm.... I wonder, did the two "ZONE" attributes have different values for "ZONE"? Maybe it only works if zone is a certain value?

[2018-08-22 17:31] Albonicomt commented on #145
That is a good question... So I tried something...
in this image there are 5 watersheds. All those watersheds that are in Zone 6, display the Symbology from the lyr file corresponding to GROUPVEG. Those that are ZONE 12 do now display the symbology.
![zonesincali](https://user-images.githubusercontent.com/39168968/44479710-9a12ce00-a5fe-11e8-865f-36810c0be601.PNG)

There is some kind of pattern he

[2018-08-22 17:33] bangen commented on #145
@banderson1618 and @Albonicomt Per Joe's video we don't want to symbolize by 'ZONE'.  It's a pretty meaningless attribute. Try to follow what Joe had in his video.

[2018-08-22 17:40] banderson1618 commented on #145
@bangen, we aren't trying to symbolize by zone. However, applying symbology doesn't seem to be working like we would expect, and the ZONE attribute seems to be related somehow to what gets the symbology and what does not.

@Albonicomt, I've noticed that areas with "na" as their ZONE value seem to be symbolized most of the time. Mostly this is open water and barren rock. Just a side note.

I've tri

[2018-08-22 17:43] banderson1618 commented on #145
@Albonicomt, on the areas where the symbology shows up, does the Count attribute still show up as all 0s?

[2018-08-22 17:47] Albonicomt commented on #145
Yes, even the areas fully displaying the Symbology still show a count of 0 across the board.
![count_zones](https://user-images.githubusercontent.com/39168968/44480610-e4954a00-a600-11e8-90e8-6a2f2b2b8f3d.PNG)

[2018-08-22 17:50] banderson1618 commented on #145
Curious... For some reason, when I apply the VEG_CODE symbology, the count shows up just fine, but the symbology doesn't display anything. But when I apply the BPS_NAME or BPS symbology, the count is 0 as well. For some reason, Count doesn't seem to matter for whether or not it displays.

[2018-08-22 19:57] Albonicomt commented on #145
I am not sure what the pattern here is... @CHafen, you have a lot of experience using lyr files and assigning Symbologies to shapefiles and rasters. Do you have any thoughts on why we are having trouble with the above issue, concerning why the .lyr file does not fully apply symbology to the BPS raster?

[2018-08-22 20:19] banderson1618 commented on #134
I've made all of the simple changes that Joe asked for in these videos. There are some  By "simple", I mean changes that only required modifying the symbology of existing layers or adding new layers that symbolized attributes that are already being produced.

The changes that I have not made were the following:
- Broader changes to the management model. Joe's suggestions seemed more like "it would

[2018-08-22 20:28] wally-mac commented on #145
@Albonicomt , I suggest contacting Landfire support.  There are good about getting back to you.

[2018-08-22 20:32] wally-mac commented on #134
Nice work @banderson1618! I look forward to seeing what you have come up with.

[2018-08-22 20:34] wally-mac commented on #145
@Albonicomt, here is the contact info: custserv@usgs.gov

[2018-08-22 20:36] Albonicomt commented on #145
Thanks @wally-mac, I just shot them an email with the issue. I will share what suggestions they may have.

[2018-08-22 22:42] CHafen commented on #145
@Albonicomt I've never run into this issue before. I haven't worked with layer files for rasters very much. My first thought was as @banderson1618 said "It looks like the symbology that you created doesn't have the values for all of the BPS_NAME values that are in this raster. I'm not sure how to make sure that our symbology is comprehensive of every value that the historic dataset can contain." O

[2018-08-22 23:15] CHafen commented on #138
Hey @PenrodC  is there a shapefile for 2017 dams? I didn't see it with the files for the other years.

[2018-08-23 17:04] banderson1618 opened #146 "The Layer Package Generator should create layers that are missing when run"
It's currently a bit of a pain in the ass to run the LPG if you don't have everything set up properly. It makes it difficult to test and demo if you don't want to run every tool. As such, it would be convenient if the tool created the layers that were missing before creating the layer package. I like the idea of the program creating the layers as it goes through the program, because it makes it si

[2018-08-23 17:16] CHafen commented on #138
Thanks @PenrodC, is there data for 2017 dam locations and such just not compiled into one shapefile? If so, is compiling that data something you want @chadFHC  to work on @joewheaton ?

[2018-08-23 17:48] MattReimer opened #147 "Batch Processing Error: Value too large or too small for decimal."
I didn't investigate this one too much. I'll come back to it

Screen shot should be enough to repro

![screen shot 2018-08-23 at 10 47 08 am](https://user-images.githubusercontent.com/1063391/44542547-fd196900-a6c1-11e8-97bc-4182f309c479.png)

[2018-08-23 17:49] #147 closed

[2018-08-23 17:50] MattReimer commented on #147
Whoops. pasted this into the wrong window. Ignore please

[2018-08-23 18:18] MatthewMeier opened #148 "What are the cutoff values for the iHyd_SP2"
@joewheaton @bangen @banderson1618 I have been working on some deliveragbles for BRAT and looking over the data with @wally-mac. Consult the following [video...](https://youtu.be/UL2pLWv2Slk)
After the discussion that was lead between the two of us @wally-mac suggests that he would like to see that the Logan river have less capacity than what we are seeing the model predict. He describes a rare to

[2018-08-23 18:36] MatthewMeier opened #149 "Discussion on what differences were seen between a previous and current run of BRAT"
@bangen @banderson1618 @joewheaton @sshahverdian
@wally-mac wanted this to be on the discussion board about where we have come through the BRAT refining process and some differences that we are seeing between the statewide run of BRAT and a current run using BRAT version 3.0.17
The study area is Cache Valley Logan Utah [layer package](https://usu.box.com/s/1j063qzglecxu248kycdqpm0s0on7onc). Also h

[2018-08-23 18:42] MatthewMeier opened #150 "Cluster maximum size?"
@banderson1618
@wally-mac and I were wondering if you ever looked into creating a maximum cluster size for the Cluster id/braid handler soon to be named the mainstem/anabranch tool? The issue that @Albonicomt and I have seen is that the clusters are being created that encompass a mass area that is labor intensive to edit later on. If there is a way to create a maximum cluster size that would be he

[2018-08-23 19:00] banderson1618 commented on #150
I've thought about it, but there are some hurdles.

The primary problem is telling a computer where to split the cluster. As humans, we can recognize when a cluster is generally running north-south or east-west, but the program doesn't know intuitively. I can think of some methods to approximate that sort of intuition, but they'd get rough if the direction of the split ever switches (I can describ

[2018-08-23 19:17] bangen commented on #150
@banderson1618

I took a quick look at the FindBraidedNetwork code.  One potential way to handle the issue that Matt brought up is to calculate the area of the polygons after converting the polylines to 'donut' polygons.  If the area is larger than a certain size threshold then don't flag it as a cluster.  My only question/concern is in the case of multiple potential braids falling within the same

[2018-08-23 19:56] Albonicomt commented on #145
Right on, Thank you for the suggestion Chalese. Once LANDFIRE gets back to me I will try a few options.

[2018-08-23 21:35] PenrodC commented on #138
Here it is @CHafen [https://app.box.com/folder/45862453494](url)
Listed under 2017_dams. In the attribute table under column "2017" are the values 1-3. 1 = intact, 2 = breached, 3 = blown out.

[2018-08-23 22:32] CHafen commented on #138
Thanks @PenrodC

[2018-08-23 23:27] CHafen commented on #138
Draft figures 2 and 5. What do you think @joewheaton ?
![logan_littlebear_studyarea](https://user-images.githubusercontent.com/39837888/44556982-42a15a80-a6f1-11e8-9513-13081dfe9e07.png)
![logan_2009-2017_damstatus](https://user-images.githubusercontent.com/39837888/44556983-4503b480-a6f1-11e8-8435-19900bfe9b7e.png)

[2018-08-24 17:13] joewheaton opened #151 "Areas of 'Potential Undesirable Impacts from Beaver Dam Building' elaborated"
From #16

Difference between Potential Undesirable Impact and Realized Risk and Realized Impact
- If you have an actual beaver dam data capture event... these can go from potential (i.e. capacity to support dam building) to realized risk if beaver dams are there
- If you have an actual realized impact if you have a data capture event reporting impacts

### Undesirable Impact: Harvest of Trees:
Lin

[2018-08-24 20:20] bangen commented on #148
@MatthewMeier and @wally-mac

The current Q2 streampower MFs are:

[code]

So under the current model, a Q2 streampower of ~800 watts (the value you were showing in the video) alone wouldn't result in there being a lower capacity estimate.  In fact, we don't have a 'trump' rule whereby a high (or 'blowout') streampower value results in a capacity of 'none' or 'rare'.

Without more information it's

[2018-08-24 22:10] bangen commented on #134
@joewheaton

This comment is in reference to the `mCC_**_Ct `and `mCC_EX_PT` fields.  I added the `mCC_**_Ct ` fields to the Comb FIS tool so we're good on that front.  I do have some questions about the `mCC_EX_PT` field and am going to hold off on implementing that until I hear back from you.

My specific questions are:

- Why normalize the `mCC_EX_Ct /mCC_PT_Ct ` from a raw number to a 0 to 1 s

[2018-08-27 18:30] bangen opened #155 "Zonal Stats Issue"
@banderson1618 In running some QA/QC I discovered that zonal stats isn't always calculating the correct value.  I detail the issue in this video [here](https://youtu.be/jfiKcnnKFxc).  Could you please spend some time researching/testing a solution to this issue?  If it looks like it's going to take a really long time to come up with a solution let me know and we can re-assess how to tackle the iss

[2018-08-27 18:41] bangen opened #156 "BRAT Project Layer and Layer Package Generator Crashed Tool"
@banderson1618

Running the BRATProject tool from the 'layer_package_changes' branch was crashing ArcMap (no detailed error message thrown, the program straight crashes).  When I commented out the line to create input layers for 'Veg Type - BPS Class Name' it ran fine.  So something is up with that line of code:

[code]

After running through the entire BRAT model, I ran the 'Layer Package Generat

[2018-08-27 20:18] kbartelt commented on #136
@wally-mac I uploaded all of these data from the emails you sent to box [here.](https://usu.box.com/s/kddm79vs67ux7017thj0vr96wze5zno5) I also made a shapefile of the region 3 data (where these HUC8s are located) [here](https://usu.box.com/s/2622tc0ywfhmkjwl6s57s9xh4kz56qvb) to see how the IDFG data points from Cory line up with the provisional BRAT capacity outputs. I made a dam census app for th

[2018-08-27 20:50] banderson1618 commented on #156
The LPG is now set up to automatically generate any layers that are missing. I'd assume that the same bug that caused it to crash when making the layer in "Make Project" is also making it crash in the LPG.  I've commented out the equivalent code in the LPG and pushed to both the layer_package_changes branch and the new_conflict_model branch, so I'd recommend pulling from both of those.

I'll look

[2018-08-27 21:42] MatthewMeier opened #157 "NRCS Logan Utah Assignments"
Hi all,
I have spoken with @joewheaton about what are the deliverables for the Logan Workshop and there are some extents that he would like the data to be clipped to.  The outputs will be the normal outputs for the workshop(RVD,RCA, and BRAT) for both the [Middle Bear](https://usu.box.com/s/nr352wc7h0m0sq5fybxs0ab4o6xkjiud) and the [Little Bear Logan](https://usu.box.com/s/kazw9oqkiien9q7o6t440ott

[2018-08-27 22:32] CHafen commented on #157
Thanks @MatthewMeier I'll start working on these.
I haven't made the BRAT layer packages before so I may have some questions for @Albonicomt about how we usually do those. Is there a video or anything showing the protocol for making those?
Thanks

[2018-08-27 22:37] MatthewMeier commented on #157
@CHafen I would use the layer package that was created by the BRAT tool under that folder as a guide. However I would try clipping that layer package and see if it will do that. It does take a lot of time if you need to create it all manually so definitely lean on @Albonicomt  for advice and help. Feel free to ask any questions on here I have created some both manually and automated as well.

[2018-08-28 18:11] kbartelt commented on #136
@CoryMosby no problem, feel free to reach out with any questions.

[2018-08-28 19:12] MatthewMeier commented on #157
@wally-mac I just got done with the kmz files for the [Little Bear Logan](https://usu.box.com/s/0lnp3i49i2oh6y37wnpiegsly83mahh8) and the [Middle Bear](https://usu.box.com/s/6gv6yelai5hvo0y60le5m4nv6ca4rvak). @CHafen or @Albonicomt do you need a hand with anything?

[2018-08-28 19:17] CHafen commented on #157
Thanks @MatthewMeier
I'm still working on the summary product for the combined HUC 8s and haven't gotten to making layer packages for the HUC 12s. So, I could use some help making those layer packages.

[2018-08-28 19:19] MatthewMeier commented on #157
@CHafen I will work on the ones in the Little Bear Logan and upload them as I get them done. Specifically I will start on temple fork first.

[2018-08-28 19:34] CHafen commented on #157
Thanks @MatthewMeier and @Albonicomt
I think making the layer packages right now is most helpful. Once those are done I shouldn't have a problem making the summary products by the end of the week. Do you know if we want the atlas maps for this too, or just the BRAT outputs?

[2018-08-28 19:36] Albonicomt commented on #157
Alright sounds good @CHafen . I will start on the Threemile Creek lpk.

[2018-08-28 20:45] MatthewMeier commented on #157
@CHafen I would have to ask @joewheaton on the atlas part if he would like that or not for this project

[2018-08-28 21:38] banderson1618 commented on #155
I've watched the video you just put together. That's a frustrating bug, good work tracking it down. I don't think it matters so much for things like the conflict values, but it could matter more for things like the minimum and maximum elevations, which would affect our slope, possibly significantly. We could alleviate that by pulling data directly from the slope raster. We generate it already, jus

[2018-08-29 16:32] Albonicomt commented on #157
@MatthewMeier @sshahverdian and @joewheaton Do you guys also want a Layer Package for RCAT to be completed? Similar to the Upper Humbolt RCAT Layer Package? Example to RCAT LPK here: https://usu.box.com/s/447hy7pmv2i9np4cwc4yqs3tulixxsnu

[2018-08-29 16:34] wally-mac commented on #138
These are awesome maps! Nice work Chalese!  @Albonicomt, I think this is a good template for the Escante maps you are working on.

[2018-08-29 16:36] wally-mac commented on #157
I would say yes, unless Joe directs otherwise.

On Wed, Aug 29, 2018 at 10:34 AM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-29 16:37] MatthewMeier commented on #157
I have completed the Temple for [BRAT layer package](https://usu.box.com/s/hnut1w3vzjsax54n1noaxt88h3c5vka4) and will start on the RCAT for that one as well

[2018-08-29 16:52] bangen commented on #155
I'm adding @wally-mac to make sure he's aware of the issue and bring him in on the conversation.  I'm still not sure what the best solution is.

We're using different buffers to pull of different stats, so some of them are more likely affected than others:

- **Slope:** iGeo_Min and iGeo_Max - 30 m buffer at the reach start and end points
- **Drainage Area:** iGeo_DA - 100 m buffer at the reach mi

[2018-08-29 17:08] Albonicomt commented on #138
Nice! I will definitely keep these in mind when I put some of those maps together. Thanks!

[2018-08-29 17:16] bangen commented on #133
@joewheaton I've implemented those changes into the 'new_conflict_model' branch, but need to look over them with you and @wally-mac before we merge them into the master.

[2018-08-29 17:33] bangen opened #158 "Layer Package Changes: Order and Sub-Grouping"
@banderson1618

Just a few more changes I'd like you to make to the layer package in the 'new_conflict_model' branch.  Check out this video [here](https://youtu.be/FG2i2qLh5pk).  I put a [dataset on Box](https://usu.box.com/s/dmlj68l1l0wr3pudsib72gcnkdetltm9) that was run using the latest updates in the 'new_conflict_model' branch.  You can find the layer package in the Outputs folder.  Please use

[2018-08-29 17:34] bangen commented on #158
Cross-referencing Issue #134

[2018-08-29 17:40] wally-mac commented on #133
That's great news Sara, I can make myself available for a time that works for @joewheaton.

[2018-08-29 17:49] PenrodC commented on #138
I think they work fantastically. Thank you Chalese, they are much more effective than my originals!

[2018-08-29 17:57] wally-mac commented on #155
@banderson1618, I watched Sara's video and I think it's a good idea to try the idea that she brings up (zonal stats as a table and dictionary) if it ends up being too computationally expensive I suggest asking about this issue on GIS Stack Exchange https://gis.stackexchange.com/ to see if others have figured out a work around.

[2018-08-29 18:13] Albonicomt commented on #157
Threemile Creek BRAT LPK uploaded to box here:https://usu.box.com/s/vrsv6twlgfgjjhqpx9fdi22u05uu9d4r

[2018-08-29 19:44] banderson1618 commented on #155
@wally-mac, not to disparage my past self, but running Zonal Stats on each buffer individually is similar to what I did to get the data for the tools I built on my own (the Grain Size, Hydrologic Regime, and Tributary Impact tools), and those tools were incredibly slow. Those tools are as slow to run as they are because I created a buffer and extracted data for each reach individually. Those tools

[2018-08-29 21:09] banderson1618 commented on #158
@bangen, that workflow makes sense. I'll focus on this issue as my top priority, though I sadly don't have time today.

I was thinking we should merge the branch layer_package_changes into the master and publish a new release. Should we include these changes in that, or no? I'd appreciate your feedback on that.

[2018-08-29 22:36] MatthewMeier commented on #157
Temple fork RCAT LPK uploaded to box here [https://usu.box.com/s/hnut1w3vzjsax54n1noaxt88h3c5vka4](https://usu.box.com/s/hnut1w3vzjsax54n1noaxt88h3c5vka4 )

[2018-08-30 18:57] joewheaton commented on #133
So we're talking about, changing Scott's 'management model' to 'Beaver Dam Building Opportunities' - and having two layer outputs of this that break it into 'Unlikely Dam Building' and 'Possible Dam Building'. This differs from the capacity models alone, in that it combines existing, historic and land use intensity.

We're thinking about a new 'Provisional Management Overlay Generator' (altogether

[2018-08-30 19:52] CHafen commented on #157
Thanks @MatthewMeier and @Albonicomt  for getting those done. Either of you working on lpk files for Birch Creek and Station Creek?

I have the summary products done for the[ Middle Bear / Little Bear - Logan](https://usu.app.box.com/folder/52893481138)

[2018-08-30 20:31] banderson1618 commented on #158
This is a summary of everything I saw asked for in the video. Anything I missed?

- [ ] Change DEM header to "Elevation (m)"
- [ ] Change Flow Acc header to "Drainage Area (sq kms)"
- [ ] Up Hillshade Brightness
- [ ] Existing Veg over Historic Veg
- [ ] Order Intermediates in the following way:
  - Buffers
  - Topographic Index
  - Braid Handler
  - Hydrology
  - Veg Dam Capacity
  - Human Beaver

[2018-08-30 20:48] bangen commented on #158
@banderson1618

Let's hold off on merging those changes since there are some more tweaks we're going to make.  Also, please make sure you're making your edits on the conflict model branch and not the layer package branch.

That list looks correct.  I spoke with @wally-mac and @joewheaton earlier today. Some additional changes we'd like to see are:

- Changes inputs 'Conflict' folder name to 'Anthr

[2018-08-30 20:57] banderson1618 commented on #158
Why make the changes to the conflict model branch? These changes seem more suited for the layer package branch. I'm not sure that I follow your logic on that decision.

[2018-08-30 21:09] CHafen commented on #157
Temple Fork [figures](https://usu.app.box.com/folder/52893377536)

[2018-08-30 21:13] wally-mac commented on #157
These look great, Chalese.  Nice work!

On Thu, Aug 30, 2018 at 3:09 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-30 21:27] banderson1618 commented on #145
@Albonicomt, have you heard back from LANDFIRE yet?

Alternatively, have you looked into using the RED, GREEN, and BLUE columns to generate symbology colors? I wonder if that could be a workaround.

[2018-08-30 21:31] Albonicomt commented on #145
@banderson1618, the LANDFIRE rasters act very strangely when you assign different symbologies to them. I found that I have to reload a fresh LANDFIRE raster and manually assign the symbologies everytime. When I try to save the symbology I created and apply that symbology to a different watershed, the symbologies act strangely, and do know display. The data is still there, but for some reason it is

[2018-08-30 21:34] wally-mac commented on #145
I think this is good advise. Give it a try and please report what you find.

On Thu, Aug 30, 2018 at 3:31 PM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-30 21:39] sshahverdian commented on #157
@MatthewMeier @CHafen @Albonicomt
Could I ask for one two more figures? For the workbooks we create for these workshops we like to provide a couple of context maps - one of the valley bottoms conflict layers and one of land use. [Here](https://usu.app.box.com/folder/53018217125) is a link. If you don't have time, let me know and I can take care of it.

[2018-08-30 23:01] Albonicomt commented on #145
Looks like the suggested step from LANDFIRE has worked. I have passed along the layer files to @banderson1618. I have also included this Video to help with creating the Riparian field to the EVT and BPS layers in order to display the Existing and Historic Riparian symbologies. Link to video:https://youtu.be/i93SPkXcDRY

[2018-08-30 23:04] Albonicomt commented on #157
@sshahverdian , I can go ahead and create these extra figures tomorrow if needed.

[2018-08-30 23:06] sshahverdian commented on #157
@Albonicomt That'd be great. They don't need to be finished tomorrow. Ideally, by Tuesday mid-day would be perfect.

[2018-08-30 23:53] wally-mac commented on #145
That's great news.

On Thu, Aug 30, 2018 at 5:01 PM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-08-31 00:15] CHafen commented on #157
@MatthewMeier @Albonicomt
Is anyone working on the layer package files for Birch Creek and Station Creek.
I'm working on the summary products for Three Mile still and don't think I'll have time to make the lpk for Birch and Station.
Thanks Mic for doing the extra figures.

[2018-08-31 15:37] Albonicomt commented on #157
If @MatthewMeier doesn't have time, I can probably take care of them as well. Let me know.

[2018-08-31 15:43] Albonicomt commented on #157
@sshahverdian, For those two figures (1) Valley Bottom context with conflict layers and (2) LandUse Context. Do you want them for just Middle Bear and Little Bear or would you like them for all  the sub basins as well?

[2018-08-31 16:41] bangen commented on #145
@Albonicomt and @banderson1618

In the context of BRAT, we don't need to worry about the Riparian field for now.  The way I set up the symbology layer file it uses the relevant field (EVT - 'EVT_PHYS' and BPS - 'GROUPVEG') and symbolizes all Riparian as green and everything else as hollow.

That's great you guys figured out how to use the RGB fields in the attribute table.  My one questions/concer

[2018-08-31 17:16] CHafen commented on #157
I haven't heard anything from Matt so if you can do those @Albonicomt  that would be great.

[2018-08-31 17:42] MatthewMeier commented on #157
@CHafen I have some other things to work on today but would have some time to do one or two things if you need it but it sounds like @Albonicomt has it under control.

[2018-08-31 18:56] sshahverdian commented on #157
@Albonicomt All basins would be great. Since these are sites we visit often, we'll be needing them sooner or later, and it'd be great to have them for the workshop. Let me know if you need help. Thanks all.

[2018-08-31 19:35] #146 closed

[2018-08-31 20:01] Albonicomt commented on #157
@CHafen Here is the Lpk for the Birch Creek-Station Creek huc 12s. https://usu.box.com/s/c1276aw2ioi5dv1mlnxnlgugudoy8t0j

@sshahverdian I will continue working on these maps. I have started the Little Bear and Middle bear. I can get to the other sub basins as well but I may not finish those today. If you need them all done by today I may need some help. Otherwise, I can have some more products fo

[2018-08-31 21:13] banderson1618 commented on #158
@bangen, I've completed the tasks that have been checked off. I didn't get a chance to get into the layer package ordering changes. I'll plan on getting on those on Monday.

[2018-08-31 22:15] CHafen commented on #157
Thanks Mic

[2018-09-04 17:14] MatthewMeier commented on #157
@CHafen @Albonicomt
Just wrapping up the tasks that are on our end. Is there anything else with summary products that needs to be done for the workshop that you might need help with?

[2018-09-04 17:28] CHafen commented on #157
I finished the [Birch Creek/Station Creek](https://usu.app.box.com/folder/52893481138) figures. So I think that should be all the summary products.
@Albonicomt do you need any help with the context maps you're working on?

[2018-09-04 17:28] Albonicomt commented on #157
@MatthewMeier, thanks for checking in. I should be good at the moment, thanks!

[2018-09-04 17:42] MatthewMeier commented on #157
@CHafen @Albonicomt
@sshahverdian was looking over the data and it seems as though all of the summary products are in a general gegraphic coordinate system and not in the UTM zone 12N. The source of this were that the extents that we clipped the data to were in GCS_North_American_1983 and not UTM12N. This is not an issue for anything past the the extents. However this does mean that the summary pr

[2018-09-04 17:53] CHafen commented on #157
@MatthewMeier I usually catch that when I make the figures, but didn't check it this time I guess. I don't think I'll have to redo the charts so it shouldn't take too long. I'd guess about 2 hours, so I should be able to get them done today.

[2018-09-04 18:10] sshahverdian commented on #157
@MatthewMeier @CHafen @Albonicomt
Thanks folks. I'm going to drop one request in your laps. For the Middle Bear and Little Bear - Logan can you make a figure that shows the existing and historic riparian extents?
![existing_hist_riparian example](https://user-images.githubusercontent.com/21205131/45049337-8eca9400-b03b-11e8-8722-43b11366c793.png)

[2018-09-04 18:11] MatthewMeier commented on #157
@CHafen I have uploaded the new lpk for [Birch/Station](https://usu.box.com/s/c1276aw2ioi5dv1mlnxnlgugudoy8t0j) and [Threemile](https://usu.box.com/s/vrsv6twlgfgjjhqpx9fdi22u05uu9d4r) with their projected extents [Birch/Station](https://usu.box.com/s/fyunrrzhrof6jmgrka7rwv2kv0a8r4y0) and [Threemile](https://usu.box.com/s/62k2lcqy17z3kmsrt4c0845z2szo0cme) in UTM12N. Let me know if you need anything

[2018-09-04 18:19] wally-mac commented on #133
@bangen, I came away with the same interpretation as you did "only 'Unlikely Beaver Dam Building Opportunities' if the 'EX' is 'None'.  @sshahverdian and @joewheaton is our assumption correct? Also, what do you think of Sara's concerns that " 'PT' could be higher and I don't think we should discourage people from working in these areas. Second, the naturally limited areas (vegetation limited, slop

[2018-09-04 18:29] wally-mac commented on #133
@bangen I just read through your entire post and my notes and I think your takehomes are correct.  @joewheaton and @sshahverdian can you please take a few minutes and weigh-in and address Sara's questions above?  **Note: Sara only has a few weeks before she takes her maternity leave and she wants/needs to have all the TNC basins run before then.**  Thanks!

[2018-09-04 19:05] Albonicomt commented on #157
@sshahverdian, I will go ahead and add this to my list. Shouldn't be too much more to add since I already have the layout for it.

[2018-09-04 19:07] CHafen commented on #157
New Threemile maps are up on Box
Thanks @Albonicomt

[2018-09-04 19:32] sshahverdian commented on #157
@CHafen @MatthewMeier @Albonicomt
On second thought - since these figures are all part of a workbook that is going to be published the changes mentioned above are essential. If you have questions/need help let me know. Thanks.

[2018-09-04 19:43] #156 closed

[2018-09-04 19:46] CHafen commented on #157
Thanks @sshahverdian I realized I needed to make the first 2 changes you mentioned on Friday, but didn't write it down and so forgot over the weekend. I'll get those changes made.
As for the 3rd issue, I think this may a problem with RCAT. I probably should have made an issue for this before because I've noticed it with other watersheds as well. I think we may be losing some of the stream when we

[2018-09-04 19:48] CHafen commented on #157
Birch Creek and Station Creek also don't have the same stream length for RCAT and BRAT.

[2018-09-04 19:50] CHafen commented on #157
And looking closer at the figures there are parts of the stream that are showing up in the BRAT outputs that are missing in the RCAT outputs.

[2018-09-04 19:52] CHafen commented on #157
![capture](https://user-images.githubusercontent.com/39837888/45054295-69d91f80-b041-11e8-89cc-ddf844ba3ec4.PNG)
![capture2](https://user-images.githubusercontent.com/39837888/45054300-6ba2e300-b041-11e8-8fa8-a3bec4b20efe.PNG)

[2018-09-04 19:56] sshahverdian commented on #157
@CHafen @Albonicomt @MatthewMeier  Thanks for that illustration - this makes sense now. BRAT incorporates canals wheras RCAT doesn't. (@CHafen it looks like the area you circled are canals - or else very very straight streams). In other words, the total stream length should be different for BRAT and RCAT - BRAT should be a bit longer. Lets keep what we have. We can discuss if we want to re-label a

[2018-09-04 20:07] bangen commented on #145
@banderson1618

I'm re-opening this issue because it hasn't been resolved.  Check out this video [here](https://youtu.be/IHsIphHudqs).  Please look into a fix asap.  Thanks!

[2018-09-04 20:17] banderson1618 commented on #145
Man, this is just the issue that keeps on giving, isn't it?

@bangen, can you link the dataset that was giving you problems? @Albonicomt and I will see what we can do, though he's probably more qualified that I am to find a solution. If we find anything, we'll post on here.

[2018-09-04 20:48] bangen commented on #145
@banderson1618

IMO, this is something we have to handle from a coding perspective.  You can test using the Truckee basin in the TNC project.

[2018-09-04 20:48] MatthewMeier commented on #157
@sshahverdian I am glad that I didn't screw that up I was worrying for a second. @CHafen thanks for digging into that.

[2018-09-04 21:35] banderson1618 commented on #145
@bangen, this isn't really a problem with the code end of things. I used the Truckee data at the link [here](https://usu.app.box.com/folder/49411793728), and I ran into the same symbology problems when I manually applied symbology to the vegetation rasters. Because the problem exists independent of my code, we can conclude that the problem is in some mismatch between the layer that holds the symbo

[2018-09-04 21:39] bangen commented on #145
@banderson1618, when I said coding issue what I meant is that we need to figure out how to symbolize just the class names that are in the evt/bps raster for the specific basin.  Applying a symbology layer file created from a different basin doesn't work because the list of class names isn't exhaustive.

[2018-09-04 21:41] banderson1618 commented on #145
For the Existing Veg, only the symbology for the field "ClassName" seems to have failed to be imported. For the Historic Veg, "BPS_Name" seems to have failed to import properly. I'm seeing the same problem where all Count values are 0 when symbology importing fails.

[2018-09-04 21:50] banderson1618 commented on #145
@bangen, I see what you mean now, my bad. My initial research into using the RGB values stored in the arrays only showed me things for ArgGIS Pro. I can keep looking into it, though.

[2018-09-04 22:04] Albonicomt commented on #157
@sshahverdian , here are all the context layers(Ex_riparian, Hist_Riparian, Roads-rails-canals-VB(Conflictlayers), and Landuse)

LittleBear, Threemile, and Templefork: https://usu.box.com/s/ygnqf3j9dghusghr4z1i7jc4oz9csi27

MiddleBear, Birchcreek/Stationcreek: https://usu.box.com/s/yfhgf2wzr2dcd1ptipdpvs10rgsesqsq

[2018-09-04 23:03] banderson1618 commented on #158
For some reason, I couldn't put buffers on top. It just would not go. I think it must have something to do with it being a polygon layer instead of a polyline. Regardless, everything else is in order, so I'm checking it off.

[2018-09-05 18:00] Albonicomt commented on #157
@MatthewMeier, Here are the Birchcreek/StationCreek RCAT lpks and the Middle Bear RCAT lpk. https://usu.box.com/s/v1b0wfgfn7n2oysfqi9l8q2badv7anz6

[2018-09-05 18:41] MatthewMeier commented on #157
@Albonicomt and myself have been working on the last RCAT layer packages and the ones that I completed for [ThreeMile Creek](https://usu.box.com/s/8lunhlug0m7cm8e01735d4cy90pg6cvh) and [Little Bear Logan](https://usu.box.com/s/3fkk4jotje2bon9374prrord4b40c7cp) can be found on box.
@CHafen I looked at some of the maps with @sshahverdian and we were noticing some typos with the Beaver Management zon

[2018-09-05 18:44] wally-mac commented on #157
Good catches Matt. Chalese can you take care of these?

Thanks

On Wed, Sep 5, 2018 at 12:42 PM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-09-05 18:48] CHafen commented on #157
Yes, I was planning on making the changes Scott caught yesterday but wasn't able to get to it, so I will make those changes today and spell check all the maps to make sure there aren't any other typos

[2018-09-05 18:50] wally-mac commented on #157
Excellent!  Thanks!

On Wed, Sep 5, 2018 at 12:48 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-09-05 20:37] CHafen commented on #157
Ok, I have updated all the summary products and they are up on Box. Let me know if you catch anything else that needs to be fixed, but I think you're good now.

[2018-09-05 20:39] wally-mac commented on #157
Excellent! Thanks Chalese!

On Wed, Sep 5, 2018 at 2:37 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-09-05 20:48] MatthewMeier commented on #157
@CHafen the summary products look fantastic! Thank you and @Albonicomt for all of your help with this, I feel like it turned out well. @sshahverdian @joewheaton @wally-mac Let us know if you need anything else from us for this project.  If there is nothing else I will close this issue.

[2018-09-05 20:53] bangen commented on #158
@banderson1618

I pulled the latest changes from the conflict branch.  I'm not seeing all the changes referenced in my post from 6 days ago (I'm appending them below).  Can you give me a time estimate for finishing these?

Let's hold off on merging those changes since there are some more tweaks we're going to make. Also, please make sure you're making your edits on the conflict model branch and no

[2018-09-05 21:09] banderson1618 commented on #158
I've been working on the checklist I put together first. Hopefully I'll be done with all the changes except for the capacity rework by next week. The capacity rework is the most significant of all of them, so I'm probably going to save it for last.

[2018-09-05 23:44] bangen commented on #145
@banderson1618 ArcMap keeps crashing on the BRAT Project tool for the Scott River (TNC project basin).  It appears to be the EVT ClassName lyr file.

[2018-09-06 16:37] banderson1618 commented on #145
Does the layer already exist on disk? If so, that makes a certain amount of sense.

[2018-09-06 18:06] bangen commented on #145
@banderson1618 what do you mean by 'on disk'?  The layer file was in the Symbology folder.  However, it crashed when running the BRAT Project tool so they layer file specific to that basin hadn't been created in the project folder yet.

[2018-09-06 19:30] banderson1618 commented on #145
That's... odd. What data are you using? Is it just the data at this link [here](https://usu.app.box.com/folder/51112601497)? And just to clarify, the problem was Arc crashing, not just the tool?

[2018-09-06 19:40] banderson1618 opened #159 "pyBRAT needs to put functions used in multiple files (like makeLayer()) in just one spot"
Right now, there are functions used all over pyBRAT that have been copy and pasted across the files. While re-using code is good, it means that small updates and bug fixes have been applied incompletely, as issues come up. A good example is the makeLayer() function, which has been implemented in almost every tool in BRAT, and has been slightly tweaked, so that almost every implementation is a litt

[2018-09-06 20:45] banderson1618 commented on #145
I've narrowed it down to a problem with the line where it applies symbology (link [here](https://github.com/Riverscapes/pyBRAT/blob/3dcdcd8f063f0a1355c81abb0183fe080a194b9b/BRATProject.py#L218). Not sure why that's the problem. I'm going to see if manually applying symbology has the same problem, and then see if I can get around it with a try catch block.

[2018-09-06 21:35] banderson1618 commented on #145
So try catch blocks aren't doing anything... I've been looking at the input, trying to see if there's a discrepancy between the input and the symbology file, and I haven't found anything... I'm going to try to see if this is a versioning problem.

[2018-09-06 22:40] banderson1618 commented on #145
ArcGIS 10.5.1 has this problem. ArcGIS 10.4 doesn't recognize layer files made in 10.6, so it couldn't apply symbology regardless.

I'm really struggling to come up with a way to get around this. There's only two arguments to the function. The fact that the program crashes means we can't get around it with try except blocks, which means no working around it that way.

At this point, I think I'll p

[2018-09-07 14:06] CoryMosby commented on #136
Hey @kbartelt,

How’s the process going on the model runs for the HUCs I sent you all awhile ago.  We are a month from the funding deadline we were hoping to use the information for.

Thanks,

Cory

From: kbartelt <notifications@github.com>
Sent: Tuesday, August 28, 2018 12:12 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply

[2018-09-07 15:08] wally-mac commented on #136
Hey @CoryMosby,

Thank you for reaching out. @kbartelt and I interrogated the initial BRAT model runs earlier this week and found acceptable results except on mainsteam rivers.  @bangen and I meet yesterday to come up with a method to better enforce Q2 (two-year flood) stream power to limit dam building capacity.  We'll work hard to get a new model run in time for your deadline.  What is the deadl

[2018-09-07 15:13] CoryMosby commented on #136
The deadline for the application is a month away, but we need those outputs sooner so we can try and draft up a proposal.

From: William Wallace Macfarlane <notifications@github.com>
Sent: Friday, September 7, 2018 9:08 AM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] Owyhee Wate

[2018-09-07 15:18] wally-mac commented on #136
Okay @bangen and I will get cranking on it. Thanks

[2018-09-07 15:40] wally-mac commented on #149
@bangen here is the box [Link](https://usu.box.com/s/kazw9oqkiien9q7o6t440ottlxhhbim2) to Matt's Logan-little Bear BRAT data.  Here is the box [Link](https://usu.box.com/s/epvi4xdavvwutuhrj27xhl9dph363avn) to Karen's Bruneau watershed BRAT Run. As a reminder we want to explore the Q2 stream power it appears to me that the existing capacity outputs are estimating much more capacity on the mainstem

[2018-09-07 17:34] CHafen commented on #138
Thanks @wally-mac
@Albonicomt if you have any questions on how I made these let me know
@PenrodC I'm having some trouble figuring out what shapefile to use for figure 7 (2014 dams comparing NAIP and Google imagery) could you point me to the correct shapefile for that?

[2018-09-07 19:11] banderson1618 commented on #145
@joewheaton, if you have any ideas, we'd love to hear them. @wally-mac suggested I let you know about this problem.

[2018-09-09 17:10] PenrodC commented on #138
@CHafen I'll be back home in a couple days, I'll try to track it down for you then.

[2018-09-10 19:18] joewheaton commented on #133
@bangen thanks for all this... To keep this more readable. I'm going to just address this in pieces (working here with @wally-mac):

You wrote:

Not exactly the point I was trying to make. I was trying to say that:

- I want a new 'Unlikely Beaver Dam Building Opportunities' layer that comes from a combination of the logic in Scott's 'new' model and our 'old' one. The reason for splitting into its

[2018-09-10 19:37] joewheaton opened #160 "Changes to Current Naming Conventions for Management Outputs"
@bangen this comes from your #133 and specifically:

## Changes to Current Naming Conventions:

Almost... this is actually taking Scott's 'Provisional Mgt' layer, and splitting it into two like I did in video.
In fact, these may all be the same shapefile, but what we're talking about here is the layer packages and the layer groups. So I don't want a 'layer' anymore for provisional management. I wa

[2018-09-10 19:43] joewheaton commented on #160
Also, just to clarify, when I say 'split' this layer into two, we're talking about same network, same shapefile, same geometry all in re-displaying the layer based on the 'oPBRC` field. As you'll see in video and my maps, that means that actually for both cases, we display the whole network.

- For the ' Unlikely  Dam Building' that means we show colors like red and orange for the nuiances Scott d

[2018-09-10 21:42] joewheaton opened #161 "Unlikely Dam Building - Areas for Mgmt Outputs"
@bangen here I am responding still to #133, but see also #160.

Fine... you do what you need to...

## By Unlikely Dam Building Categories
Three categories from Scott's model:
1. Naturally Unsuitable: Hydrologically or Slope Limited
2. Naturally Unsuitable: Vegetation Limited
3. Unsuitable: Anthropogenically Limited
And there is the fourth, that is everything else... i.e. `oCC_EX > 0`

### Natural

[2018-09-10 21:46] joewheaton commented on #161
@sshahverdian agreed with this new anthropogenically limited logic and ditching LUI, but said it would be a good verification/validation to see what LUIs are in those areas.

[2018-09-11 16:44] PenrodC commented on #138
Here you go @CHafen

[https://app.box.com/folder/45862478876](url)
Shapefile is 2014_NAIP_Google_comp.

Again, thank you for the amazing work you've put in to these figures.

[2018-09-11 16:45] PenrodC commented on #138
Just in case the link doesn't work again, it is under Mapped_Beaver_Dams -> Status_Change_Analysis.

[2018-09-11 17:39] CHafen commented on #138
Thanks @PenrodC . Also, I'm not sure what data to use for the 2016 comparison. I thought it would be the 2016_dam_figure shapefile in the same folder, but it looks like that file doesn't have all the watersheds.

[2018-09-11 19:29] bangen commented on #161
@joewheaton  and @wally-mac I'm trying to finish up Joe's changes so I can run a few basins.  I need the logic for the 'Potential Beaver Dam Building Opportunities' layer.  @joewheaton noted above that he was going to make separate ticket for these, but I'm not seeing it anywhere.

[2018-09-11 19:55] PenrodC commented on #138
If you go to Maps @CHafen  -> it's NAIP_Field_Comparison

[2018-09-11 22:15] banderson1618 commented on #158
@bangen

I've implemented all of the things you requested except for the following one:

I'm not sure how you're envisioning this. Should we filter by FCODE? If so, what FCODEs should we accept/reject?

Also note that we'll have to change the source dataset. The cleanest option that I can think of would be to copy the source network, create layers based on that, package them, and then delete every

[2018-09-12 04:57] wally-mac commented on #160
@bangen, is this the post you were looking for?

[2018-09-12 15:21] MatthewMeier opened #162 ""Land ownership Dataset""
@bangen I am running through the BRAT tool and came accross while creating the BRAT table. @banderson1618 didn't know what this layer was and I am unsure of its meaning/contribution is myself. Is this a clipping layer for summary products or an input into a model output that I need to have? I looked up on the BRAT website and the documentation was not there. Let me know asap what this layer is.
Th

[2018-09-12 16:50] CHafen commented on #138
Thanks @PenrodC I found the map. I can't find the shapefiles for "NAIP" and "Field" though.

[2018-09-12 18:23] #162 closed, assigned to nobody

[2018-09-12 18:35] bangen commented on #158
No, bc a) we don't carry the FCODE over due to how we segment the network, and b) not all users will have a network with a FCODE field.  I was envisioning the user providing a shapefile representing a subset of the network.  For us, this is the perennial network shapefile techs have delineated.  From there it's just a matter of selecting by location or clipping the layers to the subsetted network.

[2018-09-12 18:45] banderson1618 commented on #158
What I mean is, because the layer gets all its data from its source, we'll have to change the source of the layer if we want to filter out certain streams. For example, because the AnabranchHandler uses BRAT_Table_Output.shp as its source, we'll need to alter BRAT_Table_Output.shp before we package the layer. If we care about preserving BRAT_Table_Output.shp in its original form, we'll have to mak

[2018-09-12 19:51] bangen commented on #158
That's one route.  Another option is to just clip the lyr files themselves to the subsetted network.  I'm pretty sure Arc will force you to save this as a feature class, but then just convert it to a lyr file and apply the same symbology as the un-clipped layer.

[2018-09-12 20:29] banderson1618 commented on #158
I'm pretty sure that would be more expensive, computationally. I think creating shape files is more expensive than creating layers.

[2018-09-12 20:31] bangen commented on #160
@wally-mac that's not the post I'm looking for.  What I need from @joewheaton is the specifics for all the other management categories (i.e., the dam building possible categories).  Now that the 'unlikely dam building' logic has changed that has repercussions for the other mgmt categories.

[2018-09-12 20:33] bangen commented on #158
@banderson1618 however you want to tackle it is fine.  The most important thing is that it's tested and works as intended.

[2018-09-13 20:49] banderson1618 opened #163 "It'd be nice if pyBRAT had a standardized code style"
pyBRAT code switches between camelCase and snake_case a lot in its variable names. It was written by a lot of people, over a long period of time, with many different views on code style, so it makes sense, but it could be improved.

I suggest that all pyBRAT code follow the following naming conventions
- Variable names use snake case
  - For example, `input_network` would be a valid variable name

[2018-09-14 17:14] CHafen commented on #138
I've posted completed figures to Box [here](https://usu.app.box.com/file/317436456267)

[2018-09-14 23:08] PenrodC commented on #138
Apologies @CHafen , I named them generally for the map but they retained their individual names within the files. NAIP is 2016_Dams_point found under the header Mapped Dams. Each of the "field" shape files will be found under the "konrad" header (as he collected the data). Rock_creek_field, Temple_field, and East_Fork_Little_bear_field.

[2018-09-17 19:24] banderson1618 opened #165 "Procuring some Riverscapes compliant BRAT projects"
Philip Bailey recently asked @wally-mac to provide 1-3 Riverscapes compliant BRAT projects. The full email is below, but the requirements are fairly simple: they need to be Riverscapes compatible, and they should be somewhat diverse.

Wally and I just met, and what came to mind for us was the Truckee, from the Sierra Nevada project, and Big Wood, from the Idaho project. However, we figured that @b

[2018-09-17 19:36] banderson1618 commented on #165
Wally sent me the link [here](https://usu.app.box.com/s/u22u9nkc1zf4e6c1nn1bcxlhsjy1k15x) as a good possible source for projects. It's the projects from the recent NRCS conference. I'm posting it here so it's available for everyone.

[2018-09-20 17:32] CHafen commented on #138
Hey @PenrodC . I found the data and everything looks good, except the field data for Rock Creek. What I found doesn't match your figure (see attached image- yellow being NAIP, green being field). The shapefile I found for dams surveyed in the field has way more dams than are shown in the figure you made. Not sure why this one doesn't seem to match and Temple Fork and East Fork Little Bear look lik

[2018-09-20 19:22] bangen opened #166 "BRAT Table Make Layer Crashing"
@banderson1618

I've been batch running the TNC basins through the BRAT Table tool.  There's been some inconsistent behavior in the makeLayers function for the distance to roads/rails/canals layers.  Some of the basins ran totally fine (i.e., the layers were created) while an error was thrown (see below) for others.  To batch run without having to babysit the script I added a try except for the ma

[2018-09-20 20:19] banderson1618 opened #167 "The Layer Package Generator should be able to clip layers to an extent chosen by the user"
This was previously asked for in Issue #158, but I felt it deserves its own issue, since it's getting its own branch. This is where I'll be numbering commits that develop this feature.

[2018-09-23 22:37] PenrodC commented on #138
@CHafen it's an artifact of an earlier version. The data you worked off of should be more accurate for the current narrative.

[2018-09-24 17:31] joewheaton opened #169 "Add Focus Areas"
Describe what needs to be done.
This comes out of the #123 discussion.

We are not going to do this for now, but have scoped it.

[2018-09-24 17:32] #123 closed

[2018-09-24 17:35] CHafen commented on #138
So Konrad was looking at this figure (figure 8) and was wondering where @PenrodC  got the data. He says they didn't collect any field data for East Fork Little Bear and that it looks like all the dams that we're calling "field" in this figure are from Google Earth imagery. He sent me a shapefile for the dams they surveyed in the field for the Logan-Little Bear HUC 8. It shows dams in Rock Creek an

[2018-09-24 17:37] joewheaton commented on #163
Great idea @banderson1618. You are rewarded for this by simply needing to make a new GitHub page in the documentation on the website for what the standard for our coders should be. Don't worry too much about where to put this. Just make a new *.md page, and @wally-mac and I can organize the help.

[2018-09-24 17:38] PenrodC commented on #138
I pulled them all off of the iPad in the lab. Are the dams for Rock Creek and Temple the same as in the folder?

[2018-09-24 17:38] joewheaton commented on #159
@bangen thinks you addressed this in above commits. So we're closing.

[2018-09-24 17:38] #159 closed

[2018-09-24 17:40] CHafen commented on #138
No, there are more dams for both Temple and Rock Creek in the file Konrad sent me than in the folder I got from you.

[2018-09-24 17:49] joewheaton commented on #144
@angelayragui this one has been quiet for a while. Before we assign it, can you give is an update if this is still an issue for you? If not, I will close it down. If so, we'll see if anyone can help...

[2018-09-24 17:54] PenrodC commented on #138
Well I still think we should keep three sub basins for the comparison. Does Konrad remember what other sites were surveyed in the field in addition to Temple and Rock? I was under the erroneous impression that everything in that file was collected in the field. How many dams short are Temple and Rock? The "artifact" I mentioned earlier was when I initially was looking for false positives and negat

[2018-09-24 17:57] joewheaton commented on #124
I'm closing this for now. We do need to revisit all of these NRCS runs to repackage, but we will do those as new Analysis tickets assigned to specific people.

[2018-09-24 17:57] #124 closed

[2018-09-24 17:59] joewheaton commented on #98
@wally-mac just try and shut this down, but run through it and see if any of things can be referred to existing tickets or should be split out into other tickets.

[2018-09-24 18:01] joewheaton commented on #90
This looks dead.... IF anybody disagrees: Please parse out into new issues if needed.

[2018-09-24 18:01] #90 closed

[2018-09-24 18:02] joewheaton commented on #86
@banderson1618 this seemed really version specific? Can you make sure by 3.2 we get this either:
a) fixed; or
b) CLEAR documentation page (e.g. in a Known Bugs section)  that links back to this issue.

[2018-09-24 18:05] joewheaton commented on #81
That's fine... Instead of this being the 'documentation', lets start a known-bugs page on the website for things we  can provide guidance as to work around and then refer back to these issues.

[2018-09-24 18:06] joewheaton commented on #73
@wally-mac lets find an appropriate milestone for this. @chadFHC this is going to be on your plate. More to follow on guideance...

[2018-09-24 18:07] #56 closed

[2018-09-24 18:10] joewheaton commented on #165
@wally-mac says this has been sent to @philipbaileynar. @philipbaileynar do you have what you need?

[2018-09-24 18:12] #88 closed

[2018-09-24 18:12] #68 closed

[2018-09-24 18:14] joewheaton commented on #55
This has been implemented but needs to be documented and tested.

[2018-09-24 18:14] #55 closed

[2018-09-24 18:15] joewheaton opened #170 "Land Ownership Documentation"
In #55 we have some new functionality. This needs to be added to documentation website with some simple video tutorial(s) and examples. The process of doing this will provide a test too.

[2018-09-24 18:16] #110 closed

[2018-09-24 18:18] joewheaton commented on #104
Where we at on this @wally-mac and @chadFHC. If we need more specific requests, lets close this and do it.

[2018-09-24 18:19] CHafen commented on #138
The data I got from Konrad is on Box [here](https://usu.app.box.com/folder/26688961768). All the dams in this file were collected in the field. There are several other watersheds.
Below is a picture of the difference in # of dams from the data I got from you (in green) and from the data I got from Konrad (black)
![capture](https://user-images.githubusercontent.com/39837888/45970549-b0d88600-bfeb-1

[2018-09-24 18:30] Albonicomt commented on #170
@joewheaton Sounds good. Is there a specific huc8 you would like me to run and document the most updated version of BRAT on?

[2018-09-24 18:39] wally-mac commented on #165
Let’s rephrase this @philipbaileynar. Please use the link Braden provided above for your requeasted BRAT data. Thanks!

[2018-09-24 19:43] #166 closed

[2018-09-24 21:12] philipbaileynar commented on #165
Quick update to say that I have successfully accessed the BRAT projects. Thank you all.

[2018-09-24 21:19] banderson1618 commented on #167
@bangen, I've been working on this issue. I can clip the source file, but I haven't found a good method for setting the source of the layer files. I've tried to use Layer.replaceDataSource(), but it gives me broken layers in the layer package. I've also tried to use the tool documented [here](http://desktop.arcgis.com/en/arcmap/latest/tools/defense-mapping-toolbox/set-data-source.htm), but I don't

[2018-09-25 14:42] wally-mac commented on #165
@philipbaileynar [here](https://usu.box.com/s/u22u9nkc1zf4e6c1nn1bcxlhsjy1k15x) is the link.

[2018-09-25 15:05] philipbaileynar commented on #165
Thanks @wally-mac. I have successfully downloaded some projects. I also got a really good layer package for Nevada that will be extremely helpful for me to develop the layer symbology.

[2018-09-25 15:44] philipbaileynar opened #171 "Invalid Project XML File Paths"
Every BRAT project XML file that I've looked at has lots of invalid file paths. Here's just example that I got from the Nevada project in Box at `NRCS_2018_Workshops\wrk_Data\Nevada\GIS`. Is this a real problem with the BRAT script that generates these project files, or are these simply disposable workshop files that were never intended to be used?

![2018-09-25_084027](https://user-images.githubu

[2018-09-25 15:52] joewheaton opened #172 "BRAT capacity seems low for Western Montana?"
Just putting a question here from Claudine who is running BRAT for Montana. Its a good question and may benefit other users....

![image002](https://user-images.githubusercontent.com/9723905/46026467-a16b4280-c0a8-11e8-8108-acb91a402a88.jpg)

[2018-09-25 15:53] joewheaton commented on #172
@wally-mac replied:

[2018-09-25 16:01] joewheaton commented on #172
Hi Claudine,
Good to see you're getting BRAT run for Montana. I think Wally and your synopsis is likely correct. One easy way to look at this is take a look at the `oVC_EX`  output (i.e. just the vegetation based capacity) in comparison to your `oCC_EX`, which shows the combined capacity (i.e. limiting based on hydrology). Note see [this table](http://brat.riverscapes.xyz/Documentation/Tutorials/W

[2018-09-25 18:09] wally-mac commented on #136
Hey @CoryMosby, we now have acceptable outputs. @Albonicomt (Mic) is working the final step: clipping the layer packages to the perennial stream layer. He is doing this for each of the 5 watersheds. He should have this completed by late tomorrow 9/26/18.  He'll post links to the layers packages here.  Thanks.

[2018-09-25 18:10] CoryMosby commented on #136
Aweome, Thanks!

From: William Wallace Macfarlane <notifications@github.com>
Sent: Tuesday, September 25, 2018 12:10 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] Owyhee Watershed - Idaho BRAT run (#136)

Hey @CoryMosby<https://github.com/CoryMosby>, we now have acceptable out

[2018-09-25 18:39] banderson1618 commented on #171
@philipbaileynar, updating the scripts that create the XML files has been a back-burner priority for a while now, so it doesn't surprise me that they're going wrong somehow. This is probably a good time to make it a higher priority.

[2018-09-25 19:43] philipbaileynar commented on #171
Ok good to know. I am preparing a release of the RAVE Addin for arcgis for this Friday. It will essentially be useless until those file paths are fixed by either the project owners or the BRAT script owner.

[2018-09-25 19:52] banderson1618 commented on #171
I'll get on it, then.

[2018-09-25 21:27] ssuplick opened #173 "BRAT product layers' differences? (examples of how they could be used together?)"
Hello,

I was curious if there's a BRAT team member who'd be able to help me better understand the "human conflict" and "conservation and restoration" model layers in relation to "combined capacity" layer? I.e. whether the first is independent of the second, and perhaps broad examples of their different implications in past projects.

I looked at a few of the most recent GitHub threads on updating

[2018-09-25 21:30] ssuplick opened #174 "Lots of private property riparian areas - ideas/alternatives for rapid field surveys"
Hello again,

Briefly, do any members of the BRAT team have experience using orthophotos or aerial photogrammetry as a substitute for rapid field surveys for beaver dams? Or ideas for soundly validating or comparing BRAT results with on-the-ground realities? (In terms of being statistically rigorous - if that's deemed important.)

Much of the riparian area in my study area's watershed is private p

[2018-09-25 21:43] bangen commented on #163
@banderson1618 As long as you're going to the trouble, please use the [PEP8 style guide](https://www.python.org/dev/peps/pep-0008/).  From a quick search this is popping up as the 'preferred' Python style.

[2018-09-25 21:47] bangen commented on #135
Closing this issue for now.  Segmenting by roads is still an option in the BRAT table tool.  However, in the lab we won't be segmenting by roads unless it's specifically requested,

[2018-09-26 16:52] ctobalsk commented on #172
Thanks Sara!
for (2), I did use the same publication you posted the link to, to compute typical two-year flood.  For the West hydrologic region (for all regions actually), I used the equation for Q50 [in this case, Q50 = 0.131 A0.920 P2.24 (F + 1)-0.845], not the equation for Q2 [Q2 = 12.2 A0.818 P1.42 (F + 1)-0.896].
The legend for table 1.4 states “QAEP, peak-flow magnitude, in cubic feet per se

[2018-09-26 18:41] Albonicomt commented on #136
@CoryMosby and @wally-mac  Here are 2 of the 5 links to the uploaded layer packages. All the data is complete, I am just uploading the layer packages to their respective places. I will update the links as the Data uploads. Let me know if you have any other questions.

Bruneau-17050102: https://usu.box.com/s/wb9vnszzcc93ggglr3fcbgn6wr3tzdue
Jordan-17050108: https://usu.box.com/s/7c0kjz3amk5n6n7y6je

[2018-09-26 18:42] wally-mac commented on #136
Thanks Mic.

[2018-09-26 19:35] ctobalsk commented on #172
FOUND THE PROBLEM!  At least I'm pretty sure I did.  I used proportions, instead of percents, in the regression equation...  By using percents, for example in the Bitterroot HUC4, Q2 drops from over 300,000 CFS to about 15,000 CFS. Much better!!  I'll just need to re-run BRAT python scripts starting at iHyd. Hopefully that'll do it!  Thanks for the support; taking a really close look at the Q2 equ

[2018-09-26 19:38] Albonicomt commented on #136
Here are the rest of the links:

MiddleSnakeSuccor-17050103: https://usu.box.com/s/pc38jj8hwo16c6xyxs946k95z2tssc3q
MiddleOwyhee-17050107: https://usu.box.com/s/7zl5q0t6kbj6ux3pryuaoe9i3htjysu8
UpperOwyhee-17050104: https://usu.box.com/s/8r29ojk3atfr572hxqakhrn46fypi7wo

[2018-09-26 19:57] bangen commented on #172
Glad to hear!

[2018-09-26 20:43] joewheaton commented on #172
Good find @ctobalsk... we've all been there.

[2018-09-26 20:43] #172 closed

[2018-09-26 21:14] joewheaton commented on #174
Hi @ssuplick , Yes we've done quite a bit of this dam censusing from imagery. We had one plan B MS student (@PenrodC see #138) who focused a lot on this form of censusing to track dynamics.  We've got a number of threads too on data capture events, inclusive of field vs. desktop (e.g. #104). See also the #55.  [Korad's](http://etal.joewheaton.org/konrad-hafen.html) [thesis] has a lot of desktop an

[2018-09-26 21:31] Albonicomt commented on #136
@CoryMosby and @wally-mac, I had forgot to mention your names in the above comment. All the data should be up and available. Let me know if there are any questions or need any further help.

[2018-09-26 21:56] wally-mac commented on #136
Thanks, Mic!

On Wed, Sep 26, 2018 at 3:31 PM Micael Albonico <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-09-27 00:49] joewheaton commented on #173
@ssuplick we're in the throws of debating this and developing it... so when it calms down, we'll update the documentation. Stay tuned.

The old 'human conflict' was way too conservative in that it basically produced a map of how close you are to infrastructure. This dramatically over-predicts where human-beaver conflicts might take place as it does not account for where beaver are likely to build

[2018-09-27 00:54] joewheaton commented on #160
@bangen I think you can start on this anyway and just report back where you're struggling in specific tickets. Just follow what is provided and be more specific about those 'repercussions for the other management categories.'

[2018-09-27 00:54] joewheaton commented on #165
Okay... this has moved on.

[2018-09-27 00:54] #165 closed

[2018-09-27 01:09] joewheaton commented on #133
This thread was a useful discussion but too confusing.... See new, more concise issues that reference it.

[2018-09-27 01:09] #133 closed

[2018-09-27 01:10] joewheaton opened #175 "'Possible Beaver Dam Conservation & Restoration Opportunities' layer"
WORKING!!!  JUST SAVING
Okay @bangen, here's that missing stuff from #133

### Motivation for this layer
Lets recall that in the old management model we wanted to differentiate three things:
1. Areas that could support beaver, but beaver could cause damage (blue and yellow)
2. Areas that couldn't support beaver (now 'Unlikely Dam Building Areas' #161) (red and orange)
3. Areas that could support b

[2018-09-27 14:57] joewheaton commented on #129
@wally-mac lets assign this to someone other then @banderson1618. I think he's right. We need to expand from http://brat.riverscapes.xyz/Documentation/Tutorials/WorkingWithBRATOutputs.html#attribute-field-descriptions and the table so that there is a page that has a table of:

- Every input, intermediate, and output file that gets produced
- That page/table has links for each file to another child

[2018-09-27 15:18] joewheaton commented on #16
Sorry for late response here @banderson1618: *** IN PROGRESS

Good point.  We are talking about adding some additional attribute fields to a table. I don't know what table (or shapefile) makes the most sense to be honest. I'm fine with this whole  'Human Beaver Conflict' folder  getting run in an 'optional' thing, and I like it having its own shapefile. All we need is to preserve a reachID so we c

[2018-09-27 17:37] CoryMosby commented on #136
Thank you so much!

From: Micael Albonico <notifications@github.com>
Sent: Wednesday, September 26, 2018 3:31 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: Mosby,Cory <cory.mosby@idfg.idaho.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] Owyhee Watershed - Idaho BRAT run (#136)

@CoryMosby<https://github.com/CoryMosby> and @wally-mac<https://github.com/wall

[2018-09-27 18:22] joewheaton opened #176 "New 'Departure from Historic' Intermediate Output"
In #175 I ask for the use of this, and struck me its just a good layer to have.  Please add to the standard BRAT table three new fields (don't forget documentation too: See #129):
- A `mCC_EX_CT` short for an alias of **Modeled Capacity: existing maximum number of dams**, which is simply the number of dams that could fit in the reach, has units of _dams/kilometer_ and is calculated as `mCC_EX_CT =

[2018-09-27 18:40] joewheaton opened #177 "Optional - Refined Possible Beaver Dam Conservation & Restoration Opportunities"
In #175 the conservation and restoration opportunities get highlighted from first-cut data (i.e. just based on veg, hydrology, topography, etc. and no information on what proportion of capacity is realized by actual beaver dams).  Here we

## SPECIFICATION for SECOND CUT  a '_Possible Beaver Dam Conservation & Restoration Opportunities_'
This is basically a modification of the 'Possible Beaver Dam

[2018-09-27 18:54] joewheaton commented on #133
I'm not reopening this... just adding this for context. See #175 for where we're going.

@sshahverdian distilled managmeent down to

1. Immediate Returns: High Impact/Activity
2. Immediate Returns: Moderate Impact/Activity
3. Long-Term: Moderate Potential, Short-Term: Unsuitable
4. Long-Term: Moderate Potential, Short-Term: Unsuitable

I told @sshahverdian I understand his motivations (i.e. removi

[2018-09-27 19:05] joewheaton opened #178 "Splitting the many categories of oPBRC into three layers and not worrying about mutually exclusive..."
ESRI has a really nice symbology feature, which is symbology for 'everything else'. We want to take advantage of that so that we split was all lumped in mutually exclusive categories into `oPBRC` is now nicely split out into the specific layers we care about. These _roughly_ will be mutually exclusive between:

- Unlikely Dam Building Areas (layer number 2 above and #161)
- Potential Undesirable I

[2018-09-27 19:14] joewheaton commented on #178
I never realized until now, but @wally-mac pointed out that `oPBRC` has awfully nice alignment with:
![pbr_lt_cc_250w](https://user-images.githubusercontent.com/9723905/46169007-32801c00-c257-11e8-9e97-4c23fbcf7a17.png)

[2018-09-27 19:43] joewheaton opened #179 "RAVE is ready!!!! BRAT is NOT"
@philipbaileynar just released first version of ArcGIS RAVE add in!

However this is the real task here. We URGENTLY need to fix our Riverscapes projects and probably write some scripts that can go through and salvage old projects unless we want to re-run them (which we may).  See @philipbaileynar comment:

1. So step 1, get one BRAT project that can actually open in BRAT!
2. Step 2, fix BRAT code

[2018-09-27 22:19] banderson1618 commented on #179
I've spent the last couple days working on fixing the XML. I have it properly set up to display the Analyses and some of the inputs, but I don't think the current XML setup supports our new category of Intermediates. That will likely take more time to implement. Here's a picture of what RAVE currently displays with a run of what's on the master branch right now:

![rave_example](https://user-image

[2018-09-27 23:00] Albonicomt opened #180 "Restandardizing Summary Products"
@CHafen and I are working together to create a new standard for Summary Products. We are hoping to create something that improves upon the old Summary Product standard shown below:
![san_rafael_rvd_4_18](https://user-images.githubusercontent.com/39168968/46178725-36229b80-c275-11e8-9345-27c47c56fa9d.png)

We want to create something that keeps the summary product simple but easy to distinguish the

[2018-09-27 23:11] philipbaileynar commented on #179
@banderson1618 I can't speak to priorities, but here are the steps to get BRAT working with RAVE.

## 1. Download and Edit BRAT Business Logic XML

Download the existing [brat.xml](https://github.com/Riverscapes/RaveAddIn/blob/master/RaveAddIn/XML/brat.xml) business logic XML file and save it in the same folder as a reliable BRAT project that has all the file paths fixed. Start editing this local

[2018-09-28 00:28] wally-mac commented on #179
Thanks @philipbaileynar and @banderson1618 for your hard work on getting BRAT working with RAVE.  As far as priorities go I think this is a high priority and I think we should "strike while the iron is HOT".  So, I say Braden go for it and keep me posted on how much time it's taking.

[2018-09-28 00:43] wally-mac commented on #129
@MatthewMeier, I'm assigning this to you.  @banderson1618 , is really swamped right now.  Matt, please have a look at this request and let @banderson1618 , @joewheaton or I know if you have any questions.

Thanks!

[2018-09-28 00:45] wally-mac commented on #136
I'm closing this issue because I think its been taken care of.

[2018-09-28 00:45] #136 closed

[2018-09-28 00:52] wally-mac commented on #149
I spent something looking into the Bruneau watershed BRAT data and I think that Karen's second run using a new Q2 equation looks very reasonable. I'm closing this issue But I think its important that interrogate the outputs of the BRAT model every time we run it.

[2018-09-28 00:52] #149 closed

[2018-09-28 00:57] wally-mac commented on #144
I'm closing this down because I do not see a reply from @angelayragui.

[2018-09-28 00:57] #144 closed

[2018-09-28 01:00] #37 closed

[2018-09-28 01:02] wally-mac commented on #98
I think this has been taken care of.  I'm closing it.

[2018-09-28 01:02] #98 closed

[2018-09-28 02:54] bangen commented on #129
@MatthewMeier @wally-mac

- @banderson1618  started working on this a while back.  You can find the glossary he put together on the pyBRAT website [here](http://brat.riverscapes.xyz/Documentation/Glossary.html).
- @MatthewMeier Rather the attribute table descriptions in 2 places, please go ahead and populate the pages in the location that Joe specified and then delete the glossary page.
- We recen

[2018-09-28 03:19] bangen commented on #150
@banderson1618 @wally-mac

I'm reopening this issue since we didn't explore a solution.  Considering how big of a time sink identifying main vs side channels can be I think it's worth the time to dig into this further. @banderson1618 if you did look into the above and it didn't lead anywhere feel free to comment here and close the issue.

@banderson1618 I took a look at the braid handler code.  Th

[2018-09-28 16:51] philipbaileynar commented on #179
@banderson1618 you should **not** reference the layer files in the BRAT project file. It's fine that BRAT continues to produce them.

If the layer files contains generic symbology that is relevant to all BRAT projects then you can simply copy one of each layer type into your `%APPDATA%\RAVE\Symbology\BRAT%` folder and rename the file to match the symbology key in the business logic. In other words

[2018-09-28 18:58] banderson1618 commented on #179
Sounds good, thanks for the responsiveness, @philipbaileynar.

[2018-09-28 19:00] banderson1618 commented on #129
@MatthewMeier, the current glossary is located [here[(https://github.com/Riverscapes/pyBRAT/blob/master/docs/Documentation/Glossary.md) in the GitHub project. Not sure if you want to salvage anything from it, or if the new requirements are extreme enough that scrapping it makes the most sense.

[2018-09-28 20:17] Albonicomt commented on #180
I think this one, in terms of a perennial network, simplifies the spatial reference a bit, but isn't too complex when it comes to trying to produce a bunch of maps. I have more to share, but I think this is the most refined and simplistic one. Any thoughts? @CHafen
![sanrafaelrvd](https://user-images.githubusercontent.com/39168968/46231398-003eef00-c329-11e8-9304-5c7d56402095.png)

[2018-10-01 16:09] wally-mac commented on #180
I'm adding @joewheaton to the conversation.  Joe do you have any input at this point?

Thanks!

[2018-10-01 16:56] joewheaton commented on #180
Hi @CHafen and @Albonicomt. I like the initiative you're taking here.  This looks great. A few thoughts:
- Overall, I would strongly encourage us to think of having a menu of template options to choose from, and we mix and match the details (say on legends, graphs, context layers, line weights), to convey the message we want for any specific map. If we get back to the basics of C's... the most imp

[2018-10-01 20:51] Albonicomt commented on #180
@CHafen, These are awesome! I really like the context layers displayed in all four of the maps (Roads, lakes, borders, and cities), although, I do see what you mean about the increased time it takes to create them. And I especially like the bar graphs, with the cross hatching for area that display full and Perennial networks. I also think the background imagery in maps 1 and 4 looks better than ju

[2018-10-01 21:09] banderson1618 opened #181 "Redoing XML Code Entirely"
I'm working on the XML code, and the existing code is fairly rough. I'm thinking that it might be worthwhile to redo the majority of the code that generates the XML files. This might take more time than jury rigging the current code into working well enough, but long term, the code should be replaced eventually, and I don't know what a better time would be than now.

@joewheaton and @wally-mac, is

[2018-10-01 21:19] wally-mac commented on #181
Joe and I just talked about this and we agree that it worth taking the time to redo it.

[2018-10-01 21:27] wally-mac commented on #180
@CHafen, these look great!  I think it is well worth the added time it takes to generate them.

[2018-10-01 22:15] banderson1618 commented on #181
Great, I'll create a new branch and get started on that ASAP.

[2018-10-01 22:50] Albonicomt commented on #180
@joewheaton @wally-mac and @CHafen Here are some attempts at combing the bar chart with the Legend for (1.RVD 2.Existing cap 3. RCA)

![image](https://user-images.githubusercontent.com/39168968/46318006-4e0a6000-c592-11e8-938c-673d4f95634b.png)
![image](https://user-images.githubusercontent.com/39168968/46318983-9b3c0100-c595-11e8-8553-a04d3b84fc6e.png)
![image](https://user-images.githubuserconte

[2018-10-01 23:46] #161 closed

[2018-10-01 23:46] bangen commented on #161
Commit should have said ' oPBRC_UD' insteads of ' oPBRC_DB'

[2018-10-01 23:56] bangen commented on #151
@joewheaton @banderson1618

For now I just added the 'oPBRC_UI' field and am setting all the rows to 'Negligible' until the in the weeds details are provided by Joe so that Braden can code it up.

[2018-10-02 00:37] bangen commented on #175
@joewheaton

These are areas that historically had higher capacity (i.e. frequent or pervasive), currently have lower capacity (i.e. rare or occasional), have land uses conducive to recovery (i.e. grazing, logging, pasture are potentials... urban, orchards, roads, industrial, are less so), and have low potential for undesirable impacts (i.e. Negligible to minor risk). In a conservation sense, thes

[2018-10-02 01:17] bangen commented on #178
@joewheaton @wally-mac

A 'beta' version of these is up on the 'conflict_model' branch.  I haven't put the symbology together yet, so one one of the techs will need to tackle that.  I'll note it in the individual issues for the 3 categories.

I'm going to go ahead and close this for now.

[2018-10-02 01:17] #178 closed

[2018-10-02 01:29] bangen commented on #176
@joewheaton

I'm not a fan of the idea of rounding linear densities to whole numbers.  IMO, there's a big difference between 0.1 dams/km and 1 dams/km.  That being said, we can implement what you're asking for here.  Do you want all values rounded up (e.g., 1.1 to 2) or just for values between 0 and 1?

[2018-10-02 01:49] bangen commented on #176
@joewheaton

Some clarification.  Above you have the mCC_**_CT field units as dams/km.  But it's really just dams since the oCC fields are already a linear density.

[2018-10-02 06:55] bangen opened #182 "TNC BRAT Anabranch Edits"
@wally-mac - per our previous conversation I'm going to assign this to Mic, but obviously add anyone else who has time to work on it as needed.

@Albonicomt - we're tasking you with completing the anabranch (or 'is braided') edits for the TNC BRAT project.  Here's a dry [video](https://youtu.be/5uc6acERiPI) laying out what you'll need (re-emphasized in the bullets below....)

A few things to note:

[2018-10-02 07:30] bangen opened #183 "TNC BRAT - Basins with Landfire Issues"
@wally-mac - please assign this to someone

There were only 3 basins that weren't successfully run through the BRAT Project tool.  It appears to be issues with either the Landfire EVT or BPS rasters.  We need to figure out and resolve the issue with the Landfire rasters (can be found in the 'LANDFIRE' folder for the respective basin) and then run the basins through the BRAT Project and BRAT Table

[2018-10-02 13:43] wally-mac opened #184 "BRAT Tasks: BRAT model runs due 10/8/18 and summary products due 10/15/18"
@MatthewMeier, @Albonicomt and @CHafen we have some upcoming deadlines for a few BRAT projects that I'd to tell you about (remind you of). [Here](https://youtu.be/nKsqNqdln4A) that describes the tasks in some detail.  Mic please decide how much of this you'd like to pass on to Chalese based on your other workload, I know that Sara has assigned you some tasks and that you are working on the Escalan

[2018-10-02 14:03] wally-mac commented on #180
Those look really good to me.

On Mon, Oct 1, 2018 at 4:50 PM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-02 19:15] wally-mac commented on #184
Update: @Albonicomt, has graciously offered tp run BRAT for the Middle Columbia to help us reach our deadline.  Thanks Mic!

[2018-10-02 20:13] wally-mac commented on #180
@kbartelt, I'm adding you to this ticket because per a conversation that @joewheaton and I had this morning he is going have you get "up-to-speed" on the lab's cartographic standard.  This ticket addresses some current refinements to that standard.  In the coming weeks, Chalese and Mic are going to continue to develop this standard and per Joe and I's conversation Joe would like you to be engaged

[2018-10-02 21:23] #176 closed, assigned to banderson1618

[2018-10-02 21:52] banderson1618 commented on #150
@bangen, I think the only good way to explain how the Braid Handler works would be over a phone call. It's relatively involved, and it would make suggesting solutions easier for you. Let me know when works for you.

[2018-10-02 22:01] wally-mac commented on #155
@Albonicomt and @MatthewMeier I'm adding you to this so you are aware of this when running the new BRAT model.  Please see above...

[2018-10-02 23:28] bangen opened #185 "Merging zonal stats and conflict model branches into master"
@banderson1618 - we have a new top priority for you.  Please hit pause on the xml work until you've tackled what's lined out here.

@wally-mac and @joewheaton gave the go ahead to merge the changes from the zonal stats and conflict model into the master branch.  Could you please:

- Merge the branches
- Add documentation on which packages need to be installed so that the rasterstats Python package

[2018-10-02 23:32] bangen commented on #185
@banderson1618 I just went to pull the latest commits to the conflict_model branch and looks like you've already checked a few of these of the list before I even posted it here....pretty awesome.  Let Wally know once everything else on the ticket has been wrapped up so he can let folks in the lab know.  Thanks!

[2018-10-02 23:40] bangen commented on #185
A quick follow-up on the `oPBRC_UB` and `oPBRC_CR` fields.  In Joe's posts the specific categories both in long-form names and short-form names.  I'm currently populating them in long-form because I think it's clearer for the end user.  @joewheaton if you want Braden to use the short-form let him know ASAP.  @banderson1618 if you want to know what I mean by the long-form take a look at the 'Conser

[2018-10-03 00:09] bangen opened #186 "TNC BRAT - Batch Runs"
@wally-mac and @banderson1618

Once the techs finish making the anabranch edits for the TNC basins we'll want to batch process the rest of the BRAT model.  @banderson1618 you'll be tasked with this.  Most all of the tools will be straightforward to batch process with the exception of the iHyd tool.

Batch processing the iHyd tool will require reading in a csv with the basin specific parameters.  @

[2018-10-03 00:12] ssuplick commented on #89
Hello - sorry to bother you all once again. Briefly @banderson1618 @MatthewMeier  I was curious on the status of this especially in regards to #93? Looking at the scripts it looks like they should be ready to go, but I wanted to confirm before I do a run through (waiting on administrator approval for GDAL/OGR install) that a HUC-8 can be processed? Or will I need to break my prepared data up into

[2018-10-03 20:11] wally-mac opened #187 "TNC BRAT: Refinements needed to provisional run of Tomales-Drake Bays (HUC 18050005) watershed"
**Background**
Back in early July, 2018 Karen Bartelt run a preliminary run of BRAT for Tomales-Drake Bays (HUC 18050005) watershed (see #97).  In mid-July @joewheaton provided some feedback on this preliminary run to Kate Lundquist of OAEC.org.  Joe's off-the-cuff impressions were to take this preliminary run with a grain of salt or two. `[Here is a Rambling Marin Prelim BRAT Tour Video ](https:/

[2018-10-03 22:40] wally-mac commented on #185
@Albonicomt, and @MatthewMeier I'm adding you both to this ticket so you are aware of these BRAT code changes that Braden is in the middle of.  Braden informed me that "Merging the branches shouldn't be too bad. The real time consuming parts will probably be identifying packages to install and creating documentation for them. I'm hoping to get done with all that by Friday, but I'll keep you update

[2018-10-03 22:49] Albonicomt commented on #185
@wally-mac, sounds good.

@banderson1618, let me know what you need. Call me or email me when you get the chance and we can go from there.

[2018-10-03 22:51] MatthewMeier commented on #185
@banderson1618
Ditto to what @Albonicomt stated. I think it would be good to have the two of us work on it because we have different versions of ArcGIS so if any issues come up we will let you know.

[2018-10-03 22:55] wally-mac commented on #185
Thank you gentlemen!

On Wed, Oct 3, 2018 at 4:51 PM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-04 19:38] banderson1618 commented on #185
@bangen

I'm having some problems installing rasterstats. The part that I'm getting hung up on is the part linked [here](https://github.com/mapbox/rasterio#windows-1), where you need to download GDAL binaries and header files, and link to them while running setup.py. I'm not sure what files to download and link. Do you remember what you used when you installed rasterstats?

@MatthewMeier @Albonico

[2018-10-04 19:42] wally-mac commented on #185
Matt do you have time to look into this today?

On Thu, Oct 4, 2018 at 1:38 PM Braden Anderson <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-10-04 21:57] wally-mac opened #188 "The BRAT Atlas: It's time to develop a template"
One of the project deliverables for several of our current BRAT projects is an **atlas**.  So what is this **atlas** going to look like and include? Well as a team (@CHafen, @Albonicomt , @kbartelt @joewheaton and I) we are going to determine this in the coming weeks.

I suggest to initial this process we have Chalese, generate a map for each of the inputs, and intermediates using our layer packag

[2018-10-04 22:08] MatthewMeier commented on #185
@banderson1618 the way that I have installed the GDAL module which I believe is what it is called is similar to the way you can install numpy using a whl file. The GDAL whl file that I used can be found here [https://www.lfd.uci.edu/~gohlke/pythonlibs/](url).  The following steps are what I took to get the GDAL installed on my pc.
You will follow the same steps that you used to install the numpy+m

[2018-10-05 11:08] wally-mac commented on #185
What’s the status on this? I know we are aiming to have things wrapped up
by the end of the day today. Is that still looking feasible?

On Thu, Oct 4, 2018 at 4:08 PM Matt Meier <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my 'smart' phone.

[2018-10-05 13:44] wally-mac commented on #188
@CHafen let's have you use the [Middle Fork John Day](https://usu.box.com/s/vlepp43hxhzi455lw96eye842bba2foy0 watershed as our test watershed.

[2018-10-05 14:55] MatthewMeier commented on #89
@ssuplick if your looking through the conversation this is where we are at...
@banderson1618 has converted the BDWS script that Konrad has created into our python script and the master tool download. I would break it into huc 12s because when I have spoken with Konrad it just runs a lot faster that way. Also the tool does have an option for batch processing. The main hangup is that we may or may n

[2018-10-05 15:31] wally-mac commented on #73
@webernick79 I just wanted to confirm that you have **not** generated any video tutorials for this, correct?

[2018-10-05 15:35] webernick79 commented on #73
I have not, but I'll be interested to see how this stuff is working out. Thanks @wally-mac

[2018-10-05 15:47] Albonicomt commented on #182
@wally-mac, I believe I do have a handle on the process. I don't have the best idea on how much time it will take, I will need to do a few more watersheds to grasp a better time estimate, but as of now, It think it will take anywhere from 30 min to 1.5 hours for each watershed. @MatthewMeier, if you have any questions on this process let me know.

I will update you on a better time estimate after

[2018-10-05 15:58] banderson1618 commented on #185
@wally-mac, this issue is still being worked on. I haven't had much progress with installing riverstats, and, since Sara is out on maternity leave, she hasn't been able to provide much help.

My plan at the moment is to uninstall all dependencies, and start from the beginning. We'll see how it goes. If I get lucky, we could easily be done by today. If not, then we won't be. I'll keep you all updat

[2018-10-05 17:16] MatthewMeier commented on #185
@banderson1618 is riverstats part of the gdal module?

[2018-10-05 17:29] wally-mac commented on #184
Update: @banderson1618 and @MatthewMeier are currently working on getting a new release of BRAT completed, so we are in a bit of a "holding pattern".  **In the meantime,** @CHafen and @Albonicomt let's get the new (see #180) base mapping standard apply to the John Day BRAT (all four HUC 8's), NF Brunt River BRAT, and Middle Columbia BRAT. Does this make sense?  Mic and Chalese can you please work

[2018-10-05 17:30] Albonicomt commented on #184
@wally-mac, sounds good. @CHafen and I will coordinate.

[2018-10-05 17:35] MatthewMeier commented on #184
@wally-mac we will get this done and I have been trying to get a hold of @banderson1618 to see what I can help him out with. @Albonicomt I will let you know of the progress on that and if we need to run the data through the past release or not. Just make sure that you have all the inputs and possibly mainchannel edits done. We could do an attribute table join and copy fields later. Thanks
@Albonic

[2018-10-05 17:37] wally-mac commented on #184
Matt, thank you for the update and commitment to getting this done, I appreciate it.

[2018-10-05 17:38] banderson1618 commented on #185
@MatthewMeier, no, it is not, though it does rely on GDAL as a dependency. Also, I mistakenly wrote "riverstats", when I actually mean rasterstats. My bad.

The full instructions for installing rasterstats are on the page linked [here](https://pythonhosted.org/rasterstats/installation.html). If you can follow them and get rasterstats installed, then you can get started using the latest version of

[2018-10-05 17:40] MatthewMeier commented on #185
Thanks @banderson1618 I will give it a try

[2018-10-05 18:18] MatthewMeier commented on #184
@wally-mac
@Albonicomt  and @CHafen have already gotten started on the base map for the summary products and we are working through some of the issues that @banderson1618 was facing

[2018-10-05 18:57] MatthewMeier commented on #185
@wally-mac @banderson1618 @Albonicomt
I am running it through the new BRAT tool now for a dry run to make sure that we do not run into any bugs right off the bat. I will keep you all tuned

[2018-10-05 18:58] wally-mac commented on #185
Good call! Thanks Matt

On Fri, Oct 5, 2018 at 12:57 PM Matt Meier <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-05 19:01] banderson1618 commented on #185
@MatthewMeier, are you using the latest version of the master branch? If you are, and if Arc is clearing you on the syntax, then you're already ahead of me, so good work!

[2018-10-05 19:12] MatthewMeier commented on #185
@banderson1618 So I am using the newest download of the master branch and it is building the BRAT table right now working on the drainage area calculation. I did get the following warning message when I downloaded the whl files that are needed for the rasterstats...
![image](https://user-images.githubusercontent.com/30604787/46555345-37208200-c8a0-11e8-95f2-b744abcb974b.png)
I figured that you wer

[2018-10-05 19:19] wally-mac commented on #183
@Albonicomt, can you please take a look into this issue? You can hold off on it until after you put out the current fires but please put it on your To Do list.

Thanks,

[2018-10-05 19:20] Albonicomt commented on #183
@wally-mac, Alright will do thanks!

[2018-10-05 19:34] banderson1618 commented on #185
@MatthewMeier, that seemed to work. Thanks for the help!

[2018-10-05 19:38] wally-mac commented on #185
Matt and Branden, great time work figuring this out!  Way-to-go. @joewheaton this has been resolved.  Let's keep it opened for now until we done some more testing.

[2018-10-05 19:48] MatthewMeier commented on #185
@wally-mac I am doing the testing now.
@wally-mac @Albonicomt @banderson1618
In order to get the new code to work you will need to install the whl files for: libgdal, rasterio, fiona, shapely and numpy with the newest version of pip(so upgrade pip to begin with). Start running the BRAT toolbox(the red x should be gone). You will follow similar instructions that were laid out by Jordan G. in this [

[2018-10-05 19:53] CHafen commented on #184
@wally-mac are we doing the John Day all together or separating it out into the four HUC 8s?

[2018-10-05 20:03] wally-mac commented on #184
See if you can pull it off as one but show HUC 8 boundaries and show the
summaries of each.  Does that make sense?

On Fri, Oct 5, 2018 at 1:53 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-05 20:06] CHafen commented on #184
Yes, makes sense, will do

[2018-10-05 20:08] MatthewMeier commented on #185
@banderson1618
I got the following error from my BRAT run. I do not know if it is throwing up an issue because I do not have a RR file because there are none in the HUC that I am working in?
![image](https://user-images.githubusercontent.com/30604787/46557743-2a079100-c8a8-11e8-8ca5-d56e5f2e8eb1.png)

[2018-10-05 20:13] banderson1618 commented on #185
I am also having an error where the tool completely crashes Arc the second it starts using rasterstats. Guess our work isn't over, unfortunately.

@MatthewMeier, I'll take a look at that as soon as I can get my install to not crash. Thanks for running it in verbose mode, that makes it a bit easier to guess what the problem was.

[2018-10-05 21:18] MatthewMeier commented on #185
@wally-mac I am running a different watershed to see if the newest version of BRAT will work. If it is still coming up with errors I feel like we should, given our time constraints, run the latest version of BRAT(3.0.19). I know this isn't ideal but I feel this is the only way to get the deliverable in on time. Let me know your thoughts.

[2018-10-06 02:33] joewheaton commented on #186
Just a thought @banderson1618. You _can_ do this batch processing like Sara said. However, if you think it is something we can produce some internal documentation targeted at our techs (but on the website), we could task the techs with this.  I think for TNC it makes sense for you to batch it, but I'm mindful you have a lot on your plate. As such, if we can figure out a way to delegate this (or th

[2018-10-06 16:46] MatthewMeier commented on #185
@banderson1618 @bangen ,

@wally-mac @Albonicomt and I were wondering if...

1.  it was a possibility to run BRAT without the changes to zonal stats with the changes to conflict and management outputs being produced?
2.  Or to run a previous version of BRAT past the BRAT Table script and then running the new tool?

This second option is a much buggier option in my mind due to changes which occur i

[2018-10-06 21:42] MatthewMeier commented on #184
@wally-mac @joewheaton
Here is a progress report on the deliverable progress for this project;
The inputs and editing for the ([John Day](https://usu.box.com/s/oiex7hoo184wi6bvpf3n2n1grnis3qei) and the[ North Fork Burnt)](https://usu.box.com/s/tuvkpnshcafuph21v7jbfth17mo9c3p3) are completed up til the ihyd step in BRAT. The regression equations are provided in the watersheds metadata txt file that

[2018-10-06 21:44] Albonicomt commented on #184
@wally-mac, @joewheaton , @bangen  and @banderson1618 Having problems running Middle Columbia Hood - 17070105...

- I have tried running the Middle Columbia Hood on several versions of BRAT: 3.0.9 ; 3.0.17 ; 3.0.19 ; and the Master PyBRAT.
- In BRAT 3.0.19, during "Step 1: BRAT Project Builder," The tools starts for about 5 seconds and then crashes.
- In the older versions of BRAT I get the Error

[2018-10-08 00:41] joewheaton commented on #38
@wally-mac lets assign this to someone for this Fall. We can talk about what's an appropriate milestone. This fell by wayside. It was on Sara's list, but I unassigned it...

[2018-10-08 00:44] #59 closed

[2018-10-08 00:44] #65 closed

[2018-10-08 00:47] joewheaton commented on #117
This has been quiet for some time. I think we've completed all this.

[2018-10-08 00:47] #117 closed

[2018-10-08 14:50] wally-mac commented on #38
Sounds good.

On Sun, Oct 7, 2018 at 6:41 PM Joe Wheaton <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-08 20:28] ctobalsk opened #189 "How do I refer to BRAT 2.0?"
We're writing a report on the Montana BRAT; I ran it using a series of Python scripts (Jordan Gilbert, 09/2016) in an ArcGIS Toolbox (BRAT.pyt) in a folder called BRAT_2.0/BRAT_arc. I assume that my version is a version of pyBRAT and should be referenced as such?
Thanks!
Claudine Tobalske

[2018-10-08 21:17] wally-mac commented on #189
Hi Claudine,

I suggest you call it PyBRAT Version 2.0. You could add the date as well 09/16.

Thanks for reaching out,

Wally

[2018-10-08 21:17] #189 closed

[2018-10-08 21:22] ctobalsk commented on #189
Thanks Wally!

From: William Wallace Macfarlane <notifications@github.com>
Sent: Monday, October 08, 2018 3:18 PM
To: Riverscapes/pyBRAT <pyBRAT@noreply.github.com>
Cc: ctobalsk <claudine.tobalske@umontana.edu>; Author <author@noreply.github.com>
Subject: Re: [Riverscapes/pyBRAT] How do I refer to BRAT 2.0? (#189)

Hi Claudine,

I suggest you call it PyBRAT Version 2.0. You could add the date as w

[2018-10-08 23:04] MatthewMeier commented on #185
@banderson1618 I got that error again
![image](https://user-images.githubusercontent.com/30604787/46637994-ffbe0980-cb1b-11e8-9565-63b6d3083131.png)
that I originally got when I ran the other pymaster version. It seems to be specifying a topographic column created from the DEM. I will try to look into this as much as I can. Also @Albonicomt is running another one to see if he comes up with the sam

[2018-10-08 23:19] wally-mac commented on #185
Matt, looking at the screen capture you shared the error appears to be
associated with the land use codes.  Can you please investigate the actual
line of code this error is referring to and confirm this?  We need to dig
in and figure these errors on our own and not rely as heavily on Braden. He
is currently only working 15 hr per week.

On Mon, Oct 8, 2018 at 5:04 PM Matt Meier <notifications@gith

[2018-10-09 01:53] bangen commented on #185
@wally-mac @MatthewMeier @banderson1618 @Albonicomt

I checked the main branch and it DOES NOT have the zonal stats fix that I implemented.  I'm not sure if @banderson1618 actually merged those changes into the conflict model branch, but regardless they are not refelcted in the master branch.  @wally-mac check in with @banderson1618 to see what's actually been merged together at this point (e.g.,

[2018-10-09 12:49] wally-mac commented on #185
@bangen I'm going to leave it up to @banderson1618 and @MatthewMeier to respond to your questions, I don't want to "muddy the waters".

[2018-10-09 17:32] MatthewMeier commented on #185
@bangen,
I was able to get the red x or sintax error. I believe is what it is called to disappear and that is useful to know about the path environment. I will ignore that. I believe that @banderson1618 was able to get past this step as well. @banderson1618 please confirm. As for the main branch and zonalstats stuff I am fuzzy on how to determine what @banderson1618 has done with the branches to d

[2018-10-09 17:49] banderson1618 commented on #185
@bangen
The zonal stats changes were merged, but we couldn't get them working properly. Even after I managed to install rasterstats after using wheel files to install the dependencies, my version consistently crashed Arc when it reached the section that used zonal stats, and Matt and Mic ran into their own, separate issues with the tool. We spent several days trying to integrate the zonal stats so

[2018-10-09 18:49] MatthewMeier commented on #185
@wally-mac ,
I know that @banderson1618 time is precious and limited, but I have looked over the error message and tried what I know to look for possible culprits. I can not find what is wrong with the code.
I believe that my thought process is on the right track, but can not reach the end.
I have looked at the partial outputs of the BRAT Table script from these crashed results, and the last field

[2018-10-09 19:15] bangen commented on #185
Matt-I put a fix up for that issue last night.  Have you pulled since then?  From which branch?

[2018-10-09 19:28] banderson1618 commented on #185
Sara's fix was not included in BRAT 3.0.20. @MatthewMeier, get the zip file of the master branch, and see if that runs into the same problem.

[2018-10-09 19:29] MatthewMeier commented on #185
I will try that thanks Braden.

[2018-10-09 19:49] #158 closed

[2018-10-09 20:32] banderson1618 commented on #163
@joewheaton @wally-mac, here's my suggested coding standards in a markdown file. I had to zip it up to attach it, but it's just the one file.

[Code_Standards.zip](https://github.com/Riverscapes/pyBRAT/files/2462085/Code_Standards.zip)

[2018-10-09 20:51] banderson1618 commented on #184
@Albonicomt, did you ever get this resolved? If not, try the following:

1. Go to line 178 in BRATProject.py. You should see the following block of code:

[code]

2. Place a pound sign/number sign/hashtag in front of each line, so it looks like the following:
[code]
That will comment out the code, making it not run anymore. It won't carry on into any future versions of pyBRAT that you download, bu

[2018-10-09 20:52] Albonicomt commented on #184
@banderson1618, Sweet Man! I will give it a shot.

[2018-10-09 22:03] MatthewMeier commented on #185
It seems to have worked Braden I am running it through the rest of the tool to see what happens

[2018-10-09 22:07] banderson1618 opened #190 "Should the XML be started in the BRAT Project tool?"
I'm currently working on redoing the XML production code (#181), and I'm considering moving the section of code that creates the initial XML file to be produced in the BRAT Project tool. This feels more natural to me, because it would allow the BRAT Table code to focus entirely on adding details about the intermediates produced. This is how I'm going to move forward, but I wanted to let @bangen, @

[2018-10-09 22:12] wally-mac commented on #190
I'm fine with the idea.

On Tue, Oct 9, 2018 at 4:07 PM Braden Anderson <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-09 22:17] MatthewMeier commented on #184
@wally-mac I have gotten the tool to work through the BRAT table and pushing it through the BRAT tool the rest of the way. I also have another running on a vm to get two done at the same time. I will keep you posted on progress

[2018-10-09 22:20] wally-mac commented on #184
That’s good news. Thanks for the update. Keep me posted.

On Tue, Oct 9, 2018 at 4:17 PM Matt Meier <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-10 17:38] MatthewMeier commented on #184
@wally-mac I have some questions about the layer package generator output. The following video illustrates this question.[https://youtu.be/MMscD2p4dac](url)

[2018-10-10 17:44] wally-mac commented on #184
@MatthewMeier and @Albonicomt can you please work through these questions in Matt's video together?  Please keep me posted on your progress here.  Thanks

[2018-10-10 18:49] MatthewMeier commented on #184
@wally-mac We will take a look at it.

[2018-10-10 20:31] wally-mac commented on #184
@MatthewMeier [here](https://youtu.be/KSklZqrKRbw) is a short video that @Albonicomt made to describe his method for manipulating the layer packages to include only perennial streams.  Mic, is this the same process that you suggest Mic uses?  If so, please make this available [here](http://brat.riverscapes.xyz/Documentation/) so others (put it on the website)can have access to it.

As for the symb

[2018-10-10 21:00] Albonicomt commented on #184
@wally-mac and @MatthewMeier I will take a look at these threads. Thanks for the references. I will shout out with any questions or advice.

[2018-10-11 00:53] MatthewMeier commented on #184
@wally-mac @joewheaton ,
Up to date runs with the newest version of BRAT can be found here for the John Day.
Completed up to final clipping of the layer packages:
[Upper John Day 17070201](https://usu.box.com/s/yje6bspoyw9ip1zbg5lqe35ji8r5b57w)
[North Fork John Day 17070202](https://usu.box.com/s/cpl7ix8h0co1427a60r8qwvoo9csw8wz)
Editing of the Layer package:
[Middle John Day 17070203](https://usu

[2018-10-11 03:36] wally-mac opened #191 ""Eager": Partnering with Google to use image recognition & ML to identify beaver dams"
@danackerstein, @eddiecorwin, @trkelsey, and @yufengg welcome to the Riverscapes pyBRAT Issues Board.  I hope we can use this platform to effectively deal with the technical issues we arise on the Eager Project.  As as starting point, I have added the email I sent out to the group below and I think we should address it here instead of through email and see how it goes.

Back in July, I shared [thi

[2018-10-11 18:00] wally-mac opened #192 "Develop a standardized folder structure for BRAT summary and atlas products"
@Albonicomt and @CHafen please continue to work on developing a standardized folder structure on Box for the summary products.  What does this look like now? How do we want it to look in the future? Once you have developed this structure we can have Braden generate a script that automatically generates this structure. Down the road we can make this more compliant with the Riverscaps project struct

[2018-10-11 18:04] wally-mac opened #193 "Add this watermark to all maps"
@CHafen and @Albonicomt [Watermark](https://usu.app.box.com/file/311272249312)

[2018-10-11 18:12] MatthewMeier commented on #184
Update the Lower [John Day 17070204](https://usu.box.com/s/kd1l9s8z1rhuw9y1sxn5c1mub2mp5b0w) BRAT is complete and just needs the Layer package clipped.

[2018-10-11 18:12] wally-mac opened #194 "Use miles and KM on maps"
@CHafen and @Albonicomt please start using miles and KM throughout, 2 scale bars, in legends and title. Joe has a example of this on box. @joewheaton , can you provide this link on Box?

[2018-10-11 19:45] wally-mac commented on #184
Great! Thanks for the update. It would be super useful to get all the watersheds "clipped" to the perennial extent so that: Chalese and Mic can make the summary produce and Joe and I can have a look at the data in preparation for the workshop.  When do you anticipate having this (clipping" to the perennial extent) completed? How do these outputs compare to the original runs?  Are the outputs logic

[2018-10-11 23:16] MatthewMeier commented on #184
Mic has completed the clipping of the layer package to perennial for the North Fork John day and will up load the location of that soon. He has created the excel pie charts and sent it off to Chalese for map making.
As far as truthing the outputs both of us have interrogated the outputs and they are looking accurate to us.
I have looked at the differences between the the current and previous run o

[2018-10-12 14:52] MatthewMeier commented on #184
Wally, here is an update so that Joe and yourself know what is going on...

BRAT completed and layer package clipped:
[Upper John Day 17070201](https://usu.box.com/s/zzcddq21xo0ff7h4d1vqjkin1igfi61m) (Chalese is working on the summary products now,Mic created the excel work already)Mic will also share the link to the perennial lpk folder

BRAT completed but layer packages need clipped:
[North Fork

[2018-10-12 15:22] Albonicomt commented on #184
@MatthewMeier, @wally-mac, and @joewheaton. The Perennial Lpks for the John Day will be housed here on box: https://usu.box.com/s/0jro2ebyz9of2tvhl097728yg6f717rf

[2018-10-12 17:21] CHafen commented on #194
I'm working on a dam capacity that has dams/mi and dams/km. What do you think of this one @wally-mac @joewheaton @Albonicomt ?
Do you think it makes sense like this or is it confusing?
![existing_capacity](https://user-images.githubusercontent.com/39837888/46884048-9fbfaf80-ce08-11e8-8277-327a8a648dd5.png)

[2018-10-12 17:32] Albonicomt commented on #194
@CHafen I agree, I think that idea for the legend works well.

[2018-10-12 18:11] wally-mac commented on #194
Please hold the press. I got some feedback from Joe which I'll make into a
video and share with you after lunch.

On Fri, Oct 12, 2018 at 11:32 AM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-12 19:16] wally-mac commented on #194
@CHafen [here](https://youtu.be/3S-7kwtXr7E) is a short video describing the edits Joe wants.

Thanks

[2018-10-12 22:32] CHafen commented on #194
![existing_capacity](https://user-images.githubusercontent.com/39837888/46896789-f2fb2780-ce33-11e8-89a0-ff64f796aa01.png)
How does this look?

[2018-10-12 23:39] wally-mac commented on #194
Looks great, thanks!

On Fri, Oct 12, 2018 at 4:32 PM CHafen <notifications@github.com> wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-13 10:54] #194 closed

[2018-10-13 14:14] joewheaton opened #195 "Survey123 Apps for John Day"
@chadFHC can you bust these out quickly? If not @wally-mac may ask weber.
We need to have Survey123 apps specifically for NFJDWC:
- BRAT Advanced form
- Single Dam - Advanced form
- Complex - Advanced Form

Do we need to have separate Apps for every single project? I guess that still makes sense? If so, what should our naming convention be?

I asked for a sheet in #105 to keep track of this and th

[2018-10-13 14:15] joewheaton opened #196 "Survey123 Apps for Powder Basin"
We need to have Survey123 apps specifically for Powder:
- BRAT Advanced form
- Single Dam - Advanced form
- Complex - Advanced Form

[2018-10-13 14:16] joewheaton commented on #193
Once you guys have some examples of these, post them here and we'll get you quick feedback.

[2018-10-13 14:31] wally-mac commented on #195
Chad has only been working about 10 to 15 hrs per week and as a result
these tasks have fallen on the wayside. If Chad does not respond to this
post I’ll contact him directly and see what his availability is like to
take care of this over the weekend or earily next week.

On Sat, Oct 13, 2018 at 8:14 AM Joe Wheaton <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and br

[2018-10-13 14:34] joewheaton commented on #192
FYI, @banderson1618 and I spoke about this. I haven't tasked him with hit just yet as I want to see how it works for us. @banderson1618 said this would be easy to do.

For now we suggested:
1. A simple tool that when you run it asks you to select a current BRAT project, and specify the output Figs directory (e.g. [`BOX\etal\Projects\USA\Oregon\JohnDayBart\wrk_Figs\`](https://usu.app.box.com/folder

[2018-10-13 15:12] joewheaton opened #197 "Folder Structure of BRAT"
HI Braden,
I should have looked at this earlier, but I have not. I'm going to suggest that we **change the BRAT project folder structure to be more consistent with GCD folder structure and more intuitive**.

### Current Project
Right now, as best I can tell you just have an `Inputs`, a `Temp` folder and as many `Output_n` that autonumber. You also have a `log` file in root and a `project.rs.xml` r

[2018-10-13 15:28] joewheaton commented on #196
In addition, please transfer [Thomas's observations](https://usu.box.com/s/wjux6b88t1lzkcx7d65jkl7q2e11u7u2) into the Single Dam Advanced form.  He only has 13 'active dams', 1 inactive dam and 3 potential dams. So it shouldn't take long. See my video though as some of them are awfully suspect...

https://youtu.be/csUL7Q3I6WI

@wally-mac feel free to reasign as you see fit. I don't know who else c

[2018-10-13 15:43] Albonicomt commented on #193
![middle_columbia_existing_vegetation_suitability](https://user-images.githubusercontent.com/39168968/46907206-5c2e7980-cecc-11e8-983e-a7161e82cff2.png)
![middle_columbia_hood_context_layers](https://user-images.githubusercontent.com/39168968/46907207-5cc71000-cecc-11e8-9530-53a56bccb486.png)
![middle_columbia_hood_hist_riparian](https://user-images.githubusercontent.com/39168968/46907209-5cc71000

[2018-10-13 21:25] MatthewMeier opened #198 "Errors running through the Layer package"
@banderson1618  the layer package generator is having issues if you do not close arcgis throughout the process of running BRAT I do not know why but when I rush through BRAT with multiple steps in between closing arc Layer package will not work.
Also what is the development of the clipping feature in the Layer package generator @Albonicomt  and I tried using this feature and it didn't work.

[2018-10-14 08:52] MatthewMeier commented on #184
@joewheaton @wally-mac @Albonicomt @CHafen
Hello all,
I have completed all but one of the analysis for the Project and am in the process of uploading the data to box now. I will provide links to where they will reside after I do a bit of organizing. Keep you all posted

[2018-10-14 10:01] MatthewMeier commented on #184
@joewheaton @wally-mac
I Have uploaded and reorganized the data in hopes that it will be more navigable for you all. Please provide feedback if you would prefer it to be different. I tried looking at the organization that the lab has for folder structure but I probably missed something. The following are links to all of the data and Perennial LPK that will be used for map making by @Albonicomt and

[2018-10-14 10:50] MatthewMeier commented on #184
North burnt with roads had an error in the run fixing it now

[2018-10-14 11:30] MatthewMeier commented on #198
There are also some errors and changes that need to be made in the overall symbology of the BRAT symbology folder. First off historic capacity lyr file is a duplicate of the existing. Meaning that it is also referencing the oCC_EX column instead of the oCC_PT. There are also some additions to the folder need to happen. I have not messed with any of the source code for the tool and this sounds like

[2018-10-14 14:43] MatthewMeier commented on #184
It is all done and uploaded

[2018-10-15 01:41] chadFHC commented on #195
I can work on this Monday. I should be able to have it done.

[2018-10-15 15:41] MatthewMeier commented on #184
@chadFHC and @Albonicomt
@wally-mac  and I have looked over the data this morning and for all of the existing and historic capacity, and management outputs we are feeling really good about. We are going to explore doing a subset of roads later on, but as of right now **full steam ahead** making the maps for the John day and the North Fork Burnt.

@Albonicomt I believe you are doing the North Fork

[2018-10-15 15:44] Albonicomt commented on #184
@MatthewMeier Sounds good! I am on it!

[2018-10-15 16:07] MatthewMeier opened #199 "Management Unsuitable or Limited...bug)"
@banderson1618 looking over the outputs from BRAT it appears that there is an error in the code for indicating whether a segment is slope limited for the oPBC_UD field. It appears that many of the segments that are greater than 23% are being classified as being hydrologically limited instead of slope limited. In  speaking with @joewheaton and @wally-mac there should be more segments that are slope

[2018-10-15 16:12] MatthewMeier commented on #198
I have also noticed that there were some errors with the slope and hillshade rasters not building pyramids for the layer package outputs

[2018-10-15 16:40] bangen commented on #199
To clarify there isn’t an error with the code.  I coded this up as Joe had outlined.  If the logic needs to be tweaked you should work closely with either Joe and/or Wally.

[2018-10-15 17:35] Albonicomt commented on #184
@CHafen, @wally-mac, @joewheaton, @MatthewMeier  Do we like this as a template for the Summary Products for BRAT. In the Chart, Keep the Kilometers Bar on x-axis, or get rid of it? Does the Chart along with @CHafen 's Legend display the information clearly? Any thoughts? I will roll with what I have if all seems good.
![nf_burnt_river_brat_existing_dam_complex_size](https://user-images.githubuserc

[2018-10-15 17:39] Albonicomt commented on #184
Whoops! Km definitely doesn't match up. My bad. I will get rid of that.

[2018-10-15 17:39] wally-mac commented on #196
@joewheaton @chadFHC informed me today that he has yet to build these Survey123 apps so he having difficulties documenting this process.  @MatthewMeier and @chadFHC are however working on transferring these to a Single Dam Advanced Form.

[2018-10-15 17:41] Albonicomt commented on #184
![nf_burnt_river_brat_existing_dam_complex_size](https://user-images.githubusercontent.com/39168968/46967926-355c7880-d06f-11e8-84b6-c96dc76bd21f.png)

[2018-10-15 17:52] wally-mac commented on #184
Looking good. Here are my suggested edits... I think that you should add as
a second line under North Fork Burnt River 'Huc 10 with the number'. I
think that it should add 'Perennial' before Stream Length. I find it to be
a bit packed in there. I would say reduce the size of the watershed map a
bit so the title and the bar chart box are not so close to the HUC 8
boundary. If this is unclear I can

[2018-10-15 17:54] chadFHC commented on #195
@joewheaton You call for
BRAT Advanced form
Single Dam - Advanced form
Complex - Advanced Form

However, we only have Brat Advanced and Complex Advanced forms. If there is something else, please let me know. In the meantime, we are using BRAT Advanced and Complex Advanced. Thanks.

[2018-10-15 17:54] CHafen commented on #184
It's hard to get the Km and miles on there and have them match up. As per Konrad's suggestion here is an example chart I made (just from the Logan maps that I already have).
![example_chart](https://user-images.githubusercontent.com/39837888/46968484-3047fb00-d068-11e8-8b1f-840b4a503c90.png)
I just rounded to the nearest mile and added those to the bottom and put the Km on top, smaller an italic.

[2018-10-15 17:58] Albonicomt commented on #184
@wally-mac, Makes sense. I'll get on it.

 @CHafen I really like the clean look of that Chart. Looks nice and simple. My vote is on your style.

[2018-10-15 17:58] wally-mac commented on #195
FYI @MatthewMeier is working on this and the NF Burnt River.

[2018-10-15 18:03] wally-mac commented on #184
Yes, @Chalese Hafen <chalese.hafen@gmail.com> I think that works well.
Way-to-go!

On Mon, Oct 15, 2018 at 11:58 AM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-15 18:41] banderson1618 commented on #192
@joewheaton, I'm wondering when you want this done by. Is this a high priority, or should I continue to work on XML stuff?

[2018-10-15 19:01] wally-mac commented on #184
Hi Chalese, good question. I'm going to defer to @MatthewMeier who has been working with these data a ton in the past few days.  Matt please see above.

[2018-10-15 19:01] Albonicomt commented on #184
@wally-mac , updated Summary ![nf_burnt_river_brat_existing_dam_complex](https://user-images.githubusercontent.com/39168968/46971818-48287a80-d07a-11e8-93b9-93af99c1f6c5.png)

[2018-10-15 19:11] MatthewMeier commented on #195
@joewheaton is this what you were looking for? I lumped the three surveys into one  [Middle Fork John Day](https://arcg.is/0Kq1ij) in its own project is this correct? This is what @chadFHC was describing to me.

[2018-10-15 19:12] wally-mac commented on #191
@khafen74 noted that "some of these points are shifted off the stream." These stifts are due to GPS error and points that are "way off the stream" are most likely accidental placements.

[2018-10-15 19:13] CHafen commented on #184
Hey Mic, I'd use the miles to make the chart and round to the nearest Km so those are the ones that are the weird numbers. The one I made is backwards because I just used what I already had. Also make the Km italic.

[2018-10-15 19:14] CHafen commented on #184
Also, will the scale bar fit if you move it all the way to the right? You could try putting the N arrow above the scale bar if that fits better.

[2018-10-15 19:14] Albonicomt commented on #184
@CHafen, right on! Thanks Chalese! Will do!

[2018-10-15 19:49] Albonicomt commented on #184
Thanks for the Video @wally-mac and for the suggestions @CHafen. Here is an example of the Map. I'll have to run the Huc 10 through some excel calculations, so Minus the Analysis on the Huc-10 NF Burnt, this is what it will look like.
![nf_burnt_river_brat_existing_dam_complex](https://user-images.githubusercontent.com/39168968/46974308-e7507080-d080-11e8-936e-f3e0bcc61024.png)

[2018-10-15 19:56] wally-mac commented on #184
Nice work! I think the bar chart area is a bit large and it makes the scale
bar look a bit cramped. Is there anything you can do about it?

On Mon, Oct 15, 2018 at 1:49 PM Micael Albonico <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-15 20:09] Albonicomt commented on #184
I can reduce the size a bit, like below. I can reduce further, but I am not sure how much smaller we would want to go.

![nf_burnt_river_brat_existing_dam_complex](https://user-images.githubusercontent.com/39168968/46975280-73639780-d083-11e8-8fa4-1a7e0ac3cde0.png)

[2018-10-15 20:22] wally-mac commented on #184
That looks good!

On Mon, Oct 15, 2018 at 2:09 PM Micael Albonico <notifications@github.com>
wrote:

--
Sent from Gmail Mobile
Sorry for typos and brevity courtesy of my phone.

[2018-10-15 20:44] MatthewMeier commented on #195
So I believe what I shared before was actually a map link that houses the observations that will be made from the survey123 app and what dams were already there. I have created surveys for the John day and North Burnt as follows and shared the surveys with everyone and the Utah State University organization online through ArcGIS online. **I believe that I have taken care of that but if @wally-mac

[2018-10-15 21:05] ctobalsk opened #200 "BRAT Project Builder error message"
I downloaded the latest BRAT toolbox and I get this error message when I try to run Step 1 (BRAT Project Builder):

Traceback (most recent call last):
  File "<string>", line 152, in execute
  File "E:\BRAT\pyBRAT-3.0.20\BRATProject.py", line 95, in main
    make_topo_layers(topo_folder)
  File "E:\BRAT\pyBRAT-3.0.20\BRATProject.py", line 175, in make_topo_layers
    arcpy.HillShade_3d(dem_file, h

[2018-10-15 21:06] ctobalsk commented on #200
Incidentally, if I skip this step and go directly to Step 2 (BRAT Table), everything runs fine; but then of course I can't run the Summary Report because files aren't in the proper structure.

[2018-10-15 21:59] wally-mac commented on #195
@webernick79 matthew m has created the survey apps for each of the watersheds on survey123 and shared them with utah state university and the open public in arcgis online. However it in's showing up in my app when I try my phone. How does he share his created aps with us? please respond asap

[2018-10-15 22:03] webernick79 commented on #195
Yo.....Should be that if he sends you the shared link from Survey123 you should be able to open and use them. Maybe there is some confusion with sending links to the underlying observations?

@wally-mac let me know if you don't get it solve? and send me links as well if you want testing?

[2018-10-15 22:06] wally-mac commented on #195
@webernick79 thanks for the quick reply! @MatthewMeier please connect directly with Nick on this.

[2018-10-15 22:11] MatthewMeier commented on #195
Hi @webernick79 , thank you for the response I was trying to share it from arcgis online and the survey 123 desktop app. you need to share it from the survey123 webpage that you login on. There are a lot of different sources here. Thanks
try this one please and let me know if it worked  [here](https://arcg.is/095bHX)

[2018-10-15 22:13] webernick79 commented on #195
Looks good @MatthewMeier , works fine in a browser. have they updated some styling of the forms? or is that you?

[2018-10-15 22:14] MatthewMeier commented on #195
@weber it was not me they have been updated by someone else thanks for the information your the man.

[2018-10-15 22:59] Albonicomt commented on #184
@wally-mac, @joewheaton, @CHafen, and @MatthewMeier Here are the Summary products for the NF Burnt. https://usu.box.com/s/4b0932q08zosnuheq1s2rcl7g57tppz9 Any thoughts?

[2018-10-15 23:09] wally-mac commented on #184
The mapping looks great however, the management outputs need some work.
@joewheaton is this something you'll be able to work on?  I know that
@MatthewMeier <https://github.com/MatthewMeier> has posted an issue
regarding the inability of the current code to correctly identify high
slope reaches but there is more that needs to be done.

On Mon, Oct 15, 2018 at 4:59 PM Micael Albonico <notifications@

[2018-10-16 16:51] Albonicomt commented on #184
@wally-mac , @joewheaton , and @CHafen  All of the Newest and updated Atlas figs for the NF burnt are and will be housed here:https://usu.box.com/s/gnow4xb080naaunk933k5boq0qknlvnh

Any thoughts?

[2018-10-16 19:15] MatthewMeier opened #201 "BRAT Project Builder Crash"
@banderson1618
So @Albonicomt and I are struggling with the Middle Columbia Hood BRAT run. Our initial thought was that the DEM was the cause of error with the error messages that Mic got but upon further inspection and seeing how far the tool is running through the project builder. I am led to believe that it is an issue with the bps vegetation layer when it reaches line 84 in the code. I think i

[2018-10-16 19:56] banderson1618 commented on #200
Hey Claudine,

There's something wrong with your DEM input that makes it so that it can't be used to make a Hillshade. I've added a try except block to the code for the Slope and Hillshade, so if you use the latest code on the master branch, it shouldn't crash (no guarantees, since I haven't tested it. If you send me your DEM, then I can test it), but you'll need to use a different DEM if you want

[2018-10-16 20:05] ctobalsk commented on #200
Hey thanks for the response. I can generate a slope or hillshade layer in ArcGIS "manually", but it bonks the script, for some reason. Since I need to batch-run BRAT for 100+ HUCs (each with their own DEM), I'll automate the creation of slope and hillshade separately and add them to their proper folders.

[2018-10-16 20:34] joewheaton commented on #193
Nice work... Some critical thoughts on just CC watermarks:
- So  I think we should put these in lower left or lower right (depending on map layout). Putting them up top draws to much attention to them (like scalebars and north arrows, they aren't the main point, just context).
- I also think we need a few more flavors. I'm noticing that the blue lab logo is kind of lost and ironically the white ba

[2018-10-16 20:42] CHafen commented on #184
Here's an example of what I have for the John Day water shed.
@wally-mac @joewheaton @Albonicomt what do you think?
![john_day_existing_complex](https://user-images.githubusercontent.com/39837888/47046093-395cc900-d149-11e8-9f36-2f4980b53cfc.png)

[2018-10-16 20:43] Albonicomt commented on #193
Thanks for the feedback @joewheaton, I would suggest looking at these Maps for the NF Burnt River. These are the most up to date versions with feedback from @wally-mac and @CHafen

Summary Products:https://usu.box.com/s/4b0932q08zosnuheq1s2rcl7g57tppz9

Atlas Products:https://usu.box.com/s/gnow4xb080naaunk933k5boq0qknlvnh

[2018-10-16 20:51] Albonicomt commented on #184
@CHafen Wow! That is impressive!
The only thing I would possibly suggest, is changing the line thicknesses. The NF John day and MF John day  at that scale are a little heavy. Although, would a thinner line show up ok at this scale? Otherwise, in my opinion, this is pretty top notch.

[2018-10-16 20:56] #199 closed

[2018-10-16 21:00] joewheaton commented on #192
Good question @banderson1618. @Albonicomt and @CHafen, have you guys played with this yet? What do you guys think? Should I have Braden slap this together so you can?

I'm thinking this might be a nice quick distraction for you from joys of XML. However, make sure its future proof (i.e. it actually reads the directory structure and coppies it (folders without files) instead of a bunch of hard-code

[2018-10-16 21:05] joewheaton commented on #197
@banderson1618 can you scope these changes above please? It is relevant to your XML recode as in principle we should have as close as alignment as possible in the nesting and folder structure between:
- Layers and layer groups in Table of Contents and Layer Packages
- RS Project Explorers in project explorer in RAVE tree
- Organization of folders on disc (i.e. what's above)

Also, let me know if a

[2018-10-16 21:09] joewheaton commented on #190
Anything that frees up the overly-linear, wizard step-by-step nature of the code makes sense to me (i.e. in keeping with #57).  So yes... go for it.

Do think carefully about commands that need to operate inside a BRAT project only, versus those that can operate independently.  If you go this route, then it means when a command is run in a 'RS project mode', it then adds to an existing RS XML proj

[2018-10-16 21:10] CHafen commented on #184
This one is still in progress a little bit, but I'm putting it up now so you can see the different charts and offer feedback accordingly.
![john_day_existing_complex2](https://user-images.githubusercontent.com/39837888/47047733-3a8ff500-d14d-11e8-9e56-48b83917cff5.png)

[2018-10-16 21:13] banderson1618 commented on #197
Since the only major change that I'm seeing is putting the outputs in an `Outputs` folder, and changing one digit numbers to two digit numbers, I think this should be a pretty quick change. I'm still focusing on XML changes, since that seems more pressing to me, but if you want, @joewheaton, I can set that down and work on this.

[2018-10-16 21:48] MatthewMeier commented on #195
I will be making new survey123 apps according to the preferences of Joe today.
The files that I am missing are the **single dam simple and advanced forms** in excel form for the survey123. I used the complex advanced form for the above links, which was a misunderstanding on my part. From speaking with Joe today it seems like these forms for the single dam have already been created. @joewheaton or

[2018-10-16 21:51] webernick79 commented on #195
Yo @MatthewMeier , this might be what Joe is talking about? Maybe a place to start?
[Dam Survey Basic.xlsx](https://github.com/Riverscapes/pyBRAT/files/2485075/Dam.Survey.Basic.xlsx)

[2018-10-16 21:53] MatthewMeier commented on #195
Thanks @webernick79 I will take a look.

[2018-10-16 23:06] banderson1618 commented on #181
Quick update on the progress of this @wally-mac and @joewheaton: I've completed the code for producing XML for the BRAT Project Builder and the BRAT Table tools. Now I just need to deal with the things produced for the Analyses section, and then figure out how to make the XML I'm producing into the accepted format.

[2018-10-17 01:46] wally-mac commented on #181
Great, thanks for the update!

On Tue, Oct 16, 2018 at 5:06 PM Braden Anderson <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-17 02:12] wally-mac commented on #184
Chalese, these are looking good to me. I'd also Iike to see the same maps
at the HUC 8 level. Is this your plan.  Please let me know.

On Tue, Oct 16, 2018 at 3:10 PM CHafen <notifications@github.com> wrote:

--
Wally Macfarlane
435.512.1839

[2018-10-17 03:02] CHafen commented on #184
Hey @wally-mac . I didn't realize you wanted maps at the HUC 8 level and haven't made a base map or anything for them. Unfortunately, I'm not going to have time this week to finish the other outputs for the HUC 6 level and make 4 more bases for the HUC 8s as well. Normally I'd be able to have Konrad watch Hans and work all day Saturday to get it done if I needed to, but this Saturday Thomas (Konra

[2018-10-17 03:12] MatthewMeier opened #202 "Editing roads for future runs of BRAT"
@joewheaton
I am currently working on the Middle Columbia Hood and looked at the roads layer and thought about what we spoke about with Wally and was wondering how you would like to proceed with other watersheds. To edit the roads layer at all or to just use what is on the web from tiger? In the example of the Middle Columbia Hood I have an example with all of the named roads and one that was stra

[2018-10-17 17:30] CHafen commented on #184
Hey @joewheaton here is an example of the maps I'm making for the John Day. Do you have any feedback on them?
![john_day_existing_capacity](https://user-images.githubusercontent.com/39837888/47104925-6a93d280-d1f7-11e8-9e4e-09ab4c3db71e.png)

[2018-10-17 20:07] Albonicomt commented on #193
@joewheaton, Here are those Zoom-in figures displaying 30m and 100m buffers at a 1:1000 scale for the NF Burnt on box if you want to take a look at them.

Zoom-ins :https://usu.box.com/s/l8stpe6vpslbt4nojfxidy8i1y9lfqvg

[2018-10-17 20:13] CHafen commented on #184
All of the John Day capacity outputs are up on[ Box](https://usu.app.box.com/file/333286964899)

[2018-10-17 21:08] joewheaton commented on #202
For Middle Columbia Hood, we're not on hook for management outputs, so lets NOT do any editing. For Idaho BRAT and TNC BRAT, we need to get feedback from our clients on this about what they want us to do. I'm thinking I like the idea of management model by default one clipping to 'named' roads only (sort of like filtering down to perennial network), and another with everything to show that contras